Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

test navigation
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

feat: Delegate construction with tag type (#2668)
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

feat: Delegate construction with tag type (#2668)
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

refactor: No error in GSF if start pars are out of bounds (#2669)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, Track Fitting

refactor: No error in GSF if start pars are out of bounds (#2669)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, Track Fitting

refactor: Disable FPE mask printing if FPEMON is disabled by envvar (#2670)
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples

refactor: Disable FPE mask printing if FPEMON is disabled by envvar (#2670)
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples

refactor: messages: fix missing and wrong closing ticks `'` (#2663)
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Examples, Component - Plugins

refactor: messages: fix missing and wrong closing ticks `'` (#2663)
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Examples, Component - Plugins

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

update Json writers
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/AlgebraJsonConverter.cpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Plugins/Json/src/ProtoDetectorJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
Labels: Component - Plugins

adapt python binding
  Examples/Python/src/Json.cpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
Labels: Component - Examples, Component - Plugins

and so on
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Plugins/Json/src/ProtoDetectorJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
Labels: Component - Plugins

and or not
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/src/AlgebraJsonConverter.cpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Labels: Component - Plugins

fixing unit tests
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Labels: Component - Plugins

fix licence
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
Labels: Component - Plugins

fix merge conflicts
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
Labels: Component - Plugins

Update Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
Labels: Component - Plugins

fixing doc
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
Labels: Component - Plugins

changing to use TypeList
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core, Component - Plugins

Update Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
Labels: Component - Plugins

adapt to TypeList, address PR comments
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/GridJsonConverter.cpp
Labels: Component - Plugins

make (...) unroll for unrolling
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
Labels: Component - Plugins

fixing std::size_t
  Core/include/Acts/Utilities/TypeList.hpp
Labels: Component - Core

Update Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
Labels: Component - Plugins

adding stdlib.h
  Core/include/Acts/Utilities/TypeList.hpp
Labels: Component - Core

Update Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
Labels: Component - Plugins

make clang-tidy happy
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
Labels: Component - Plugins

fixing doc build
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
Labels: Component - Core, Component - Plugins, Track Fitting

avoid conflict with Paul's docfix
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

removing merge conflicts
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
Labels: Component - Plugins

Update Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

fix first 10 navigation tests
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/TryAllOverstepNavigator.hpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

don't return error
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

improve comment
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

format
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
Labels: Component - Core, Track Fitting

add error return statements
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

fix
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

update
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
Labels: Component - Core, Track Fitting

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
