Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

Update MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

fix surface reached aborter
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: Component - Core

Use default constructor
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core

update
  Core/src/TrackFitting/GsfMixtureReduction.cpp
Labels: Component - Core, Track Fitting

fix: check_format(_local) for selected directories (#2634)
  CI/check_format
  CI/check_format_local
Labels: Infrastructure

fix: check_format(_local) for selected directories (#2634)
  CI/check_format
  CI/check_format_local
Labels: Infrastructure

add result
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, Track Fitting

update reference
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
Labels: Infrastructure, Changes Performance

docs: add white paper for AdaptiveGridTrackDensityTests (#2639)
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  docs/white_papers.toml
  docs/white_papers/figures/gaussian-track-densities.png
Labels: Component - Core, Component - Documentation, Vertexing

docs: add white paper for AdaptiveGridTrackDensityTests (#2639)
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  docs/white_papers.toml
  docs/white_papers/figures/gaussian-track-densities.png
Labels: Component - Core, Component - Documentation, Vertexing

ci: Update physmon vertexing histogram ranges (#2638)
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
Labels: Infrastructure, Changes Performance

ci: Update physmon vertexing histogram ranges (#2638)
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
Labels: Infrastructure, Changes Performance

language
  docs/contribution/documentation_cheatsheet.md
  docs/contribution/physmon.md
  docs/contribution/profiling.md
  docs/core/geometry/layerless/layerless.md
  docs/core/magnetic_field.md
  docs/core/misc/grid_axis.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/track_fitting.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/add_new_algorithm.md
  docs/examples/howto/material_mapping.rst
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/plugins/MLAlgorithms.md
  docs/plugins/dd4hep.md
  docs/plugins/geant4.md
  docs/plugins/tgeo.rst
Labels: Component - Documentation

markdown
  docs/core/geometry/surfaces.md
  docs/core/misc/grid_axis.md
  docs/plugins/dd4hep.md
Labels: Component - Documentation

new langugage
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/digitization_config.md
  docs/plugins/dd4hep.md
Labels: Component - Documentation

Apply suggestions from code review
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

use counter in for loop
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

Acts->ACTS
  docs/acts_project.md
  docs/authors.rst
  docs/codeguide.md
  docs/contribution/profiling.md
  docs/core/core.rst
  docs/core/geometry/geometry_id.md
  docs/core/geometry/legacy/building.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/core/visualization/3d.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/formats/formats.rst
  docs/getting_started.md
  docs/index.rst
  docs/license.rst
  docs/plugins/MLAlgorithms.md
  docs/plugins/dd4hep.md
  docs/plugins/tgeo.rst
  docs/versioning.rst
  docs/white_papers.toml
Labels: Component - Documentation

format
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

add doc
  docs/_extensions/lazy_autodoc.py
Labels: Component - Documentation

refactor: MTJCommonTest helpers moved to Core
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, Event Data Model

fix surface stub
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Component - Core

doc fix
  docs/_extensions/lazy_autodoc.py
Labels: Component - Documentation

feat: Introduce concepts for (`Regular`)`Surface`
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
Labels: Component - Core

Resolved conflicts
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, Event Data Model

surface stub fulfills surface concept
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Component - Core

docs: language and markdown brush-over (#2642)
  docs/acts_project.md
  docs/authors.rst
  docs/codeguide.md
  docs/contribution/documentation_cheatsheet.md
  docs/contribution/physmon.md
  docs/contribution/profiling.md
  docs/core/core.rst
  docs/core/geometry/geometry_id.md
  docs/core/geometry/layerless/layerless.md
  docs/core/geometry/legacy/building.md
  docs/core/geometry/surfaces.md
  docs/core/magnetic_field.md
  docs/core/misc/grid_axis.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/core/visualization/3d.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/add_new_algorithm.md
  docs/examples/howto/digitization_config.md
  docs/examples/howto/material_mapping.rst
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/formats/formats.rst
  docs/getting_started.md
  docs/index.rst
  docs/license.rst
  docs/plugins/MLAlgorithms.md
  docs/plugins/dd4hep.md
  docs/plugins/geant4.md
  docs/plugins/tgeo.rst
  docs/versioning.rst
  docs/white_papers.toml
Labels: Component - Documentation

docs: language and markdown brush-over (#2642)
  docs/acts_project.md
  docs/authors.rst
  docs/codeguide.md
  docs/contribution/documentation_cheatsheet.md
  docs/contribution/physmon.md
  docs/contribution/profiling.md
  docs/core/core.rst
  docs/core/geometry/geometry_id.md
  docs/core/geometry/layerless/layerless.md
  docs/core/geometry/legacy/building.md
  docs/core/geometry/surfaces.md
  docs/core/magnetic_field.md
  docs/core/misc/grid_axis.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/core/visualization/3d.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/add_new_algorithm.md
  docs/examples/howto/digitization_config.md
  docs/examples/howto/material_mapping.rst
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/formats/formats.rst
  docs/getting_started.md
  docs/index.rst
  docs/license.rst
  docs/plugins/MLAlgorithms.md
  docs/plugins/dd4hep.md
  docs/plugins/geant4.md
  docs/plugins/tgeo.rst
  docs/versioning.rst
  docs/white_papers.toml
Labels: Component - Documentation

Make testSourceLinkCalibrator replaceable
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Event Data Model, Track Finding, Track Fitting

Change the location of the gdml file
  Core/include/Acts/Navigation/MultiLayerSurfacesUpdator.hpp
  Core/include/Acts/Navigation/MultiLayerUpdator.hpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/MuonChamber.gdml
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core, Component - Examples

Place the files that create the mockup geometry in another folder
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/MuonChamber.gdml
Labels: Component - Examples

updates
  Core/include/Acts/Navigation/MultiLayerSurfacesUpdator.hpp
Labels: Component - Core

Update Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
Labels: Component - Core

Update Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Vertexing

feat: allow custom precision for volume grid building (#2609)
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
Labels: Component - Core

feat: allow custom precision for volume grid building (#2609)
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
Labels: Component - Core

replace cuboid with trapezoid bounds
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core

revert file
  Core/include/Acts/Navigation/MultiLayerSurfacesUpdator.hpp
Labels: Component - Core

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
