Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

test it
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

test
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

docs: Add white paper index to the documentation (#2591)
  CI/release.py
  docs/.gitignore
  docs/conf.py
  docs/examples/python_bindings.rst
  docs/getting_started.md
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  docs/tracking.md
  docs/white_paper_index_template.md.j2
  docs/white_paper_template.md.j2
  docs/white_papers.py
  docs/white_papers.toml
  docs/white_papers/figures/overleaf_compiler.png
  docs/white_papers/figures/overleaf_import_github.png
  docs/white_papers/figures/whitepaper-template.png
  docs/white_papers/how_to_add.md
  docs/whitepaper-template.png
Labels: Infrastructure, Component - Documentation

docs: Add white paper index to the documentation (#2591)
  CI/release.py
  docs/.gitignore
  docs/conf.py
  docs/examples/python_bindings.rst
  docs/getting_started.md
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  docs/tracking.md
  docs/white_paper_index_template.md.j2
  docs/white_paper_template.md.j2
  docs/white_papers.py
  docs/white_papers.toml
  docs/white_papers/figures/overleaf_compiler.png
  docs/white_papers/figures/overleaf_import_github.png
  docs/white_papers/figures/whitepaper-template.png
  docs/white_papers/how_to_add.md
  docs/whitepaper-template.png
Labels: Infrastructure, Component - Documentation

fix
  CI/check_format
  CI/check_format_local
Labels: Infrastructure

fix
  Examples/Python/setup.sh.in
Labels: Component - Examples

refactor!: move AMVF and IVF config explicitly (#2509)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

refactor!: move AMVF and IVF config explicitly (#2509)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

(re)introduce layer/volume mode
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

Update MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

update
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

update histo ranges
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

fix unit tests
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

update more histo ranges
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

add white paper
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  docs/white_papers.toml
  docs/whitepaper-template.png
Labels: Component - Core, Component - Documentation, Vertexing

undo change of png
  docs/whitepaper-template.png
Labels: Component - Documentation

fix endless loop
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Core, Component - Examples

revert silly
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Core, Component - Examples

better plots
  Examples/Scripts/Python/MLAmbiguityResolution/seed_filter_full_chain.py
Labels: Component - Examples, Ambiguity Resolution

fix: Missing path in setup script (#2635)
  Examples/Python/setup.sh.in
Labels: Component - Examples

fix: Missing path in setup script (#2635)
  Examples/Python/setup.sh.in
Labels: Component - Examples

fix
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
Labels: Component - Core

update references and hashes
  CI/physmon/reference/performance_gsf.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

docs: Tweak admonition style, ensure eq. are ref'able
  docs/CMakeLists.txt
  docs/_static/custom.css
  docs/conf.py
Labels: Component - Documentation

fix
  .github/workflows/docs.yml
Labels: Infrastructure

Update docs/_static/custom.css
  docs/_static/custom.css
Labels: Component - Documentation

add link
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
Labels: Component - Core, Vertexing

add figure
  docs/whitepapers/figures/gaussian-track-densities.png
Labels: Component - Documentation

move figure to correct folder
  docs/white_papers/figures/gaussian-track-densities.png
Labels: Component - Documentation

remove image at wrong location
  docs/whitepapers/figures/gaussian-track-densities.png
Labels: Component - Documentation

fix
  docs/white_papers.py
Labels: Component - Documentation

adopt unit test; fix nav; continue with error
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
Labels: Component - Core

docs: fix path for white paper screen shots (#2641)
  docs/white_papers.py
Labels: Component - Documentation

docs: fix path for white paper screen shots (#2641)
  docs/white_papers.py
Labels: Component - Documentation

Update MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

Update track_fitting.md
  docs/core/track_fitting.md
Labels: Component - Documentation

Update MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

feat: Introduce propagator stage (#2621)
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core

feat: Introduce propagator stage (#2621)
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core
