Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

remove dead includes
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_magnetic_field.py
  Examples/Python/tests/test_writer.py
Labels: Component - Examples

fix: CKF does an extra copy on the fitted state
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

clang_format readability-named-parameter
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
Labels: Component - Examples, Track Fitting

ci: Add clang-tidy check for &&, || and ! instead of and, or and not
  .clang-tidy
  cmake/ActsStaticAnalysis.cmake
Labels: Infrastructure

we need clang17 for this i think
  .gitlab-ci.yml
Labels: none

set seed
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

undo change that might affect athena
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

update comment
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

Update Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

useConstraintInFit for TrackDensityVertexFinder
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
Labels: Component - Core, Vertexing

update reference
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
Labels: Infrastructure, Changes Performance

feat: python bindings and truth tracking example for GX2F (#2512)
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, Track Fitting

feat: python bindings and truth tracking example for GX2F (#2512)
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, Track Fitting

import from r&d branch
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples

update python and fixes
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples

Update Examples/Python/python/acts/examples/simulation.py
  Examples/Python/python/acts/examples/simulation.py
Labels: Component - Examples

feat: Add (optional) Jacobian reversal to Track
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, Event Data Model

add measurement map selector
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples

add to limit
  CI/clang_tidy/limits.yml
Labels: Infrastructure

refactor unittest
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

remove include
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

feat: Add PODIO plugin, Track EDM backend (#2094)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Plugins/CMakeLists.txt
  Plugins/Podio/.gitignore
  Plugins/Podio/CMakeLists.txt
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/ConvertTrackPodioTest.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
  cmake/ActsConfig.cmake.in
  docs/getting_started.md
Labels: Infrastructure, Component - Core, Component - Plugins, Component - Documentation

feat: Add PODIO plugin, Track EDM backend (#2094)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Plugins/CMakeLists.txt
  Plugins/Podio/.gitignore
  Plugins/Podio/CMakeLists.txt
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/ConvertTrackPodioTest.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
  cmake/ActsConfig.cmake.in
  docs/getting_started.md
Labels: Infrastructure, Component - Core, Component - Plugins, Component - Documentation

try to move reverse track states test to separate TU
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, Event Data Model

mask fpes
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
Labels: Component - Examples

use ranged mask
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
Labels: Component - Examples

review paulgessinger
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

Update Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
Labels: Component - Examples

feat: Add measurement map selector with geometry selection (#2572)
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples

feat: Add measurement map selector with geometry selection (#2572)
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples

make clang-tidy happy
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
Labels: Component - Examples

use eTime
  CI/physmon/vertexing_config.yml
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Infrastructure, Component - Core, Vertexing

add another helper script for running clang-tidy locally
  CI/clang_tidy/run_clang_tidy.py
Labels: Infrastructure

update histo ranges
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

use .norm()
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

compile fix
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, Event Data Model

implement suggestions from code review
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

write perf as fuction of the distance to the closest track
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
Labels: Component - Examples

addSeedFilterML
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples
