Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

fix
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Labels: Component - Core

init
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

remove duplicate code
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Vertexing

remove duplicate code
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

clang-tidy suggestions
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

Adapt surface iterator according to start surface for direct navigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

format
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

fix: Direct Navigator: Set surface iterator to next surface in case start surface is in the list (#2605)
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

fix: Direct Navigator: Set surface iterator to next surface in case start surface is in the list (#2605)
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

acessing index of podio::ObjectID directly
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
Labels: Component - Examples

not is !
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
Labels: Component - Examples

introduce propagator stage; refactor material interactor; fix test
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

improve comments
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

chore: Remove unused FpeMonitorTests from core
  Tests/UnitTests/Core/Utilities/FpeMonitorTests.cpp
Labels: Component - Core

Apply suggestions from code review
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

chore: Remove unused FpeMonitorTests from core (#2607)
  Tests/UnitTests/Core/Utilities/FpeMonitorTests.cpp
Labels: Component - Core

chore: Remove unused FpeMonitorTests from core (#2607)
  Tests/UnitTests/Core/Utilities/FpeMonitorTests.cpp
Labels: Component - Core

test for everything
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core

simplify logic
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Labels: Component - Core

pendantic
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

precision in rphiz binning
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
Labels: Component - Core

nor is ! and and is &&
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
Labels: Component - Core

nor is ! and and is && and so on
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
Labels: Component - Core

add missing wip files
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/NavigationTestAlgorithm.hpp
  Examples/Algorithms/Propagation/src/NavigationTestAlgorithm.cpp
  Examples/Scripts/Python/odd_navigation_test.py
Labels: Component - Examples

disable layer bounds check
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

remove target intersection from navigation
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

put some helper types into seperate file
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
Labels: Component - Core

change tbb url
  docs/getting_started.md
Labels: Component - Documentation

fix lcginfo
  docs/conf.py
Labels: Component - Documentation

Update CMakeLists.txt
  Plugins/DD4hep/CMakeLists.txt
Labels: Component - Plugins

eGamma
  Core/src/Definitions/ParticleData.cpp
Labels: Component - Core

ignore all of intel
  docs/conf.py
Labels: Component - Documentation

Revert "ignore all of intel"
  docs/conf.py
Labels: Component - Documentation
