Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

clang-format
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
Labels: Component - Examples, Track Finding

feat: Add option for double-matching in CKF performance writer (#2554)
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
Labels: Component - Examples

feat: Add option for double-matching in CKF performance writer (#2554)
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
Labels: Component - Examples

ci: Update Exa.TrkX images (#2515)
  .gitlab-ci.yml
Labels: none

ci: Update Exa.TrkX images (#2515)
  .gitlab-ci.yml
Labels: none

documentation update
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

feat: Add timing, device hint and mutex to ExaTrkX plugin (#2553)
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
Labels: Component - Examples, Component - Plugins, Track Finding

feat: Add timing, device hint and mutex to ExaTrkX plugin (#2553)
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
Labels: Component - Examples, Component - Plugins, Track Finding

update reference
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

more conrete event gen
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

add infrastructure for GNN+CKF
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParsAndSeeds.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParsAndSeeds.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

small fixes
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParsAndSeeds.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
Labels: Component - Examples, Track Finding

clang-format
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples

fix
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples

pt dist; remove vertex smearing
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

add track selection
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

feat: Add csv prototrack writer (#2513)
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples

feat: Add csv prototrack writer (#2513)
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples

clean imports
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

fix projector
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

apply review
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

fix
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples

fixing format issues
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

refactor: Refactor target direction logic in KF/CKF (#2539)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
Labels: Component - Core, Component - Examples, Track Finding, Track Fitting

refactor: Refactor target direction logic in KF/CKF (#2539)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
Labels: Component - Core, Component - Examples, Track Finding, Track Fitting

working on seed output
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

undoing clang format to file
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
Labels: Component - Core, Seeding

draft
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Framework/include/ActsExamples/Framework/Required.hpp
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/src/Generators.cpp
  Examples/Run/Common/src/ParticleGunOptions.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

fix propagation of options to core algorithm
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
Labels: Component - Examples, Track Fitting

fixing missing line and includes
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/src/TrackFinding/RoiDescriptor.cpp
Labels: Component - Core, Seeding, Track Finding

feat: Angles of incidence in neural calibrator (#2494)
  Examples/Framework/ML/src/NeuralCalibrator.cpp
Labels: Component - Examples

feat: Angles of incidence in neural calibrator (#2494)
  Examples/Framework/ML/src/NeuralCalibrator.cpp
Labels: Component - Examples

update references
  CI/physmon/reference/performance_gsf.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

fix spelling
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
Labels: Component - Examples, Track Finding

refine blueprint test
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

adressing PR comments, part2
  Core/src/Detector/detail/BlueprintHelper.cpp
Labels: Component - Core

adressing PR comments, part2
  Core/src/Detector/detail/BlueprintHelper.cpp
Labels: Component - Core

apply clang-format
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

refactor: remove `effectiveProjector()` from `collector()` in GX2F (#2556)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

refactor: remove `effectiveProjector()` from `collector()` in GX2F (#2556)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting
