Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

format check
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core

Delete Core/include/Acts/Navigation/MultiLayerUpdator.hpp
  Core/include/Acts/Navigation/MultiLayerUpdator.hpp
Labels: Component - Core

refactor RootTrackStatesWriter
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Examples

propagate tracks to origin in unit test of AMVFinder
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, Vertexing

add nUpdate to track
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

refactor: unit test amvfitter (#2530)
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

refactor: unit test amvfitter (#2530)
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

add nUpdate check to all tests
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

Add white paper for transport jacobian correction
  Core/src/Propagator/detail/JacobianEngine.cpp
  docs/white_papers.toml
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
Labels: Component - Core, Component - Documentation

Update MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core

update
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Core, Component - Examples, Track Fitting

add checks
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

fix docs
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

initial try
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

docs: Add white paper on the correction term in transport jacobian (#2643)
  Core/src/Propagator/detail/JacobianEngine.cpp
  docs/white_papers.toml
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
Labels: Component - Core, Component - Documentation

docs: Add white paper on the correction term in transport jacobian (#2643)
  Core/src/Propagator/detail/JacobianEngine.cpp
  docs/white_papers.toml
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
Labels: Component - Core, Component - Documentation

feat: GX2F: abort condition `relChi2changeCutOff` (#2586)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

feat: GX2F: abort condition `relChi2changeCutOff` (#2586)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

add loggers and improve moving
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

clag-tidy
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

RootWriter: Trajectory -> Track
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples

fill direction
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Examples

update
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
Labels: Component - Fatras

update
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
Labels: Component - Fatras

update
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Component - Examples, Track Fitting

update
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Component - Examples, Track Fitting

remove stuf
  Examples/Scripts/Python/torchscript_models/filter.pt
  Examples/Scripts/Python/torchscript_models/gnn.pt
Labels: Component - Examples

update
  CI/physmon/reference/performance_gsf.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

fix
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, Track Fitting

update
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
Labels: Component - Fatras

update
  Examples/Python/src/TrackFitting.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Examples, Component - Documentation

fix
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
Labels: Component - Fatras

update
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
Labels: Component - Core, Track Fitting

update
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GsfMixtureTools.cpp
Labels: Component - Core, Track Fitting

update
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
Labels: Component - Examples, Component - Fatras, Changes Performance

update
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
Labels: Component - Examples, Track Fitting

update
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
Labels: Component - Examples, Track Fitting

update
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Labels: Component - Core, Track Fitting

update
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Track Fitting

fix?
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
Labels: Component - Core, Track Fitting

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
