Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

fix
  Tests/UnitTests/Core/Geometry/CylinderVolumeBuilderTests.cpp
  Tests/UnitTests/Core/MagneticField/ConstantBFieldTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceMaskTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Core, Component - Fatras

minor
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

Apply suggestions from code review
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

pr feedback
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Labels: Component - Core

update
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

update
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, Track Fitting

update
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
Labels: Component - Examples, Track Fitting

fix trapezoid tolerance inside check
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

fix trapezoid tolerance inside check
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

update
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

refactor
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

feat: add more unit tests for Json writing (#2693)
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins

feat: add more unit tests for Json writing (#2693)
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins

Update Extent.hpp
  Core/include/Acts/Geometry/Extent.hpp
Labels: Component - Core

Update Extent.cpp
  Core/src/Geometry/Extent.cpp
Labels: Component - Core

update
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

Update geometry.py
  Examples/Scripts/Python/geometry.py
Labels: Component - Examples

Update geometry.py
  Examples/Scripts/Python/geometry.py
Labels: Component - Examples

Update CMakeLists.txt
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

debug
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

simplify checks
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

revert TrapezoidBounds changes
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

hardcode distribution type
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Tests/Benchmarks/CovarianceTransportBenchmark.cpp
  Tests/Benchmarks/SolenoidFieldBenchmark.cpp
  Tests/Benchmarks/SurfaceIntersectionBenchmark.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/UnitTests/Core/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBuilderTests.cpp
  Tests/UnitTests/Core/MagneticField/ConstantBFieldTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Utilities/BFieldMapUtilsTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceMaskTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Core, Component - Examples, Component - Fatras, Vertexing

update
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Core, Component - Examples, Track Fitting

Update GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

fix missing normalization
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

fix macos?
  Core/src/Geometry/Layer.cpp
Labels: Component - Core

fix?
  Core/src/Geometry/Layer.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

fix
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

Update GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

move seed to non edge case land
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
