Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

refactor: Make nlohmann::json a public dependency
  CMakeLists.txt
  Core/CMakeLists.txt
Labels: Component - Core

add proposal for structured logging and a basic test
  Core/include/Acts/Utilities/Logger.hpp
  Tests/UnitTests/Core/Utilities/LoggerTests.cpp
Labels: Component - Core

add docs for function
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

c++17 compat
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core

explicit template around variadics
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core

review
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, Track Fitting

update options listing
  docs/getting_started.md
Labels: Component - Documentation

remove extra ;
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core

format fix
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core

fix options doc
  docs/getting_started.md
Labels: Component - Documentation

try to fix missing includes check
  .github/workflows/checks.yml
  CI/missing_include_check.sh
Labels: Infrastructure

refactor!: Unify floating point type for chi2 in Track(State) (#2562)
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Podio/edm.yml
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Changes Performance, Event Data Model

refactor!: Unify floating point type for chi2 in Track(State) (#2562)
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Podio/edm.yml
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Changes Performance, Event Data Model

update to csv track
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/SeedFilterMLAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/src/SeedFilterMLAlgorithm.cpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
Labels: Component - Examples, Component - Plugins, Event Data Model, Track Finding, Ambiguity Resolution

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

Revert "update hashes"
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

Update root_file_hashes.txt
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

feat: Add DD4hep field adapter (#2593)
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/src/MagneticField/MagneticFieldError.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  docs/plugins/dd4hep.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation

feat: Add DD4hep field adapter (#2593)
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/src/MagneticField/MagneticFieldError.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  docs/plugins/dd4hep.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation

add test
  Examples/Python/tests/test_misc.py
  Examples/Scripts/GsfDebugger/make_gsf_verbose_log.py
  Examples/Scripts/GsfDebugger/src/main.py
  Examples/Scripts/GsfDebugger/testdata.tar.gz
Labels: Component - Examples

ci: Run clang-tidy on large VMs
  .gitlab-ci.yml
Labels: none

feat: Update Json converters and enhance Detray version writing (#2608)
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Examples/Python/src/Json.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

feat: Update Json converters and enhance Detray version writing (#2608)
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Examples/Python/src/Json.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

adding cylindrical builder from blueprint
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
Labels: Component - Core

change to tolerance based
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
Labels: Component - Core

add new Blueprint test
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

documentation update
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
Labels: Component - Core

refine blueprint test
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

apply clang-format
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
Labels: Component - Core

addressing PR comments
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
Labels: Component - Core

fixing some CI tests: spelling, end of line
  Core/src/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

first shot at it
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/Json.cpp
  Examples/Scripts/Python/detector.py
  Examples/Scripts/Python/geometry.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
Labels: Component - Examples, Component - Plugins

connect void default surface accessor to KF
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Event Data Model, Track Fitting

saving stash
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Geometry/Extent.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Python/src/Json.cpp
  Examples/Python/src/Svg.cpp
  Examples/Scripts/Python/detector.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

also gsf
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Component - Core, Event Data Model, Track Fitting

also gsf
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
Labels: Component - Core, Event Data Model, Track Fitting

format
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Component - Core, Track Fitting

fix: newVertex not considered in AdaptiveMultiVertexFit (#2655)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
