Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

Revert "add error return statements"
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

Revert "Merge branch 'revert-origin-at-vtx-check' into pass-error-message-amvfitter"
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

revert
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

Update Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

add error return statements
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

ci: Reduce number of LCG to three
  .gitlab-ci.yml
Labels: none

refactor
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/TryAllOverstepNavigator.hpp
  Core/include/Acts/Propagator/detail/AnyIntersection.hpp
  Core/include/Acts/Propagator/detail/NavigationCandidate.hpp
Labels: Component - Core

fix!: helixCut is renamed to helixCutTolerance and moved to SeedFinderOptions (#2653)
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

fix!: helixCut is renamed to helixCutTolerance and moved to SeedFinderOptions (#2653)
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

Revert "hpp"
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/include/Acts/Utilities/detail/MPL/get_position.hpp
  Core/include/Acts/Utilities/detail/MPL/is_contained.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSpacePointWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjSpacePointWriter.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.hpp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.hpp
  Tests/UnitTests/Core/Seeding/TestCovarianceTool.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding

Revert "cpp ipp"
  Examples/Python/src/DetectorInspectorsStub.cpp
  Plugins/DD4hep/src/DD4hepMaterialConverter.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.ipp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.ipp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding

fix detector naivgator
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateUpdators.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/src/Detector/DetectorVolume.cpp
Labels: Component - Core

log debug data
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

Drop implementation file for TestSourceLink
  Core/include/Acts/EventData/GenerateParameters.hpp
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/TestSourceLink.hpp
  Core/include/Acts/EventData/TestTrackState.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Fatras, Component - Plugins, Event Data Model, SP formation, Seeding, Track Finding, Track Fitting

adopt multi stepper test
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core

ci: Reduce number of LCG to three (#2680)
  .gitlab-ci.yml
Labels: none

ci: Reduce number of LCG to three (#2680)
  .gitlab-ci.yml
Labels: none

Fixed comparison
  Core/include/Acts/EventData/TestSourceLink.hpp
Labels: Component - Core, Event Data Model

fix more new geo stuff
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core

Core
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/include/Acts/Utilities/detail/MPL/get_position.hpp
  Core/include/Acts/Utilities/detail/MPL/is_contained.hpp
Labels: Component - Core

Examples/Io
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSpacePointWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjSpacePointWriter.hpp
Labels: Component - Examples

DetectorInspectorsStub
  Examples/Python/src/DetectorInspectorsStub.cpp
Labels: Component - Examples

Tests/UnitTests/Core/Seeding
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.hpp
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.ipp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.hpp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.ipp
  Tests/UnitTests/Core/Seeding/TestCovarianceTool.hpp
Labels: Component - Core, Seeding

exatrkx
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Plugins

other tests
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
Labels: Component - Core

Plugins/DD4hep/src/DD4hepMaterialConverter.cpp
  Plugins/DD4hep/src/DD4hepMaterialConverter.cpp
Labels: Component - Plugins

Fix format
  Core/include/Acts/EventData/TestSourceLink.hpp
Labels: Component - Core, Event Data Model

remove implicit default layer from cuboid geo
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/LayerArrayCreator.cpp
Labels: Component - Core

fix
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Component - Core, Track Fitting

fix integration tests
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Propagator/detail/VoidPropagatorComponents.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/LayerArrayCreator.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

ci: Specify python version in a number of jobs (#2672)
  .github/workflows/checks.yml
Labels: Infrastructure

ci: Specify python version in a number of jobs (#2672)
  .github/workflows/checks.yml
Labels: Infrastructure

first commit
  Examples/Scripts/GsfDebugger/README.md
  Examples/Scripts/GsfDebugger/src/drawers.py
  Examples/Scripts/GsfDebugger/src/main.py
  Examples/Scripts/GsfDebugger/src/processors.py
  Examples/Scripts/GsfDebugger/src/widgets.py
  Examples/Scripts/GsfDebugger/testoutput.log
Labels: Component - Examples

add missing file
  Core/include/Acts/Propagator/VoidNavigator.hpp
Labels: Component - Core

dont't ship testdata as plain text
  Examples/Scripts/GsfDebugger/testdata.tar.gz
  Examples/Scripts/GsfDebugger/testoutput.log
Labels: Component - Examples

update docsQ
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_0.png
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_1.png
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_2.png
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_3.png
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_4.png
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_5.png
  docs/examples/howto/gsf_debugger.md
  docs/examples/howto/howto.md
Labels: Component - Documentation

Update CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Labels: Component - Plugins

Restore "exatrkx test"
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Plugins

log debug output using member function
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

exatrkx
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
Labels: Component - Plugins

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
