Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

Update and rename test_coverage to test_coverage.py
  CI/test_coverage.py
Labels: Infrastructure

Update analysis.yml
  .github/workflows/analysis.yml
Labels: Infrastructure

fix
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/DigitizationTests.cpp
Labels: Component - Examples, Component - Fatras, Event Data Model

refactor
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/DigitizationTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Fatras

feat: Wire `Geant4MaterialRecording` exclude material to python (#2628)
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples

feat: Wire `Geant4MaterialRecording` exclude material to python (#2628)
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples

fix
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core

fix
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
Labels: Component - Examples, Component - Fatras

SeedingFTFAlgorithm
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Examples, Track Finding

PrimitivesFactory
  Tests/UnitTests/Plugins/DD4hep/PrimitivesFactory.cpp
Labels: Component - Plugins

CompareRootFiles
  Examples/Scripts/compareRootFiles.hpp
Labels: Component - Examples

DD4hepTestHelpers
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
Labels: Component - Plugins

Layerfactory
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Plugins

fix kf/ckf nav reset
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Finding, Track Fitting

GeometryGenerator
  Tests/UnitTests/Core/Detector/GeometryIdGeneratorTests.cpp
Labels: Component - Core

Direction
  Tests/UnitTests/Core/Definitions/DirectionTests.cpp
  Tests/UnitTests/Core/Definitions/UnitsTests.cpp
Labels: Component - Core

ci: Update to gcovr=6.0 and remove bundled-version support (#2629)
  .github/workflows/analysis.yml
  CI/test_coverage
  CI/test_coverage.py
Labels: Infrastructure

ci: Update to gcovr=6.0 and remove bundled-version support (#2629)
  .github/workflows/analysis.yml
  CI/test_coverage
  CI/test_coverage.py
Labels: Infrastructure

part
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

part
  Tests/UnitTests/Core/Detector/ProtoDetectorTests.cpp
  Tests/UnitTests/Core/Detector/ReferenceGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/SupportHelperTests.cpp
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

part
  Tests/UnitTests/Core/Detector/KdtSurfacesProviderTests.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Detector/ProtoBinningTests.cpp
Labels: Component - Core

feat: GX2F: use magnetic field to fit q/p (#2574)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

feat: GX2F: use magnetic field to fit q/p (#2574)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

part
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Detector/DetectorBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedRootVolumeFinderBuilderTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
Labels: Component - Core

part
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackStatePropMaskTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, Event Data Model

fix navigation for boundary start
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
Labels: Component - Core, Component - Examples

part
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/KDTreeTrackingGeometryBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Geometry/SimpleGeometryTests.cpp
Labels: Component - Core

refactor: remove `using namespace std;` (#2631)
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/compareRootFiles.hpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/PrimitivesFactory.cpp
Labels: Component - Examples, Component - Plugins, Track Finding

refactor: remove `using namespace std;` (#2631)
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/compareRootFiles.hpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/PrimitivesFactory.cpp
Labels: Component - Examples, Component - Plugins, Track Finding

Material
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeUpdatorsTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatorsTests.cpp
Labels: Component - Core

Propagator
  Tests/UnitTests/Core/Propagator/CovarianceTransportTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

Surfaces
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/IntersectionHelper2DTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
Labels: Component - Core

TrackFitting
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Track Fitting

Utilities
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
  Tests/UnitTests/Core/Utilities/MPLTests.cpp
  Tests/UnitTests/Core/Utilities/Range1DTests.cpp
  Tests/UnitTests/Core/Utilities/RangeXDTests.cpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
  Tests/UnitTests/Core/Utilities/ZipTests.cpp
Labels: Component - Core

Vertexing
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
Labels: Component - Core, Vertexing

Visualization
  Tests/UnitTests/Core/Visualization/PrimitivesView3DTests.cpp
  Tests/UnitTests/Core/Visualization/Visualization3DTests.cpp
Labels: Component - Core

MTJ+Examples
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Examples/Io/Root/SimhitReaderWriterTests.cpp
Labels: Component - Examples

Json
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/ProtoDetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
Labels: Component - Plugins

Geant4
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorElementTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorSurfaceFactoryTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Labels: Component - Plugins

other
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DTests.cpp
  docs/plugins/geant4.md
Labels: Component - Core, Component - Documentation

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
