Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

ci: Specify python version in a number of jobs
  .github/workflows/checks.yml
Labels: Infrastructure

ci: Add script and CI job to force std::size_t over size_t
  .github/workflows/checks.yml
  CI/check_size_t.py
Labels: Infrastructure

Update Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples

fix comments
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples

feat: Add weight cut reduction to GSF (#2659)
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
  docs/_extensions/lazy_autodoc.py
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

feat: Add weight cut reduction to GSF (#2659)
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
  docs/_extensions/lazy_autodoc.py
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

shrink deltaZMax
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Seeding

also run on .C and .h
  CI/check_size_t.py
  Examples/Scripts/MaterialMapping/materialComposition.C
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Examples/Scripts/TrackingPerformance/defineReconstructionPerformance.C
  Examples/Scripts/TrackingPerformance/trackSummaryAnalysis.C
  Examples/Scripts/compareRootFiles.C
  Examples/Scripts/layerMaterial.C
Labels: Infrastructure, Component - Examples

docs: Doc fix for Gx2FitterOptions and 1 link
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/contribution/profiling.md
Labels: Component - Core, Component - Documentation, Track Fitting

docs: Doc fix for Gx2FitterOptions and 1 link
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/contribution/profiling.md
Labels: Component - Core, Component - Documentation, Track Fitting

Update Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
Labels: Component - Core, Vertexing

Update GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

catch error after setWeightsAndUpdate
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

initial commit
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

docs: Doc fix for Gx2FitterOptions and 1 link (#2674)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/contribution/profiling.md
Labels: Component - Core, Component - Documentation, Track Fitting

docs: Doc fix for Gx2FitterOptions and 1 link (#2674)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/contribution/profiling.md
Labels: Component - Core, Component - Documentation, Track Fitting

remove cout
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

format
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

update references
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
Labels: Infrastructure, Changes Performance

update root hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

include cuda files
  CI/check_size_t.py
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Kernels.cuh
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaMatrix.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaVector.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/UsmMatrix.cu
  Plugins/Cuda/src/Seeding/Kernels.cu
  Plugins/Cuda/src/Seeding2/CountDublets.cu
  Plugins/Cuda/src/Seeding2/FindDublets.cu
  Plugins/Cuda/src/Seeding2/FindTriplets.cu
  Plugins/Cuda/src/Utilities/Arrays.cu
  Plugins/Cuda/src/Utilities/Info.cu
  Plugins/Cuda/src/Utilities/MemoryManager.cu
Labels: Infrastructure, Component - Plugins, Seeding

ci: Change name of required policy bot approval
  .merge-sentinel.yml
Labels: none

ci: Change name of required policy bot approval (#2676)
  .merge-sentinel.yml
Labels: none

ci: Change name of required policy bot approval (#2676)
  .merge-sentinel.yml
Labels: none

Update Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Seeding

std::size_t
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, Track Fitting

revert
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

revert last 7 commits
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Vertexing

Fixed compilation issue
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, Event Data Model

add commented out variable name
  Core/include/Acts/Utilities/Delegate.hpp
Labels: Component - Core

add field adapter to documentation
  docs/plugins/dd4hep.md
Labels: Component - Documentation

update hashes again
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

hpp
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/include/Acts/Utilities/detail/MPL/get_position.hpp
  Core/include/Acts/Utilities/detail/MPL/is_contained.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSpacePointWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjSpacePointWriter.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.hpp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.hpp
  Tests/UnitTests/Core/Seeding/TestCovarianceTool.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding

cpp ipp
  Examples/Python/src/DetectorInspectorsStub.cpp
  Plugins/DD4hep/src/DD4hepMaterialConverter.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Seeding/ATLASBottomBinFinder.ipp
  Tests/UnitTests/Core/Seeding/ATLASTopBinFinder.ipp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding

loads of stuff
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AnyIntersection.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/TryAllOverstepNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Propagator/detail/VoidPropagatorComponents.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Examples/Python/src/Propagation.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Component - Examples

images
  Examples/Run/Geant4/barrel_chambers00.png
  docs/core/geometry/figures/DiscLayerAB.png
  docs/examples/howto/figures/materialMapping/ActsMaterialMappingAutoTuning.png
  docs/figures/doxygen/RotatedTrapezoidBounds.gif
  docs/figures/performance/CKF/duplicationrate_vs_eta_ttbar_pu200.png
  docs/figures/performance/CKF/fakerate_vs_eta_ttbar_pu200.png
  docs/figures/performance/CKF/trackeff_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/nHoles_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/nMeasurements_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/pull_perigee_parameters_ttbar_pu200.png
  docs/figures/performance/fitter/trackeff_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/trackeff_vs_pT_ttbar_pu200.png
  docs/figures/performance/seeding/seeding_eff_vs_eta.png
  docs/figures/performance/seeding/seeding_eff_vs_pt.png
  docs/figures/tracking/layer_geo.svg
  docs/figures/tracking/navigation.svg
  docs/figures/tracking/strip_ghosts.svg
  docs/plugins/figures/sycl/count_duplets.png
  docs/plugins/figures/sycl/duplet_search_matrix.png
  docs/plugins/figures/sycl/flat_matrix.png
  docs/plugins/figures/sycl/middle_duplet_indices.png
  docs/plugins/figures/sycl/prefix_sum_array.png
  docs/plugins/figures/tgeo/TGeoArb8_PlaneSurface.png
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
  docs/whitepaper-template.png
Labels: Component - Examples, Component - Documentation

minor
  Core/include/Acts/Propagator/TryAllNavigator.hpp
Labels: Component - Core

fix silly
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

revert
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
Labels: Component - Documentation

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
