Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

fix mistake
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

adding typelist
  Core/include/Acts/Utilities/detail/TypeList.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

check spelling
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

Update SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

adding in cluster width printing
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding, Track Fitting

fix
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Examples

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

revert change that changes ref
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
Labels: Component - Core, Track Fitting

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

refactor
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Component - Examples, Track Fitting

update docs
  docs/core/reconstruction/track_fitting.md
Labels: Component - Documentation

add weight cut reduction
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

Missing changes added
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Plugins, Event Data Model, Track Fitting

fix
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
Labels: Component - Examples, Track Fitting

fix GSF early stopping
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

add momentum cutoff
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

refactor: Refactor `RootTrackStatesWriter` (#2648)
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

refactor: Refactor `RootTrackStatesWriter` (#2648)
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

update docs
  docs/api/api.md
Labels: Component - Documentation

revert
  docs/api/api.md
Labels: Component - Documentation

update docs
  docs/_extensions/lazy_autodoc.py
Labels: Component - Documentation

refactor!: Consistent naming of GSF mixture reduction and component merging (#2658)
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

refactor!: Consistent naming of GSF mixture reduction and component merging (#2658)
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, Track Fitting

Add missing headers
  Core/include/Acts/EventData/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Fatras, Component - Plugins, Event Data Model, Track Finding, Track Fitting

fix: GSF early stopping now should really stop (#2660)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

fix: GSF early stopping now should really stop (#2660)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

don't weight time down
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

add seeding performance in optuna score
  Examples/Scripts/Optimization/Optuna_tuning.py
Labels: Component - Examples

same for orion
  Examples/Scripts/Optimization/Orion_tuning.py
Labels: Component - Examples

update
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
Labels: Component - Core, Component - Examples, Track Fitting

fix mistake
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

update
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Track Fitting

Update Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples

improve error handling
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/src/Vertexing/VertexingError.cpp
Labels: Component - Core, Vertexing

remove accidental comment
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

Update Tests/UnitTests/Core/Utilities/TypeListTests.cpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

Update Core/include/Acts/Utilities/detail/TypeList.hpp
  Core/include/Acts/Utilities/detail/TypeList.hpp
Labels: Component - Core

Update Tests/UnitTests/Core/Utilities/TypeListTests.cpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

Update TypeList.hpp
  Core/include/Acts/Utilities/detail/TypeList.hpp
Labels: Component - Core

clang format
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
