Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

ci: Remove `docker` tag, restrict ExaTrkX build to big VMs (#2579)
  .gitlab-ci.yml
Labels: none

ci: Remove `docker` tag, restrict ExaTrkX build to big VMs (#2579)
  .gitlab-ci.yml
Labels: none

update reference
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

add chi2 cutoff
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

use track nr
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

changes PR# 2586
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

add relChi2changeCutOff bindings
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, Track Fitting

refactor: Replace magic seeding field in Examples (#2577)
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/seeding.py
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Component - Plugins, Changes Performance, Seeding

refactor: Replace magic seeding field in Examples (#2577)
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/seeding.py
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Component - Plugins, Changes Performance, Seeding

fix: GeoVisualization - Fix compiler warning that's appearing in Athena (#2585)
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core

fix: GeoVisualization - Fix compiler warning that's appearing in Athena (#2585)
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core

fix: GeoVisualization - Fix compiler warning that's appearing in Athena (#2585)
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core

review paulgessinger
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

exclude track_nr from plotting
  CI/physmon/tracksummary_ckf_config.yml
Labels: Infrastructure

reset reference
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
Labels: Infrastructure, Changes Performance

fix: Use track selection in GSF physmon (#2578)
  CI/physmon/reference/performance_gsf.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, Component - Examples, Changes Performance

fix: Use track selection in GSF physmon (#2578)
  CI/physmon/reference/performance_gsf.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, Component - Examples, Changes Performance

reset reference
  CI/physmon/reference/performance_gsf.root
Labels: Infrastructure, Changes Performance

Update Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Plugins

Update Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
Labels: Component - Core

Update Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Detector/detail/BlueprintDrawer.cpp
Labels: Component - Core

Update Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Component - Plugins

Update Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
Labels: Component - Plugins

Update Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Plugins

update reference
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_gsf.root
Labels: Infrastructure, Changes Performance

draft
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

improve ckf error message if target surface is not reached
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

Update Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

fix: Fix Fatras end of world (#2580)
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Changes Performance

fix: Fix Fatras end of world (#2580)
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Changes Performance

draft
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
Labels: Component - Core, Component - Examples, Track Finding

mask fpes
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, Track Fitting, Vertexing

add collector for whitepapers
  CI/release.py
  docs/index.rst
  docs/requirements.txt
  whitepaper/config.toml
  whitepaper/requirements.in
  whitepaper/requirements.txt
  whitepaper/template.md
  whitepaper/update.py
Labels: Infrastructure, Component - Documentation

commit the generated output
  docs/whitepapers.md
Labels: Component - Documentation

refactor: Improve CKF error message if target surface is not reached (#2587)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

refactor: Improve CKF error message if target surface is not reached (#2587)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

fixes
  docs/index.rst
  docs/whitepapers.md
  whitepaper/template.md
  whitepaper/update.py
Labels: Component - Documentation

iadd
  docs/whitepapers/acts-project_whitepaper-template.png
  docs/whitepapers/whitepapers.md
Labels: Component - Documentation

fix
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
