Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

move some things around
  docs/conf.py
  docs/figures/whitepapers/acts-project_whitepaper-template.png
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  docs/white_paper_index_template.md.j2
  docs/white_paper_template.md.j2
  docs/white_papers.py
  docs/white_papers.toml
  docs/white_papers/figures/overleaf_compiler.png
  docs/white_papers/figures/overleaf_import_github.png
  docs/white_papers/figures/whitepaper-template.png
  docs/white_papers/how_to_add.md
  docs/whitepaper-template.png
  docs/whitepapers/figures/whitepaper-template.png
  whitepaper/requirements.in
  whitepaper/requirements.txt
Labels: Component - Documentation

PR feedback
  docs/white_papers.py
  docs/white_papers/how_to_add.md
  docs/whitepaper-template.png
Labels: Component - Documentation

fix
  Core/src/MagneticField/BFieldMapUtils.cpp
Labels: Component - Core

rewrite navigation; take 1
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

fix ref in docs
  docs/core/seeding.md
Labels: Component - Documentation

fix; refactor pLimit and oLimit
  Core/include/Acts/Geometry/ApproachDescriptor.hpp
  Core/include/Acts/Geometry/GenericApproachDescriptor.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

refactor: Use `__cpp_concepts` directly
  Core/CMakeLists.txt
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/Geometry/SurfaceVisitorConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  cmake/ActsCompilerOptions.cmake
Labels: Infrastructure, Component - Core, Event Data Model

KDTreeTrackingGeometryBuilder
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
Labels: Component - Core

adopt navigation unit test
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

fix; move AnyIntersection
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core

GsfUtils
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Component - Core, Track Fitting

MeasurementCreation
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
Labels: Component - Examples

dafault switches
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
Labels: Component - Plugins

SupportHelper
  Core/src/Detector/detail/SupportHelper.cpp
Labels: Component - Core

format
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
Labels: Component - Plugins

refactor further; fix errors
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AnyIntersection.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, Track Finding, Track Fitting

fix docs
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

disable ci testing for linux_ubunut to get physmon
  .github/workflows/builds.yml
Labels: Infrastructure

refactor: Put some helper types for Loop-Multistepper into separate file (#2612)
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
Labels: Component - Core

refactor: Put some helper types for Loop-Multistepper into separate file (#2612)
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
Labels: Component - Core

fix link http -> https
  docs/getting_started.md
Labels: Component - Documentation

fix / remove tests
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Tests/IntegrationTests/BVHNavigationTest.cpp
  Tests/IntegrationTests/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

added catch for inf and fixed max phi slice
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

wire G4 exclude material to python
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples

update
  Core/include/Acts/Propagator/StepperConcept.hpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/StepperConcept.hpp
Labels: Component - Core

refactor: Use `__cpp_concepts` directly (#2626)
  Core/CMakeLists.txt
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/Geometry/SurfaceVisitorConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  cmake/ActsCompilerOptions.cmake
Labels: Infrastructure, Component - Core, Event Data Model

refactor: Use `__cpp_concepts` directly (#2626)
  Core/CMakeLists.txt
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/Geometry/SurfaceVisitorConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  cmake/ActsCompilerOptions.cmake
Labels: Infrastructure, Component - Core, Event Data Model

fix: `safeInverse(m)` for matrices larger than 4x4 (#2602)
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: Component - Core

fix: `safeInverse(m)` for matrices larger than 4x4 (#2602)
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: Component - Core

refactor: Remove separate default `DetectorElementBase` file (#2617)
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/detail/DefaultDetectorElementBase.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

refactor: Remove separate default `DetectorElementBase` file (#2617)
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/detail/DefaultDetectorElementBase.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

refactor!: Rename and rearrange propagator options (#2620)
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Track Finding, Track Fitting, Vertexing

refactor!: Rename and rearrange propagator options (#2620)
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Track Finding, Track Fitting, Vertexing

gcovr=6.0
  .github/workflows/analysis.yml
Labels: Infrastructure

exclude-noncode-lines
  .github/workflows/analysis.yml
Labels: Infrastructure

Update AlgebraHelpers.hpp
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Labels: Component - Core

Update GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

Update analysis.yml
  .github/workflows/analysis.yml
Labels: Infrastructure

Update test_coverage
  CI/test_coverage
Labels: Infrastructure

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
