Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

size_t
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
Labels: Component - Examples

add perf as function of the distance to closest track
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
Labels: Component - Examples

refactor!: error handling in the vertexing algorithms (#2649)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

refactor!: error handling in the vertexing algorithms (#2649)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, Vertexing

improve logging
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Labels: Component - Core

adding more Json unit tests
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Plugins

fix formatting
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
Labels: Component - Examples, Vertexing

Update Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
Labels: Component - Plugins

Update Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Plugins

Update Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Plugins

add CI-job
  .github/workflows/checks.yml
  CI/check_unused_files.py
Labels: Infrastructure

Revert "add CI-job"
  .github/workflows/checks.yml
  CI/check_unused_files.py
Labels: Infrastructure

add python-script
  CI/check_unused_files.py
Labels: Infrastructure

physmon
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
Labels: Infrastructure, Changes Performance

add CI-job
  .github/workflows/checks.yml
Labels: Infrastructure

update script
  CI/check_unused_files.py
Labels: Infrastructure

update reference
  CI/physmon/reference/performance_gsf.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

comment rm
  CI/check_unused_files.py
Labels: Infrastructure

change permission
  CI/check_unused_files.py
Labels: Infrastructure

physmon
  CI/physmon/reference/performance_seeding_orthogonal.root
  CI/physmon/reference/performance_seeding_seeded.root
  CI/physmon/reference/performance_seeding_truth_estimated.root
  CI/physmon/reference/performance_seeding_ttbar.root
Labels: Infrastructure, Changes Performance

change permission again
  CI/check_unused_files.py
Labels: Infrastructure

remove '.h'
  CI/check_unused_files.py
Labels: Infrastructure

update binning
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
Labels: Component - Examples

unify jpeg->jpg
  docs/core/figures/material/MaterialAssignment.jpg
  docs/core/figures/material/MaterialAveraging.jpg
  docs/core/material.md
Labels: Component - Documentation

unify .h->.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  docs/core/THISSHOULDFAIL.png
Labels: Component - Plugins, Component - Documentation, Seeding

test: Exa.TrkX link unit test `MetricHooks` (#2683)
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Labels: Component - Plugins

test: Exa.TrkX link unit test `MetricHooks` (#2683)
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Labels: Component - Plugins

hardcode random engine
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

hardcode boost test random engine
  Tests/Benchmarks/SurfaceIntersectionBenchmark.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/UnitTests/Core/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Utilities/BFieldMapUtilsTests.cpp
Labels: Component - Core

update
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Core, Component - Examples, Track Fitting

update binning
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_orthogonal.root
  CI/physmon/reference/performance_seeding_seeded.root
  CI/physmon/reference/performance_seeding_truth_estimated.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/performance_truth_tracking.root
Labels: Infrastructure, Changes Performance

fix
  CI/check_unused_files.py
Labels: Infrastructure

remove fail-test
  docs/core/THISSHOULDFAIL.png
Labels: Component - Documentation

simplify logic
  CI/check_unused_files.py
Labels: Infrastructure

refactor: Improve Bethe Heitler approximation constructors and logging (#2679)
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Core, Component - Examples, Track Fitting

refactor: Improve Bethe Heitler approximation constructors and logging (#2679)
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Core, Component - Examples, Track Fitting

Revert "remove fail-test"
  docs/core/THISSHOULDFAIL.png
Labels: Component - Documentation

exclude sycl .h-file
  CI/check_unused_files.py
Labels: Infrastructure

Revert "unify .h->.hpp"
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.h
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  docs/core/THISSHOULDFAIL.png
Labels: Component - Plugins, Component - Documentation, Seeding

more
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBuilderTests.cpp
  Tests/UnitTests/Core/MagneticField/ConstantBFieldTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceMaskTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Core, Component - Fatras
