Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

ignore all of intel
  docs/conf.py
Labels: Component - Documentation

docs: Fix broken TBB and lcginfo.cern.ch URLs (#2613)
  docs/conf.py
  docs/getting_started.md
Labels: Component - Documentation

docs: Fix broken TBB and lcginfo.cern.ch URLs (#2613)
  docs/conf.py
  docs/getting_started.md
Labels: Component - Documentation

adding Test und fixing CI
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
Labels: Component - Core

add toml file
  whitepaper/whitepapers.toml
Labels: none

Update JsonDigitizationConfig.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Component - Examples

refactor: Intersection index for stepper surface update (#2599)
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core

refactor: Intersection index for stepper surface update (#2599)
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core

some updates
  docs/whitepapers/acts-project_whitepaper-template.png
  docs/whitepapers/figures/whitepaper-template.png
  docs/whitepapers/how-to-add.md
  docs/whitepapers/index.md
  docs/whitepapers/index.rst
  docs/whitepapers/whitepaper-template.md
  whitepaper/index_template.md
  whitepaper/template.md
  whitepaper/update.py
  whitepaper/whitepaper-template.png
  whitepaper/whitepapers.toml
Labels: Component - Documentation

refactor!: Move `Grid` out of `detail`
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

refactor: Remove separate default `DetectorElementBase` file
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/detail/DefaultDetectorElementBase.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

refactor multi stepper update
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core, Track Fitting

try remove overstep limit
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Examples/Python/src/Propagation.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Component - Examples, Track Finding, Track Fitting, Vertexing

fix format
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

format fix
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Labels: Component - Core

refactor propagator options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Track Finding, Track Fitting, Vertexing

propagator stage
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core

fix
  Tests/IntegrationTests/PropagationTests.hpp
Labels: none

fix
  Tests/IntegrationTests/PropagationTests.hpp
Labels: none

implement check
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
Labels: Component - Core, Vertexing

fix: `Digitization::Digital` in `to_json()` was skipped (#2615)
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Component - Examples

fix: `Digitization::Digital` in `to_json()` was skipped (#2615)
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Component - Examples

fix: pdg: eGamma for `<<` was incorrect (#2614)
  Core/src/Definitions/ParticleData.cpp
Labels: Component - Core

fix: pdg: eGamma for `<<` was incorrect (#2614)
  Core/src/Definitions/ParticleData.cpp
Labels: Component - Core

Update Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core

fix silly
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

fix format
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core

refactor!: Move `Grid` out of `detail` (#2616)
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

refactor!: Move `Grid` out of `detail` (#2616)
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

jacobianEngineTests
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
Labels: Component - Core

processType
  Fatras/src/EventData/ProcessType.cpp
Labels: Component - Fatras, Event Data Model

BinAdjustment
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
Labels: Component - Core

BuildGenericDetector
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
Labels: Component - Examples

MockupSectorBuilder
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
Labels: Component - Examples

VoidFitterComponents
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Component - Core, Track Fitting

SeedFinderTest
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Seeding

GsfUtils: calculateDeterminant
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/src/TrackFitting/GsfUtils.cpp
Labels: Component - Core, Track Fitting

use releases to grab pdf link
  docs/whitepapers/figures/whitepaper-template.png
  docs/whitepapers/how-to-add.md
  docs/whitepapers/whitepaper-template.md
  docs/whitepapers/whitepapers.md
  whitepaper/template.md
  whitepaper/update.py
  whitepaper/whitepaper-template.png
  whitepaper/whitepapers.toml
Labels: Component - Documentation

MaterialGridHelper
  Core/src/Material/MaterialGridHelper.cpp
Labels: Component - Core

remove and ignore some files
  docs/.gitignore
  docs/white_papers/how_to_add.md
  docs/whitepapers/index.md
  docs/whitepapers/whitepaper-template.md
Labels: Component - Documentation
