Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

check if no vertices have to be fit
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, Vertexing

throw ElementNotFound
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/src/Vertexing/VertexingError.cpp
Labels: Component - Core, Vertexing

suggestions from code review
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

fix: Duplicated comment in reconstruction.py (#2651)
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

fix: Duplicated comment in reconstruction.py (#2651)
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

inflate time weight manually
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

forgot indices
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

disable unit test
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Vertexing

modify unit test
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Vertexing

Apply suggestions from code review
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

doxygen style
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

fix spelling
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

fix issue with matching/cleaning
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_filter_full_chain.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_solver_network.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, Ambiguity Resolution

feat: introduce typelist (#2656)
  Core/include/Acts/Utilities/detail/TypeList.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

feat: introduce typelist (#2656)
  Core/include/Acts/Utilities/detail/TypeList.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core

fixes
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Examples, Component - Plugins

add logger statements
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
Labels: Component - Core, Vertexing

fix bug
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Seeding

Update GsfMixtureReductionTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Track Fitting

format
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

format
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, Track Fitting

fix unit test
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Vertexing

add
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

revert
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
Labels: Component - Examples

do it
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Core, Component - Examples, Track Fitting

add entry in docs
  docs/white_papers.toml
  docs/white_papers/figures/billoir-covariances.png
Labels: Component - Documentation

add comments that link to white paper
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
Labels: Component - Core, Vertexing

feat: Delegate construction with tag type
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

fix possible memory leak
  Core/include/Acts/Utilities/Delegate.hpp
Labels: Component - Core

fix bad test
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

remove assertions that don't make sense anymore
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

and fix warning
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core

docs: Tweak admonition style, ensure eq. are ref'able (#2636)
  .github/workflows/docs.yml
  docs/CMakeLists.txt
  docs/_static/custom.css
  docs/conf.py
Labels: Infrastructure, Component - Documentation

docs: Tweak admonition style, ensure eq. are ref'able (#2636)
  .github/workflows/docs.yml
  docs/CMakeLists.txt
  docs/_static/custom.css
  docs/conf.py
Labels: Infrastructure, Component - Documentation

Update BinUtility.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
Labels: Component - Core

remove redundant if
  Core/include/Acts/Utilities/Delegate.hpp
Labels: Component - Core

do it
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

update
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, Track Fitting

do it
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples

Update GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, Track Fitting

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
