Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

feat: Add infrastructure for GNN+CKF (#2558)
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

feat: Add infrastructure for GNN+CKF (#2558)
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

refactor: Refactor and fix `accuracy` property in `ConstrainedStep` (#2532)
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Changes Performance

refactor: Refactor and fix `accuracy` property in `ConstrainedStep` (#2532)
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Changes Performance

feat: introduce blueprint (#2550)
  .gitlab-ci.yml
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintHelper.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

feat: introduce blueprint (#2550)
  .gitlab-ci.yml
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintHelper.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core

use raw pointer
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
Labels: Component - Fatras, Event Data Model

improve after #2532
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Labels: Component - Core

fix: Unify floating point type for chi2 in Track(State)
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
Labels: Component - Core, Event Data Model

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

seed output working with blank vertex
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
Labels: Component - Core, Seeding

fix
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

consistent use of the type
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, Event Data Model

ran black on python files
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Examples

Update Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
Labels: Component - Core, Seeding

Apply suggestions from code review
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
Labels: Component - Core, Seeding

fixing issues from review
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/FasTrackConnector.cpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

Apply suggestions from code review
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
Labels: Component - Core, Seeding

Apply suggestions from code review
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

perf: Improve `ConstrainedStep` footprint after #2532 (#2561)
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Labels: Component - Core

perf: Improve `ConstrainedStep` footprint after #2532 (#2561)
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Labels: Component - Core

Update Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
Labels: Component - Core, Seeding

redoing clang format and black after fixes on github
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/src/TrackFinding/FasTrackConnector.cpp
Labels: Component - Core, Seeding, Track Finding

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

suggestions from code review
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

rerunning black on reco file
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

rename
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

draft
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Framework/include/ActsExamples/Validation/TrackClassification.hpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Input.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Common/src/ReconstructionBase.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/vertex_fitting.py
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Examples/Scripts/TrackingPerformance/trackSummaryAnalysis.C
  docs/examples/analysis_apps.rst
Labels: Infrastructure, Component - Examples, Component - Documentation, Vertexing

apply to TrackFitterPerformanceWriter
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.hpp
  Examples/Python/src/Output.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
Labels: Component - Examples

wire tolerance to bound parameter factory
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
Labels: Component - Core, Event Data Model

fix doc
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
Labels: Component - Core, Event Data Model

feat: Fill track in GX2F (#2511)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

feat: Fill track in GX2F (#2511)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

add missing impl
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

fix reco
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

refactor: Propagator deduce parameter type from stepper (#2413)
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/ParameterTraits.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Changes Performance, Event Data Model, Track Fitting

refactor: Propagator deduce parameter type from stepper (#2413)
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/ParameterTraits.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Changes Performance, Event Data Model, Track Fitting

handle vertexing and more
  Core/include/Acts/EventData/TrackProxy.hpp
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TracksToParameters.hpp
  Examples/Algorithms/Utilities/src/TracksToParameters.cpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/TutorialVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TutorialVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexingHelpers.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/Vertexing.cpp
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
Labels: Component - Core, Component - Examples, Event Data Model, Vertexing

fix formatting
  Core/include/Acts/EventData/TrackProxy.hpp
Labels: Component - Core, Event Data Model

update ref
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
