Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

can use cuda for ML Solver training
  Examples/Scripts/Python/MLAmbiguityResolution/train_ambiguity_solver.py
Labels: Component - Examples, Ambiguity Resolution

mu=200
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

use linPoint in track linearization
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

feat: Allow particle selection with measurment count (#2570)
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples

feat: Allow particle selection with measurment count (#2570)
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples

try fixing vertexing_config
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

try more
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

Apply suggestions from code review
  Core/include/Acts/EventData/TrackProxy.hpp
Labels: Component - Core, Event Data Model

compile fix
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
Labels: Component - Examples, Track Fitting

reapply fixes
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
Labels: Component - Examples

another compile fix
  Core/include/Acts/TrackFitting/GsfOptions.hpp
Labels: Component - Core, Track Fitting

format
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
Labels: Component - Examples

Apply suggestions from code review
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
Labels: Component - Examples, Track Finding

refactor: Rework physmon track fitting (#2549)
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_magnetic_field.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, Changes Performance

refactor: Rework physmon track fitting (#2549)
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_magnetic_field.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, Changes Performance

enable B-field in fitter
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

format
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_perf.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_solver_network.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Ambiguity Resolution

remove old code
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

ambi_perf
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_perf.py
Labels: Component - Examples, Ambiguity Resolution

ML seed filter script
  Examples/Scripts/Python/MLAmbiguityResolution/seed_filter_full_chain.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_solver_network.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
Labels: Component - Examples, Ambiguity Resolution

couple manual fixes
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.ipp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/include/Acts/Visualization/detail/PlyVisualization3D.ipp
  Examples/Scripts/TrackingPerformance/CommonUtils.h
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Examples/Scripts/TrackingPerformance/trackSummaryAnalysis.C
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/Assertions.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/Visualization/Visualization3DTester.hpp
  cmake/ActsStaticAnalysis.cmake
Labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Seeding, Track Fitting, Vertexing

update references
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

pr review
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, Event Data Model

format
  Core/include/Acts/EventData/TrackProxy.hpp
Labels: Component - Core, Event Data Model

another fix
  Tests/IntegrationTests/PropagationTests.hpp
Labels: none

histogram comparisons working
  CI/physmon/tests/conftest.py
  CI/physmon/tests/test_ckf_tracking.py
  conftest.py
Labels: Infrastructure

wip
  CI/physmon/tests/conftest.py
  CI/physmon/tests/test_ckf_tracking.py
  CI/physmon/tests/test_truth_tracking_kalman.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/setup.sh.in
  conftest.py
Labels: Infrastructure, Component - Examples

infra
  CI/physmon/tests/conftest.py
  CI/physmon/tests/test_truth_tracking_kalman.py
  Examples/Python/tests/conftest.py
  conftest.py
  pytest.ini
Labels: Infrastructure, Component - Examples

fix for macos python setup
  Examples/Python/setup.sh.in
Labels: Component - Examples

clean up
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

clang format
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

updates
  CI/physmon/tests/test_ckf_tracking.py
  CI/physmon/tests/test_truth_tracking.py
Labels: Infrastructure

fix and remove dead code
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

refactor
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

finalised
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/SeedFilterMLAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/src/SeedFilterMLAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/seedDuplicateClassifier.onnx
  Examples/Scripts/Python/full_chain_odd.py
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
Labels: Component - Examples, Component - Plugins, Track Finding, Ambiguity Resolution

remove track->traj conversions
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

Fix Projection matrix
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
Labels: Component - Core, Component - Examples, Track Fitting

print statements for debugging
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding

Backup
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
Labels: Component - Core, Component - Examples, Track Fitting

black format
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_ambiguity_solver.py
Labels: Component - Examples, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
