Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

try multiplying the track parameter weight matrix with the track weight
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

spelling
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLDBScanAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/src/SeedFilterMLAlgorithm.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
Labels: Component - Examples, Component - Plugins, Track Finding

feat: add boolean useTime to AMVFitter (#2521)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

feat: add boolean useTime to AMVFitter (#2521)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

improve comments
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

try more
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

clean-up after merge
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

refactor: comment and unify the creation and filling of trackStateProxy (KF) (#2499)
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
Labels: Component - Core, Event Data Model, Track Fitting

refactor: comment and unify the creation and filling of trackStateProxy (KF) (#2499)
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
Labels: Component - Core, Event Data Model, Track Fitting

typo
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

Revert "try more"
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

Revert "improve comments"
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

Revert "try multiplying the track parameter weight matrix with the track weight"
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

update reference
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
Labels: Infrastructure, Changes Performance

Update .gitlab-ci.yml
  .gitlab-ci.yml
Labels: none

refactor!: remove division of vertex covariance with weight (#2551)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, Vertexing

refactor!: remove division of vertex covariance with weight (#2551)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, Vertexing

fix: enforce calculation of impact parameters wrt vertex position (#2524)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

fix: enforce calculation of impact parameters wrt vertex position (#2524)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

update reference
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
Labels: Infrastructure, Changes Performance

fixing some CI tests: spelling, end of line
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
Labels: Component - Core, Component - Plugins

adressing CI comments
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
Labels: Component - Core, Component - Plugins

adressing CI failures
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
Labels: Component - Core, Component - Plugins

update reference
  CI/physmon/reference/performance_gsf.root
Labels: Infrastructure, Changes Performance

fix and extend unit tests
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
Labels: Component - Plugins

remove hole recalc in gsf
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Infrastructure, Component - Core, Changes Performance, Track Fitting

adding print statements to debug FPE error
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding

fixing doc build
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
Labels: Component - Plugins

reset mu to 50
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

adding ACTS seed output
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

updating from main, ACTS seeds made with vertex 0
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
Labels: Component - Core, Seeding

revert: "feat: add boolean useTime to AMVFitter (#2521)"
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

successfully updated from main branch
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding

b-field + bindings
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

bindings
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, Track Fitting

Bump to version v30.3.1
  .zenodo.json
  CITATION.cff
  version_number
Labels: none

Initialize the static variables in the cpp file
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core

Fancy kraken coming
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core

update tests
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

restore ids
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples
