Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

fix
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
Labels: Component - Examples

minor
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/TutorialVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
Labels: Component - Examples, Vertexing

fix test
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Track Fitting

feat: Initial version of ATLAS-based FTF seeding (#2227)
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

feat: Initial version of ATLAS-based FTF seeding (#2227)
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

refactor everything
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Component - Examples, Track Fitting

fix
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
Labels: Component - Examples

fix
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Infrastructure, Component - Examples

remove wrong comment
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

fix
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure

update
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Track Fitting

fix?
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Algorithms/Utilities/src/TracksToParameters.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Labels: Component - Core, Component - Examples, Track Finding

rename to ComponentMergeMethod and make test not fail
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/MergeGaussianMixture.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Component - Examples, Track Fitting

1
  Core/include/Acts/Seeding/GNN_Geometry.hpp
Labels: Component - Core, Seeding

fix
  Examples/Python/tests/test_examples.py
Labels: Component - Examples

clang tidy fixes
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

clang tidy fixes
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/RoiDescriptor.cpp
Labels: Component - Core, Seeding, Track Finding

code style: remove semicolon
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Tests/UnitTests/Core/Utilities/FiniteStateMachineTests.cpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

fit formatting
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
Labels: Component - Core, Component - Examples

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

fix: Fixes after 2227 (#2565)
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

fix: Fixes after 2227 (#2565)
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

fix some things and improve documentation
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

chore: Remove semicolon after function definition (#2566)
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Tests/UnitTests/Core/Utilities/FiniteStateMachineTests.cpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

chore: Remove semicolon after function definition (#2566)
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Tests/UnitTests/Core/Utilities/FiniteStateMachineTests.cpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, Seeding, Track Finding

Update Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
Labels: Component - Examples, Track Finding

exand eta
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples

update hashes; update fpes
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_truth_tracking.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

fix: fix bugs and improve docs for prototracks-to-parameters algorithm (#2567)
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

fix: fix bugs and improve docs for prototracks-to-parameters algorithm (#2567)
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, Track Finding

fix
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, Changes Performance

fix
  Examples/Python/tests/test_writer.py
Labels: Component - Examples

review benjaminhuth
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, Track Fitting

addressing PR comments
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

review benjaminhuth 2
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, Track Fitting

fix formatting
  Examples/Python/tests/test_writer.py
Labels: Component - Examples

temporary modification of physmon
  CI/physmon/workflows/physmon_ckf_tracking.py
Labels: Infrastructure

Revert "temporary modification of physmon"
  CI/physmon/workflows/physmon_ckf_tracking.py
Labels: Infrastructure
