Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

format
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

delete outdated unit test file
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
Labels: Component - Core, Vertexing

set useTime to true
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

comment vertexCompatibility check in unit test
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, Vertexing

Update Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Fatras

Update Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Fatras

update
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

set histo ranges to original vals
  CI/physmon/vertexing_config.yml
Labels: Infrastructure

set useTime to true
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, Vertexing

fix doc
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
Labels: Component - Core, Track Fitting

fix comment in reconstruction.py
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples

make seed finder config comments more understandable
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

format
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

weight time down
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

remove remants from mode pr
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/GsfMixtureTools.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, Track Fitting

format
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

refactor seed filter config
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

change seed confRange config
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

fix helixCutTolerance
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

refactor
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

Moved test parameters generation to core as well
  Core/include/Acts/EventData/GenerateParameters.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Core, Component - Fatras, Event Data Model

fix: and refactor geometric digitization (#2630)
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Examples, Component - Fatras, Changes Performance, Event Data Model

fix: and refactor geometric digitization (#2630)
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Examples, Component - Fatras, Changes Performance, Event Data Model

pr review and refactor
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Examples

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

reformat comments
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
Labels: Component - Examples

Update SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

add write_float to seed perf
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples

Update Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

fix
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

Update Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, Seeding

Update Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

fix compilation
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Examples
