Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

add seed ID to csv writter
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMultiTrajectoryWriter.hpp
  Examples/Io/Csv/src/CsvMultiTrajectoryWriter.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_perf.py
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
Labels: Component - Examples, Event Data Model, Ambiguity Resolution

a few more fixes
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
Labels: Component - Examples

small improvements
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

feat: cylindrical detector from DD4hep (#2582)
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeStructure.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepVolumeStructure.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderVolumeStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Core, Component - Plugins

feat: cylindrical detector from DD4hep (#2582)
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeStructure.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepVolumeStructure.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderVolumeStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Core, Component - Plugins

better handling of invalid arguments
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
Labels: Component - Core, Vertexing

rename
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

fix navigation?
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Layer.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

remove target estimation from navigator
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

restore
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core

fix: Protection against nullptr in material interactor of KF (#2597)
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Fitting

fix: Protection against nullptr in material interactor of KF (#2597)
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Fitting

another fix
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Fitting

intersection index for stepper surface update
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core

intersection index for direct navigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

Set Current Surface as first surface for direct navigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

Set the current surface in the initialize instead
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

better info
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

tmp
  Core/include/Acts/Surfaces/Surface.hpp
  Examples/Algorithms/Propagation/CMakeLists.txt
  Examples/Python/src/Propagation.cpp
Labels: Component - Core, Component - Examples

include volInfo
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

format
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

proper fix
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

define volInfo
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

add FullPivLU
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Labels: Component - Core

remove inlcudes
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Labels: Component - Core

improve comments and function names
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

format as usual
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

switch to grabbing the PDF from github artifacts
  docs/whitepapers/whitepapers.md
  whitepaper/config.toml
  whitepaper/requirements.in
  whitepaper/requirements.txt
  whitepaper/update.py
Labels: Component - Documentation

improve overview, start adding howto
  docs/index.rst
  docs/whitepapers/whitepapers.md
  whitepaper/template.md
Labels: Component - Documentation

remove KalmanVertexTrackUpdater
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Vertexing

add unittests
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: Component - Core

add some more meta-documentation
  docs/examples/python_bindings.rst
  docs/whitepapers/whitepapers.md
  whitepaper/config.toml
  whitepaper/template.md
  whitepaper/update.py
Labels: Component - Documentation

missing files
  docs/figures/whitepapers/acts-project_whitepaper-template.png
  docs/figures/whitepapers/overleaf_compiler.png
  docs/figures/whitepapers/overleaf_import_github.png
  docs/whitepapers/how-to-add.md
  docs/whitepapers/index.rst
Labels: Component - Documentation

refactor updateTrack
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

continue
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Vertexing

refactor surface reached aborter
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Finding, Track Fitting

fix: Set Current Surface as first surface for direct navigator (#2600)
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

fix: Set Current Surface as first surface for direct navigator (#2600)
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core

clean
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
