Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

forgot a cout...
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
Labels: Component - Plugins

update fpe mask
  CI/physmon/fpe_masks.yml
  Examples/Python/tests/test_examples.py
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
Labels: Infrastructure, Component - Examples, Component - Fatras

fix gsf
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples

spell check
  Examples/Scripts/Python/MLAmbiguityResolution/seed_filter_full_chain.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_solver_network.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
Labels: Component - Examples, Component - Plugins, Ambiguity Resolution

typo
  Core/include/Acts/Seeding/SeedFilter.ipp
Labels: Component - Core, Seeding

switch track state chi2 to float
  Plugins/Podio/edm.yml
Labels: Component - Plugins

refactor: improve and clean-up GX2F unitTest (#2573)
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

refactor: improve and clean-up GX2F unitTest (#2573)
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

update fpe masks
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure

replace magic seeding field
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/seeding.py
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Infrastructure, Component - Core, Component - Examples, Component - Plugins, Seeding

use track selection
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, Component - Examples

stuff and fix vertex performance writer
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Algorithms/Utilities/src/TracksToParameters.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
Labels: Infrastructure, Component - Examples

feat: Wire tolerance to bound parameter factory (#2563)
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
Labels: Component - Core, Event Data Model

feat: Wire tolerance to bound parameter factory (#2563)
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
Labels: Component - Core, Event Data Model

refactor: Make Fatras `Particle` and simulation surface aware (#2546)
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/src/Physics/BetheHeitler.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Infrastructure, Component - Examples, Component - Fatras, Changes Performance, Event Data Model

refactor: Make Fatras `Particle` and simulation surface aware (#2546)
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/src/Physics/BetheHeitler.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Infrastructure, Component - Examples, Component - Fatras, Changes Performance, Event Data Model

restore faulty behavior
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, Component - Examples

remove 'docker' tag, add 'large' tag for exatrkx build
  .gitlab-ci.yml
Labels: none

add ccache stats to exatrkx build
  .gitlab-ci.yml
Labels: none

fix: Fix boundaries navigation (#2534)
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core

fix: Fix boundaries navigation (#2534)
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core

fix fatras end of world
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Component - Examples, Component - Fatras

refactor fpe masks
  CI/physmon/fpe_masks.yml
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  CI/physmon/workflows/physmon_vertexing.py
Labels: Infrastructure

Update Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
Labels: Component - Examples

update gsf ref
  CI/physmon/reference/performance_gsf.root
Labels: Infrastructure, Changes Performance

fix track summary writer
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples

fix ckf examples
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/ckf_tracks.py
Labels: Component - Examples

feat: Add (optional) Jacobian reversal to Track (#2571)
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, Event Data Model

feat: Add (optional) Jacobian reversal to Track (#2571)
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, Event Data Model

port csv track writer
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Csv/src/CsvMultiTrajectoryWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_examples.py
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Scripts/Python/ckf_tracks.py
Labels: Component - Examples

improve comments
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Vertexing

revert fitter changes
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Finding, Track Fitting

fix writer test
  Examples/Python/tests/test_writer.py
Labels: Component - Examples

building from DD4hep yaya
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/src/Geometry/VolumeBounds.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeStructure.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepVolumeStructure.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderVolumeStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Core, Component - Plugins

fix
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Finding, Track Fitting

feat: use blueprint to generate cylindrical detector (#2557)
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

feat: use blueprint to generate cylindrical detector (#2557)
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core

fix; port more
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples

Update CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure

add inline again
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
Labels: Component - Core, Vertexing

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
