Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

remove clang tidy fix
  cmake/ActsStaticAnalysis.cmake
Labels: Infrastructure

format
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Seeding

fixes
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
Labels: Component - Core, Component - Examples, Seeding, Track Fitting, Vertexing

update hashes again
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

pr feedback
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Infrastructure, Component - Core, Track Fitting

pr feedback
  Core/include/Acts/EventData/TrackProxy.hpp
  Examples/Algorithms/Utilities/src/TracksToParameters.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
Labels: Component - Core, Component - Examples, Event Data Model, Vertexing

compiles locally
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Vertexing

fix benchmarks
  Tests/Benchmarks/SurfaceIntersectionBenchmark.cpp
Labels: none

fixes
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
Labels: Component - Core, Vertexing

refactor: Refactor FPE masks in Examples (#2581)
  CI/physmon/fpe_masks.yml
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Infrastructure, Component - Core, Track Fitting, Vertexing

refactor: Refactor FPE masks in Examples (#2581)
  CI/physmon/fpe_masks.yml
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Infrastructure, Component - Core, Track Fitting, Vertexing

try to relax changes so unit tests roll through
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

Fix parameter name
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
Labels: Component - Core

Add rotation to the Trapezoid bounds
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

Clang format
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core

Clang-format
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core

First attempt to test
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core

Fix clang check
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core

fix
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

updates
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
  docs/tracking.md
  docs/whitepapers/acts-project_whitepaper-template.png
  docs/whitepapers/whitepapers.md
  whitepaper/config.toml
  whitepaper/template.md
  whitepaper/update.py
Labels: Component - Documentation

feat: Add DD4hep field adapter
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/src/MagneticField/MagneticFieldError.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

chore: Support macOS in setup script (ODD)
  Examples/Python/setup.sh.in
Labels: Component - Examples

fix?
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

format fix
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Examples/Python/src/DD4hepComponent.cpp
Labels: Component - Core, Component - Examples

change inversion
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
Labels: Component - Core, Track Fitting

fix: CKF does an extra copy on the fitted state (#2568)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

fix: CKF does an extra copy on the fitted state (#2568)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

fix
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

update comment
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

use and comment safeInverse
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Labels: Component - Core, Track Fitting

remove path limit from navigation
  Core/include/Acts/Geometry/ApproachDescriptor.hpp
  Core/include/Acts/Geometry/GenericApproachDescriptor.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
Labels: Component - Core

release actor/aborter step constraint after stepper in propagation
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Component - Fatras, Track Finding

fix unit conversion for length
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
Labels: Component - Plugins

fix docs
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
Labels: Component - Core

Protection against nullptr
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Fitting

format
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Track Fitting

move noopExperimentCuts to SeedConfirmationRangeConfig
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, Seeding

remove include
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
Labels: Component - Examples, Track Finding

chore: Support macOS in setup script (ODD) (#2594)
  Examples/Python/setup.sh.in
Labels: Component - Examples

chore: Support macOS in setup script (ODD) (#2594)
  Examples/Python/setup.sh.in
Labels: Component - Examples

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
