Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

clang
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Detector/DetectorBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/IndexedRootVolumeFinderBuilderTests.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Detector/SupportHelperTests.cpp
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
  Tests/UnitTests/Core/EventData/TrackStatePropMaskTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, Event Data Model

revert
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

revert
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

fix
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

fix
  Tests/UnitTests/Core/Geometry/KDTreeTrackingGeometryBuilderTests.cpp
Labels: Component - Core

fix
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Geometry/SimpleGeometryTests.cpp
Labels: Component - Core

bring back
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

integration tests
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/Detector/VolumeStructureBuilderTests.cpp
Labels: Component - Core

other Plugins
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXTensorConversionTests.cpp
Labels: Component - Plugins

typo
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
Labels: Component - Plugins

require_equal
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Plugins/Cuda/Utilities/CudaMostSimplifiedTests.cu
  Tests/UnitTests/Plugins/Cuda/Utilities/CudaTests.cu
Labels: Component - Examples, Component - Plugins

forece require
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
Labels: Component - Core, Component - Plugins

fix
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Labels: Component - Plugins

revert
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Examples

exatrkx
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
Labels: Component - Plugins

typo
  docs/white_papers/how_to_add.md
Labels: Component - Documentation

warnings
  docs/core/geometry/surfaces.md
  docs/known-warnings.txt
Labels: Component - Documentation

add missing files
  docs/core/geometry/layerless/building.md
  docs/core/geometry/legacy/building.md
Labels: Component - Documentation

how about this
  docs/conf.py
  docs/getting_started.md
Labels: Component - Documentation

docs dependency updates
  docs/requirements.in
  docs/requirements.txt
Labels: Component - Documentation

typo fix
  docs/core/misc/index.md
Labels: Component - Documentation

don't generate api.rst.
  docs/conf.py
Labels: Component - Documentation

disable apidoc on readthedoc right now
  docs/CMakeLists.txt
  docs/conf.py
Labels: Component - Documentation

update lcg minimum requirement
  docs/getting_started.md
Labels: Component - Documentation

master to main
  docs/core/reconstruction/track_fitting.md
Labels: Component - Documentation

cache doxygen
  .github/workflows/docs.yml
Labels: Infrastructure

more retries
  docs/conf.py
Labels: Component - Documentation

try running without container
  .github/workflows/docs.yml
Labels: Infrastructure

typo
  .github/workflows/docs.yml
Labels: Infrastructure

remove api from index
  docs/index.rst
Labels: Component - Documentation

empty lines
  .github/workflows/docs.yml
Labels: Infrastructure

some doxygen level cleanup
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  docs/Doxyfile
Labels: Component - Core, Component - Documentation

make Action/AbortList + Geant4 plugin documentable
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  docs/Doxyfile
Labels: Component - Core, Component - Plugins, Component - Documentation

An attempt to only auto-generate doxygen directives for referenced classes, structs and types.
  docs/conf.py
  docs/core/geometry/layerless/building.md
  docs/core/geometry/layerless/layerless.md
  docs/core/geometry/legacy/building.md
  docs/core/geometry/material.md
  docs/core/geometry/surfaces.md
  docs/core/magnetic_field.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/examples/howto/add_new_algorithm.md
  docs/index.rst
Labels: Component - Documentation

comment
  docs/conf.py
Labels: Component - Documentation

move lazy doc to separate extension
  docs/_extensions/lazy_autodoc.py
  docs/conf.py
  docs/core/magnetic_field.md
  docs/core/misc/logging.md
  docs/core/reconstruction/track_fitting.md
  docs/plugins/dd4hep.md
Labels: Component - Documentation

nitpicky
  Core/include/Acts/Definitions/Algebra.hpp
  docs/conf.py
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/known-warnings.txt
Labels: Component - Core, Component - Documentation

update cmake and doc on doc
  docs/CMakeLists.txt
  docs/_extensions/lazy_autodoc.py
  docs/getting_started.md
Labels: Component - Documentation

PR feedback
  docs/core/material.md
Labels: Component - Documentation

better training
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
Labels: Component - Examples, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'
