Repository acts-project/acts, changes with the labels that .github/labeler.yml gives for each.
All labels: Infrastructure, Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Component - Documentation, Changes Performance, Event Data Model, Clustering, SP formation, Seeding, Track Finding, Track Fitting, Vertexing, Ambiguity Resolution

.github/labeler.yml:

'Infrastructure':
  - .github/**
  - CI/**
  - cmake/**
'Component - Core':
  - Core/**
  - Tests/UnitTests/Core/**
'Component - Examples':
  - Examples/**
  - Tests/UnitTests/Examples/**
'Component - Fatras':
  - Fatras/**
  - Tests/UnitTests/Fatras/**
'Component - Plugins':
  - Plugins/**
  - Tests/UnitTests/Plugins/**
'Component - Documentation':
  - docs/**
'Changes Performance':
  - CI/physmon/reference/**
  - Examples/Python/tests/root_file_hashes.txt
'Event Data Model':
  - '**/*EventData*/**'
'Clustering':
  - '**/*Clusterization*/**'
'SP formation':
  - '**/*SpacePointFormation*/**'
'Seeding':
  - '**/*Seeding*/**'
'Track Finding':
  - '**/*TrackFinding*/**'
'Track Fitting':
  - '**/*TrackFitting*/**'
'Vertexing':
  - '**/*Vertexing*/**'
'Ambiguity Resolution':
  - '**/*AmbiguityResolution*/**'

fix: newVertex not considered in AdaptiveMultiVertexFit (#2655)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Vertexing

refactor: remove dead code, default switch-cases (#2623)
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/src/Detector/detail/SupportHelper.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Fatras/src/EventData/ProcessType.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Event Data Model, Seeding, Track Fitting

refactor: remove dead code, default switch-cases (#2623)
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/src/Detector/detail/SupportHelper.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Fatras/src/EventData/ProcessType.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Event Data Model, Seeding, Track Fitting

ci: Run clang-tidy on large VMs (#2686)
  .gitlab-ci.yml
Labels: none

ci: Run clang-tidy on large VMs (#2686)
  .gitlab-ci.yml
Labels: none

revert: "fix: enforce calculation of impact parameters wrt vertex position" (#2677)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

revert: "fix: enforce calculation of impact parameters wrt vertex position" (#2677)
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

also gx2f
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Track Fitting

rebased
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Python/src/Json.cpp
  Examples/Python/src/Svg.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

add more print statements
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

add empty last line amvfitter
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Component - Core, Vertexing

improve logging
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, Vertexing

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

improve logging
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
Labels: Component - Core, Vertexing

improving DD4hep buildering and tests
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Component - Plugins

update hashes
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, Changes Performance

fixing spelling and size_t check
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
Labels: Component - Plugins

add ()
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
Labels: Component - Core, Vertexing

add string as constant
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Track Fitting

fix: Fitters: connect void default accessors (#2688)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Component - Core, Track Fitting

fix: Fitters: connect void default accessors (#2688)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Component - Core, Track Fitting

Apply suggestions from code review [skip ci]
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
Labels: Component - Core, Vertexing

make clang-tidy happy
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
Labels: Component - Plugins

seed writting
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, Ambiguity Resolution

explicit ipe copy in amvf
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Labels: Component - Core, Vertexing

improve MultiStepperTests after fix
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core

make unique pointer to logger and copy constructor
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
Labels: Component - Core, Vertexing

increase stats for navigator tests
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core

feat: improve DD4hep based detector building and add tests (#2689)
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Component - Plugins

feat: improve DD4hep based detector building and add tests (#2689)
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Component - Plugins

python formatting
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

core examples tests
  Examples/Python/python/acts/__init__.py
Labels: Component - Examples

format
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
Labels: Component - Examples, Ambiguity Resolution

comments
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
Labels: Component - Examples, Ambiguity Resolution

cmake
  Examples/Io/Csv/CMakeLists.txt
Labels: Component - Examples

adding tests and refine naming
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins

refactor material interactor
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Labels: Component - Core

format
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples

revert material interactor changes
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Labels: Component - Core
