Repository acts-project/acts, pull requests merged in 2020-11, with the labels that each got.

#548 refactor: HepMC3 converter as namespace instead of struct
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Event.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Particle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Vertex.hpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Vertex.cpp
  Examples/Run/HepMC3/HepMC3Example.cpp
Labels: Component - Examples, Improvement

#565 fix: AMVF track linearization and seed constraint fix for q431 test (backport)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
Labels: Bug, Component - Core, Impact - Critical

#550 fix: AMVF track linearization and seed constraint fix for q431 test (master)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
Labels: Bug, Component - Core, Impact - Critical

#541 refactor: HepMC event record reduction and selection
  Examples/Algorithms/Geant4HepMC/include/ActsExamples/Geant4HepMC/EventRecording.hpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.hpp
  Examples/Algorithms/Geant4HepMC/src/EventRecording.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.hpp
Labels: Component - Examples, Improvement

#570 perf: Add scripts for CKF timing test
  Examples/Scripts/CKF_timing_vs_mu.py
  Examples/Scripts/CKF_timing_vs_mu.sh
  Examples/Scripts/KF_timing.py
  Examples/Scripts/KF_timing.sh
Labels: Component - Examples, Impact - Minor

#580 feat: simple speed improvement AtlasStepper
  Core/include/Acts/Propagator/AtlasStepper.hpp
Labels: Component - Core, Improvement

#569 feat!: EigenStepper change internally to FreeVector
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
Labels: Component - Core, Improvement

#551 refactor: Allow running (C)KF in outward->inward mode
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
Labels: Component - Core, Improvement

#582 fix: Avoid Loopers in ActsExamples
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.ipp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
Labels: Bug, Component - Examples

#521 fix: Direct Navigation KF
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingOptions.hpp
  Examples/Algorithms/TrackFitting/src/SurfaceSortingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingOptions.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
Labels: Bug

#573 feat: Process extraction from HepMC event
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/HepMC/CMakeLists.txt
  Examples/Algorithms/HepMC/include/ActsExamples/HepMC/HepMCProcessExtractor.hpp
  Examples/Algorithms/HepMC/src/HepMCProcessExtractor.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
Labels: Component - Examples, Feature

#572 feat!: StraightLineStepper uses FreeVector as internal state
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Improvement

#586 fix: Fix linearization point updates in AMVFitter
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: Bug, Component - Core

#594 fix: Geometry context in Json converter
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
Labels: Bug, Component - Examples, Component - Plugins, Impact - Minor

#507 feat: Add ONNX plugin and ML-based track classifier example
  CMakeLists.txt
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Run/Reconstruction/Common/CMakeLists.txt
  Examples/Run/Reconstruction/Common/MLAmbiguityResolutionDemo.onnx
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Plugins/CMakeLists.txt
  Plugins/Onnx/CMakeLists.txt
  Plugins/Onnx/include/Acts/Plugins/Onnx/MLTrackClassifier.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/src/MLTrackClassifier.cpp
  Plugins/Onnx/src/OnnxRuntimeBase.cpp
  cmake/FindOnnxRuntime.cmake
Labels: Component - Examples, Component - Plugins, Feature

#601 feat: Introduce Adaptive gaussian track density vertex seed finder
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, Feature

#604 fix(fatras): use correct global-to-local result for material lookup
  Fatras/include/ActsFatras/Kernel/detail/Interactor.hpp
Labels: Bug, Impact - Minor
