Repository acts-project/acts, pull requests merged in 2020-07, with the labels that each got.

#278 Rework GeometryHierarchyMap and add Json conversion
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Geometry/GeometryID.hpp
  Core/include/Acts/Geometry/HierarchicalGeometryContainer.hpp
  Core/include/Acts/Geometry/detail/DefaultGeometryIdGetter.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Tests/Data/geometry-hierarchy-map.json
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/GeometryHierarchyMapTests.cpp
  Tests/UnitTests/Core/Geometry/HierarchicalGeometryContainerTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/GeometryHierarchyMapJsonConverterTests.cpp
  docs/formats/formats.rst
  docs/formats/json_geometry_hierarchy_map.rst
  docs/index.rst
Labels: Component - Core, Component - Plugins, Improvement

#289 Remove TrackState
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/TrackState.hpp
  Core/include/Acts/EventData/TrackStateSorters.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackStateTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataViewBase.hpp
Labels: Component - Core, Impact - Minor, Improvement

#299 Make the material classification numbers an opaque vector
  Core/include/Acts/Material/Material.hpp
  Core/src/Material/Material.cpp
  Tests/UnitTests/Core/Material/MaterialTests.cpp
Labels: Component - Core, Improvement

#296 Some small vertexing fixes
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
Labels: Bug, Component - Core, Component - Examples, Impact - Minor

#301 Fix even more compiler warnings
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
Labels: Bug, Component - Core, Impact - Minor

#304 Fix compiler warnings (final, version N, with sparkles)
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Visualization/GeometryView.hpp
  Examples/Detectors/DD4hepDetector/include/ACTFW/DD4hepDetector/DD4hepGeometryService.hpp
Labels: Bug, Component - Core, Impact - Minor

#309 Fix Result constructor
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Utilities/Result.hpp
Labels: Bug, Component - Core, Impact - Minor

#308 Introduce image versions to all jobs
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  docs/getting_started.md
Labels: Infrastructure

#311 Fix pattern for which branches trigger WF on PR
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Labels: Bug, Impact - Major, Infrastructure

#267 Fix installed CMake config
  .github/workflows/builds.yml
  CMakeLists.txt
  Core/CMakeLists.txt
  Fatras/CMakeLists.txt
  Plugins/CMakeLists.txt
  Plugins/Legacy/CMakeLists.txt
  Tests/DownstreamProject/CMakeLists.txt
  Tests/DownstreamProject/README.md
  Tests/DownstreamProject/ShowActsVersion.cpp
  cmake/ActsComponentsHelpers.cmake
  cmake/ActsConfig.cmake.in
  cmake/ActsCreatePackageConfig.cmake
  cmake/ActsOptionHelpers.cmake
  cmake/ActsRetrieveVersion.cmake
  cmake/FindEigen.cmake
Labels: Bug, Impact - Major, Infrastructure

#306 Introduce magnetic field caching in vertexing and remove refitAfterBadVertex option
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
Labels: Component - Core, Component - Examples, Improvement

#312 Bump CI container images to v3
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Labels: Improvement, Infrastructure

#310 Backport v0.27: Introduce bfield caching in vertexing and remove refitAfterBadVertex AMVF option
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
Labels: Component - Core, Component - Examples, Improvement

#307 fix CUDA kernel syncthread usage
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Seedfinder.ipp
  Plugins/Cuda/src/Seeding/Kernels.cu
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedfinderCudaTest.cpp
Labels: Bug, Component - Plugins, Impact - Minor

#297 Stepper update methods without BoundParameters
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/detail/coordinate_transformations.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Improvement

#315 Add a job that measures build memory consumption and time
  .github/workflows/analysis.yml
Labels: Infrastructure

#316 Small CMake fixes
  CMakeLists.txt
  docs/getting_started.md
Labels: Infrastructure

#317 Json converter fix
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
Labels: Bug, Component - Plugins, Impact - Minor, Improvement

#305 Add UnitTest for Volume
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Labels: Component - Core, Improvement

#313 Add latest release and CI badge, fix dfelibs URL
  README.md
Labels: Component - Documentation, Improvement

#320 Refactor the track parameters concepts
  Core/include/Acts/EventData/ParameterConcept.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/src/EventData/ChargedTrackParameters.cpp
  Core/src/EventData/NeutralTrackParameters.cpp
Labels: Component - Core, Improvement

#322 Consistent nested track parameters vector/matrix types
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/SingleTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Fitter/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Examples/Framework/include/ACTFW/Validation/ResPlotTool.hpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataViewBase.hpp
Labels: Component - Core, Improvement

#272 Introduce volume oriented Measurements
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/detail/fittable_type_generator.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Examples/Framework/include/ACTFW/EventData/SimSourceLink.hpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/PlanarModuleCluster.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Tests/UnitTests/Core/EventData/FittableTypeTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementHelpersTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataViewBase.hpp
Labels: Component - Core, Improvement

#324 Add print helpers for track parameters
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/SingleTrackParameters.hpp
  Core/include/Acts/EventData/detail/PrintParameters.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/PrintParameters.cpp
Labels: Component - Core, Improvement

#300 Allow navigation initialisation from a given volume
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Improvement

#319 Reinitialisation methods for state objects
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Improvement

#334 Add benchmark for AnnulusBounds
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
Labels: Improvement

#331 Switch TGeo parsing/matching to VolumeName instead of NodeName
  Plugins/TGeo/src/TGeoParser.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
Labels: Component - Plugins, Improvement

#338 Fix number of columns for projectors
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: Bug, Component - Core, Improvement

#318 Release workflow update
  .github/workflows/release.yml
  CI/README.md
  CI/coverage_environment.sh
  CI/deploy_tag.py
  CI/gitlab_helpers.py
  CI/incremental_prev_tag.py
  CI/make_release.py
  CI/make_report.py
  CI/poetry.lock
  CI/publish_coverage.py
  CI/pyproject.toml
  CI/release.py
  CI/release_notes.py
  CI/requirements.txt
  CI/static_analysis_results.py
  CI/sync_releases.py
  CI/util.py
Labels: Infrastructure

#335 Fix the CKF example options
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
Labels: Bug, Component - Examples, Impact - Minor

#340 Tgeo: allow volume search
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/TGeoDetectorOptions.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
  Plugins/TGeo/src/TGeoParser.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoLayerBuilderTests.cpp
Labels: Component - Examples, Improvement

#303 Remove SpacePoint
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/LinearizedTrack.hpp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/Vertex.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
Labels: Component - Core, Improvement

#342 Remove intersection estimate
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/include/Acts/Surfaces/detail/PlaneSurface.ipp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Plugins/Digitization/src/PlanarModuleStepper.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Labels: Component - Core, Improvement

#337 Use ATLAS CSV reference data in vertexing unit tests
  Tests/Data/vertexing_event_mu20_beamspot.csv
  Tests/Data/vertexing_event_mu20_tracks.csv
  Tests/Data/vertexing_event_mu20_vertices_AMVF.csv
  Tests/UnitTests/Core/Vertexing/AMVFTestData.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/VertexingDataHelper.hpp
Labels: Component - Core, Impact - Minor, Improvement

#343 Workaround for building on clang and libstdc++ (part 2)
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/include/Acts/Utilities/detail/ReferenceWrapperAnyCompat.hpp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
Labels: Bug, Component - Core, Impact - Minor

#345 Add local-global roundtrip tests for surfaces
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
Labels: Component - Core, Improvement

#339 Fix parameter dimension in MultiTrajectory
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: Component - Core, Improvement, Needs Decision

#346 Fix of the jsonToBinUtility
  Plugins/Json/src/JsonGeometryConverter.cpp
Labels: Bug, Component - Plugins, Impact - Major

#325 RootTrajectoryWriter cleanup
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/ParameterSet.hpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
Labels: Component - Core, Component - Examples, Improvement

#352 Fix usage of Boost.Test header in MaterialMapUtilsTest
  Tests/UnitTests/Core/Utilities/MaterialMapUtilsTests.cpp
Labels: Bug, Component - Core, Impact - Major

#351 CI job to check for BOOST_TEST macro usage
  .github/workflows/checks.yml
  CI/check_boost_test_macro.sh
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/Assertions.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
  Tests/UnitTests/Core/Geometry/ConeVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GeometryHierarchyMapTests.cpp
  Tests/UnitTests/Core/Geometry/GeometryIDTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceBinningMatcherTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/InteractionsTests.cpp
  Tests/UnitTests/Core/Material/MaterialCompositionTests.cpp
  Tests/UnitTests/Core/Material/MaterialPropertiesTests.cpp
  Tests/UnitTests/Core/Material/MaterialTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Utilities/LoggerTests.cpp
  Tests/UnitTests/Core/Utilities/MultiIndexTests.cpp
  Tests/UnitTests/Core/VersionTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Fatras/EventData/BarcodeTests.cpp
  Tests/UnitTests/Fatras/EventData/HitTests.cpp
  Tests/UnitTests/Fatras/EventData/ParticleTests.cpp
  Tests/UnitTests/Fatras/Kernel/InteractorTests.cpp
  Tests/UnitTests/Fatras/Kernel/PhysicsListTests.cpp
  Tests/UnitTests/Fatras/Kernel/ProcessTests.cpp
  Tests/UnitTests/Fatras/Physics/EnergyLossTests.cpp
  Tests/UnitTests/Fatras/Physics/ScatteringTests.cpp
  Tests/UnitTests/Fatras/Selectors/ChargeSelectorsTests.cpp
  Tests/UnitTests/Fatras/Selectors/LimitSelectorsTests.cpp
  Tests/UnitTests/Fatras/Selectors/PdgSelectorsTests.cpp
  Tests/UnitTests/Fatras/Selectors/SelectorHelpersTests.cpp
  Tests/UnitTests/Fatras/Utilities/ParticleDataTests.cpp
  Tests/UnitTests/Plugins/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Plugins/Json/GeometryHierarchyMapJsonConverterTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoPrimitivesHelperTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
Labels: Infrastructure

#355 Fix mapping of multiple volumes
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Bug, Component - Core, Impact - Minor

#358 fix order by radius expected in sp input
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: Bug

#356 Add local to global trandform to BinUtility
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/src/Material/MaterialGridHelper.cpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Core/Utilities/BinUtilityTests.cpp
Labels: Component - Core, Component - Plugins, Impact - Minor, Improvement

#360 Json bin initialisation for rectangle bound
  Plugins/Json/src/JsonGeometryConverter.cpp
Labels: Component - Plugins, Impact - Minor, Improvement
