Repository acts-project/acts, pull requests merged in 2020-06, with the labels that each got.

#230 Fix bound parameters visualization
  Core/include/Acts/Visualization/EventDataVisualization.hpp
Labels: Bug, Component - Core, Impact - Minor

#223 Add vertexing tutorial
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/TutorialAMVFAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TutorialAMVFAlgorithm.cpp
  Examples/Run/Vertexing/AdaptiveMultiVertexFinderExample.cpp
  Examples/Run/Vertexing/CMakeLists.txt
  Examples/Run/Vertexing/IterativeVertexFinderExample.cpp
  Examples/Run/Vertexing/TutorialAMVFExample.cpp
  Examples/Run/Vertexing/VertexAndTracksReaderAndFinderExample.cpp
  docs/howto/howto.rst
  docs/howto/setup_and_run_vertexing.md
Labels: Improvement

#235 Replace auto keywords in KalmanVertexUpdaters by explicit types
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, Impact - Minor, Improvement

#239 Add a test data directory
  CMakeLists.txt
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.hpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/Data/README.md
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PrintDataDirectory.cpp
  cmake/FindFilesystem.cmake
Labels: Impact - Minor, Infrastructure, New Feature

#240 Untemplate methods in TrackingVolume
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/detail/TrackingVolume.ipp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Improvement

#242 Use std::filesystem instead of boost::filesystem
  CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Framework/src/Utilities/Paths.cpp
  docs/getting_started.md
Labels: Component - Examples, Impact - Minor, Improvement

#246 ProtoLayer/Extent changes
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/ProtoLayer.cpp
Labels: Improvement

#247 ProtoLayer/Extent changes (backport)
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/ProtoLayer.cpp
Labels: Improvement

#249 Add configuration for stale bot
  .github/stale.yml
Labels: Impact - Major, Infrastructure, New Feature

#248 Run CI on release branches
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Labels: Impact - Minor, Improvement, Infrastructure

#125 Add derivative of track parameters to alignment parameters
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Fitter/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/AlignmentHelper.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/PlaneSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/include/Acts/Utilities/AlignmentDefinitions.hpp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/Surface.cpp
  Core/src/Surfaces/detail/AlignmentHelper.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Labels: Component - Core, Impact - Major, New Feature

#229 Do not default-construct the stepper field input
  Core/include/Acts/MagneticField/SharedBField.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
Labels: Bug, Component - Core, Impact - Minor

#253 Change stalebot days until close time
  .github/stale.yml
Labels: Improvement, Infrastructure

#233 Add track EDM visualization
  Core/include/Acts/Visualization/EventDataVisualization.hpp
  Tests/UnitTests/Core/Visualization/EventDataVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/EventDataVisualizationTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#255 Change seed vertex break condition in AMVF
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Bug, Component - Core, Impact - Minor

#250 Backport: Change seed vertex break condition in AMVF
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Bug, Component - Core, Impact - Minor

#260 Adding SurfaceArray visualization
  Core/include/Acts/Visualization/EventDataVisualization.hpp
  Core/include/Acts/Visualization/GeometryVisualization.hpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/GeometryVisualization.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesVisualizationTests.cpp
  Tests/UnitTests/Core/Visualization/SurfaceVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/VolumeVisualizationBase.hpp
Labels: Component - Core, Improvement

#254 Set default build type to RelWithDebInfo
  cmake/ActsCompilerOptions.cmake
  docs/getting_started.md
Labels: Improvement

#257 Clean up the version header
  Core/ActsVersion.hpp.in
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/VersionTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#261 Fix CCVB outer disk boundary sized
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
Labels: Bug, Component - Core

#262 Remove non-core components from coverage build
  .github/workflows/coverage.yml
Labels: Infrastructure

#264 Fix CCVB outer disk boundary sized (backport of #261)
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
Labels: Bug

#231 Including FreeParameters in ParameterSet
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/ParameterSet.hpp
  Core/include/Acts/EventData/detail/full_parameter_set.hpp
  Core/include/Acts/EventData/detail/initialize_parameter_set.hpp
  Core/include/Acts/EventData/detail/residual_calculator.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#259 Drop the SLC6 build from CI
  .github/workflows/builds.yml
  docs/getting_started.md
Labels: Improvement, Infrastructure

#258 Update TGeometry parsing
  Core/include/Acts/Geometry/ProtoLayerHelper.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Visualization/GeometryVisualization.hpp
  Core/src/Geometry/ProtoLayerHelper.cpp
  Core/src/Visualization/GeometryVisualization.cpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/TGeoDetectorOptions.hpp
  Examples/Framework/include/ACTFW/Utilities/Options.hpp
  Examples/Framework/src/Utilities/Options.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Plugins/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/DD4hep/src/DD4hepVolumeBuilder.cpp
  Plugins/TGeo/CMakeLists.txt
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoDetectorElement.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoParser.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoPrimitivesHelper.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoPrimitivesHelpers.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoSurfaceConverter.hpp
  Plugins/TGeo/src/TGeoDetectorElement.cpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
  Plugins/TGeo/src/TGeoParser.cpp
  Plugins/TGeo/src/TGeoPrimitivesHelper.cpp
  Plugins/TGeo/src/TGeoSurfaceConverter.cpp
  Tests/Data/README.md
  Tests/Data/panda.root
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/TGeo/CMakeLists.txt
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoPrimitivesHelperTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
  docs/figures/plugins/tgeo/TGeoArb8_PlaneSurface.png
  docs/figures/plugins/tgeo/TGeoBBox_PlaneSurface.png
  docs/figures/plugins/tgeo/TGeoTrd1_PlaneSurface.png
  docs/figures/plugins/tgeo/TGeoTrd2_PlaneSurface_xz.png
  docs/figures/plugins/tgeo/TGeoTrd2_PlaneSurface_yz.png
  docs/figures/plugins/tgeo/TGeoTube_CylinderSurface.png
  docs/figures/plugins/tgeo/TGeoTube_DiscSurface.png
  docs/plugins/tgeo.rst
Labels: Bug, Component - Core, Component - Plugins

#256 Contribution guide change
  CONTRIBUTING.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Labels: Component - Documentation, Improvement

#274 AMVF timing performance upgrades
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/TrackDensity.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/GaussianTrackDensity.cpp
  Core/src/Vertexing/TrackDensity.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  docs/howto/setup_and_run_vertexing.md
Labels: Component - Core, Component - Documentation, Component - Examples, Improvement

#277 More AMVF performance upgrades
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, Improvement

#276 fixed two bug for the GeantinoRecording
  Examples/Algorithms/Geant4/src/EventAction.cpp
  Examples/Algorithms/Geant4/src/GeantinoRecording.cpp
  Examples/Run/Geant4/RunSimGeantinoRecording.cpp
Labels: Bug, Component - Examples, Impact - Major

#251 Remove unnecessary/unused elements from (C)KF
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Fitter/detail/VoidKalmanComponents.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithmFitterFunction.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmTrackFinderFunction.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataVisualizationBase.hpp
Labels: Component - Core, Improvement

#283 Check for removable tracks in GridDensityVertexFinder
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
Labels: Component - Core, Improvement

#284 Improvement of the Mapping Example
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/MaterialMappingOptions.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
Labels: Component - Examples, Impact - Minor, Improvement

#281 Fix Volume material mapping
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/src/Material/AccumulatedVolumeMaterial.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Bug, Component - Core, Impact - Minor

#282 Fix narrowing conversions in Result Test
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
Labels: Improvement

#268 Using ParameterSet in SingleFreeTrackParameters
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#286 Add Vector4 types
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/detail/coordinate_transformations.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DefaultExtension.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/include/Acts/Utilities/Definitions.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Examples/Algorithms/Generators/ACTFW/Generators/EventGenerator.hpp
  Examples/Algorithms/Generators/ACTFW/Generators/VertexGenerators.hpp
  Fatras/include/ActsFatras/EventData/Hit.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
  Tests/UnitTests/Core/EventData/MeasurementHelpersTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
  Tests/UnitTests/Core/EventData/TrackStateTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryCheckTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataViewBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesViewBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesViewTests.cpp
  docs/codeguide.md
  docs/core/eventdata.md
Labels: Component - Core, Improvement

#279 Fix assorted compiler warnings
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Fitter/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Geometry/ConeVolumeBounds.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/ProtoLayerHelper.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/InterpolatedMaterialMap.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Utilities/UnitVectors.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
Labels: Bug, Component - Core, Impact - Minor

#291 Adding MeasurementHelpers and GainMatrix cpp files
  Core/CMakeLists.txt
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/MeasurementHelpers.cpp
  Core/src/Fitter/CMakeLists.txt
  Core/src/Fitter/GainMatrixSmoother.cpp
  Core/src/Fitter/GainMatrixUpdater.cpp
Labels: Component - Core, Impact - Minor, Improvement

#288 Howto for material mapping
  docs/howto/howto.rst
  docs/howto/run_material_mapping.rst
Labels: Component - Documentation, Impact - Minor, New Feature

#295 Fix compiler warning in VerticesHelper
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/VerticesHelper.cpp
Labels: Bug, Component - Core, Impact - Minor

#287 Removed the material decoration in the DD4hep Plugin
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepVolumeBuilder.cpp
Labels: Component - Plugins, Impact - Minor, Improvement

#290 Adding SurfaceBinningMatcher & Tests, adapt TGeoBuilder
  Core/include/Acts/Geometry/SurfaceBinningMatcher.hpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/TGeoDetectorOptions.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/SurfaceBinningMatcherTests.cpp
Labels: Component - Core, Improvement
