Repository acts-project/acts, pull requests merged in 2020-10, with the labels that each got.

#384 feat: Add an Autodiff Plugin
  CMakeLists.txt
  Core/include/Acts/Propagator/DefaultExtension.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Plugins/Autodiff/CMakeLists.txt
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  Plugins/CMakeLists.txt
  README.md
  Tests/IntegrationTests/Autodiff/CMakeLists.txt
  Tests/IntegrationTests/Autodiff/PropagationAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationAutodiffDenseConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareAtlasAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareEigenAutodiff.cpp
  Tests/IntegrationTests/CMakeLists.txt
  thirdparty/README.md
  thirdparty/autodiff/CMakeLists.txt
  thirdparty/autodiff/autodiff/BUILD
  thirdparty/autodiff/autodiff/CMakeLists.txt
  thirdparty/autodiff/autodiff/common/eigen.hpp
  thirdparty/autodiff/autodiff/common/meta.hpp
  thirdparty/autodiff/autodiff/forward.hpp
  thirdparty/autodiff/autodiff/forward/eigen.hpp
  thirdparty/autodiff/autodiff/forward/forward.hpp
  thirdparty/autodiff/autodiff/reverse.hpp
  thirdparty/autodiff/autodiff/reverse/eigen.hpp
  thirdparty/autodiff/autodiff/reverse/reverse.hpp
  thirdparty/autodiff/cmake/CCache.cmake
  thirdparty/autodiff/cmake/CondaAware.cmake
  thirdparty/autodiff/cmake/autodiffConfig.cmake.in
  thirdparty/autodiff/cmake/autodiffInstallCMakeConfigFiles.cmake
Labels: Component - Plugins, Feature

#498 fix(examples): correct particle construction parameter order in Pythia8 generator
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
Labels: Bug, Impact - Major

#501 fix: Fix navigation when collecting surface in tracking volume hierarchy
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Bug, Component - Core, Impact - Major

#514 fix: Fix FPE overflow issue
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/detail/LoopProtection.hpp
  Core/include/Acts/Utilities/AnnealingUtility.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/src/Utilities/AnnealingUtility.cpp
Labels: Bug, Component - Core, Impact - Critical

#398 feat: Cuda Plugin Improvements, master branch (2020.08.26.)
  Plugins/Cuda/CMakeLists.txt
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/FindTriplets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/Types.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/Arrays.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/Info.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/MemoryManager.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/StreamWrapper.hpp
  Plugins/Cuda/src/Seeding2/CountDublets.cu
  Plugins/Cuda/src/Seeding2/FindTriplets.cu
  Plugins/Cuda/src/Utilities/Arrays.cu
  Plugins/Cuda/src/Utilities/Info.cu
  Plugins/Cuda/src/Utilities/MemoryManager.cu
  Plugins/Cuda/src/Utilities/StreamHandlers.cuh
  Plugins/Cuda/src/Utilities/StreamWrapper.cu
  Tests/UnitTests/Plugins/Cuda/Seeding2/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/CommandLineArguments.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
Labels: Component - Plugins, Improvement

#515 fix: globalToLocal failure for some truth hits
  Examples/Algorithms/Digitization/src/HitSmearing.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
Labels: Bug, Component - Examples

#524 refactor(examples): Rename HepMC3 subfolder
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Event.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Particle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Vertex.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Vertex.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Run/HepMC3/HepMC3Example.cpp
Labels: Component - Examples, Improvement

#526 chore(core): include-what-you-use EventData (1/X)
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/detail/TransformationFreeToBound.hpp
  Core/src/EventData/PrintParameters.cpp
  Core/src/EventData/TransformationBoundToFree.cpp
  Core/src/EventData/TransformationFreeToBound.cpp
Labels: Component - Core, Improvement

#500 refactor!: split fit/alignment derivatives calculation
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core, Improvement

#535 fix(examples): Missing digitization output collections
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Examples/Run/Fatras/Common/FatrasDigitization.cpp
Labels: Bug, Component - Examples, Impact - Minor

#529 chore(core): include-what-you-use Material (4/X)
  Core/include/Acts/Material/AccumulatedMaterialSlab.hpp
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/AverageMaterials.cpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/HomogeneousSurfaceMaterial.cpp
  Core/src/Material/HomogeneousVolumeMaterial.cpp
  Core/src/Material/Interactions.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/MaterialSlab.cpp
  Core/src/Material/ProtoSurfaceMaterial.cpp
  Core/src/Material/ProtoVolumeMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Component - Core, Improvement

#528 chore(core): include-what-you-use MagneticField (3/X)
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/MagneticField/SolenoidBField.cpp
Labels: Component - Core, Improvement

#523 fix: Only write boundary surface associated to curent volume
  Plugins/Json/src/JsonGeometryConverter.cpp
Labels: Bug, Component - Plugins, Impact - Major

#536 docs: update how-to guide for (C)KF reconstruction
  docs/howto/run_ckf_tracking.rst
  docs/howto/run_fatras.rst
  docs/howto/run_truth_tracking.rst
Labels: Component - Documentation

#530 fix: (C)KF material contribution to covariance matrix
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Bug

#516 feat: Geant4 event recording
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Geant4HepMC/CMakeLists.txt
  Examples/Algorithms/Geant4HepMC/include/ActsExamples/Geant4HepMC/EventRecording.hpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.hpp
  Examples/Algorithms/Geant4HepMC/src/EventRecording.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.cpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.hpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.hpp
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Run/Geant4/CMakeLists.txt
  Examples/Run/Geant4/HepMC/CMakeLists.txt
  Examples/Run/Geant4/HepMC/EventRecordingExample.cpp
Labels: Component - Examples, Feature

#542 feat: Digitization 1, two-dimensional channelizer
  Core/include/Acts/Surfaces/detail/IntersectionHelper2D.hpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/IntersectionHelper2D.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/DigitizationData.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/DigitizationError.cpp
  Fatras/src/EventData/Particle.cpp
  Fatras/src/EventData/ProcessType.cpp
  Fatras/src/Kernel/SimulatorError.cpp
  Fatras/src/Physics/StandardPhysicsLists.cpp
  Fatras/src/Utilities/LandauDistribution.cpp
  Fatras/src/Utilities/ParticleData.cpp
  Fatras/src/Utilities/ParticleDataTable.hpp
  Tests/UnitTests/Core/Surfaces/IntersectionHelper2DTests.cpp
  Tests/UnitTests/Fatras/Digitization/BoundRandomValues.hpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
Labels: Bug, Component - Fatras, Improvement

#543 refactor(Examples): Simplify root trajectory writer
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryWriter.hpp
  Examples/Io/Root/src/RootTrajectoryParametersWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Examples/Run/Reconstruction/RecCKFTracks.cpp
  Examples/Run/Reconstruction/RecTruthTracks.cpp
  Examples/Scripts/boundParamResolution.C
Labels: Component - Examples, Impact - Minor, Improvement

#534 refactor!: Simplify interface for jacobian between local and global parameters
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/Surface.cpp
Labels: Component - Core, Improvement

#549 perf: allow reco for DD4hep detector
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvOptionsReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvOptionsWriter.hpp
  Examples/Io/Csv/src/CsvOptionsReader.cpp
  Examples/Io/Csv/src/CsvOptionsWriter.cpp
  Examples/Run/Fatras/Common/FatrasSimulation.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/Common/CMakeLists.txt
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.hpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.hpp
  Examples/Run/Reconstruction/DD4hep/CMakeLists.txt
  Examples/Run/Reconstruction/DD4hep/DD4hepRecCKFTracks.cpp
  Examples/Run/Reconstruction/DD4hep/DD4hepRecTruthTracks.cpp
  Examples/Run/Reconstruction/GenericRecCKFTracks.cpp
  Examples/Run/Reconstruction/GenericRecTruthTracks.cpp
  docs/howto/run_ckf_tracking.rst
  docs/howto/run_truth_tracking.rst
Labels: Component - Examples, Impact - Minor, Improvement

#546 feat: Digitization 2, introduce SurfaceMasker
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/DigitizationError.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/DigitizationError.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Tests/UnitTests/Core/Surfaces/DiscTrapezoidBoundsTests.cpp
  Tests/UnitTests/Fatras/Digitization/BoundRandomValues.hpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/DigitizationCsvOutput.hpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceMaskTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceTestBeds.hpp
Labels: Bug, Component - Fatras, Improvement
