Repository acts-project/acts, pull requests merged in 2020-05, with the labels that each got.

#71 MultiTrajectory improvements
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: Improvement

#167 Add index-based access to HierarchicalGeometryContainer
  Core/include/Acts/Geometry/HierarchicalGeometryContainer.hpp
  Tests/UnitTests/Core/Geometry/HierarchicalGeometryContainerTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#170 Add duplication plot tool
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ACTFW/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/EffPlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/FakeRatePlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/ResPlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakeRatePlotTool.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
Labels: Component - Examples, Impact - Minor, Improvement

#172 Return ERROR for target surface reaching failure in CKF
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
Labels: Bug, Component - Core, Impact - Minor

#168 Use HierarchicalGeometryContainer to simplfiy CKF source link selection
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#179 Fix the macOS CI build
  .github/workflows/builds.yml
Labels: Infrastructure

#181 Reduce size of debug symbols in coverage job
  .github/workflows/coverage.yml
Labels: Improvement

#184 Backport v0.22 bug fix: Inlining non-templated function definition in header
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
Labels: Bug

#183 Bug fix: Inlining non-templated function definition in header
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
Labels: Bug, Component - Core, Impact - Minor

#182 Dummy calorimeter
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/compact/Calorimeter/Calorimeter_LAR.xml
  Examples/Detectors/DD4hepDetector/compact/materials.xml
  Examples/Detectors/DD4hepDetector/src/Calorimeter/Calorimeter_barrel.cpp
Labels: Component - Examples, Impact - Minor, New Feature

#158 Examples material mapping
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/Geant4/src/MMSteppingAction.cpp
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/MaterialMappingOptions.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Algorithms/Propagation/include/ACTFW/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Propagation/include/ACTFW/Propagation/PropagationAlgorithm.ipp
  Examples/Io/Root/include/ACTFW/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ACTFW/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot_ratio.C
  Examples/Scripts/MaterialMaping/configureMap.py
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Plugins/Json/JsonConversionTest.cpp
Labels: Component - Core, Component - Examples, New Feature

#127 Fix ITk navigation
  Core/include/Acts/Geometry/AbstractVolume.hpp
  Core/include/Acts/Geometry/Polyhedron.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/include/Acts/Surfaces/detail/PlaneSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/Polyhedron.cpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/StrawSurface.cpp
  Examples/Detectors/GenericDetector/include/ACTFW/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/TGeoDetectorOptions.hpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/PolyhedronTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/VerticesHelperTests.cpp
Labels: Bug, Component - Examples

#174 Build DD4hep in the CI jobs
  .github/workflows/builds.yml
  .github/workflows/coverage.yml
  CMakeLists.txt
  Examples/Algorithms/DD4hepG4/CMakeLists.txt
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Detectors/Common/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/src/Calorimeter/Calorimeter_barrel.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/ZPlanarTracker_geo.cpp
  Examples/Run/Fatras/DD4hep/CMakeLists.txt
  Examples/Run/Geometry/DD4hep/CMakeLists.txt
  Examples/Run/MaterialMapping/DD4hep/CMakeLists.txt
  Examples/Run/MaterialMapping/GeantinoRecording/CMakeLists.txt
  Examples/Run/Propagation/DD4hep/CMakeLists.txt
  Plugins/DD4hep/CMakeLists.txt
Labels: Impact - Minor, Infrastructure

#187 Refactor Geant4 modules
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/DD4hepG4/include/ACTFW/Plugins/DD4hepG4/DD4hepToG4Svc.hpp
  Examples/Algorithms/DD4hepG4/include/ACTFW/Plugins/DD4hepG4/GeoConstruction.hpp
  Examples/Algorithms/DD4hepG4/src/DD4hepToG4Svc.cpp
  Examples/Algorithms/DD4hepG4/src/GeoConstruction.cpp
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ACTFW/Plugins/Geant4/MMDetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ACTFW/Plugins/Geant4/MMEventAction.hpp
  Examples/Algorithms/Geant4/include/ACTFW/Plugins/Geant4/MMPrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4/include/ACTFW/Plugins/Geant4/MMSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GdmlDetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GeantinoRecording.hpp
  Examples/Algorithms/Geant4/src/EventAction.cpp
  Examples/Algorithms/Geant4/src/EventAction.hpp
  Examples/Algorithms/Geant4/src/GdmlDetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/GeantinoRecording.cpp
  Examples/Algorithms/Geant4/src/MMDetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/MMEventAction.cpp
  Examples/Algorithms/Geant4/src/MMPrimaryGeneratorAction.cpp
  Examples/Algorithms/Geant4/src/PrimaryGeneratorAction.cpp
  Examples/Algorithms/Geant4/src/PrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4/src/RunAction.cpp
  Examples/Algorithms/Geant4/src/RunAction.hpp
  Examples/Algorithms/Geant4/src/SteppingAction.cpp
  Examples/Algorithms/Geant4/src/SteppingAction.hpp
  Examples/Algorithms/Geant4DD4hep/CMakeLists.txt
  Examples/Algorithms/Geant4DD4hep/include/ActsExamples/Geant4DD4hep/DD4hepDetectorConstruction.hpp
  Examples/Algorithms/Geant4DD4hep/src/DD4hepDetectorConstruction.cpp
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/GeantinoRecording.hpp
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/include/ACTFW/MaterialMapping/MaterialMappingOptions.hpp
  Examples/Algorithms/MaterialMapping/src/GeantinoRecording.cpp
  Examples/Run/CMakeLists.txt
  Examples/Run/Geant4/CMakeLists.txt
  Examples/Run/Geant4/RunSimGeantinoRecording.cpp
  Examples/Run/MaterialMapping/CMakeLists.txt
  Examples/Run/MaterialMapping/GeantinoRecording/CMakeLists.txt
  Examples/Run/MaterialMapping/GeantinoRecording/GeantinoRecordingExample.cpp
Labels: Component - Examples, Impact - Minor, Improvement

#192 Clean up BenchmarkTool statistics
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/BenchmarkTools.hpp
  Tests/UnitTests/Benchmarks/BenchmarkTools.cpp
Labels: Bug, Component - Core, Impact - Minor, Triage

#191 Fix the smoothing gain matrix
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
Labels: Bug, Component - Core, Impact - Minor

#169 Extend TruthFitTrack for CKF results
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithm.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ACTFW/EventData/SimMultiTrajectory.hpp
  Examples/Framework/include/ACTFW/EventData/Track.hpp
  Examples/Framework/include/ACTFW/EventData/TruthFitTrack.hpp
  Examples/Framework/src/EventData/SimMultiTrajectory.cpp
  Examples/Io/Performance/ACTFW/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
Labels: Component - Core, Component - Examples, Impact - Minor, Improvement

#90 GaussianGridTrackDensity Vertex Finder
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/VertexFinderConcept.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ACTFW/Vertexing/VertexFitAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/VertexFindingAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: New Feature

#196 Boundary surface orientation synchronisation
  Core/include/Acts/Geometry/AbstractVolume.hpp
  Core/include/Acts/Geometry/ApproachDescriptor.hpp
  Core/include/Acts/Geometry/BoundarySurfaceFace.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/ConeLayer.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CutoutCylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/CylinderVolumeHelper.hpp
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/GenericApproachDescriptor.hpp
  Core/include/Acts/Geometry/GenericCuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Geometry/GeometryStatics.hpp
  Core/include/Acts/Geometry/GlueVolumesDescriptor.hpp
  Core/include/Acts/Geometry/HierarchicalGeometryContainer.hpp
  Core/include/Acts/Geometry/IConfinedTrackingVolumeBuilder.hpp
  Core/include/Acts/Geometry/ILayerArrayCreator.hpp
  Core/include/Acts/Geometry/ILayerBuilder.hpp
  Core/include/Acts/Geometry/ITrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/ITrackingVolumeArrayCreator.hpp
  Core/include/Acts/Geometry/ITrackingVolumeBuilder.hpp
  Core/include/Acts/Geometry/ITrackingVolumeHelper.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/LayerArrayCreator.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Geometry/PassiveLayerBuilder.hpp
  Core/include/Acts/Geometry/PlaneLayer.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/TrackingVolumeArrayCreator.hpp
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Geometry/AbstractVolume.cpp
  Core/src/Geometry/BinUtility.cpp
  Core/src/Geometry/ConeLayer.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeBoundsTests.cpp
  Tests/UnitTests/Core/Utilities/BFieldMapUtilsTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#206 Remove smaller/bigger macros cherry pick
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/CylinderVolumeHelper.hpp
  Core/include/Acts/Geometry/LayerArrayCreator.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/src/Geometry/CylinderVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
Labels: Component - Core, Impact - Minor, Improvement

#208 ActsSimGeantinoRecording example fixes
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GeantinoRecording.hpp
  Examples/Algorithms/Geant4/src/GeantinoRecording.cpp
  Examples/Detectors/DD4hepDetector/include/ACTFW/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Run/Geant4/RunSimGeantinoRecording.cpp
Labels: Bug, Component - Examples, Impact - Major

#201 Use white vector logo in docs
  docs/_static/custom.css
  docs/conf.py
  docs/figures/acts_logo_white.svg
Labels: Improvement

#171 Add CKF example
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ACTFW/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmTrackFinderFunction.cpp
  Examples/Algorithms/TruthTracking/ACTFW/TruthTracking/TruthSeedSelector.cpp
  Examples/Algorithms/TruthTracking/ACTFW/TruthTracking/TruthSeedSelector.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Framework/include/ACTFW/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/FakeRatePlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/ResPlotTool.hpp
  Examples/Framework/include/ACTFW/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/FakeRatePlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Performance/ACTFW/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ACTFW/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Performance/ACTFW/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Performance/CMakeLists.txt
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/RecCKFTracks.cpp
Labels: Component - Examples, New Feature

#209 Bump bundled nlohmann::json to commit 84f19d6
  thirdparty/README.md
  thirdparty/nlohmann_json/LICENSE.MIT
  thirdparty/nlohmann_json/README.md
  thirdparty/nlohmann_json/appveyor.yml
  thirdparty/nlohmann_json/single_include/nlohmann/json.hpp
Labels: Bug, Impact - Minor

#211 Faster local documentation builds
  .github/workflows/builds.yml
  docs/CMakeLists.txt
  docs/Doxyfile
  docs/conf.py
  docs/getting_started.md
Labels: Component - Documentation, Impact - Minor, Improvement

#200 Introducing ConeVolumeBounds
  Core/include/Acts/Geometry/ConeVolumeBounds.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CutoutCylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/ConeVolumeBounds.cpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/ObjTestWriter.hpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/ConeVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/Visualization/VolumeVisualizationBase.hpp
Labels: Bug, Component - Core, Impact - Minor, Improvement

#210 Use template for source link container in CKF
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ACTFW/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmTrackFinderFunction.cpp
Labels: Component - Core, Component - Examples, Impact - Minor, Improvement

#213 Update magnetic field documentation page
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/SharedBField.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
  Tests/IntegrationTests/Magfield.ipynb
  docs/core/magnetic_field.rst
  docs/figures/bfield/field_cell.svg
  docs/figures/bfield/quiver.png
Labels: Improvement

#214 Add options for CKF example
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ACTFW/TrackFinding/TrackFindingOptions.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/RecCKFTracks.cpp
Labels: Component - Examples, Impact - Minor, Improvement

#212 Refactor surface sorting
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/include/Acts/Geometry/ProtoLayerHelper.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Geometry/ProtoLayerHelper.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
Labels: Component - Core, Impact - Major, Improvement

#215 Update the Getting-Started guide
  CMakeLists.txt
  README.md
  docs/getting_started.md
Labels: Component - Documentation, Impact - Major, Improvement

#217 `docker` -> `docker run`
  docs/getting_started.md
Labels: Bug

#218 Fix in doc installation description
  docs/getting_started.md
Labels: Bug

#216 Remove std::move in some HepMC3 code
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Run/HepMC3/HepMC3Example.cpp
Labels: Improvement

#222 Add a Howto guide for running Fatras examples
  docs/getting_started.md
  docs/howto/howto.rst
  docs/howto/run_fatras.rst
  docs/howto/run_truth_tracking.rst
Labels: Component - Documentation, Impact - Minor, Improvement

#225 Make the condition of equal operator of spacepoint tighter
  Tests/UnitTests/Core/Seeding/SpacePoint.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SpacePoint.hpp
Labels: Improvement

#224 Add How-to for CKF
  docs/figures/performance/CKF/duplicationrate_vs_eta_ttbar_pu200.png
  docs/figures/performance/CKF/fakerate_vs_eta_ttbar_pu200.png
  docs/figures/performance/CKF/trackeff_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/nHoles_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/nMeasurements_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/pull_perigee_parameters_ttbar_pu200.png
  docs/figures/performance/fitter/trackeff_vs_eta_ttbar_pu200.png
  docs/figures/performance/fitter/trackeff_vs_pT_ttbar_pu200.png
  docs/howto/howto.rst
  docs/howto/run_ckf_tracking.rst
  docs/howto/run_truth_tracking.rst
Labels: Component - Documentation, Impact - Minor, Improvement
