Repository acts-project/acts, pull requests merged in 2020-08, with the labels that each got.

#362 Initial step fix
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Bug, Component - Core

#361 Fix draw tracking volume invocation bug
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
Labels: Bug, Component - Examples, Impact - Minor

#354 Allow KF fit without target surface
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Fitter/KalmanFitterError.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilterError.hpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#365 Remove distance to boundary
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/LineBounds.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/RectangleBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/ConeBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConvexPolygonBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/DiamondBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscTrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/EllipseBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/InfiniteBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RadialBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RectangleBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core, Improvement

#359 Check the outlier before Kalman filtering
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#364 Introduce 2d intersection
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/IntersectionHelper2D.hpp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/include/Acts/Surfaces/detail/PlaneSurface.ipp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/IntersectionHelper2D.cpp
  Plugins/Digitization/src/PlanarModuleStepper.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/IntersectionHelper2DTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, Improvement

#366 Remove the restriction to issues
  .github/stale.yml
Labels: Infrastructure

#326 Add micro-benchmark for Ray and Frustum intersections
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/RayFrustumBenchmark.cpp
Labels: Component - Core, Improvement

#369 Fix volume material being double mapped on surface and volume
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Bug, Component - Core, Impact - Minor

#367 Specifying 3D in visualization
  Core/include/Acts/Geometry/CutoutCylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/GenericCuboidVolumeBounds.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  Core/include/Acts/Utilities/Frustum.hpp
  Core/include/Acts/Utilities/Frustum.ipp
  Core/include/Acts/Utilities/Ray.hpp
  Core/include/Acts/Utilities/Ray.ipp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/include/Acts/Visualization/IVisualization3D.hpp
  Core/include/Acts/Visualization/ObjVisualization3D.hpp
  Core/include/Acts/Visualization/PlyVisualization3D.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/include/Acts/Visualization/detail/PlyVisualization3D.ipp
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/EventDataView3D.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Core/src/Visualization/IVisualization3D.cpp
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/PolyhedronTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Utilities/FrustumTest.cpp
  Tests/UnitTests/Core/Utilities/RayTest.cpp
  Tests/UnitTests/Core/Visualization/CMakeLists.txt
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Core/Visualization/EventDataView3DTests.cpp
  Tests/UnitTests/Core/Visualization/PrimitivesView3DBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesView3DTests.cpp
  Tests/UnitTests/Core/Visualization/SurfaceView3DBase.hpp
  Tests/UnitTests/Core/Visualization/SurfaceView3DTests.cpp
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DBase.hpp
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DTests.cpp
  Tests/UnitTests/Core/Visualization/Visualization3DTester.hpp
  Tests/UnitTests/Core/Visualization/Visualization3DTests.cpp
  Tests/UnitTests/Core/Visualization/VolumeView3DBase.hpp
  Tests/UnitTests/Core/Visualization/VolumeView3DTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
  docs/core/visualization/visualization.rst
Labels: Component - Core, Improvement

#368 Add Track Seeding Documentation
  docs/conf.py
  docs/core/core.rst
  docs/core/seeding.rst
  docs/figures/seeding/3Dcoordinates.svg
  docs/figures/seeding/r-zCoordinates.svg
  docs/figures/seeding/x-yCoordinates.svg
Labels: Component - Documentation, Improvement

#348 Replace debugLog in propagation logging
  Core/CMakeLists.txt
  Core/include/Acts/Fitter/GainMatrixSmoother.hpp
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Propagator/detail/LoopProtection.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/include/Acts/Utilities/Logger.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/src/Fitter/CMakeLists.txt
  Core/src/Fitter/GainMatrixSmoother.cpp
  Core/src/Fitter/GainMatrixUpdater.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Core/src/Utilities/Logger.cpp
  Examples/Algorithms/Fitting/include/ACTFW/Fitting/FittingAlgorithm.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithm.cpp
  Examples/Algorithms/Fitting/src/FittingAlgorithmFitterFunction.cpp
  Examples/Algorithms/Propagation/include/ACTFW/Propagation/PropagationAlgorithm.ipp
  Examples/Algorithms/TrackFinding/include/ACTFW/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmTrackFinderFunction.cpp
  Examples/Algorithms/TruthTracking/ACTFW/TruthTracking/TruthVerticesToTracks.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitAlgorithm.cpp
  Examples/Run/Reconstruction/RecCKFTracks.cpp
  Examples/Run/Reconstruction/RecTruthTracks.cpp
  Fatras/include/ActsFatras/Kernel/Simulator.hpp
  Tests/Benchmarks/AtlasStepperBenchmark.cpp
  Tests/Benchmarks/EigenStepperBenchmark.cpp
  Tests/IntegrationTests/PropagationTestHelper.hpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/AbortListTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Improvement

#357 Add a CI job that builds the CUDA plugin
  .github/workflows/builds.yml
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Seedfinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CpuMatrix.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CpuScalar.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CpuVector.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaMatrix.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaVector.cu
  Plugins/Cuda/src/Seeding/Kernels.cu
Labels: Infrastructure

#375 Bugfix in TGeoDetectorOptions
  Examples/Detectors/TGeoDetector/include/ACTFW/TGeoDetector/TGeoDetectorOptions.hpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
Labels: Bug, Component - Examples

#370 Added volume id to the Material Track writing
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Root/include/ACTFW/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Examples/Scripts/MaterialMaping/Mat_map_detector_plot.C
  Examples/Scripts/MaterialMaping/Mat_map_detector_plot_ratio.C
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMaping/configureMap.py
  Examples/Scripts/MaterialMaping/materialPlotHelper.cpp
  Examples/Scripts/MaterialMaping/writeMapConfig.py
Labels: Component - Core, Component - Examples, Impact - Minor, Improvement

#378 Move Fatras Interactor into the detail namespace.
  Examples/Run/Fatras/Common/FatrasSimulationBase.cpp
  Fatras/include/ActsFatras/Kernel/SimulationResult.hpp
  Fatras/include/ActsFatras/Kernel/Simulator.hpp
  Fatras/include/ActsFatras/Kernel/detail/Interactor.hpp
  Fatras/include/ActsFatras/Selectors/SurfaceSelectors.hpp
  Fatras/include/ActsFatras/Selectors/detail/combine_selectors.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Fatras/Kernel/InteractorTests.cpp
Labels: Component - Fatras, Improvement

#376 Introduce GDML based GeantinoRecording example
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Options.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GeantinoRecording.hpp
  Examples/Algorithms/Geant4/src/Geant4Options.cpp
  Examples/Algorithms/Propagation/include/ACTFW/Propagation/PropagationOptions.hpp
  Examples/Run/Geant4/DD4hep/CMakeLists.txt
  Examples/Run/Geant4/DD4hep/DD4hepGeantinoRecording.cpp
  Examples/Run/Geant4/GdmlGeantinoRecording.cpp
  Examples/Run/Geant4/GeantinoRecordingBase.hpp
  Examples/Run/Geant4/RunSimGeantinoRecording.cpp
Labels: Component - Examples, Improvement

#381 Change policybot configuration: invalidate on push, contributors
  .policy.yml
Labels: Infrastructure

#373 Refactor the propagation integration tests
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDatasets.hpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationTestBase.hpp
  Tests/IntegrationTests/PropagationTestHelper.hpp
  Tests/IntegrationTests/PropagationTests.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/IntegrationTests/README.md
Labels: Component - Core, Improvement

#327 Simplify bound params (Part 1/2)
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleTrackParameters.hpp
  Core/include/Acts/EventData/detail/TransformationBoundToFree.hpp
  Core/include/Acts/EventData/detail/TransformationFreeToBound.hpp
  Core/include/Acts/EventData/detail/coordinate_transformations.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/TransformationBoundToFree.cpp
  Core/src/EventData/TransformationFreeToBound.cpp
  Core/src/Propagator/StraightLineStepper.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.ipp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVerticesToTracks.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Examples/Io/Root/src/RootVertexAndTracksReader.cpp
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackParametersTestData.hpp
  Tests/UnitTests/Core/EventData/TransformBoundToFreeTests.cpp
  Tests/UnitTests/Core/EventData/TransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Geometry/ConeLayerTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderLayerTests.cpp
  Tests/UnitTests/Core/Geometry/DiscLayerTests.cpp
  Tests/UnitTests/Core/Geometry/LayerTests.cpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Vertexing/VertexingDataHelper.hpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Improvement

#371 Add a "second" CUDA based SeedFinder implementation, master branch (2020.08.11.)
  CMakeLists.txt
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Plugins/Cuda/CMakeLists.txt
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/CountDublets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/FindDublets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/FindTriplets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/Types.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/TripletFilterConfig.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/Arrays.hpp
  Plugins/Cuda/src/Seeding2/CountDublets.cu
  Plugins/Cuda/src/Seeding2/FindDublets.cu
  Plugins/Cuda/src/Seeding2/FindTriplets.cu
  Plugins/Cuda/src/Utilities/Arrays.cu
  Plugins/Cuda/src/Utilities/ErrorCheck.cu
  Plugins/Cuda/src/Utilities/ErrorCheck.cuh
  Plugins/Cuda/src/Utilities/MatrixMacros.hpp
  Tests/UnitTests/Plugins/Cuda/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/Seeding2/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/Seeding2/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/CommandLineArguments.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/ReadSeedFile.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/ReadSeedFile.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestDeviceCuts.cu
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestDeviceCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestSpacePoint.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestSpacePoint.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
Labels: Component - Plugins, New Feature

#386 Introduce Measurement constructor from covariance and vector
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/ParameterSet.hpp
  Core/include/Acts/EventData/detail/initialize_parameter_set.hpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
Labels: Bug, New Feature

#390 Propagator: Terminate normally in case of 0 steps
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorError.hpp
Labels: Bug

#328 Simplify bound params (Part 2/2)
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/ParametersTestHelper.hpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Improvement

#385 Run clang-format on *.cu and *.cuh files
  CI/check_format
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Kernels.cuh
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaMatrix.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaScalar.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaUtils.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/CudaVector.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/UsmMatrix.cu
  Plugins/Cuda/include/Acts/Plugins/Cuda/Utilities/UsmScalar.cu
  Plugins/Cuda/src/Seeding/Kernels.cu
  Tests/UnitTests/Plugins/Cuda/Utilities/CudaMostSimplifiedTests.cu
  Tests/UnitTests/Plugins/Cuda/Utilities/CudaTests.cu
Labels: Infrastructure

#391 Remove remnants of the debugLog infrastructure
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Propagator/DebugOutputActor.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.ipp
  Fatras/include/ActsFatras/Kernel/Simulator.hpp
  Tests/IntegrationTests/BVHNavigationTest.cpp
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
Labels: Improvement

#389 Material mapping onto CutoutCylinderVolume
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Core/Utilities/BinAdjustmentTests.cpp
  Tests/UnitTests/Core/Utilities/BinAdjustmentVolumeTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: Component - Core, Component - Plugins, Impact - Minor, Improvement

#395 Replace geoID with geometryId consistently
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/src/EventData/PrintParameters.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/HitSmearing.cpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/Interactor.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryGeometryIdTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  docs/core/geometry.md
Labels: Component - Core, Component - Examples, Component - Fatras, Component - Plugins, Improvement

#400 ci: Add semantic PR title check config
  .github/semantic.yml
Labels: Triage

#403 refactor: Resolve build regression from #359
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
Labels: Bug, Component - Core, Impact - Minor

#404 fix: clarify interactions charge parameter
  Core/include/Acts/Material/Interactions.hpp
  Core/src/Material/Interactions.cpp
Labels: Component - Core, Improvement

#406 build!: ensure consistent CMake options and target names
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Printers/CMakeLists.txt
  Examples/Detectors/ContextualDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Root/CMakeLists.txt
  Plugins/CMakeLists.txt
  Plugins/Cuda/CMakeLists.txt
  Plugins/DD4hep/CMakeLists.txt
  Plugins/Digitization/CMakeLists.txt
  Plugins/Identification/CMakeLists.txt
  Plugins/Json/CMakeLists.txt
  Plugins/Legacy/CMakeLists.txt
  Plugins/TGeo/CMakeLists.txt
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/Legacy/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/Seeding2/CMakeLists.txt
  Tests/UnitTests/Plugins/Digitization/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/TGeo/CMakeLists.txt
  docs/getting_started.md
  docs/howto/run_material_mapping.rst
  docs/plugins/dd4hep.rst
Labels: Improvement, Infrastructure
