Repository acts-project/acts, pull requests merged in 2020-04, with the labels that each got.

#81 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Improvement

#87 Attempt to fix codecov configuration
  codecov.yml
Labels: Infrastructure

#89 Add config for W I P app
  .github/wip.yml
Labels: Infrastructure

#108 Fix access stereo variable in DiscTrapezoidBounds
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
Labels: Bug

#94 Volume material mapping
  Core/include/Acts/Material/AccumulatedMaterialProperties.hpp
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Material/IMaterialDecorator.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/IVolumeMaterial.hpp
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Material/InterpolatedMaterialMap.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Material/MaterialComposition.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialProperties.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/include/Acts/Utilities/detail/Grid.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/AccumulatedVolumeMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/HomogeneousSurfaceMaterial.cpp
  Core/src/Material/HomogeneousVolumeMaterial.cpp
  Core/src/Material/Interactions.cpp
  Core/src/Material/Material.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/MaterialProperties.cpp
  Core/src/Material/ProtoSurfaceMaterial.cpp
  Core/src/Material/ProtoVolumeMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/HomogeneousVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Material/ProtoVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Labels: Component - Core, New Feature

#102 Implement Combinatorial Kalman Filter
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilterError.hpp
  Core/include/Acts/TrackFinder/detail/VoidTrackFinderComponents.hpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinder/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
Labels: New Feature

#136 Fix the coverage job
  .github/workflows/coverage.yml
Labels: Infrastructure

#141 Only build Core+Tests in the macOS CI build
  .github/workflows/builds.yml
Labels: Bug, Component - Core, Infrastructure

#128 Remove dd4hep warnings
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/include/ACTFW/DD4hepDetector/DD4hepDetectorHelper.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetectorHelper.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/DD4hepDetector/src/Demonstrator/DemonstratorBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/Demonstrator/DemonstratorBeamPipe_geo.cpp
  Examples/Detectors/DD4hepDetector/src/FCChh/FCChhTrackerTkLayout_Barrel.cpp
  Examples/Detectors/DD4hepDetector/src/IBL/IBLSimpleBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDCylinder_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDModuleHelper.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDModuleHelper.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDPixelBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDPixelEndcap_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDServiceHelper.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDStripBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDStripEndcap_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/AirTube_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/Barrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/BeamPipe_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/Endcap_geo.cpp
Labels: Component - Examples, Improvement

#140 Introduce response file technology
  Examples/Run/Common/src/CommonOptions.cpp
Labels: Component - Examples, Improvement

#160 Fix the tryRungeKuttaStepper
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Bug

#120 Add hierarchical geometry container
  Core/include/Acts/Geometry/GeometryID.hpp
  Core/include/Acts/Geometry/HierarchicalGeometryContainer.hpp
  Core/include/Acts/Geometry/detail/DefaultGeometryIdGetter.hpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/HierarchicalGeometryContainerTests.cpp
Labels: Component - Core, New Feature

#126 Fix bug in CKF and add script for KF timing test
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/GeneratorsPythia8/ACTFW/Options/Pythia8Options.cpp
  Examples/Scripts/KF_timing.py
  Examples/Scripts/KF_timing.sh
Labels: Bug, Improvement

#161 Fix fatras example nullptrs
  Examples/Run/Fatras/AlignedFatrasExample.cpp
  Examples/Run/Fatras/PayloadFatrasExample.cpp
Labels: Bug, Component - Examples, Impact - Major

#122 Fix covariance matrix modifications in point-wise material interactions
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
Labels: Bug, Impact - Minor

#93 Visualization EventData
  Core/include/Acts/Visualization/EventDataVisualization.hpp
  Core/include/Acts/Visualization/GeometryVisualization.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization.ipp
  Tests/UnitTests/Core/Visualization/CMakeLists.txt
  Tests/UnitTests/Core/Visualization/EventDataVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/EventDataVisualizationTests.cpp
  Tests/UnitTests/Core/Visualization/PrimitivesVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesVisualizationTests.cpp
  Tests/UnitTests/Core/Visualization/SurfaceVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/SurfaceVisualizationTests.cpp
  Tests/UnitTests/Core/Visualization/VisualizationTester.hpp
  Tests/UnitTests/Core/Visualization/VisualizationTests.cpp
  Tests/UnitTests/Core/Visualization/VolumeVisualizationBase.hpp
  Tests/UnitTests/Core/Visualization/VolumeVisualizationTests.cpp
Labels: Component - Core, New Feature

#163 Fix the bug to identify majority particle
  Examples/Framework/include/ACTFW/EventData/TruthFitTrack.hpp
  Examples/Framework/src/Validation/ProtoTrackClassification.cpp
Labels: Bug, Impact - Minor

#123 Remove misleading components from VolumeMaterialInteraction
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
Labels: Impact - Minor, Improvement

#162 Fix KF/CKF navigation reinitialization
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
Labels: Bug, Component - Core, Impact - Minor
