Repository acts-project/acts, pull requests merged in 2020-09, with the labels that each got.

#399 refactor: Change API of Surface localToGlobal
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceError.hpp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/src/EventData/TransformationBoundToFree.cpp
  Core/src/EventData/TransformationFreeToBound.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/HitSmearing.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/Interactor.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/TransformBoundToFreeTests.cpp
  Tests/UnitTests/Core/EventData/TransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  docs/core/eventdata.md
Labels: Component - Core, Improvement

#405 refactor: Remove unnecessary const qualifiers
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/ConeSurface.ipp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/PlaneSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/src/Geometry/Volume.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  docs/core/geometry.md
Labels: Improvement

#418 fix: Add error message for StepCountLimitReached
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorError.hpp
Labels: Bug, Component - Core, Impact - Minor, Triage

#420 refactor!: shorten parameter enum and related type names
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/ParameterSet.hpp
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/detail/residual_calculator.hpp
  Core/include/Acts/EventData/detail/value_corrector.hpp
  Core/include/Acts/Fitter/GainMatrixUpdater.hpp
  Core/include/Acts/Fitter/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/include/Acts/Utilities/AlignmentDefinitions.hpp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/LinearizedTrack.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/Vertex.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSourceLink.hpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryWriter.cpp
  Examples/Io/Root/src/RootVertexAndTracksWriter.cpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/PlanarModuleCluster.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FittableTypeTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementHelpersTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
  Tests/UnitTests/Core/EventData/ParametersTestHelper.hpp
  Tests/UnitTests/Core/EventData/TransformBoundToFreeTests.cpp
  Tests/UnitTests/Core/EventData/TransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  docs/core/eventdata.md
Labels: Component - Core, Component - Examples, Component - Plugins, Improvement

#423 build: use Boost::filesystem
  CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Framework/src/Utilities/Paths.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.hpp
  Tests/CommonHelpers/CMakeLists.txt
  cmake/FindFilesystem.cmake
  docs/getting_started.md
Labels: Component - Core, Component - Examples, Infrastructure

#422 refactor!: shorten alignment parameter enum and related type names
  Core/include/Acts/Utilities/AlignmentDefinitions.hpp
  Core/src/Surfaces/Surface.cpp
Labels: Component - Core, Improvement

#424 refactor!: remove obsolete BoundIndices enum values
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/detail/CylinderSurface.ipp
  Core/include/Acts/Surfaces/detail/DiscSurface.ipp
  Core/include/Acts/Surfaces/detail/LineSurface.ipp
  Core/include/Acts/Surfaces/detail/Surface.ipp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/HitSmearing.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryWriter.hpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootVertexAndTracksWriter.cpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/PlanarModuleCluster.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Plugins/Digitization/include/Acts/Plugins/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Tests/UnitTests/Core/EventData/MeasurementHelpersTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
  Tests/UnitTests/Core/EventData/ParametersTestHelper.hpp
  Tests/UnitTests/Core/Fitter/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/Fitter/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  docs/core/eventdata.md
Labels: Component - Core, Component - Examples, Component - Plugins, Improvement

#433 refactor: Remove units namespace
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Utilities/Units.hpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetectorOptions.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetectorHelper.cpp
  Examples/Detectors/DD4hepDetector/src/DetUtils.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/ZPlanarTracker_geo.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/Plugins/BField/BFieldUtils.hpp
  Examples/Detectors/MagneticField/src/BFieldOptions.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetectorOptions.hpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootBFieldWriter.hpp
  Examples/Run/HepMC3/HepMC3Example.cpp
  Examples/Run/MagneticField/BFieldAccessExample.cpp
  Examples/Run/MagneticField/BFieldWritingBase.hpp
  Examples/Run/Vertexing/VertexAndTracksReaderAndFinderExample.cpp
  Plugins/DD4hep/src/DD4hepVolumeBuilder.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Improvement

#425 fix: Fix order of covariance transport and material preUpdate in (C)KF
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
Labels: Bug

#416 feat: Implementation of seed finding in SYCL
  CMakeLists.txt
  Plugins/CMakeLists.txt
  Plugins/Sycl/CMakeLists.txt
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/CreateSeedsForGroupSycl.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/DeviceExperimentCuts.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/Seedfinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/Seedfinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/detail/Types.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/DeviceSelector.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/ListPlatforms.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/QueueWrapper.hpp
  Plugins/Sycl/src/Seeding/CreateSeedsForGroupSycl.cpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Plugins/Sycl/src/Utilities/ListPlatforms.cpp
  Plugins/Sycl/src/Utilities/QueueWrapper.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.h
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedfinderSyclTest.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
  cmake/FindSYCL.cmake
  docs/getting_started.md
Labels: Component - Plugins, New Feature

#414 refactor: BinUtility: Move Transform3D to storage by value
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/src/Material/MaterialGridHelper.cpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/UnitTests/Core/Utilities/BinUtilityTests.cpp
Labels: Improvement

#428 feat: extend track parameters accessors
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Core/include/Acts/Utilities/Units.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.ipp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Tests/Benchmarks/AtlasStepperBenchmark.cpp
  Tests/Benchmarks/EigenStepperBenchmark.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  docs/core/utilities/units.rst
Labels: Component - Core, Improvement

#438 fix: Add truth particle selection for truth tracking
  Examples/Run/Reconstruction/RecTruthTracks.cpp
Labels: Bug, Component - Examples

#437 refactor!: Rework charge types and update parameters constructors (Part 1)
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/ChargePolicy.hpp
  Core/include/Acts/EventData/NeutralTrackParameters.hpp
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/TrackParameters.hpp
  Core/include/Acts/EventData/detail/TransformationFreeToBound.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/EventData/NeutralTrackParameters.cpp
  Core/src/EventData/TrackParameters.cpp
  Core/src/EventData/TransformationBoundToFree.cpp
  Core/src/EventData/TransformationFreeToBound.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVerticesToTracks.cpp
  Fatras/include/ActsFatras/Kernel/Simulator.hpp
  Tests/Benchmarks/AtlasStepperBenchmark.cpp
  Tests/Benchmarks/EigenStepperBenchmark.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/ChargeTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/TrackParametersDatasets.hpp
  Tests/UnitTests/Core/EventData/TransformBoundToFreeTests.cpp
  Tests/UnitTests/Core/EventData/TransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Improvement

#436 refactor: Add vacuum for volume material mapping
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Labels: Component - Core, Impact - Major, Improvement

#451 fix: fixing rmin/rmax ordering in DiscSurface
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/src/Surfaces/DiscSurface.cpp
Labels: Bug

#457 refactor: Bugfix Volume material mapper
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Bug, Component - Core, Impact - Critical

#439 feat: Allow setting of plain propagator options in KF/CKF options
  Core/include/Acts/Fitter/KalmanFitter.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/TrackFinder/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Impact - Minor, Improvement

#443 refactor!: Remove deprecated parameters constructors (Rework charge types, Part 2)
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleCurvilinearTrackParameters.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/Fitter/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
  Tests/UnitTests/Core/TrackFinder/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Improvement

#458 fix: hard-coded value for cuboid volume binning range
  Core/src/Geometry/CuboidVolumeBuilder.cpp
Labels: Bug, Component - Core, Impact - Minor

#452 refactor!: Move parameter types/traits to the detail namespace
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/ParameterSet.hpp
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Core/include/Acts/EventData/detail/DifferenceCalculator.hpp
  Core/include/Acts/EventData/detail/ParameterTraits.hpp
  Core/include/Acts/EventData/detail/ValueCorrector.hpp
  Core/include/Acts/EventData/detail/fittable_type_generator.hpp
  Core/include/Acts/EventData/detail/full_parameter_set.hpp
  Core/include/Acts/EventData/detail/initialize_parameter_set.hpp
  Core/include/Acts/EventData/detail/make_projection_matrix.hpp
  Core/include/Acts/EventData/detail/residual_calculator.hpp
  Core/include/Acts/EventData/detail/value_corrector.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/TrackFinder/CKFSourceLinkSelector.hpp
  Core/include/Acts/Utilities/ParameterDefinitions.hpp
  Core/include/Acts/Utilities/ParameterTypes.hpp
  Tests/UnitTests/Core/EventData/ParameterSetTests.cpp
Labels: Component - Core, Improvement

#459 refactor!: Rename the Track{Finding,Fitting} modules
  Core/include/Acts/MagneticField/SharedBField.hpp
  Core/include/Acts/TrackFinding/CKFSourceLinkSelector.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
  Core/include/Acts/TrackFinding/detail/VoidTrackFinderComponents.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitterError.hpp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Examples/Algorithms/Fitting/include/ActsExamples/Fitting/FittingAlgorithm.hpp
  Examples/Algorithms/Fitting/src/FittingAlgorithmFitterFunction.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmTrackFinderFunction.cpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Component - Examples, Improvement

#460 ci: Use containers from the Github registry and unify CI jobs
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  Tests/DownstreamProject/CMakeLists.txt
  cmake/ActsConfig.cmake.in
  docs/getting_started.md
Labels: Infrastructure

#462 feat: TGeo mapping, decoration and validation
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Run/MaterialMapping/CMakeLists.txt
  Examples/Run/MaterialMapping/TGeo/CMakeLists.txt
  Examples/Run/MaterialMapping/TGeo/TGeoMaterialMapping.cpp
  Examples/Run/MaterialMapping/TGeo/TGeoMaterialValidation.cpp
Labels: Component - Examples, Feature, Impact - Minor

#468 refactor: Extra geant4 options
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Options.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GeantinoRecording.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/PrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4/src/EventAction.cpp
  Examples/Algorithms/Geant4/src/Geant4Options.cpp
  Examples/Algorithms/Geant4/src/GeantinoRecording.cpp
  Examples/Algorithms/Geant4/src/PrimaryGeneratorAction.cpp
Labels: Component - Examples, Impact - Minor, Improvement

#461 feat: uncorrelated hit smearer for Fatras
  Core/include/Acts/EventData/Measurement.hpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/DigitizationError.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/Digitization/detail/ParametersSmearer.hpp
  Fatras/src/DigitizationError.cpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Fatras, Improvement

#477 fix: Volume Mapping segfault
  Core/src/Material/VolumeMaterialMapper.cpp
Labels: Bug, Component - Core, Impact - Minor

#487 fix: Calorimeter navigation bug
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Bug, Component - Core, Impact - Critical

#480 feat: fatras smearing example
  Core/include/Acts/EventData/Measurement.hpp
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationOptions.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/PlanarSteppingAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationOptions.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Algorithms/Digitization/src/SmearingAlgorithm.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/DigitizedHit.hpp
  Examples/Framework/src/EventData/DigitizedHit.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootDigitizationWriter.hpp
  Examples/Io/Root/src/RootDigitizationWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Fatras/Common/FatrasDigitizationBase.cpp
  Examples/Run/Fatras/Common/FatrasMain.cpp
  Fatras/include/ActsFatras/Digitization/DigitizationError.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/Digitization/detail/ParametersSmearer.hpp
  Fatras/src/DigitizationError.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Examples, Component - Fatras, Feature
