Repository acts-project/acts, pull requests merged in 2021-03, with the labels that each got.

#736 fix: update mapping script
  Examples/Scripts/MaterialMaping/configureMap.py
  Examples/Scripts/MaterialMaping/writeMapConfig.py
Labels: Bug, Component - Examples, Impact - Minor

#734 ci: Run geometry and Geantino examples as in the material mapping tutorial
  CI/run_examples.sh
  docs/howto/run_material_mapping.rst
Labels: Improvement, Infrastructure

#731 fix: Make ActsSimGeantinoRecordingDD4hep less verbose
  Examples/Algorithms/Geant4DD4hep/src/DD4hepDetectorConstruction.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
Labels: Bug, Component - Examples, Impact - Minor

#715 feat(Examples): Estimate parameters from truth seeds
  Core/include/Acts/Seeding/Seed.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimSeed.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
Labels: Component - Examples

#732 fix: Fix particle generation docs commands and add them to CI
  CI/run_examples.sh
  docs/howto/run_fatras.rst
  docs/howto/run_material_mapping.rst
Labels: Bug, Component - Documentation, Impact - Minor

#738 refactor: Allow configurable BField in vertexing examples
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/TutorialVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TutorialVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Run/Vertexing/Pythia8/AdaptiveMultiVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/IterativeVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/TutorialVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/VertexFitterExample.cpp
  Examples/Run/Vertexing/VertexFinderReaderExample.cpp
  docs/howto/setup_and_run_vertexing.md
Labels: Component - Documentation, Component - Examples, Improvement

#729 feat: Holes without material in KF
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Impact - Major, Improvement

#703 feat: Improve the digitization configuration
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationOptions.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/HitSmearing.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingAlgorithm.hpp
  Examples/Algorithms/Digitization/share/default-smearing-config-generic.json
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfig.cpp
  Examples/Algorithms/Digitization/src/DigitizationOptions.cpp
  Examples/Algorithms/Digitization/src/HitSmearing.cpp
  Examples/Algorithms/Digitization/src/SmearingAlgorithm.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonDigitizationConfig.hpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Run/Digitization/Common/DigitizationExample.cpp
  Examples/Run/Digitization/Common/DigitizationInput.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
  Examples/Run/Reconstruction/Common/RecInput.hpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/CKF_timing_vs_mu.sh
  Examples/Scripts/KF_timing.sh
  Tests/UnitTests/Examples/Json/JsonDigitizationConfigTests.cpp
  docs/howto/run_ckf_tracking.rst
  docs/howto/run_fatras.rst
Labels: Component - Examples

#743 fix: compilation problems for Apple Silicon M1
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/FloatComparisons.hpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
Labels: Bug, Component - Core

#742 refactor: Use pointer for (C)KF inputMeasurements
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Improvement

#746 feat: Switching SteppingLogger to sterile when no output requested
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.ipp
  Examples/Run/Common/src/PropagationExampleBase.cpp
Labels: Component - Examples, Feature

#747 feat: odd clean overlaps
  Examples/Detectors/DD4hepDetector/compact/OpenDataDetector/OpenDataDetector.xml
  Examples/Detectors/DD4hepDetector/compact/OpenDataDetector/OpenDataLongStrips.xml
  Examples/Detectors/DD4hepDetector/compact/OpenDataDetector/OpenDataPixels.xml
  Examples/Detectors/DD4hepDetector/compact/OpenDataDetector/OpenDataShortStrips.xml
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDModuleHelper.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDPixelBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDPixelEndcap_geo.cpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector/ODDServiceHelper.hpp
Labels: Improvement

#750 fix: Sync up nlohman-json version requirement
  CMakeLists.txt
Labels: Bug, Component - Plugins, Impact - Minor

#695 feat: Reading of nuclear interaction parametrisation
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasAlgorithm.hpp
  Examples/Io/NuclearInteractions/CMakeLists.txt
  Examples/Io/NuclearInteractions/include/ActsExamples/Io/NuclearInteractions/NuclearInteractionOptions.hpp
  Examples/Io/NuclearInteractions/src/NuclearInteractionOptions.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/EventData/ProcessType.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteractionParameters.hpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
Labels: Component - Fatras, Feature

#748 fix: NuclearInteractionParametrisationWriter fixes
  Examples/Io/NuclearInteractions/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/NuclearInteractions/src/detail/NuclearInteractionParametrisation.cpp
Labels: Bug, Component - Examples, Impact - Minor

#761 feat: csv surface grid writer
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackingGeometryWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
Labels: Component - Examples, Improvement
