Repository acts-project/acts, pull requests merged in 2021-09, with the labels that each got.

#972 docs: Recommend recursive git clone for ODD compatibility
  README.md
  docs/getting_started.md
Labels: Improvement, Component - Documentation

#977 feat: rework Geant4 simulation (2/X)
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MagneticFieldWrapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/MagneticFieldWrapper.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Framework/include/ActsExamples/EventData/SimHit.hpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Run/Fatras/Common/Fatras.cpp
  Examples/Run/Geant4/Common/Geant4.cpp
  Examples/Run/Geant4/Common/Geant4.hpp
  Examples/Run/Geant4/DD4hep/CMakeLists.txt
  Examples/Run/Geant4/DD4hep/DD4hepGeant4Simulation.cpp
Labels: Component - Examples, Feature

#986 feat: Implement a k-dimensional range class
  Core/include/Acts/Utilities/RangeXD.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/RangeXDTests.cpp
Labels: Component - Core, Feature

#987 feat: Implement a k-d tree data structure
  Core/include/Acts/Utilities/KDTree.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/KDTreeTests.cpp
Labels: Component - Core, Feature

#995 fix: allow layer search in original volume after fast initialization
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Bug, Component - Core

#996 fix: KF return and CKF logging
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Bug

#997 fix: Set target surface to null for forward filtering in CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Bug

#993 feat: Add different mapping types
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/HomogeneousSurfaceMaterial.cpp
  Core/src/Material/ProtoSurfaceMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMaping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMaping/configureMap.py
  Examples/Scripts/MaterialMaping/materialPlotHelper.cpp
  Examples/Scripts/MaterialMaping/writeMapConfig.py
  Plugins/Json/include/Acts/Plugins/Json/GeometryJsonKeys.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/Data/material-map.json
  docs/howto/run_material_mapping.rst
Labels: Component - Core, Impact - Minor, Feature, Component - Plugins

#1009 feat: allow sampling in eta
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Algorithms/Generators/ActsExamples/Options/ParticleGunOptions.cpp
Labels: Component - Examples, Feature

#1001 feat: adding new TrackSummary analysis
  CMakeLists.txt
  Examples/CMakeLists.txt
  Examples/Scripts/TrackingPerformance/CMakeLists.txt
  Examples/Scripts/TrackingPerformance/CommonUtils.h
  Examples/Scripts/TrackingPerformance/PerigeeParameters.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Examples/Scripts/TrackingPerformance/perigeeParamResolution.C
  Examples/Scripts/TrackingPerformance/trackSummaryAnalysis.C
Labels: Component - Examples, Feature

#1014 fix: boundParamResolution should include TError.h
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
Labels: Bug, Impact - Minor, Component - Examples

#1013 docs: Clarify that ONNX plugin uses ONNX Runtime
  docs/getting_started.md
Labels: Improvement, Component - Documentation

#1020 fix: make analysis apps compile
  Examples/Scripts/TrackingPerformance/CMakeLists.txt
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
  Examples/Scripts/TrackingPerformance/trackSummaryAnalysis.C
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeJsonConverter.hpp
  Tests/UnitTests/Plugins/Json/GeometryHierarchyMapJsonConverterTests.cpp
Labels: Bug, Component - Examples
