Repository acts-project/acts, pull requests merged in 2021-04, with the labels that each got.

#728 feat: Allow external logger for ActsFatras/Simulator
  Examples/Algorithms/Fatras/src/FatrasAlgorithm.cpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
Labels: Component - Fatras, Improvement

#762 feat: add digitisation configuration example
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Run/Digitization/CMakeLists.txt
  Examples/Run/Digitization/Common/CMakeLists.txt
  Examples/Run/Digitization/Common/DigitizationConfigExample.cpp
  Examples/Run/Digitization/Common/DigitizationConfigExample.hpp
  Examples/Run/Digitization/Common/detail/DigitizationConfigurator.hpp
  Examples/Run/Digitization/TGeoDigitizationConfigExample.cpp
Labels: Component - Examples, Feature

#763 feat!: Introduce Jacobian engine, consistent Jacobian naming
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/CovarianceTransport.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/CovarianceTransport.cpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/CovarianceTransportBenchmark.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceTransportTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Improvement

#766 feat(Examples): Add options for usage of solenoid field
  Examples/Detectors/MagneticField/src/MagneticFieldOptions.cpp
Labels: Component - Examples

#777 fix: added sgnH to maxRho in HelicalTrackLinearizer.
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
Labels: Component - Core, Impact - Minor

#773 feat: material mapping fixes odd
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Algorithms/Geant4/src/SteppingAction.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/ZPlanarTracker_geo.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Run/Common/src/PropagationExampleBase.cpp
  Examples/Scripts/propagation_timing.sh
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  thirdparty/OpenDataDetector/factory/ODDPixelBarrel_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDPixelEndcap_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDStripBarrel_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDStripEndcap_geo.cpp
Labels: Bug, Component - Examples, Improvement

#780 refactor: Change min json version to 3.2.0 and bundle 3.9.1
  CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
  thirdparty/nlohmann_json/ChangeLog.md
  thirdparty/nlohmann_json/Makefile
  thirdparty/nlohmann_json/README.md
  thirdparty/nlohmann_json/appveyor.yml
  thirdparty/nlohmann_json/cmake/download_test_data.cmake
  thirdparty/nlohmann_json/cmake/nlohmann_jsonConfigVersion.cmake.in
  thirdparty/nlohmann_json/cmake/pkg-config.pc.in
  thirdparty/nlohmann_json/meson.build
  thirdparty/nlohmann_json/single_include/nlohmann/json.hpp
Labels: Component - Plugins, Impact - Minor, Infrastructure

#785 feat: adding DD4hep digitization, fix measurement writer, add variance in o…
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Run/Digitization/CMakeLists.txt
  Examples/Run/Digitization/Common/DigitizationExample.cpp
  Examples/Run/Digitization/DD4hep/CMakeLists.txt
  Examples/Run/Digitization/DD4hep/DD4hepDigitizationExample.cpp
  Examples/Scripts/CKF_timing_vs_mu.sh
  Fatras/src/EventData/Particle.cpp
Labels: Component - Examples, Improvement

#787 fix: Write surface only once in the MaterialMapJsonConverter
  Plugins/Json/src/MaterialMapJsonConverter.cpp
Labels: Component - Plugins, Impact - Minor, Improvement
