Repository acts-project/acts, pull requests merged in 2021-12, with the labels that each got.

#1092 feat: make timing file name configurable
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/ModuleEntry.cpp
Labels: Feature, automerge

#1064 feat: CKF eta-dependent cuts
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/ckf_tracks.py
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: automerge

#1095 feat: Python `TGeoDetector.create()` can read config from JSON file
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Python/python/acts/_adapter.py
  Examples/Python/src/Detector.cpp
Labels: automerge

#1078 chore: Release script contributers failed for breaking
  CI/release.py
Labels: automerge

#1101 fix: Warning in navigation when targeting perigee
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Labels: Bug, automerge

#1105 feat: Add ostream-operator for IntersectionStatus
  Core/include/Acts/Utilities/Intersection.hpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: automerge

#1079 feat: Enable setting the smearing values of initial track parameters with command line
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearingOptions.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearingOptions.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Common/include/ActsExamples/Reconstruction/ReconstructionBase.hpp
  Examples/Run/Common/src/ReconstructionBase.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Vertexing/ParticleReaderVertexingExample.cpp
  Examples/Run/Vertexing/Pythia8/AdaptiveMultiVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/IterativeVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/TutorialVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/VertexFitterExample.cpp
Labels: Component - Examples, automerge

#1109 fix: missing array include
  Core/include/Acts/Utilities/Intersection.hpp
Labels: Bug, Component - Core, automerge

#1107 fix: Comparison bug in updateSingleSurfaceStatus
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: automerge

#1115 fix: TrackingVolume intersection check didn't copy sign
  Core/src/Geometry/TrackingVolume.cpp
Labels: Bug, automerge

#1117 fix: Missing include in EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
Labels: automerge

#1114 fix: adding missing averagePhi in CylinderVolumeBounds
  Core/src/Geometry/CylinderVolumeBounds.cpp
Labels: Bug, automerge

#1120 refactor: Use `small_vector` in `surfaceOnApproach`
  Core/src/Geometry/GenericApproachDescriptor.cpp
Labels: automerge

#1102 fix: Added wait statements to kernels and changed the atomic operation to use VecMem
  Plugins/Sycl/src/Seeding/CreateSeedsForGroupSycl.cpp
  Plugins/Sycl/src/Seeding/TripletFilter.hpp
  Plugins/Sycl/src/Seeding/TripletSearch.hpp
Labels: automerge

#1125 fix: Add smearing options to ckf tracking example
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearingOptions.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
Labels: Bug, automerge

#1112 fix: ensure there is at least one zBin
  Core/include/Acts/Seeding/SpacePointGrid.ipp
Labels: Bug, automerge

#1127 fix: Enable copyFrom const track proxy for MultiTrajectory
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: Component - Core, automerge
