Repository acts-project/acts, pull requests merged in 2021-06, with the labels that each got.

#813 feat: Ckf performance updates
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingOptions.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
Labels: Component - Examples, Feature

#805 feat: Add timing to vertex performance writer
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
Labels: Component - Examples, Feature

#820 fix: Prevent rmin from going negative.
  Core/src/Geometry/CylinderVolumeBuilder.cpp
Labels: Bug

#833 docs: Update how-to
  docs/howto/howto.rst
  docs/howto/run_ckf_tracking.rst
  docs/howto/run_fatras.rst
  docs/howto/run_truth_tracking.rst
Labels: Component - Documentation

#834 fix: Make examples sequencer compatible with modern TBB
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Bug, Component - Examples, Impact - Major

#835 fix: Remove Geant4 data archive after extraction
  CI/run_examples.sh
Labels: Bug, Component - Examples, Impact - Minor

#811 refactor: Material surface handling in CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Impact - Minor, Improvement

#836 feat: Allow the writing of Json object to Cbor
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonDigitizationConfig.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonGeometryList.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Run/Common/include/ActsExamples/Options/CommonOptions.hpp
  Examples/Run/Common/src/CommonGeometry.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Scripts/MaterialMaping/configureMap.py
  Plugins/Json/include/Acts/Plugins/Json/ActsJson.hpp
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeJsonConverter.hpp
  Tests/UnitTests/Examples/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GeometryHierarchyMapJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
  docs/howto/run_material_mapping.rst
Labels: Component - Examples, Component - Plugins, Feature, Impact - Minor, Improvement

#837 fix: Root readers ensure event ordering is consistent
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryParametersReader.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootTrajectoryParametersReader.cpp
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
Labels: Component - Examples, Impact - Minor

#839 fix: trackAverage when surface has zero binning
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
Labels: Component - Core, Impact - Minor

#840 fix: Search of last measurement index
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Impact - Minor

#848 fix: Howto material without spread
  Examples/Scripts/MaterialMaping/Mat_map.C
  Examples/Scripts/MaterialMaping/Mat_map_detector_plot.C
  docs/howto/run_material_mapping.rst
Labels: Component - Documentation, Component - Examples, Impact - Minor

#854 perf: Clean up root trajectory writer
  Examples/Framework/include/ActsExamples/Framework/WriterT.hpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryParametersReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectorySummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectorySummaryWriter.hpp
  Examples/Io/Root/src/RootTrajectoryParametersWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryReader.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
Labels: Component - Examples

#859 fix: Add missing include in PolymorphicValueTest.cpp
  Tests/UnitTests/Core/Utilities/PolymorphicValueTest.cpp
Labels: Bug

#858 refactor: Move clusterization functions to core
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/ClusterizationTests.cpp
  Tests/UnitTests/Plugins/Digitization/CMakeLists.txt
Labels: Component - Core, Component - Plugins

#856 feat: add digitization config and example for dd4hep and generic detector
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingConfig.hpp
  Examples/Algorithms/Digitization/share/default-geometric-config-generic.json
  Examples/Algorithms/Digitization/share/default-input-config-generic.json
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Digitization/CMakeLists.txt
  Examples/Run/Digitization/Common/DigitizationConfigExample.cpp
  Examples/Run/Digitization/Common/detail/DigitizationConfigurator.hpp
  Examples/Run/Digitization/DD4hep/CMakeLists.txt
  Examples/Run/Digitization/DD4hep/DD4hepDigitizationConfigExample.cpp
  Examples/Run/Digitization/GenericDigitizationConfigExample.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Utilities/BinUtilityTests.cpp
  Tests/UnitTests/Core/Utilities/BinningDataTests.cpp
Labels: Bug, Component - Core, Component - Examples, Feature

#849 feat: Use volume material with root writer
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
Labels: Component - Examples, Impact - Minor, Improvement
