Repository acts-project/acts, pull requests merged in 2021-01, with the labels that each got.

#623 fix: Iterative Vertex Finder algorithm updated for seed vertex at z = 0
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
Labels: Bug, Component - Core, Impact - Minor

#633 refactor(Examples): Introduce multi-value option types with consistent encoding
  Examples/Algorithms/Digitization/src/DigitizationOptions.cpp
  Examples/Algorithms/Geant4/src/Geant4Options.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Options/Pythia8Options.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetectorOptions.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/MagneticField/src/BFieldOptions.cpp
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetectorOptions.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetectorOptions.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorOptions.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorOptions.cpp
  Examples/Framework/include/ActsExamples/Utilities/Options.hpp
  Examples/Framework/src/Utilities/Options.cpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjWriterOptions.hpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Run/MagneticField/BFieldAccessExample.cpp
  Examples/Run/MagneticField/BFieldExample.cpp
  Examples/Run/MagneticField/BFieldWritingBase.hpp
Labels: Component - Examples

#645 fix: bound parameters covariance visualization
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Visualization/EventDataView3D.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Impact - Minor

#624 feat: Update CsvOutput, add boundary surfaces (1/n)
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackingGeometryWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
Labels: Component - Examples

#640 fix: Remove navigation error with external surface and no layers
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicBVHTrackingGeometry.hpp
  Tests/IntegrationTests/BVHNavigationTest.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Bug, Component - Core, Impact - Major

#650 fix: make generic examples work again
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Fatras/Common/FatrasDigitization.cpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Tests/Data/material-map.json
Labels: Bug

#574 feat: Nuclear interaction parametrisation writing
  Examples/Algorithms/HepMC/include/ActsExamples/HepMC/HepMCProcessExtractor.hpp
  Examples/Algorithms/HepMC/src/HepMCProcessExtractor.cpp
  Examples/Framework/include/ActsExamples/EventData/ExtractedSimulationProcess.hpp
  Examples/Io/CMakeLists.txt
  Examples/Io/NuclearInteractions/CMakeLists.txt
  Examples/Io/NuclearInteractions/include/ActsExamples/Io/NuclearInteractions/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/NuclearInteractions/include/ActsExamples/Io/NuclearInteractions/detail/NuclearInteractionParametrisation.hpp
  Examples/Io/NuclearInteractions/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/NuclearInteractions/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Run/HepMC3/CMakeLists.txt
  Examples/Run/HepMC3/HepMC3HistogramExample.cpp
Labels: Component - Examples, Feature

#644 refactor!: optimize CKF
  Core/include/Acts/TrackFinding/CKFSourceLinkSelector.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/src/TrackFinding/CombinatorialKalmanFilterError.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingOptions.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  docs/howto/run_ckf_tracking.rst
Labels: Component - Core, Improvement

#653 feat: introduce surface drift
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceDrift.hpp
  Fatras/src/Digitization/PlanarSurfaceDrift.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceDriftTests.cpp
Labels: Component - Fatras, Feature

#654 feat: streamline json plugin
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/src/AlgebraJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
Labels: Component - Core, Improvement

#657 feat: optimise BinningData, remove dead code
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinnedArray.hpp
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Tests/Benchmarks/BinUtilityBenchmark.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/BinUtilityTests.cpp
  Tests/UnitTests/Core/Utilities/BinningDataTests.cpp
Labels: Component - Core, Feature

#660 feat: introduce Json converter for SurfaceBounds
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/src/SurfaceBoundsJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
Labels: Component - Plugins, Improvement

#662 feat: Introduce Json Converter for Surfaces
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Labels: Component - Plugins, Feature

#621 feat: implement seed to track parameters estimator and use found seeds for CKF reco
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSeed.hpp
  Examples/Framework/include/ActsExamples/Framework/WriterT.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Run/CMakeLists.txt
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/Common/CMakeLists.txt
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.hpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
  Examples/Run/Reconstruction/Common/RecInput.hpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.hpp
  Examples/Run/Reconstruction/DD4hep/CMakeLists.txt
  Examples/Run/Reconstruction/DD4hep/DD4hepSeedingExample.cpp
  Examples/Run/Reconstruction/GenericSeedingExample.cpp
  Examples/Run/Seeding/CMakeLists.txt
  Examples/Run/Seeding/Common/CMakeLists.txt
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/Seeding/SeedfinderTest.cpp
  Tests/UnitTests/Core/Seeding/SpacePoint.hpp
Labels: Component - Core, Component - Examples

#680 feat: Extend telescope detector with disc surface
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorOptions.cpp
Labels: Component - Examples

#679 feat: add export to json geometry using hierarchy map
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSpacePointWriter.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSurfacesWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
Labels: Component - Examples, Feature
