Repository acts-project/acts, pull requests merged in 2021-11, with the labels that each got.

#1054 fix: RootTrajectoryStatesWriter checks measurement dimension
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge

#1053 chore: Tell Stale bot to only mark as stale, but not close
  .github/stale.yml
Labels: automerge

#1063 fix: G4 material recording with more than 1 tracks per event
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStoreRegistry.hpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Algorithms/Propagation/src/PropagationAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Bug, Component - Examples, Impact - Major, automerge

#1067 fix: CMake Python bindings fails when building on different disk
  Examples/Python/CMakeLists.txt
Labels: Bug, Infrastructure, Impact - Minor, Component - Examples, automerge

#1058 fix: Vertexing uses const B field and Propagator
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
Labels: Bug, automerge

#1031 feat: Add Pythia8 python example + test
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/pythia8.py
Labels: automerge

#1069 ci: Make the release script add author handles to changelog items
  CI/release.py
Labels: automerge

#1043 feat: Add ITk geometry example in python
  Examples/Scripts/Python/itk.py
Labels: automerge

#1040 feat: Smearing digitization json config creator script
  .github/workflows/checks.yml
  CI/check_smearing_config.py
  Examples/Algorithms/Digitization/scripts/smearing-config.py
  docs/examples/howto/howto.rst
  docs/howto/smearing_digitization_config.md
Labels: Component - Examples, Feature, Component - Documentation, automerge

#1038 feat: change BinFinder logic
  Core/include/Acts/Seeding/BinFinder.hpp
  Core/include/Acts/Seeding/BinFinder.ipp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/SeedfinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedfinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedfinderSyclTest.cpp
Labels: automerge

#970 feat: add a spacepoints writer
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacepointWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacepointWriter.cpp
  Examples/Run/Common/include/ActsExamples/Reconstruction/ReconstructionBase.hpp
  Examples/Run/Common/src/ReconstructionBase.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/Common/CMakeLists.txt
  Examples/Run/Reconstruction/Common/MeasurementsToSpacepoints.cpp
  Examples/Run/Reconstruction/Common/MeasurementsToSpacepoints.hpp
  Examples/Run/Reconstruction/MeasurementsToSPGeneric.cpp
  Examples/Run/Reconstruction/MeasurementsToSPTGeo.cpp
Labels: Component - Examples, Feature

#1071 feat: Introduced new flags for how Boost, Eigen and VecMem would be set up. (2021.11.05.)
  .github/workflows/builds.yml
  CMakeLists.txt
Labels: automerge

#1059 feat: Add Delegate type
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: automerge

#1060 refactor!: Promote SourceLink into a standalone type
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/SourceLinkConcept.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/detail/VoidTrackFinderComponents.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/PlanarSteppingAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/src/Digitization.cpp
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Plugins/Digitization/include/Acts/Plugins/Digitization/DigitizationSourceLink.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/PlanarModuleCluster.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1074 fix: Python examples/tests can be run from any directory
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_material.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking.py
Labels: automerge

#1061 feat: MultiTrajectory improvements
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: automerge

#1056 fix: Fix digitization python test
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/digitization.py
Labels: Bug, Component - Examples, automerge

#1062 refactor!: Change the way (C)KF can be extended
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/detail/VoidTrackFinderComponents.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Python/tests/test_writer.py
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1081 fix: json algebra reading
  Plugins/Json/src/AlgebraJsonConverter.cpp
Labels: Bug, Component - Core, automerge

#1076 docs: Update docs for python bindings
  docs/examples/python_bindings.rst
Labels: automerge

#1080 feat: material composition analysis
  Examples/Scripts/CMakeLists.txt
  Examples/Scripts/MaterialMapping/CMakeLists.txt
  Examples/Scripts/MaterialMapping/Mat_map.C
  Examples/Scripts/MaterialMapping/Mat_map_detector_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_detector_plot_ratio.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_ratio.C
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/MaterialMapping/configureMap.py
  Examples/Scripts/MaterialMapping/materialComposition.C
  Examples/Scripts/MaterialMapping/materialPlotHelper.cpp
  Examples/Scripts/MaterialMapping/materialPlotHelper.hpp
  Examples/Scripts/MaterialMapping/writeMapConfig.py
  docs/examples/howto/run_material_mapping.rst
Labels: Component - Examples, Feature

#1086 feat: documentation for AnalysisApps
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/MaterialMapping/materialComposition.C
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  docs/examples/analysis_apps.rst
  docs/examples/examples.rst
  docs/figures/examples/aa_mc_stacked_x0.gif
  docs/figures/examples/aa_rp_layers.png
  docs/figures/examples/aa_ts_d0.png
  docs/figures/examples/aa_ts_nhits.png
  docs/getting_started.md
Labels: Improvement

#1090 fix: Fail wrapping in case of overlap
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1089 fix: material map logic
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Python/tests/root_file_hashes.txt
  docs/examples/howto/run_material_mapping.rst
Labels: Bug, Component - Core, Impact - Minor, automerge

#1082 chore: Add a deprecation warning to all example executables
  Examples/Run/Common/src/CommonOptions.cpp
Labels: automerge
