Repository acts-project/acts, pull requests merged in 2021-02, with the labels that each got.

#686 refactor: Use ordered json
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  thirdparty/nlohmann_json/CMakeLists.txt
  thirdparty/nlohmann_json/ChangeLog.md
  thirdparty/nlohmann_json/Makefile
  thirdparty/nlohmann_json/README.md
  thirdparty/nlohmann_json/appveyor.yml
  thirdparty/nlohmann_json/cmake/nlohmann_jsonConfigVersion.cmake.in
  thirdparty/nlohmann_json/cmake/pkg-config.pc.in
  thirdparty/nlohmann_json/meson.build
  thirdparty/nlohmann_json/single_include/nlohmann/json.hpp
Labels: Component - Plugins, Improvement

#663 feat: introduce digitization
  Core/include/Acts/Utilities/BinningType.hpp
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationOptions.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationOptions.cpp
  Examples/Algorithms/Digitization/src/SmearingAlgorithm.cpp
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonDigitizationConfig.hpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootDigitizationWriter.hpp
  Examples/Io/Root/src/RootDigitizationWriter.cpp
  Examples/Run/Fatras/CMakeLists.txt
  Examples/Run/Fatras/Common/FatrasDigitization.cpp
  Examples/Run/Geometry/GenericGeometryExample.cpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/CartesianSegmentation.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/DigitizationModule.hpp
  Plugins/Digitization/include/Acts/Plugins/Digitization/Segmentation.hpp
  Tests/UnitTests/CMakeLists.txt
  Tests/UnitTests/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/Json/CMakeLists.txt
  Tests/UnitTests/Examples/Json/JsonDigitizationConfigTests.cpp
Labels: Component - Examples, Feature

#692 feat: update root writer for digitization
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Run/Fatras/Common/FatrasDigitization.cpp
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
Labels: Component - Examples

#693 fix(Core): Fix momentum method of steppers for neutral particles
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
Labels: Bug, Component - Core

#690 fix: Fix confusion between shadowed variables in the AtlasStepperTests
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
Labels: Bug, Component - Core, Impact - Minor

#667 refactor: Geometry hierarchy material map
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Run/Common/src/CommonGeometry.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialMappingBase.cpp
  Examples/Scripts/MaterialMaping/configureMap.py
  Examples/Scripts/MaterialMaping/writeMapConfig.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryJsonKeys.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonGeometryConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeJsonConverter.hpp
  Plugins/Json/src/JsonGeometryConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Plugins/Json/src/VolumeJsonConverter.cpp
  Tests/Data/material-map.json
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
  docs/howto/run_material_mapping.rst
Labels: Component - Plugins, Impact - Major, Improvement

#691 feat: Step size constraint using proper time limit for particle decays
  Fatras/include/ActsFatras/Kernel/detail/Interactor.hpp
  Tests/UnitTests/Fatras/Kernel/InteractorTests.cpp
Labels: Component - Fatras, Improvement

#698 fix: Fix FPE issue in EigenStepper
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Bug, Component - Core

#699 feat: fix adding obj options, adding possibility to write empty json map
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonOptionsWriter.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSurfacesWriter.hpp
  Examples/Io/Json/src/JsonOptionsWriter.cpp
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
Labels: Component - Examples, Feature

#589 feat(Fatras): Particle decay
  CMakeLists.txt
  Fatras/CMakeLists.txt
  Fatras/Geant4/CMakeLists.txt
  Fatras/Geant4/include/ActsFatras/Geant4/DummyDetectorConstruction.hpp
  Fatras/Geant4/include/ActsFatras/Geant4/Geant4Decay.hpp
  Fatras/Geant4/include/ActsFatras/Geant4/PDGtoG4Converter.hpp
  Fatras/Geant4/src/DummyDetectorConstruction.cpp
  Fatras/Geant4/src/Geant4Decay.cpp
  Fatras/Geant4/src/PDGtoG4Converter.cpp
  Fatras/include/ActsFatras/EventData/ProcessType.hpp
Labels: Component - Fatras, Feature

#597 feat(Fatras): Photon conversion
  Fatras/include/ActsFatras/EventData/ProcessType.hpp
  Fatras/include/ActsFatras/Physics/PhotonConversion/PhotonConversion.hpp
  Tests/UnitTests/Fatras/Physics/CMakeLists.txt
  Tests/UnitTests/Fatras/Physics/Dataset.hpp
  Tests/UnitTests/Fatras/Physics/PhotonConversionTests.cpp
Labels: Component - Fatras, Feature

#687 feat: Allow the build to be configured in "fail on error" mode
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Utilities/Logger.cpp
  Examples/Run/Misc/CustomDefaultLogger.cpp
  Tests/UnitTests/Core/Utilities/LoggerTests.cpp
  docs/getting_started.md
Labels: Component - Core, Feature

#709 fix: use of ordered_json
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
Labels: Bug, Component - Plugins, Impact - Minor

#696 refactor(Examples): clean up magnetic field handling
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunction.cpp
  Examples/Detectors/ContextualDetector/CMakeLists.txt
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/ContextualDetector/src/PayloadDetector.cpp
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticFieldOptions.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBField.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBFieldService.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/Plugins/BField/BFieldOptions.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/Plugins/BField/BFieldScalor.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/Plugins/BField/BFieldUtils.hpp
  Examples/Detectors/MagneticField/src/BFieldOptions.cpp
  Examples/Detectors/MagneticField/src/BFieldScalor.cpp
  Examples/Detectors/MagneticField/src/BFieldUtils.cpp
  Examples/Detectors/MagneticField/src/FieldMapperRootIo.cpp
  Examples/Detectors/MagneticField/src/FieldMapperRootIo.hpp
  Examples/Detectors/MagneticField/src/FieldMapperTextIo.cpp
  Examples/Detectors/MagneticField/src/FieldMapperTextIo.hpp
  Examples/Detectors/MagneticField/src/MagneticFieldOptions.cpp
  Examples/Detectors/MagneticField/src/ScalableBFieldService.cpp
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootBFieldWriter.hpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Examples/Run/Common/src/PropagationExampleBase.cpp
  Examples/Run/Fatras/Common/FatrasSimulation.cpp
  Examples/Run/MagneticField/BFieldAccessExample.cpp
  Examples/Run/MagneticField/BFieldExample.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/RecInput.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
Labels: Component - Examples

#688 ci: Enable "fail on error" in CI
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Labels: Infrastructure

#706 ci: Basic example CI
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  CI/run_examples.sh
Labels: Infrastructure

#716 fix: Fix vertexing examples & update vertexing tutorial docs
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexingOptions.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TutorialVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexingOptions.cpp
  Examples/Run/Vertexing/Pythia8/AdaptiveMultiVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/IterativeVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/TutorialVertexFinderExample.cpp
  Examples/Run/Vertexing/Pythia8/VertexFitterExample.cpp
  Examples/Run/Vertexing/VertexFinderReaderExample.cpp
  docs/howto/setup_and_run_vertexing.md
Labels: Bug, Component - Documentation, Component - Examples

#714 fix: Bethe-Heitler photon emission
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/EventData/ProcessType.hpp
  Fatras/include/ActsFatras/Physics/EnergyLoss/BetheHeitler.hpp
  Fatras/src/Physics/EnergyLoss/BetheHeitler.cpp
  Tests/UnitTests/Fatras/Physics/EnergyLossTests.cpp
Labels: Component - Fatras, Improvement

#711 feat: update csv reading/writing infrastructure to new digitization
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MeasurementCreation.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvOptionsReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvOptionsWriter.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvOptionsReader.cpp
  Examples/Io/Csv/src/CsvOptionsWriter.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryParametersWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Run/CMakeLists.txt
  Examples/Run/Digitization/CMakeLists.txt
  Examples/Run/Digitization/Common/CMakeLists.txt
  Examples/Run/Digitization/Common/DigitizationExample.cpp
  Examples/Run/Digitization/Common/DigitizationExample.hpp
  Examples/Run/Digitization/Common/DigitizationInput.cpp
  Examples/Run/Digitization/Common/DigitizationInput.hpp
  Examples/Run/Digitization/GenericDigitizationExample.cpp
  Examples/Run/Reconstruction/Common/RecInput.hpp
Labels: Component - Examples, Feature

#718 feat: adding TGeo digitization example
  Examples/Run/Digitization/CMakeLists.txt
  Examples/Run/Digitization/TGeoDigitizationExample.cpp
Labels: Component - Examples, Feature
