Repository acts-project/acts, pull requests merged in 2021-07, with the labels that each got.

#867 feat: Update open data detector with synchronized endcap modules
  thirdparty/OpenDataDetector/xml/OpenDataLongStrips.xml
  thirdparty/OpenDataDetector/xml/OpenDataPixels.xml
  thirdparty/OpenDataDetector/xml/OpenDataShortStrips.xml
Labels: Feature

#846 refactor!: Reset navigation state in (C)KF
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitterError.hpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
Labels: Component - Core

#873 feat: introduce TGeoDetectorElementSplitter & splitted detector element constructors
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/BuildTGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/BuildTGeoDetector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetectorOptions.cpp
  Plugins/TGeo/CMakeLists.txt
  Plugins/TGeo/include/Acts/Plugins/TGeo/ITGeoDetectorElementSplitter.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/ITGeoIdentifierProvider.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoCylinderDiscSplitter.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoDetectorElement.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/src/TGeoCylinderDiscSplitter.cpp
  Plugins/TGeo/src/TGeoDetectorElement.cpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
Labels: Component - Plugins, Feature

#892 fix: build passive layers for DD4hep
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
Labels: Bug, Component - Examples

#891 fix: let CsvVolumeLayer writer also write passive surfaces
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
Labels: Bug, Component - Examples

#894 fix: TGeo disc and cylinder splitting
  Plugins/TGeo/src/TGeoCylinderDiscSplitter.cpp
Labels: Bug, Component - Examples, Component - Plugins

#893 feat: flag material if found
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
Labels: Component - Examples, Feature

#895 feat: update OpenDataDetector, refine DD4hep material handling
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ActsExtension.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeBuilder.hpp
  Plugins/DD4hep/src/ActsExtension.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  thirdparty/OpenDataDetector/factory/ODDCylinder_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDPixelBarrel_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDPixelEndcap_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDStripBarrel_geo.cpp
  thirdparty/OpenDataDetector/factory/ODDStripEndcap_geo.cpp
  thirdparty/OpenDataDetector/xml/OpenDataDetector.xml
Labels: Component - Examples, Component - Plugins, Feature

#897 fix: Json Surface Writing
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
Labels: Bug, Component - Examples

#871 build: Add option to automatically build the required boost and eigen libraries
  .github/workflows/builds.yml
  CI/check_boost_eigen_versions.sh
  CMakeLists.txt
  Examples/Algorithms/Propagation/CMakeLists.txt
  Tests/DownstreamProjectNodeps/CMakeLists.txt
  Tests/DownstreamProjectNodeps/README.md
  Tests/DownstreamProjectNodeps/ShowActsVersion.cpp
  cmake/ActsConfig.cmake.in
  docs/getting_started.md
  thirdparty/README.md
  thirdparty/boost/CMakeLists.txt
  thirdparty/eigen3/CMakeLists.txt
Labels: Infrastructure
