Repository acts-project/acts, pull requests merged in 2022-04, with the labels that each got.

#1174 feat: remaining Python examples can be chained
  CI/physmon/phys_perf_mon.sh
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/common.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/fatras.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/particle_gun.py
  Examples/Scripts/Python/pythia8.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge

#1220 feat: change name of numPhiNeighbors in the grid
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Core, Improvement, Impact - Minor

#1203 refactor!: Simplify CKF SourceLinkAccessor and make fewer assumptions
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/SourceLinkAccessorConcept.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  docs/Doxyfile
Labels: Component - Core, Improvement, automerge

#1206 refactor!: Use enum class for NavigationDirection
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/src/Definitions/Common.cpp
  Core/src/Geometry/AbstractVolume.cpp
  Core/src/Geometry/ConeVolumeBounds.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Propagator/AbortListTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#904 feat: Implement a new orthogonal range search seed finder
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/seeding.py
Labels: Component - Core, Impact - Minor, Component - Examples, Feature, automerge

#1224 ci: GPU-CI for Exa.TrkX plugin
  .gitlab-ci.yml
  Examples/Scripts/Python/exatrkx.py
Labels: Infrastructure, Component - Plugins, automerge

#1227 feat: change rMax invalid_argument to warning
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1216 ci: Add ODD file hash checks, parametrize CKF example test
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: automerge

#1226 feat: Python bindings for Telescope Detector
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Detector.cpp
  Examples/Scripts/Python/truth_tracking_telescope.py
Labels: Improvement, Component - Examples, automerge

#1231 fix: Units: redefine Coulomb = Joule/eV
  Core/include/Acts/Definitions/Units.hpp
  Tests/UnitTests/Core/Definitions/UnitsTests.cpp
Labels: Bug, Component - Core, automerge

#1235 ci: Use semantic PR action instead of app
  .github/semantic.yml
  .github/workflows/pr-lint.yml
Labels: automerge

#1234 fix: Material composition script: return 0 on success
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
Labels: Impact - Minor, automerge

#1230 feat: adding python based full chain example for the ODD
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/seeding.py
Labels: automerge

#1213 feat: change the behaviour of enableCutsForSortedSP in seedFinder
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Core, Improvement, Impact - Minor, automerge
