Repository acts-project/acts, pull requests merged in 2022-02, with the labels that each got.

#1128 feat: Python particle gun and Fatras examples can be chained
  Examples/Scripts/Python/fatras.py
  Examples/Scripts/Python/particle_gun.py
Labels: Feature, automerge

#1156 fix: Make ITk splitting json entry optional
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/JsonTGeoDetectorConfig.hpp
Labels: Bug, automerge

#1155 fix: Updating itk description in python, fixes issue #1149
  Examples/Scripts/Python/itk.py
Labels: Bug, automerge

#1157 fix: ATLAS beampipe radius in itk.py
  Examples/Scripts/Python/itk.py
Labels: automerge

#1159 fix: Add constant qualifiers to seed finder utilities
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1160 fix: Delete assignment operator for internal SPs
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1162 fix: Maybe uninit warning in KDTree
  Core/include/Acts/Utilities/KDTree.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1152 fix: Reset the stepper Jacobian in the KF smoothing
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Impact - Minor, automerge

#1171 refactor: Add method to reset jacobian in stepper
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1150 perf: replace `std::pow(x, 0.25)` with std::sqrt(std::sqrt(x))
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Improvement, automerge

#1163 ci: Lock dependencies for python-level tests
  Examples/Python/tests/requirements.in
  Examples/Python/tests/requirements.txt
Labels: Infrastructure, Component - Examples, automerge

#1165 feat: Outstream operator for TrackStatePropMask
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/TrackStatePropMask.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge
