Repository acts-project/acts, pull requests merged in 2022-03, with the labels that each got.

#1175 fix: Remove rMinMiddleSP and rMaxMiddleSP in the SeedFinder config
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
Labels: automerge

#1176 fix: Fixing units in SeedFinderConfig
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
Labels: automerge

#1180 fix: Assertion failure in propagation example
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1182 build: Allow forcing assertions
  .github/workflows/builds.yml
  CMakeLists.txt
  cmake/assert_include/Eigen/Core
  cmake/assert_include/Eigen/Dense
  cmake/assert_include/Eigen/Geometry
  cmake/assert_include/cassert
  docs/getting_started.md
Labels: automerge

#1166 feat: Improvements to Cuboid Volume Builder
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Improvement

#1179 fix: Coulombs Unit
  Core/include/Acts/Definitions/Units.hpp
  Tests/UnitTests/Core/Definitions/UnitsTests.cpp
Labels: automerge

#1189 fix: Clang (13) warning in BoundingBox
  Core/include/Acts/Utilities/BoundingBox.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1192 docs: remove copy-paste relics in comment in RPStepsWriter
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
Labels: Component - Documentation, automerge

#1185 fix: Fix issue with applying transformation to bevelled cylinders
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
Labels: automerge

#1184 feat: Implement blocked matrix multiplication
  Core/include/Acts/Utilities/Helpers.hpp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Component - Core, Impact - Minor, Feature, automerge

#1195 feat: Allow setting ACTS_LOG_FAILURE_THRESHOLD at runtime
  Core/include/Acts/Utilities/Logger.hpp
  Tests/UnitTests/Core/Utilities/LoggerTests.cpp
Labels: automerge

#1183 perf: Optimize Eigen usage in covariance engine
  Core/src/Propagator/detail/CovarianceEngine.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1194 build: Allow python bindings to be used from install
  Examples/Python/CMakeLists.txt
  Examples/Python/setup.sh.in
Labels: automerge

#1196 refactor!: Using non const InternalSpacePoint objects
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/InternalSeed.hpp
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/Seedfinder.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Seedfinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/Seedfinder.ipp
Labels: automerge

#1191 ci: Turn on FORCE_ASSERTIONS
  .github/workflows/builds.yml
Labels: automerge

#1168 feat: Curvature sorting in SeedFilter
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Feature, automerge

#1200 fix: Reduce memory usage of multiplication tests
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Bug, automerge

#1193 ci: Physics performance monitoring
  .github/workflows/builds.yml
  CI/physmon/ckf_truth_smeared.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/commit
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/truth_tracking.yml
Labels: Infrastructure, automerge

#1198 feat: Add compatibility method to seedfinder
  Core/include/Acts/Seeding/Seedfinder.hpp
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1202 build: Add `assert.h` override
  cmake/assert_include/assert.h
Labels: Bug, Impact - Minor, automerge

#1204 build: Download nlohmann/json zip instead of git clone
  thirdparty/nlohmann_json/CMakeLists.txt
Labels: automerge

#1210 ci: Fix gcovr version to 5.0
  .github/workflows/analysis.yml
Labels: Bug, Impact - Critical, automerge

#1212 ci: Python fixes
  .github/workflows/builds.yml
  .github/workflows/checks.yml
Labels: Bug, Impact - Critical, automerge

#1207 feat: make interaction point cut optional in seedFinder
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1134 feat: Gaussian Sum Filter
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/Utilities/Zip.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GsfError.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  cmake/ActsCompilerOptions.cmake
Labels: Component - Core, Feature

#1209 feat: cut to the maximum value of delta z between SPs in seedFinder
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1169 feat: Custom z bin search order
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
Labels: Feature, automerge

#1173 refactor: transformCoordinates methods without InternalSpacePoint class
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: automerge

#1205 refactor: Use enum class for MaterialUpdateStage
  Core/CMakeLists.txt
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Definitions/CMakeLists.txt
  Core/src/Definitions/Common.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge
