Repository acts-project/acts, pull requests merged in 2022-01, with the labels that each got.

#1121 refactor: Move LoggerWrapper methods to inline
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/Utilities/Logger.cpp
Labels: automerge

#1113 refactor!: stepper-state does not have to contain a stepSize object anymore
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Tests/UnitTests/Core/Propagator/AbortListTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#1119 refactor: Move Layer resolution functions to `.cpp`, reduce heap allocations
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/Layer.cpp
Labels: automerge

#1103 feat: Allow setting reverse filter p threshold
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking.py
Labels: automerge

#1131 docs: More detailed information on ROOT file hash checks
  Examples/Python/tests/conftest.py
  docs/examples/python_bindings.rst
Labels: automerge

#1129 fix: hash_root_file AttributeError: no field named 'to_numpy'
  Examples/Python/tests/helpers/hash_root.py
Labels: automerge

#1122 test: Refactor kalman-fitter test so it can be reused for other fitters
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
Labels: automerge

#1028 feat: Add python vertex example + test
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge

#1108 fix: Update volume material mapping
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Python/tests/geometry-volume-map.json
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_validation.py
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1133 refactor: Move definitions of two functions to .cpp file
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
Labels: automerge

#1136 build: upgrade autodiff version
  CMakeLists.txt
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  thirdparty/README.md
  thirdparty/autodiff/CMakeLists.txt
  thirdparty/autodiff/LICENSE
  thirdparty/autodiff/README.md
  thirdparty/autodiff/autodiff/BUILD
  thirdparty/autodiff/autodiff/CMakeLists.txt
  thirdparty/autodiff/autodiff/common/binomialcoefficient.hpp
  thirdparty/autodiff/autodiff/common/classtraits.hpp
  thirdparty/autodiff/autodiff/common/eigen.hpp
  thirdparty/autodiff/autodiff/common/meta.hpp
  thirdparty/autodiff/autodiff/common/numbertraits.hpp
  thirdparty/autodiff/autodiff/common/vectortraits.hpp
  thirdparty/autodiff/autodiff/forward/dual.hpp
  thirdparty/autodiff/autodiff/forward/dual/dual.hpp
  thirdparty/autodiff/autodiff/forward/dual/eigen.hpp
  thirdparty/autodiff/autodiff/forward/eigen.hpp
  thirdparty/autodiff/autodiff/forward/real.hpp
  thirdparty/autodiff/autodiff/forward/real/eigen.hpp
  thirdparty/autodiff/autodiff/forward/real/real.hpp
  thirdparty/autodiff/autodiff/forward/utils/derivative.hpp
  thirdparty/autodiff/autodiff/forward/utils/gradient.hpp
  thirdparty/autodiff/autodiff/forward/utils/taylorseries.hpp
  thirdparty/autodiff/autodiff/pybind11/eigen.hpp
  thirdparty/autodiff/autodiff/reverse/var.hpp
  thirdparty/autodiff/autodiff/reverse/var/eigen.hpp
  thirdparty/autodiff/autodiff/reverse/var/var.hpp
  thirdparty/autodiff/cmake/CondaAware.cmake
Labels: automerge

#1137 fix: CKF flags material surfaces as holes
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Bug, automerge

#1141 fix: Delegate checks exact compatibility of signatures
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Bug, automerge

#1118 refactor: Optimize `TrapezoidBounds` inside check
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: automerge

#1124 refactor!: Reduce heap allocations in navigation
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: automerge

#1110 feat: MultiStepper for the GSF
  Core/include/Acts/EventData/MultiComponentBoundTrackParameters.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/MultiStepperError.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Utilities/Identity.hpp
  Core/include/Acts/Utilities/detail/gaussian_mixture_helpers.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/MultiStepperError.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core, Feature

#1116 test: Remove expected_failures from tests
  Tests/UnitTests/Core/Geometry/CylinderLayerTests.cpp
  Tests/UnitTests/Core/Geometry/DiscLayerTests.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Geometry/LayerTests.cpp
  Tests/UnitTests/Core/Geometry/NavigationLayerTests.cpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/EllipseBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Labels: automerge
