Repository acts-project/acts, pull requests merged in 2022-07, with the labels that each got.

#1190 feat: fast clusterization
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Python/src/Digitization.cpp
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/digitization.py
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/ClusterizationTests.cpp
Labels: Component - Core, Component - Examples, Feature, automerge

#1296 fix: Output ROOT file closing on destruct
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Impact - Minor, automerge

#1297 refactor: More flexible logging failure threshold facility
  .github/workflows/builds.yml
  CI/physmon/physmon.py
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/Utilities/Logger.cpp
  Examples/Python/src/Base.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  docs/Doxyfile
Labels: automerge

#1298 fix: Regularize GainMatrixSmoother inverse
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/commit
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_truth_tracking.root
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge

#1301 fix: json gcc runtime error
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
Labels: automerge

#1293 feat: TGeoLayerBuilder has configurable detector element factory
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoDetectorElement.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/src/TGeoLayerBuilder.cpp
Labels: automerge

#1302 test: remove kalman smoother related log thresholds
  Examples/Python/tests/test_examples.py
Labels: automerge

#1304 docs: Infrastructure updates, add howto for making a release
  docs/conf.py
  docs/figures/release/milestone_drop.png
  docs/figures/release/milestones.png
  docs/figures/release/next_milestone.png
  docs/figures/release/select_all_closed.png
  docs/howto/howto.rst
  docs/howto/release.md
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
Labels: Component - Documentation, automerge

#1311 fix: Change edm4hep track state writing to write params
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
Labels: automerge

#1306 ci: Add codereport to clang-tidy job
  .gitlab-ci.yml
  CI/clang_tidy/requirements.in
  CI/clang_tidy/requirements.txt
Labels: automerge

#1322 ci: Use rerunfailures to retry the flaky vertexing test
  Examples/Python/tests/requirements.in
  Examples/Python/tests/requirements.txt
  Examples/Python/tests/test_examples.py
Labels: automerge

#1307 ci: Add Ubuntu 22.04 LTS builds with GCC11 and Clang 14
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
Labels: automerge

#1320 ci: Pull more config into physmon script, extend PG eta range to +-4
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/commit
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
Labels: automerge

#1321 ci: License checker script reports incorrect diff
  CI/check_license.py
Labels: automerge

#1310 refactor: Remove globalToLocal log and return actual error message
  Core/src/Propagator/detail/CovarianceEngine.cpp
Labels: Improvement, Impact - Minor, automerge

#1327 feat: easy surface debug print
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1314 chore: Update CVMFS/LCG setup scripts
  CI/setup_cvmfs_lcg.sh
  CI/setup_cvmfs_lcg100.sh
  CI/setup_cvmfs_lcg101.sh
Labels: automerge

#1324 fix: DD4hepSimulation expected compactFile be a list
  Examples/Python/tests/test_reader.py
Labels: automerge

#1326 fix: propagation bug in GSF
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Bug, Component - Core, Impact - Major, automerge

#1325 fix: Fix track-picking threshold in TrackFittingAlgorithm
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1315 fix: Make python test failure with compile-time log threshold more informative
  Examples/Python/tests/conftest.py
  Examples/Python/tests/helpers/__init__.py
Labels: automerge

#1317 feat: Propagator accepts prepared result instance
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: automerge

#1333 refactor: Log threshold error reporting
  Core/src/Utilities/Logger.cpp
  Examples/Python/python/acts/__init__.py
  Examples/Python/src/Base.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/test_examples.py
Labels: automerge

#1335 build: Update EVERYTHING, do not use EVERYTHING in LCG builds
  .github/workflows/builds.yml
  CMakeLists.txt
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
Labels: automerge

#1336 ci: Add linux_ubuntu_extra matrix image to ccache key
  .github/workflows/builds.yml
Labels: automerge

#1337 refactor: remove old DD4hep example detectors
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/compact/CLIC/Simple_CLIC.xml
  Examples/Detectors/DD4hepDetector/compact/Calorimeter/Calorimeter_LAR.xml
  Examples/Detectors/DD4hepDetector/compact/Demonstrator/Demonstrator.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_DectDimensions.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_DectEmptyMaster.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_ECalMaterial.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_HCalMaterial.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_MuonBarrelEndcap.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/FCChh_v3.03_Definitions.xml
  Examples/Detectors/DD4hepDetector/compact/FCChhBaseline/Tracker.xml
  Examples/Detectors/DD4hepDetector/compact/IBLSimple/IBLSimple.xml
  Examples/Detectors/DD4hepDetector/compact/IBLSimple/IBLSimpleDet.xml
  Examples/Detectors/DD4hepDetector/compact/elements.xml
  Examples/Detectors/DD4hepDetector/compact/materials.xml
  Examples/Detectors/DD4hepDetector/src/Calorimeter/Calorimeter_barrel.cpp
  Examples/Detectors/DD4hepDetector/src/Demonstrator/DemonstratorBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/Demonstrator/DemonstratorBeamPipe_geo.cpp
  Examples/Detectors/DD4hepDetector/src/FCChh/FCChhTrackerTkLayout_Barrel.cpp
  Examples/Detectors/DD4hepDetector/src/FCChh/FCChhTrackerTkLayout_Beampipe.cpp
  Examples/Detectors/DD4hepDetector/src/FCChh/FCChhTrackerTkLayout_Endcap.cpp
  Examples/Detectors/DD4hepDetector/src/IBL/IBLSimpleBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TKLayout/TKLayoutBarrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TKLayout/TKLayoutEndcap_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/AirTube_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/Barrel_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/BeamPipe_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/Endcap_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/SimpleLayeredCylinder_geo.cpp
  Examples/Detectors/DD4hepDetector/src/TestTracker/ZPlanarTracker_geo.cpp
Labels: automerge

#1344 fix: add missing TFile::Close() to destructors in ROOT writers
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
Labels: automerge

#1343 chore: clang-tidy readability-braces-around-statements
  .clang-tidy
  CI/clang_tidy/limits.yml
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Algorithms/Geant4/src/MaterialPhysicsList.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/EventRecording.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.cpp
  Examples/Algorithms/HepMC/src/HepMCProcessExtractor.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/MagneticField/src/FieldMapTextIo.cpp
  Examples/Io/Csv/src/CsvMultiTrajectoryWriter.cpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Vertex.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Io/Json/src/JsonGeometryList.cpp
  Examples/Io/NuclearInteractions/src/NuclearInteractionOptions.cpp
  Examples/Io/NuclearInteractions/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/NuclearInteractions/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Io/Root/src/RootBFieldWriter.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Run/Common/src/CommonMaterialMapping.cpp
  Examples/Run/Common/src/CommonOptions.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/HepMC3/HepMC3Example.cpp
  Fatras/Geant4/src/DummyDetectorConstruction.cpp
  Fatras/Geant4/src/PDGtoG4Converter.cpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
  Fatras/src/Utilities/LandauDistribution.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/DD4hep/src/DD4hepVolumeBuilder.cpp
  Tests/Benchmarks/RayFrustumBenchmark.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Seeding/SeedfinderTest.cpp
Labels: automerge

#1318 feat: Compute material variance in material mapping
  Core/include/Acts/Material/AccumulatedMaterialSlab.hpp
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/src/Material/AccumulatedMaterialSlab.cpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Python/src/Material.cpp
  Tests/UnitTests/Core/Material/AccumulatedSurfaceMaterialTests.cpp
Labels: Component - Core, Impact - Minor, Component - Examples, Feature, automerge

#1319 fix: Update the Material Mapping ploting script to remove json dependency
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_ratio.C
  Examples/Scripts/MaterialMapping/materialPlotHelper.cpp
  docs/examples/howto/run_material_mapping.rst
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1309 refactor: Move add* functions to python modules
  CI/physmon/physmon.py
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_reader.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/common.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/exatrkx.py
  Examples/Scripts/Python/fatras.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/particle_gun.py
  Examples/Scripts/Python/propagation.py
  Examples/Scripts/Python/pythia8.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  docs/getting_started.md
Labels: automerge

#1348 fix: Add missing import for exatrkx example
  Examples/Scripts/Python/exatrkx.py
Labels: automerge

#1342 chore: clang-tidy modernize-use-using
  .clang-tidy
  CI/clang_tidy/limits.yml
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Infrastructure, automerge

#1350 feat: addFatras preselectParticles config for ParticleSelector
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/seeding.py
Labels: automerge

#1331 feat: incorporate itk_seeding into chained style for Python modules with full_chain_itk example
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/itk_seeding.py
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1338 docs: General update of some docs pages, mark some pages as outdated
  CMakeLists.txt
  Core/CMakeLists.txt
  docs/conf.py
  docs/core/definitions/algebra.rst
  docs/core/eventdata.md
  docs/core/geometry.md
  docs/core/magnetic_field.rst
  docs/core/propagation.md
  docs/core/seeding.rst
  docs/core/utilities/logging.md
  docs/core/utilities/logging.rst
  docs/examples/howto/howto.md
  docs/examples/howto/howto.rst
  docs/examples/howto/run_alignment.rst
  docs/examples/howto/run_ckf_tracking.rst
  docs/examples/howto/run_material_mapping.rst
  docs/examples/howto/run_seeding.rst
  docs/examples/howto/setup_and_run_vertexing.md
  docs/examples/howto/smearing_digitization_config.md
  docs/examples/python_bindings.rst
  docs/getting_started.md
  docs/howto/howto.md
  docs/howto/howto.rst
  docs/howto/profiling.md
  docs/howto/release.md
  docs/index.rst
  docs/integration/atlas.md
  docs/integration/fcc.md
  docs/integration/integration.rst
  docs/parse_cmake_options.py
  docs/requirements.in
  docs/requirements.txt
Labels: Component - Documentation, automerge

#1351 test: clean up and fix python examples
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge
