Repository acts-project/acts, pull requests merged in 2022-08, with the labels that each got.

#1355 fix: accumulating residual plots in boundParamResolution if only `predicted==true`
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
Labels: Impact - Minor, automerge

#1349 ci: Switch gitlab test job to needs instead of dependencies
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#1356 fix: improve Python full-chain ITk example
  Examples/Scripts/Python/full_chain_itk.py
Labels: automerge

#1334 test: geant4 python example
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/geant4.py
Labels: automerge

#1347 refactor: Change ConstrainedStep to be explicit
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Tests/UnitTests/Core/Propagator/AbortListTests.cpp
  Tests/UnitTests/Core/Propagator/ActionListTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: automerge

#1359 chore: clang-tidy performance-move-const-arg
  .clang-tidy
  CI/clang_tidy/limits.yml
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/src/MagneticField/SolenoidBField.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Examples/Algorithms/Propagation/src/PropagationAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsGsf.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsKalman.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Run/Common/src/CommonMaterialMapping.cpp
  Examples/Run/Common/src/GeometryExampleBase.cpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Examples/Run/HelloWorld/HelloService.cpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Improvement, Infrastructure, automerge

#1352 feat: CI checks for ITk seeding example
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1365 ci: Set up backport action that reacts to labels
  .github/workflows/backport.yml
  .kodiak.toml
Labels: Infrastructure

#1366 feat: CI checks for ITk seeding example [backport #1352 to develop/v19.x]
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: backport

#1262 feat!: MultiTrajectory backends
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Utilities/HashedString.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/TrackStatePropMask.cpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsGsf.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsKalman.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Io/Csv/src/CsvMultiTrajectoryWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMultiTrajectoryWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/HashedStringTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1358 chore: clang-tidy modernize-use-nullptr
  .clang-tidy
  CI/clang_tidy/limits.yml
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
  Fatras/Geant4/src/DummyDetectorConstruction.cpp
  Tests/IntegrationTests/Legacy/ATLSeedingIntegrationTest.cpp
Labels: Infrastructure, automerge

#1371 fix: initialising world in GdmlDetectorConstruction
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GdmlDetectorConstruction.hpp
Labels: Bug, automerge

#1367 ci: Trigger CI also on PRs to develop/* branches
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
Labels: automerge

#1372 ci: Automatically remove automerge label when PRs are closed
  .github/workflows/remove-automerge-label.yml
Labels: automerge

#1368 fix: Warning in navigation when targeting perigee [backport #1101 to develop/v9.1.x]
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Labels: backport

#1376 chore: clang-tidy modernize-use-nullptr [backport #1358 to develop/v19.x]
  .clang-tidy
  CI/clang_tidy/limits.yml
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
  Fatras/Geant4/src/DummyDetectorConstruction.cpp
  Tests/IntegrationTests/Legacy/ATLSeedingIntegrationTest.cpp
Labels: automerge, backport

#1363 fix: any direction for helical track linearizer
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
Labels: automerge, backport develop/v19.x

#1353 docs: spelling, delete unused figures, beautify
  Core/include/Acts/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Core/include/Acts/EventData/MultiComponentBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/PassiveLayerBuilder.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Examples/Detectors/DD4hepDetector/src/DetUtils.h
  Examples/Framework/include/ActsExamples/Framework/WriterT.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/NuclearInteractions/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Tests/Benchmarks/SolenoidFieldBenchmark.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
  docs/core/magnetic_field.rst
  docs/examples/analysis_apps.rst
  docs/examples/howto/run_alignment.rst
  docs/examples/howto/run_material_mapping.rst
  docs/figures/integration_fcc/BField_FCCSW_ACTS.png
  docs/figures/integration_fcc/BField_FCCSW_ACTS1.png
  docs/figures/integration_fcc/DetElement.png
  docs/figures/integration_fcc/FCCSW_ACTS.png
  docs/figures/integration_fcc/FCCSW_digitization.png
  docs/figures/integration_fcc/FCCSW_extrapolationTest.png
  docs/figures/integration_fcc/FCCSW_extrapolationTool.png
  docs/figures/integration_fcc/GaudiLogger.png
  docs/figures/integration_fcc/Gaudi_ACTS.png
  docs/getting_started.md
  docs/license.rst
Labels: Component - Documentation, automerge, backport develop/v19.x

#1377 fix: any direction for helical track linearizer [backport #1363 to develop/v19.x]
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
Labels: automerge, backport

#1379 docs: spelling, delete unused figures, beautify [backport #1353 to develop/v19.x]
  Core/include/Acts/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Core/include/Acts/EventData/MultiComponentBoundTrackParameters.hpp
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/PassiveLayerBuilder.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Examples/Detectors/DD4hepDetector/src/DetUtils.h
  Examples/Framework/include/ActsExamples/Framework/WriterT.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/NuclearInteractions/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Tests/Benchmarks/SolenoidFieldBenchmark.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
  docs/core/magnetic_field.rst
  docs/examples/analysis_apps.rst
  docs/examples/howto/run_alignment.rst
  docs/examples/howto/run_material_mapping.rst
  docs/figures/integration_fcc/BField_FCCSW_ACTS.png
  docs/figures/integration_fcc/BField_FCCSW_ACTS1.png
  docs/figures/integration_fcc/DetElement.png
  docs/figures/integration_fcc/FCCSW_ACTS.png
  docs/figures/integration_fcc/FCCSW_digitization.png
  docs/figures/integration_fcc/FCCSW_extrapolationTest.png
  docs/figures/integration_fcc/FCCSW_extrapolationTool.png
  docs/figures/integration_fcc/GaudiLogger.png
  docs/figures/integration_fcc/Gaudi_ACTS.png
  docs/getting_started.md
  docs/license.rst
Labels: automerge, backport

#1339 fix: Multi-Stepper stepping error in multiple components + refactoring
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperError.hpp
  Core/src/Propagator/MultiStepperError.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1380 fix: Comparison bug in updateSingleSurfaceStatus [backport #1107 to develop/v9.1.x]
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: automerge, backport

#1373 chore: clang tidy check uninitialized members
  .clang-tidy
  cmake/ActsStaticAnalysis.cmake
Labels: automerge

#1384 ci: Cleaned up the workflow files a little.
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Labels: automerge

#1387 docs: restructure docs tree
  docs/acts.md
  docs/contribution/clang_tidy.md
  docs/contribution/contribution.md
  docs/contribution/documentation_build.md
  docs/contribution/guide.rst
  docs/contribution/physmon.md
  docs/contribution/profiling.md
  docs/contribution/release.md
  docs/contribution/root_hash_checks.md
  docs/contribution/run_formatting.md
  docs/contribution/style_guide.md
  docs/contributionguide.rst
  docs/core/core.rst
  docs/core/logging.md
  docs/core/track_finding.md
  docs/core/track_fitting.md
  docs/core/vertexing.md
  docs/examples/alignment.md
  docs/examples/digizier_config.md
  docs/examples/examples.rst
  docs/examples/full_chain_odd.md
  docs/examples/geo_selection.md
  docs/examples/material_mapping.md
  docs/fatras/fatras.md
  docs/howto/howto.md
  docs/howto/material_mapping_and_validation.md
  docs/howto/produce_digitizer_config.md
  docs/howto/produce_geometry_selection.md
  docs/index.rst
  docs/plugins/autodiff.md
  docs/plugins/dd4hep_old.rst
  docs/plugins/digitization.rst
  docs/plugins/exatrkx.md
  docs/plugins/identification.rst
  docs/plugins/json.md
  docs/plugins/plugins.rst
  docs/plugins/sycl.rst
  docs/tracking.md
Labels: :construction: WIP

#1396 docs: Propagation
  docs/core/propagation.md
Labels: Component - Documentation

#1405 docs: minor corrections
  docs/core/propagation.md
Labels: Component - Documentation

#1383 fix: TrackingVolume intersection check didn't copy sign [backport #1115 to develop/v9.1.x]
  Core/src/Geometry/TrackingVolume.cpp
Labels: backport

#1299 fix: full chain vertexing
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Impact - Minor, automerge

#1407 docs: minor corrections. followup to PR #1405
  docs/core/propagation.md
Labels: Component - Documentation, automerge

#1410 feat: Enable Delegates to conveniently use stateful lambdas
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core, Improvement, automerge

#1393 docs: Add docs clean target to cmake
  docs/CMakeLists.txt
Labels: Component - Documentation, automerge

#1382 fix: Multi-Stepper stepping error in multiple components + refactoring [backport #1339 to develop/v19.x]
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperError.hpp
  Core/src/Propagator/MultiStepperError.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: backport

#1415 ci: Backport a number of CI / docs config updates
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/docs.yml
Labels: automerge

#1414 feat: Enable Delegates to conveniently use stateful lambdas [backport #1410 to develop/v19.x]
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: automerge, backport

#1392 docs: adding acts project page
  docs/acts.md
  docs/acts_project.md
  docs/index.rst
Labels: Component - Documentation, automerge

#1413 fix: change typeid check to dynamic_cast [backport #1409 to develop/v19.x]
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
Labels: automerge, backport

#1381 fix: RootBFieldWriter incorrect output
  Core/src/MagneticField/BFieldMapUtils.cpp
  Examples/Detectors/MagneticField/src/FieldMapRootIo.cpp
  Examples/Io/Root/src/RootBFieldWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/bfield_writing.py
Labels: automerge

#1425 refactor: Improve ActsPythonBindings tracing
  Examples/Python/python/acts/_adapter.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge

#1426 refactor: Improve ActsPythonBindings tracing [backport #1425 to develop/v19.x]
  Examples/Python/python/acts/_adapter.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge, backport

#1427 ci: Bump codecov action to v3
  .github/workflows/analysis.yml
Labels: automerge

#1431 docs: Use DEVNULL instead of PIPE in apidoc subprocess
  docs/conf.py
Labels: Component - Documentation, automerge

#1424 feat: use Range1D<> class for extent
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Utilities/BinningType.hpp
  Core/include/Acts/Utilities/Enumerate.hpp
  Core/src/Geometry/Extent.cpp
  Core/src/Geometry/Polyhedron.cpp
  Core/src/Geometry/ProtoLayerHelper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
Labels: Component - Core, automerge

#1430 docs: Fix sphinx-level warnings
  .github/workflows/docs.yml
  CMakeLists.txt
  CONTRIBUTING.rst
  Core/include/Acts/Definitions/Units.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/MagneticFieldContext.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Seeding/Seedfinder.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Utilities/CalibrationContext.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  docs/CMakeLists.txt
  docs/Doxyfile
  docs/_extensions/warnings_filter.py
  docs/conf.py
  docs/core/definitions/units.md
  docs/core/definitions/units.rst
  docs/core/magnetic_field.rst
  docs/core/propagation.md
  docs/examples/howto/howto.md
  docs/getting_started.md
  docs/known-warnings.txt
  docs/plugins/dd4hep.md
  docs/requirements.txt
Labels: Component - Documentation, automerge

#1401 docs: Description of ODD full chain example
  docs/examples/full_chain_odd.md
Labels: Component - Documentation, automerge

#1432 docs: Use DEVNULL instead of PIPE in apidoc subprocess [backport #1431 to develop/v19.x]
  docs/conf.py
Labels: automerge, backport

#1438 fix: RootBFieldWriter incorrect output [backport #1381 to develop/v19.x]
  Core/src/MagneticField/BFieldMapUtils.cpp
  Examples/Detectors/MagneticField/src/FieldMapRootIo.cpp
  Examples/Io/Root/src/RootBFieldWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/bfield_writing.py
Labels: automerge, backport

#1404 refactor: no return for add* python helpers
  CI/physmon/physmon.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/exatrkx.py
  Examples/Scripts/Python/fatras.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/particle_gun.py
  Examples/Scripts/Python/pythia8.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge, backport develop/v19.x

#1429 docs: Automatically generate API index
  docs/CMakeLists.txt
  docs/api/api_index.rst
  docs/api/api_stub.rst
Labels: Component - Documentation, automerge

#1439 fix: full chain vertexing [backport #1299 to develop/v19.x]
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge, backport

#1433 fix: navigator priority with negative boundary distance
  Core/src/Geometry/TrackingVolume.cpp
Labels: automerge, backport develop/v19.x

#1435 refactor: debug print particle id value
  Fatras/src/EventData/Particle.cpp
Labels: automerge, backport develop/v19.x

#1441 fix: navigator priority with negative boundary distance [backport #1433 to develop/v19.x]
  Core/src/Geometry/TrackingVolume.cpp
Labels: automerge, backport

#1447 feat: addCKFTracks option to disable some output
  Examples/Python/python/acts/examples/reconstruction.py
Labels: automerge

#1446 ci: Update macOS CI dependencies [backport of #1445 to develop/v19.x]
  .github/workflows/builds.yml
Labels: automerge, backport

#1451 refactor: consistent naming for simhits
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/SurfaceSortingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/ExaTrkX/TrackFindingExaTrkXGeneric.cpp
Labels: automerge

#1449 feat: don't use TBB in Sequence(numThreads=1) [backport #1444 to develop/v19.x]
  CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Utilities/tbbWrap.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/tests/test_base.py
  docs/getting_started.md
Labels: automerge, backport develop/v19.x, backport

#1455 refactor: consistent naming for simhits [backport #1451 to develop/v19.x]
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/SurfaceSortingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Run/Reconstruction/ExaTrkX/TrackFindingExaTrkXGeneric.cpp
Labels: automerge, backport

#1457 refactor: no return for add* python helpers [backport #1404 to develop/v19.x]
  CI/physmon/physmon.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/exatrkx.py
  Examples/Scripts/Python/fatras.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/particle_gun.py
  Examples/Scripts/Python/pythia8.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge, backport

#1459 feat: Algorithm lifecycle methods: initialize & finalize
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/Framework/BareAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/ModuleEntry.cpp
Labels: automerge, backport develop/v19.x

#1461 test: Add hash check to pythia8 output
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: automerge

#1462 feat: Algorithm lifecycle methods: initialize & finalize [backport #1459 to develop/v19.x]
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/Framework/BareAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/ModuleEntry.cpp
Labels: automerge, backport

#1378 feat: Checks for configuration of delta R values in seed finder
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1453 feat: core add particle stopped aborter
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: automerge, backport develop/v19.x

#1469 perf: Remove x87 elliptic integral in solenoid B-field
  Core/src/MagneticField/SolenoidBField.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1443 feat: update to version v0.4.20 of ActSVG
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSpacePointWriter.hpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgDefaults.hpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgPointWriter.hpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgTrackingGeometryWriter.hpp
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/CMakeLists.txt
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/EventDataSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceArraySvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SvgUtils.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/ActSVG/src/EventDataSvgConverter.cpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
  thirdparty/actsvg/CMakeLists.txt
Labels: Component - Plugins

#1475 refactor: Remove dependency on deprecated std::binary_function [backport #1474 to develop/v19.x]
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
Labels: automerge, backport

#1452 feat: Identifier can be customized for sensitive surfaces
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/GeometryIdentifier.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/UnitTests/Core/Geometry/GeometryIdentifierTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
Labels: automerge, backport develop/v19.x

#1479 feat: Identifier can be customized for sensitive surfaces [backport #1452 to develop/v19.x]
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/GeometryIdentifier.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/UnitTests/Core/Geometry/GeometryIdentifierTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
Labels: automerge, backport

#1468 feat: core add particle stopped aborter [backport #1453 to develop/v19.x]
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: automerge, backport
