Repository acts-project/acts, pull requests merged in 2022-12, with the labels that each got.

#1703 docs: Configure linkcheck to retry a few times
  docs/conf.py
Labels: automerge

#1599 docs: Added description of how to add new algorithm
  docs/examples/howto/howto.md
  docs/howto/add_new_algorithm.md
  docs/howto/howto.md
Labels: Component - Documentation

#1681 chore: run physmon in parallel
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
Labels: Component - Examples, automerge

#1682 feat: HelicalLinearizer accepts logger
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: automerge

#1687 fix: Missing track selection on negative d0
  CI/physmon/physmon.py
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge

#1708 docs: Ignore doi.org (gives 403s), bump checkout version
  .github/workflows/docs.yml
  docs/conf.py
Labels: automerge

#1712 fix: and refactor root writer closing
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Io/Root/src/RootSpacepointWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
Labels: Component - Examples, automerge

#1701 feat: MultiTrajectory track state ranges
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: automerge

#1695 feat: Any type with configurable small buffer optimization
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: automerge

#1706 fix: Change theta and eta calls on only 3D Vectors
  Core/include/Acts/Utilities/Helpers.hpp
Labels: automerge

#1719 refactor: transpose vectors in AMVF logging
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
Labels: automerge

#1710 fix: fix FPE and refactor GSF component reduction
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Bug, Component - Core, automerge

#1707 fix: Protection against v == 0 in template_switch
  Core/include/Acts/Utilities/Helpers.hpp
Labels: automerge

#1730 fix: MultiTrajectory specialize DynamicColumn for bool
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
Labels: automerge

#1705 refactor!: CKF interface change to once per seed
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: automerge

#1735 fix: remove `CustomDefaultLogger.cpp`-entry from docs
  docs/core/logging.md
Labels: Impact - Minor, Component - Documentation, automerge

#1616 refactor!: Switch SourceLink to container
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Digitization/DigitizationSourceLink.hpp
  Core/include/Acts/Digitization/PlanarModuleCluster.hpp
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrajectoriesToPrototracks.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFittingChi2/include/ActsExamples/TrackFittingChi2/TrackFittingChi2Algorithm.hpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2AlgorithmFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootSpacepointWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/Chi2FitterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1728 chore: Script to merge hash txt files
  CI/merge_hashes.py
Labels: automerge

#1737 feat: root event diff script
  CI/root_event_diff_np.py
Labels: Infrastructure, automerge

#1717 feat: examples CSV track param writer
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#1726 feat: track modifier for examples
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#1738 chore: Bump 'bundled' pybind11 to v2.10.1
  thirdparty/pybind11/CMakeLists.txt
Labels: Infrastructure, automerge

#1740 refactor: SourceLink uses custom Acts::Any
  Core/include/Acts/EventData/SourceLink.hpp
Labels: Component - Core, automerge

#1725 fix: GX2F: write correct chi2 to root
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
Labels: Component - Core, Impact - Minor, automerge

#1747 fix: Multistepper error condition
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1723 feat: align amvf config with athena
  Core/include/Acts/Utilities/AnnealingUtility.hpp
  Core/src/Utilities/AnnealingUtility.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Utilities/AnnealingUtilityTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  docs/examples/howto/setup_and_run_vertexing.md
Labels: Component - Examples, automerge

#1693 refactor!: Refactored SeedFinder to avoid the need to recreate it for every event
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Improvement, automerge

#1749 refactor!: Set calibratedSize only through allocateCalibrated
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
Labels: automerge

#1745 fix: Add missing SeedFinderOptions OrthogonalSeeding example
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/itk_seeding.py
Labels: Bug, automerge

#1742 fix: root measurement writer did not write measurements
  Examples/Algorithms/Digitization/src/DigitizationConfig.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge

#1750 fix: in cylinder volume helper
  Core/src/Geometry/CylinderVolumeHelper.cpp
Labels: Bug, automerge

#1744 fix: Seed filter should make no use of external sp methods
  Core/include/Acts/Seeding/SeedFilter.ipp
Labels: Bug, automerge

#1751 feat: Fully configurable layer envelopes
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
Labels: automerge

#1649 feat: Floating point exception monitoring
  .github/workflows/builds.yml
  CI/physmon/physmon.py
  Core/CMakeLists.txt
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Utilities/FpeMonitor.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Material/Interactions.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/FpeMonitor.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/src/Generators.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/full_chain_odd.py
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/FpeMonitorTests.cpp
Labels: automerge

#1729 feat!: Track class first iteration
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/Track.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1765 refactor!: MTJ calibrated size via dedicated method
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
Labels: automerge

#1766 refactor!: MTJ uncalibrated -> uncalibratedSourceLink
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrajectoriesToPrototracks.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Labels: automerge
