Repository acts-project/acts, pull requests merged in 2022-10, with the labels that each got.

#1566 feat: Allow building with system libs by default
  CMakeLists.txt
Labels: Improvement, Infrastructure, Impact - Minor, automerge, backport develop/v19.x

#1563 feat: Added Optimization Scripts [backport of #1541 to develop/v19.x]
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/Orion_tuning.py
  Examples/Scripts/Optimization/ckf.py
  docs/howto/run_ckf_auto_tuning.rst
Labels: automerge, backport

#1517 docs: Exa.TrkX
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingBase.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingOnnx.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingTorch.hpp
  docs/Doxyfile
  docs/core/track_finding.md
  docs/plugins/exatrkx.md
Labels: Component - Documentation, automerge

#1565 fix: Remove example spacepoint from seeding code [backport #1564 to develop/v19.x]
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: automerge, backport, automerge priority

#1568 feat: Exa.TrkX with torchscript backend [backport of #1473 to develop/v19.x]
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrajectoriesToPrototracks.hpp
  Examples/Algorithms/TrackFinding/src/TrajectoriesToPrototracks.cpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/ExaTrkX/CMakeLists.txt
  Examples/Run/Reconstruction/ExaTrkX/TrackFindingExaTrkXGeneric.cpp
  Examples/Scripts/Python/exatrkx.py
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingBase.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingOnnx.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingTorch.hpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingTorch.cpp
  Plugins/ExaTrkX/src/TestPipelineWithCsv.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
  Plugins/ExaTrkX/src/buildEdges.hpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsBoost.hpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
  thirdparty/FRNN/CMakeLists.txt
  thirdparty/FRNN/CMakeLists.txt.in
  thirdparty/README.md
  thirdparty/libFRNN/CMakeLists.txt
  thirdparty/libFRNN/README.md
  thirdparty/libFRNN/counting_sort.cu
  thirdparty/libFRNN/find_nbrs.cu
  thirdparty/libFRNN/include/counting_sort.h
  thirdparty/libFRNN/include/cutil_math.h
  thirdparty/libFRNN/include/dispatch.cuh
  thirdparty/libFRNN/include/dispatch.h
  thirdparty/libFRNN/include/find_nbrs.h
  thirdparty/libFRNN/include/grid.h
  thirdparty/libFRNN/include/index_utils.cuh
  thirdparty/libFRNN/include/insert_points.h
  thirdparty/libFRNN/include/mink.cuh
  thirdparty/libFRNN/include/prefix_sum.h
  thirdparty/libFRNN/insert_points.cu
  thirdparty/libFRNN/prefix_sum.cu
Labels: automerge, backport

#1572 feat: Allow building with system libs by default [backport #1566 to develop/v19.x]
  CMakeLists.txt
Labels: automerge, backport

#1567 refactor: simplify RootVertexPerformanceWriter
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: automerge

#1570 fix: Add required flags to cmdline args in analysis scripts
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1364 fix: Refactor and fix component merging for GSF
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/include/Acts/Utilities/detail/gaussian_mixture_helpers.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Bug, Component - Core, automerge

#1574 refactor: simplify RootVertexPerformanceWriter [backport #1567 to develop/v19.x]
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: automerge, backport

#1569 refactor: replace boost filesystem with std
  .github/workflows/builds.yml
  CMakeLists.txt
  Examples/CMakeLists.txt
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/src/MagneticFieldOptions.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/src/Utilities/Paths.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Common/include/ActsExamples/Reconstruction/ReconstructionBase.hpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingTorch.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.cpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  cmake/FindFilesystem.cmake
  thirdparty/boost/CMakeLists.txt
Labels: automerge

#1583 ci: Bump macOS dependencies again
  .github/workflows/builds.yml
Labels: automerge

#1581 refactor: Improve verbose logging in Kalman Filter
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: automerge

#1586 ci: Bump macOS dependencies again [backport #1583 to develop/v19.x]
  .github/workflows/builds.yml
Labels: automerge, backport, automerge priority

#1584 refactor: Improve verbose logging in Kalman Filter [backport #1581 to develop/v19.x]
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: automerge, backport

#1454 fix: stop CKF branch if particle is stopped
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
  Core/src/TrackFinding/CombinatorialKalmanFilterError.cpp
Labels: Improvement, Impact - Minor, automerge

#1585 fix: Add required flags to cmdline args in analysis scripts [backport #1570 to develop/v19.x]
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
Labels: automerge, backport

#1587 refactor: replace boost filesystem with std [backport #1569 to develop/v19.x]
  .github/workflows/builds.yml
  CMakeLists.txt
  Examples/CMakeLists.txt
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/src/MagneticFieldOptions.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/src/Utilities/Paths.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
  Examples/Run/Common/include/ActsExamples/Reconstruction/ReconstructionBase.hpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingTorch.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DataDirectory.cpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  cmake/FindFilesystem.cmake
  thirdparty/boost/CMakeLists.txt
Labels: automerge, backport

#1576 feat: break loop over triplets in seed finder
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1476 docs: updates to the seeding documentation
  docs/core/seeding.md
  docs/core/seeding.rst
  docs/figures/seeding/3Dcoordinates.svg
  docs/figures/seeding/impactParameter.svg
  docs/figures/seeding/r-zCoordinates.svg
  docs/figures/seeding/tripletsFormation.svg
  docs/figures/seeding/x-yCoordinates.svg
Labels: Component - Documentation, automerge

#1590 fix: stop CKF branch if particle is stopped [backport #1454 to develop/v19.x]
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
  Core/src/TrackFinding/CombinatorialKalmanFilterError.cpp
Labels: automerge, backport

#1589 refactor: Improve logging, configuration and doc of G4 surface mapping
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Python/src/Geant4Component.cpp
Labels: Improvement, Component - Examples, automerge

#1593 refactor: Remove workarounds in GSF for result initialization
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1511 feat: VectorMultiTrajectory memory statistics
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: automerge, automerge priority

#1591 fix: non finite weight handling in GSF
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1597 feat: Make whiteboard suggest names on mismatch
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Labels: Improvement, Component - Examples, automerge

#1595 feat: Vertexing mu scan and CI job that creates it
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  Examples/Scripts/vertex_mu_scan.py
Labels: Improvement, Infrastructure, automerge

#1598 docs: fix caption of figure in seeding documentation
  docs/core/seeding.md
Labels: Component - Documentation, automerge

#1600 fix: Restore compatibility of GSF with gcc-8
  Core/include/Acts/Utilities/detail/gaussian_mixture_helpers.hpp
Labels: Bug, Component - Core, automerge

#1542 refactor: Add early stop mechanism for GSF forward pass
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Improvement, automerge

#1601 feat: deltaZ cut in SeedFinderOrthogonal
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1510 refactor: Add macro to simplify algorithm binding
  Examples/Algorithms/HepMC/include/ActsExamples/HepMC/HepMCProcessExtractor.hpp
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.hpp
  Examples/Algorithms/Printers/ActsExamples/Printers/ParticlesPrinter.hpp
  Examples/Algorithms/Printers/ActsExamples/Printers/TrackParametersPrinter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvParticleWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacepointWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackingGeometryWriter.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/NuclearInteractions/include/ActsExamples/Io/NuclearInteractions/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjPropagationStepsWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPlanarClusterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectorySummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/src/EDM4hep.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/ExampleAlgorithms.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geant4HepMC3.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/Propagation.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/src/Vertexing.cpp
Labels: Component - Examples, automerge

#1604 feat: helix cut calculated from duplets in orthogonal seeding
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1575 refactor!: Rename Seedfinder to SeedFinder - classes and files
  CI/physmon/physmon.py
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/seeding.py
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/FindDublets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/Details/FindTriplets.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Cuda/src/Seeding2/FindDublets.cu
  Plugins/Cuda/src/Seeding2/FindTriplets.cu
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.hpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.ipp
  Plugins/Sycl/CMakeLists.txt
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/CreateSeedsForGroupSycl.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/detail/Types.hpp
  Plugins/Sycl/src/Seeding/CreateSeedsForGroupSycl.cpp
  Plugins/Sycl/src/Seeding/DupletSearch.hpp
  Plugins/Sycl/src/Seeding/TripletFilter.hpp
  Plugins/Sycl/src/Seeding/TripletSearch.hpp
  Tests/IntegrationTests/Legacy/ATLSeedingIntegrationTest.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/CMakeLists.txt
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  docs/examples/howto/run_sycl_seed_finding.rst
  docs/known-warnings.txt
Labels: Component - Core, automerge

#1606 ci: update macos deps
  .github/workflows/builds.yml
Labels: automerge

#1398 docs: Add Track Fitting
  docs/core/track_fitting.md
Labels: Component - Documentation, automerge

#1577 refactor: rearrange seed confirmation to avoid unnecessary checks
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1605 fix: orthogonal seeding configuration with Python bindings
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1608 feat: skip SPs based on cotTheta sorting in orthogonal seeding
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1614 chore: Update physmon template
  CI/physmon/comment_template.md
Labels: automerge

#1618 ci: Bump setup-python
  .github/workflows/checks.yml
  .github/workflows/release.yml
Labels: automerge

#1619 chore: auto cancel
  .github/workflows/analysis.yml
  .github/workflows/backport.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/release_pr.yml
Labels: automerge

#1579 feat: poor man's ambiguity resolution example
  CI/physmon/comment_template.md
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AmbiguityResolutionAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge

#1623 refactor: Change loglevel for MultiTrajectory memory statistics from info to debug
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1625 fix: enable examples if python examples are enabled
  CMakeLists.txt
Labels: Bug, Impact - Minor, automerge

#1609 refactor!: Put GSF in namespace Acts::Experimental
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/src/TrackFitting/GsfError.cpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  docs/acts_project.md
  docs/core/track_fitting.md
  docs/versioning.rst
Labels: Component - Core, Component - Documentation, automerge

#1558 refactor: time optimization for calculation of min and max r variable range
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Improvement, automerge

#1512 refactor!: MTJ stores measurement as jagged vector
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
Labels: automerge

#1639 refactor: configurable variables in seed confirmation
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge
