Repository acts-project/acts, pull requests merged in 2022-05, with the labels that each got.

#1243 ci: Bump docker image versions
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#1237 ci: Physmon follow up: enable failure again
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/commit
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_truth_tracking.root
Labels: Infrastructure, automerge

#1233 refactor: Add nonlinear correction in KF
  Core/include/Acts/EventData/detail/CorrectedTransformationFreeToBound.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/CorrectedTransformationFreeToBound.cpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingOptions.cpp
  Examples/Python/src/TrackFitting.cpp
  Examples/Run/Reconstruction/Common/RecTruthTracks.cpp
  Examples/Scripts/Python/truth_tracking.py
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, automerge

#1248 fix: fix scattering calculation in SeedFinderOrthogonal
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Impact - Minor, automerge

#1208 ci: Clang tidy 2022
  .clang-tidy
  .github/workflows/analysis.yml
  .gitlab-ci.yml
  .static_analysis_limits.yml
  CI/clang_tidy/check_clang_tidy.py
  CI/clang_tidy/item.py
  CI/clang_tidy/limits.yml
  CI/clang_tidy/parse_clang_tidy.py
  CI/clang_tidy/requirements.in
  CI/clang_tidy/requirements.txt
  CI/clang_tidy/run_clang_tidy.sh
  CMakeLists.txt
  cmake/ActsStaticAnalysis.cmake
Labels: automerge

#1247 ci: Add full chain test
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
Labels: automerge

#1250 ci: Full chain ODD monitoring follow-up
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CMakeLists.txt
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
Labels: automerge

#1244 feat: Python examples updates for CKF and ITk
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/itk.py
Labels: automerge

#1252 ci: Fix GPU CI on A4000
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#1249 feat: Increase robustness of Python setup script
  Examples/Python/CMakeLists.txt
  Examples/Python/setup.sh.in
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1254 fix: prevent debug printout crashing Python TGeoDetector.create()
  Examples/Python/python/acts/examples/__init__.py
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples, automerge

#1258 fix: ODD with macOS
  Examples/Scripts/Python/common.py
  docs/getting_started.md
Labels: Bug, Impact - Minor, automerge

#1223 fix: Kalman Filter with ATLAS Stepper
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/FloatComparisons.hpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
Labels: Bug, Component - Core, Impact - Major

#1256 feat: add RKN-monitoring to EigenStepper (State and root)
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Feature

#1255 feat: Using delegates to retrieve detailed information in space points built from double measurements
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointReader.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Feature

#1261 feat: minimum and maximum values of deltaRMiddleSPRange in check for radial region of interest of middle SP
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Core, Improvement, Impact - Minor

#1263 ci: Use restore-key to continually update ccache storage
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#1251 feat: add Python bindings for MagneticFieldMap
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/FieldMapRootIo.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/FieldMapTextIo.hpp
  Examples/Detectors/MagneticField/src/FieldMapRootIo.cpp
  Examples/Detectors/MagneticField/src/FieldMapTextIo.cpp
  Examples/Detectors/MagneticField/src/MagneticFieldOptions.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Scripts/Python/full_chain_itk.py
Labels: automerge

#1201 feat: ITk seedFilter integration and seed quality confirmation
  Core/include/Acts/Seeding/InternalSeed.hpp
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/Seedfinder.ipp
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/itk_seeding.py
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/Seedfinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/Seedfinder.ipp
Labels: Improvement, automerge

#1265 fix: Bug in xyz strip coordinates transformation
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: Bug, Component - Core, Impact - Minor
