Repository acts-project/acts, pull requests merged in 2022-09, with the labels that each got.

#1478 test: big bounding box vs frustum intersection
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
Labels: automerge

#1480 feat: Update RootVertexPerformanceWriter to work with track finding [backport #1460 to develop/v19.x]
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge, backport

#1483 test: Use tempdir to produce BB vis output
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: automerge

#1485 fix: Set s_binningValues as const
  Core/include/Acts/Utilities/BinningType.hpp
Labels: automerge, backport develop/v19.x

#1486 feat: Checks for configuration of delta R values in seed finder [backport #1378 to develop/v19.x]
  Core/include/Acts/Seeding/SeedfinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: automerge, backport

#1466 feat: check if yOuter takes the square root of a negative number when minHelixRadius < rMax / 2 in SpacePointGrid.ipp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1218 refactor: SP builder update
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_truth_tracking.root
  Core/include/Acts/Digitization/DigitizationModule.hpp
  Core/include/Acts/Digitization/DoubleHitSpacePointBuilder.hpp
  Core/include/Acts/Digitization/SingleHitSpacePointBuilder.hpp
  Core/include/Acts/Digitization/SpacePointBuilder.hpp
  Core/include/Acts/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Core/include/Acts/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderConfig.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/UnitTests/Core/SpacePointFormation/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/DoubleHitSpacePointBuilderTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SingleHitSpacePointBuilderTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
Labels: Component - Core

#1471 feat: split deltaR in seedFinderOrthogonal
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1492 ci: RTD fix for API listing
  docs/CMakeLists.txt
  docs/conf.py
Labels: automerge

#1493 docs: Add as small cheatsheet with some Myst-Markdown snippets
  docs/contribution/contribution.md
  docs/contribution/documentation_cheatsheet.md
Labels: Component - Documentation, automerge

#1490 refactor: loop protection as a function
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/LoopProtection.hpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
Labels: automerge, backport develop/v19.x

#1495 docs: fix image paths
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
Labels: Component - Documentation, automerge

#1494 refactor: loop protection as a function [backport #1490 to develop/v19.x]
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/LoopProtection.hpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
Labels: automerge, backport

#1497 docs: Switch to doxygen FAIL_ON_WARNINGS
  .github/workflows/docs.yml
Labels: Component - Documentation, automerge

#1417 refactor: Vertex performance monitoring
  .github/workflows/builds.yml
  CI/physmon/default.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  Examples/Scripts/generic_plotter.py
  Examples/Scripts/requirements.in
  Examples/Scripts/requirements.txt
Labels: automerge

#1489 ci: Add ccache stats output
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Labels: automerge

#1448 refactor: python examples log level overwrite mechanism
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
Labels: automerge

#1498 fix: any direction for helical track linearizer [backport #1363 to develop/v9.1.x]
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
Labels: backport

#1501 ci: Update macOS CI dependencies [backport of #1445 to develop/v19.0.x]
  .github/workflows/builds.yml
Labels: backport

#1500 fix: Make JsonMaterialDecorator IO error more explicit
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
Labels: automerge

#1503 ci: Fix GPU CI on A4000 [backport of #1252 to develop/v19.0.x]
  .gitlab-ci.yml
Labels: backport

#1502 refactor: Change ConstrainedStep to be explicit [backport #1347 to develop/v19.0.x]
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Tests/UnitTests/Core/Propagator/AbortListTests.cpp
  Tests/UnitTests/Core/Propagator/ActionListTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: backport

#1507 refactor: Reuse MultiTrajectory in (C)KF
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsGsf.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsKalman.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: automerge

#1514 fix: Sequencer correctly calls algorithm finalize
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: automerge, backport develop/v19.x

#1509 feat: Add operator -> to Acts::Result
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/Utilities/Result.hpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1519 docs: Remove obsolete config, and invalid doc markup
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  docs/Doxyfile
Labels: Component - Documentation, automerge

#1515 fix: Sequencer correctly calls algorithm finalize [backport #1514 to develop/v19.x]
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: automerge, backport

#1340 docs: Fix seeding example documentation
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/ckf_tracks.py
  docs/examples/howto/run_seeding.rst
Labels: Component - Documentation, automerge

#1523 docs: Enable sphinx linkcheck build in CI
  CONTRIBUTING.rst
  docs/CMakeLists.txt
Labels: Component - Documentation, automerge

#1518 docs: Update magnetic field documentation
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldProvider.hpp
  Core/include/Acts/MagneticField/SharedBField.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsGsf.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithmFunctionsKalman.cpp
  Examples/Run/Common/src/MaterialValidationBase.cpp
  Examples/Run/Common/src/PropagationExampleBase.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/MagneticField/MagneticFieldInterfaceConsistencyTests.cpp
  docs/core/magnetic_field.md
  docs/core/magnetic_field.rst
  docs/known-warnings.txt
Labels: Component - Documentation, automerge

#1399 docs: Tracking in a nutshell
  docs/conf.py
  docs/core/clustering.md
  docs/core/core.rst
  docs/core/eventdata.md
  docs/core/geometry.md
  docs/core/material.rst
  docs/core/propagation.md
  docs/core/seeding.rst
  docs/core/spacepoint_formation.md
  docs/core/track_finding.md
  docs/core/track_fitting.md
  docs/core/vertexing.md
  docs/figures/tracking/cca.svg
  docs/figures/tracking/clustering.svg
  docs/figures/tracking/finding.svg
  docs/figures/tracking/geometry_detail.svg
  docs/figures/tracking/kalman.svg
  docs/figures/tracking/layer_barrel.svg
  docs/figures/tracking/layer_ec.svg
  docs/figures/tracking/layer_geo.svg
  docs/figures/tracking/multiple_scattering.svg
  docs/figures/tracking/navigation.svg
  docs/figures/tracking/parameters.svg
  docs/figures/tracking/perigee.svg
  docs/figures/tracking/rk.svg
  docs/figures/tracking/seeding.svg
  docs/figures/tracking/segmentation.svg
  docs/figures/tracking/sp_l2g.svg
  docs/figures/tracking/strip_ghosts.svg
  docs/figures/tracking/surface_array.svg
  docs/figures/tracking/tracking.svg
  docs/figures/tracking/vertexing.svg
  docs/howto/material_mapping_and_validation.md
  docs/tracking.md
Labels: Component - Documentation, automerge

#1520 docs: Update logging doc, add info on thresholds
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/Utilities/Logger.cpp
  docs/core/logging.md
Labels: Component - Documentation

#1524 docs: update markdown cheatsheet
  docs/contribution/documentation_cheatsheet.md
Labels: Component - Documentation, automerge

#1473 feat: Exa.TrkX with torchscript backend
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrajectoriesToPrototracks.hpp
  Examples/Algorithms/TrackFinding/src/TrajectoriesToPrototracks.cpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/ExaTrkX/CMakeLists.txt
  Examples/Run/Reconstruction/ExaTrkX/TrackFindingExaTrkXGeneric.cpp
  Examples/Scripts/Python/exatrkx.py
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingBase.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingOnnx.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingTorch.hpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingTorch.cpp
  Plugins/ExaTrkX/src/TestPipelineWithCsv.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
  Plugins/ExaTrkX/src/buildEdges.hpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsBoost.hpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
  thirdparty/FRNN/CMakeLists.txt
  thirdparty/FRNN/CMakeLists.txt.in
  thirdparty/README.md
  thirdparty/libFRNN/CMakeLists.txt
  thirdparty/libFRNN/README.md
  thirdparty/libFRNN/counting_sort.cu
  thirdparty/libFRNN/find_nbrs.cu
  thirdparty/libFRNN/include/counting_sort.h
  thirdparty/libFRNN/include/cutil_math.h
  thirdparty/libFRNN/include/dispatch.cuh
  thirdparty/libFRNN/include/dispatch.h
  thirdparty/libFRNN/include/find_nbrs.h
  thirdparty/libFRNN/include/grid.h
  thirdparty/libFRNN/include/index_utils.cuh
  thirdparty/libFRNN/include/insert_points.h
  thirdparty/libFRNN/include/mink.cuh
  thirdparty/libFRNN/include/prefix_sum.h
  thirdparty/libFRNN/insert_points.cu
  thirdparty/libFRNN/prefix_sum.cu
Labels: Component - Examples, Component - Plugins, automerge

#1403 docs: Gaussian Sum Filter
  docs/core/track_fitting.md
Labels: Component - Documentation, automerge

#1521 fix: Added missing return to seedfinder::CreateSeedsForGroup
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: Bug, Component - Core, Improvement, Impact - Minor, automerge

#1458 refactor: Improve material mapping speed
  Core/include/Acts/Material/MaterialInteraction.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMappingOptions.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Common/src/CommonMaterialMapping.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_recording.py
  docs/examples/howto/run_material_mapping.rst
Labels: Component - Core, Improvement, Impact - Minor, Component - Examples, automerge

#1428 feat: Allow configurable particle selection and reproducible seeds for Geant4
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Geant4/Common/Geant4.cpp
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/material_recording.py
Labels: Improvement, Component - Examples, automerge, backport develop/v19.x

#1525 docs: Contribution guidelines
  CONTRIBUTING.rst
  docs/codeguide.md
  docs/contribution/clang_tidy.md
  docs/contribution/documentation_build.md
  docs/contribution/physmon.md
  docs/contribution/root_hash_checks.md
  docs/contribution/run_formatting.md
  docs/examples/analysis_apps.rst
  docs/examples/python_bindings.rst
  docs/figures/physmon/physmon_artifact.png
  docs/figures/physmon/physmon_checks.png
  docs/figures/physmon/physmon_report.png
  docs/figures/physmon/physmon_run.png
  docs/getting_started.md
Labels: Component - Documentation, automerge

#1527 feat: split deltaR in seedFinderOrthogonal [backport #1471 to develop/v19.x]
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: automerge, backport

#1508 fix: ParticleSmearing options not setup in AMVF example exe
  Examples/Run/Vertexing/Pythia8/AdaptiveMultiVertexFinderExample.cpp
Labels: automerge, backport develop/v19.x

#1531 feat: addCKFTracks option to disable some output [backport of #1447 to develop/v19.x]
  Examples/Python/python/acts/examples/reconstruction.py
Labels: automerge, backport, automerge priority

#1513 refactor: improve full_chain_itk.py example
  Examples/Scripts/Python/full_chain_itk.py
Labels: automerge

#1526 refactor: Improve material mapping speed [backport #1458 to develop/v19.x]
  Core/include/Acts/Material/MaterialInteraction.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMappingOptions.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Common/src/CommonMaterialMapping.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_recording.py
  docs/examples/howto/run_material_mapping.rst
Labels: automerge, backport

#1528 fix: Make JsonMaterialDecorator IO error more explicit [backport #1500 to develop/v19.x]
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
Labels: automerge, backport

#1529 feat: check if yOuter takes the square root of a negative number when minHelixRadius < rMax / 2 in SpacePointGrid.ipp [backport #1466 to develop/v19.x]
  Core/include/Acts/Seeding/SpacePointGrid.ipp
Labels: automerge, backport

#1530 fix: Added missing return to seedfinder::CreateSeedsForGroup [backport #1521 to develop/v19.x]
  Core/include/Acts/Seeding/Seedfinder.ipp
Labels: automerge, backport

#1534 fix: ParticleSmearing options not setup in AMVF example exe [backport #1508 to develop/v19.x]
  Examples/Run/Vertexing/Pythia8/AdaptiveMultiVertexFinderExample.cpp
Labels: automerge, backport

#1535 refactor: python examples log level overwrite mechanism [backport of #1448 to develop/v19.x]
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
Labels: backport

#1537 feat: Add operator -> to Acts::Result [backport #1509 to develop/v19.x]
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/Utilities/Result.hpp
Labels: backport

#1539 docs: remove --recursive on git clone in quick start docs
  README.md
  docs/getting_started.md
Labels: automerge

#1536 refactor: Vertex performance monitoring [backport #1417 to develop/v19.x]
  .github/workflows/builds.yml
  CI/physmon/default.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  Examples/Scripts/generic_plotter.py
  Examples/Scripts/requirements.in
  Examples/Scripts/requirements.txt
Labels: backport

#1546 feat: use Range1D<> class for extent [backport #1424 to develop/v19.x]
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Utilities/BinningType.hpp
  Core/include/Acts/Utilities/Enumerate.hpp
  Core/src/Geometry/Extent.cpp
  Core/src/Geometry/Polyhedron.cpp
  Core/src/Geometry/ProtoLayerHelper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
Labels: automerge, backport

#1538 refactor: improve full_chain_odd.py example
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: automerge

#1547 fix: Set s_binningValues as const [backport of #1485 to develop/v19.x]
  Core/include/Acts/Utilities/BinningType.hpp
Labels: backport

#1548 refactor: improve full_chain_itk.py example [backport #1513 to develop/v19.x]
  Examples/Scripts/Python/full_chain_itk.py
Labels: backport

#1550 refactor: improve full_chain_odd.py example [backport #1538 to develop/v19.x]
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: backport

#1487 perf: Remove x87 elliptic integral in solenoid B-field [backport #1469 to develop/v19.x]
  Core/src/MagneticField/SolenoidBField.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge, backport

#1549 feat: Allow configurable particle selection and reproducible seeds for Geant4 [backport #1428 to develop/v19.x]
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Geant4/Common/Geant4.cpp
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/material_recording.py
Labels: backport

#1543 fix: maybe-uninitialized warning in SpacepointBuilder
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1552 refactor: SP builder update [backport #1218 to develop/v19.x]
  CI/physmon/reference/acts_analysis_residuals_and_pulls.root
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  Core/include/Acts/Digitization/DigitizationModule.hpp
  Core/include/Acts/Digitization/DoubleHitSpacePointBuilder.hpp
  Core/include/Acts/Digitization/SingleHitSpacePointBuilder.hpp
  Core/include/Acts/Digitization/SpacePointBuilder.hpp
  Core/include/Acts/Digitization/detail/DoubleHitSpacePointBuilder.ipp
  Core/include/Acts/Digitization/detail/SingleHitSpacePointBuilder.ipp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderConfig.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/UnitTests/Core/SpacePointFormation/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/DoubleHitSpacePointBuilderTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SingleHitSpacePointBuilderTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
Labels: automerge, backport

#1553 fix: maybe-uninitialized warning in SpacepointBuilder [backport #1543 to develop/v19.x]
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
Labels: backport

#1545 refactor: use TrackSelector in addVertexFitting
  CI/physmon/physmon.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge

#1554 docs: Add minimal info on python formatting
  docs/contribution/run_formatting.md
  docs/examples/python_bindings.rst
Labels: Component - Documentation, automerge

#1464 feat: Material Mapping Auto-tuning script with Orion
  Examples/Scripts/Python/Auto-tuning/Orion/launchMaterialAutoTuning.sh
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  docs/examples/howto/howto.md
  docs/examples/howto/run_material_mapping_auto_tuning.rst
  docs/figures/materialMapping/ActsMaterialMappingAutoTuning.png
Labels: Impact - Minor, Component - Examples, Feature, automerge

#1555 docs: Material mapping doc
  docs/examples/howto/howto.md
  docs/howto/howto.md
  docs/howto/material_mapping_and_validation.md
  docs/howto/run_material_mapping.rst
  docs/howto/run_material_mapping_auto_tuning.rst
Labels: Impact - Minor, Component - Documentation, automerge

#1556 ci: Bump histcmp to v0.5.1
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
Labels: automerge, backport develop/v19.x

#1541 feat: Added Optimization Scripts
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/Orion_tuning.py
  Examples/Scripts/Optimization/ckf.py
  docs/howto/howto.md
  docs/howto/run_ckf_auto_tuning.rst
Labels: Impact - Minor, Component - Examples, Feature, automerge

#1559 ci: Bump histcmp to v0.5.1 [backport of #1556 to develop/v19.x]
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
Labels: automerge, backport

#1561 refactor: use TrackSelector in addVertexFitting [backport #1545 to develop/v19.x]
  CI/physmon/physmon.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: automerge, backport

#1560 fix: Clang-tidy warnings
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
Labels: automerge

#1564 fix: Remove example spacepoint from seeding code
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Bug, Impact - Minor, automerge
