Repository acts-project/acts, pull requests merged in 2022-11, with the labels that each got.

#1622 refactor!: std::unique_ptr to std::optional in Acts::PropagatorResult
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1611 feat: seed confirmation in orthogonal seed finder
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1644 feat: examples restore vertexing track selector
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#1588 feat: add whiteboard aliases
  CI/physmon/physmon.py
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ModuleEntry.cpp
  Examples/Scripts/Python/vertex_fitting.py
Labels: Component - Examples, automerge

#1646 feat: handle geant4 rotations
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Labels: Component - Examples, automerge

#1650 fix: Fixed Grid Creation
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Bug, Impact - Minor, automerge

#1651 fix: duplicated configuration in itk.py
  Examples/Python/python/acts/examples/itk.py
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1652 ci: Do not require codecov anymore for automerge
  .merge-sentinel.yml
Labels: Infrastructure, automerge

#1631 refactor: Enable Fatras interactions by default / make configurable in addFatras(...)
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/conftest.py
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1638 feat: Geant4 telescope detector examples
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/TelescopeDetector/TelescopeG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/src/TelescopeG4DetectorConstruction.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/tests/test_examples.py
  Examples/Run/Fatras/TelescopeFatrasExample.cpp
  Examples/Run/Geometry/TelescopeGeometryExample.cpp
  Examples/Run/Reconstruction/TelescopeRecCKFTracks.cpp
  Examples/Run/Reconstruction/TelescopeRecChi2Tracks.cpp
  Examples/Run/Reconstruction/TelescopeRecTruthTracks.cpp
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/telescope_simulation.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_telescope.py
Labels: Component - Examples, automerge, automerge priority

#1627 refactor: Bethe-Heitler approximation and configuration
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/GsfFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  docs/core/track_fitting.md
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1648 ci: Improve physmon report comment
  .github/workflows/report.yml
  CI/physmon/comment_template.md
  CI/physmon/generate_comment.py
Labels: automerge

#1632 feat: configurable weight factor for longitudinal impact parameter in seed weight
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  docs/core/seeding.md
Labels: Component - Core, Improvement, Component - Examples, automerge

#1628 feat: Add maxWeight reduction to the MultiEigenStepperLoop
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Utilities/Identity.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/GsfFitterFunction.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  docs/core/track_fitting.md
Labels: Component - Core, Improvement, Impact - Minor, Component - Examples, automerge

#1654 ci: Run physmon jobs in parallel
  CI/physmon/physmon.py
Labels: Infrastructure, automerge

#1470 feat: Add a tool for writing B-fields to disk in CSV format
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvBFieldWriter.hpp
  Examples/Io/Csv/src/CsvBFieldWriter.cpp
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/bfield_writing.py
Labels: Impact - Minor, Component - Examples, Feature, automerge

#1653 refactor: required for new ITk geometry
  Examples/Python/python/acts/examples/itk.py
Labels: automerge

#1663 feat: Add thickness and pitch again to csv geometry writing
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
Labels: Impact - Minor, Component - Examples, automerge

#1660 feat: volume bounds to/from Json
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/VolumeBoundsJsonConverter.hpp
  Plugins/Json/src/VolumeBoundsJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/VolumeBoundsJsonConverterTests.cpp
Labels: Component - Examples, automerge

#1668 ci: Bump some actions versions
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#1629 refactor: Large GSF refactoring
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfSmoothing.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/GsfFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Labels: Component - Core, Improvement, Impact - Major, automerge

#1670 refactor: replace track params with trajectories in examples
  CI/physmon/physmon.py
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AmbiguityResolutionAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/TutorialVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TutorialVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexingHelpers.hpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/src/Vertexing.cpp
  Examples/Scripts/Python/vertex_fitting.py
Labels: Component - Examples, automerge

#1671 feat: Support space points writing
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacepointWriter.hpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSpacepointWriter.hpp
  Examples/Io/Root/src/RootSpacepointWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#1667 docs: how to get clang-format changes from CI
  docs/contribution/run_formatting.md
Labels: Component - Documentation, automerge

#1630 refactor!: Move beam spot position and mag field value from SeedFinderConfig to SeedFinderOptions
  CI/physmon/physmon.py
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/seeding.py
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Improvement, Component - Plugins, automerge

#1626 docs: Improve GSF docs and add figures
  docs/core/track_fitting.md
  docs/figures/gsf_bethe_heitler_approx.svg
  docs/figures/gsf_overview.svg
Labels: Component - Documentation, automerge

#1640 feat: Basic GSF physics performance monitoring
  CI/physmon/comment_template.md
  CI/physmon/gsf.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/performance_gsf.root
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, automerge

#1621 feat: variable r range in orthogonal seeding
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#1674 feat: Owning delegate
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: automerge

#1665 feat: seeding performance monitoring
  CI/physmon/comment_template.md
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_seeded.root
  CI/physmon/reference/performance_seeding_hists_truth_estimated.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
Labels: automerge

#1677 fix: Maybe uninitialized warning
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
Labels: automerge

#1645 feat: adding portal, detector volume & detector
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Geometry/Detector.hpp
  Core/include/Acts/Geometry/DetectorVolume.hpp
  Core/include/Acts/Geometry/NavigationDelegates.hpp
  Core/include/Acts/Geometry/NavigationState.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/detail/DetectorVolumeFinders.hpp
  Core/include/Acts/Geometry/detail/DetectorVolumeUpdators.hpp
  Core/include/Acts/Geometry/detail/NavigationStateUpdators.hpp
  Core/include/Acts/Geometry/detail/PortalGenerators.hpp
  Core/include/Acts/Geometry/detail/PortalHelper.hpp
  Core/include/Acts/Geometry/detail/SurfaceCandidatesUpdators.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/Detector.cpp
  Core/src/Geometry/DetectorVolume.cpp
  Core/src/Geometry/Portal.cpp
  Tests/UnitTests/Core/Definitions/CMakeLists.txt
  Tests/UnitTests/Core/Definitions/CommonTests.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/DetectorTests.cpp
  Tests/UnitTests/Core/Geometry/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Geometry/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Geometry/DetectorVolumeUpdatorsTests.cpp
  Tests/UnitTests/Core/Geometry/NavigationStateTests.cpp
  Tests/UnitTests/Core/Geometry/NavigationStateUpdatorsTests.cpp
  Tests/UnitTests/Core/Geometry/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
  docs/core/core.rst
  docs/core/experimental_geometry.md
  docs/figures/geometry/DirectPortal.png
  docs/figures/geometry/EndcapGrid.png
  docs/figures/geometry/ODD_Detector.png
  docs/figures/geometry/SharedPortal.png
Labels: Component - Core

#1672 feat: skip unnecessary iterations in seed filter if SPs are sorted by curvature
  Core/include/Acts/Seeding/SeedFilter.ipp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1683 fix: comment_template bugs for seeding monitoring
  CI/physmon/comment_template.md
  CI/physmon/phys_perf_mon.sh
Labels: Bug, Impact - Minor, automerge

#1685 refactor: Add precondition check for MTJ `applyBackward` and `visitBackwards`
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
Labels: Component - Core, Improvement, automerge

#1689 fix: telescope detector python binding + add test
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/tests/test_detectors.py
Labels: Component - Examples, automerge

#1691 fix: Hough Transform first implementation clang-tidy
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/DefaultHoughFunctions.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughVectors.hpp
  Examples/Run/Reconstruction/Common/HoughExample.cpp
  Examples/Run/Reconstruction/Common/HoughExample.hpp
Labels: Component - Examples

#1694 fix: remove truth_smeared seeding plots from comment_template.md
  CI/physmon/comment_template.md
Labels: Bug, Impact - Minor, automerge

#1692 fix: root hash only for last cycle
  Examples/Python/tests/helpers/hash_root.py
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge

#1698 feat: Improve const correctness of MultiTrajectory
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
Labels: automerge

#1678 feat: CSV track param reader
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterReader.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvTrackParameterReader.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge
