Repository acts-project/acts, pull requests merged in 2023-02, with the labels that each got.

#1809 feat: KalmanFitter marks missed surfaces as outliers
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge

#1815 fix: bug in calculation of cut for seed finder orthogonal
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1808 fix: Dangling pointer VolumeMaterialInteractionTests
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
Labels: automerge

#1812 refactor: Remove LoggerWrapper in favor of Logger refs
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/EventData/detail/CorrectedTransformationFreeToBound.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/EventData/CorrectedTransformationFreeToBound.cpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/Utilities/Logger.cpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Examples/Algorithms/Propagation/src/PropagationAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/GsfFitterFunction.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepMaterial.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/ConvertDD4hepMaterial.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTiming.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingBase.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingOnnx.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXTrackFindingTorch.hpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingTorch.cpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/QueueWrapper.hpp
  Plugins/Sycl/src/Utilities/QueueWrapper.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  docs/core/logging.md
Labels: automerge

#1791 refactor: Suppress large printout of Geant4
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
Labels: Impact - Minor, Component - Examples, automerge

#1716 fix: If ITk module splitting is enabled also split back side modules.
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoITkModuleSplitter.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/src/Detector.cpp
Labels: Component - Examples, automerge

#1817 feat: Make hit indices usable in Geant4
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStoreRegistry.hpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1797 chore: bump actsvg to v0.4.28
  thirdparty/actsvg/CMakeLists.txt
Labels: Impact - Minor, Component - Plugins, automerge

#1816 feat: collapse material tracks
  Core/include/Acts/Geometry/Extent.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/src/Output.cpp
  Examples/Scripts/MaterialMapping/materialComposition.C
Labels: Component - Examples, automerge

#1824 feat: write extent envelope to json
  Core/include/Acts/Geometry/Extent.hpp
  Plugins/Json/src/ExtentJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/ExtentJsonConverterTests.cpp
Labels: Component - Examples, Component - Plugins, automerge

#1796 fix: TGeo estimation of annulus bounds.
  Plugins/TGeo/src/TGeoSurfaceConverter.cpp
Labels: automerge

#1752 build: Install Examples headers
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Framework/CMakeLists.txt
Labels: automerge

#1832 refactor: improve g4 sensitive surface mapper logging
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Labels: Component - Examples, automerge

#1845 docs: Ignore https://cernvm.cern.ch linkcheck
  docs/conf.py
Labels: Infrastructure

#1846 fix: format docs/conf.py
  docs/conf.py
Labels: Infrastructure, automerge

#1843 feat: wire geoid hooks in g4 detector
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/KDTreeTrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples, automerge

#1840 ci: Mark ODD tests, move away from exact event count checks
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  pytest.ini
Labels: Component - Examples, automerge

#1841 chore: move new style navigation into Core/Navigation
  Core/include/Acts/Geometry/Detector.hpp
  Core/include/Acts/Geometry/DetectorVolume.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Geometry/ProtoDetector.hpp
  Core/include/Acts/Geometry/detail/PortalGenerators.hpp
  Core/include/Acts/Geometry/detail/PortalHelper.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Navigation/NavigationDelegates.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateUpdators.hpp
  Core/include/Acts/Navigation/SurfaceCandidatesUpdators.hpp
  Core/src/Geometry/Detector.cpp
  Core/src/Geometry/DetectorVolume.cpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/DetectorTests.cpp
  Tests/UnitTests/Core/Geometry/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Geometry/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeUpdatorsTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatorsTests.cpp
Labels: Component - Core, automerge

#1836 refactor: Move Chi2 example bindings to TrackFitting
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/src/TrackFittingChi2.cpp
Labels: Component - Examples, automerge

#1849 refactor: Make TrackAccessor methods const
  Core/include/Acts/EventData/Track.hpp
Labels: Component - Core, Impact - Minor, automerge

#1842 feat: persist ACTS barcodes in G4 sim
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStoreRegistry.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge

#1848 fix: Change MiddleSPRange considering deltaRMiddleMaxSPRange
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Bug, automerge

#1844 fix: make full_chain_odd.py really work with pythia8+Geant4, add test
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Bug, Component - Examples, automerge

#1837 refactor: Move traj to proto track converter to separate target
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TrajectoriesToPrototracks.hpp
  Examples/Algorithms/Utilities/src/TrajectoriesToPrototracks.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge

#1838 refactor: Centralize Examples Track typedef
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFittingChi2/include/ActsExamples/TrackFittingChi2/TrackFittingChi2Algorithm.hpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2AlgorithmFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/Track.hpp
Labels: Component - Examples, automerge

#1835 fix: enable compilation with ONNX 1.13
  .gitlab-ci.yml
  CMakeLists.txt
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/src/OnnxRuntimeBase.cpp
  cmake/FindOnnxRuntime.cmake
  docs/getting_started.md
Labels: Bug, Impact - Minor, Component - Plugins, automerge

#1856 fix: Add rho-cut to the ParticleSelector for g4 ODD
  Examples/Scripts/Python/full_chain_odd.py
Labels: Bug, Component - Examples, automerge

#1839 refactor: Trajectories stores MultiTrajectory pointer
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFittingChi2/include/ActsExamples/TrackFittingChi2/TrackFittingChi2Algorithm.hpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, automerge

#1860 fix: typo in reconstruction.py
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1861 fix: output SP type in csv spacepoint reader
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1853 fix: FPE in RootTrajectorySummaryWriter
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Component - Examples, automerge

#1862 refactor: rename sim output files
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Component - Examples, automerge

#1863 fix: periodic difference for Phi in RootSummaryWriter
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Bug, Component - Examples, automerge

#1864 fix: Let Root writers accept empty Trajectories object
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Bug, Component - Examples, automerge

#1859 refactor: print numeric value for multi index
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1851 feat: post simulation particle filter
  CI/physmon/physmon.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/seeding.py
Labels: Component - Examples, automerge

#1857 feat: Add track to trajectory converter
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TracksToTrajectories.hpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge

#1830 feat: Set up ODD together with python if possible
  Examples/Python/setup.sh.in
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1866 ci: Add script checking for `#pragma once` to CI
  .github/workflows/checks.yml
  CI/check_pragma_once.sh
  Core/include/Acts/Utilities/Zip.hpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TracksToTrajectories.hpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TrajectoriesToPrototracks.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/ITGeoIdentifierProvider.hpp
  Tests/IntegrationTests/PropagationDatasets.hpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
  Tests/UnitTests/Core/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Core/Surfaces/BoundaryCheckTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryCheckTestsRefs.hpp
  Tests/UnitTests/Core/Visualization/Visualization3DTester.hpp
  Tests/UnitTests/Fatras/Physics/Dataset.hpp
  Tests/UnitTests/Fatras/Selectors/Dataset.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Json/EqualityHelpers.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/ATLASCuts.hpp
Labels: Infrastructure, automerge

#1867 chore: add detector directory
  Core/CMakeLists.txt
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Detector/PortalGenerators.hpp
  Core/include/Acts/Detector/PortalHelper.hpp
  Core/include/Acts/Detector/ProtoDetector.hpp
  Core/include/Acts/Geometry/KDTreeTrackingGeometryBuilder.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/SurfaceCandidatesUpdators.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Detector/Portal.cpp
  Core/src/Detector/ProtoDetector.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Json.cpp
  Plugins/Json/include/Acts/Plugins/Json/ProtoDetectorJsonConverter.hpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Detector/ProtoDetectorTests.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/KDTreeTrackingGeometryBuilderTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateTests.cpp
  Tests/UnitTests/Plugins/Json/ProtoDetectorJsonConverterTests.cpp
Labels: Component - Core, automerge

#1873 fix: Apply particle filter change to full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples, automerge

#1871 refactor: Improved const-correctness for TrackContainer in Examples
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Framework/include/ActsExamples/EventData/Track.hpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
Labels: Component - Core, automerge

#1869 feat: Add parameter getters to TrackProxy
  Core/include/Acts/EventData/Track.hpp
Labels: Component - Core, automerge

#1870 feat: Enable removing tracks from container
  Core/include/Acts/EventData/Track.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/VectorTrackContainer.cpp
Labels: Component - Core, automerge

#1872 test: Move G4 test preparation to subprocess / fix subprocess invokation
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, automerge

#1868 feat: Batch input for ONNX
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/src/OnnxRuntimeBase.cpp
Labels: Improvement, Impact - Minor, Feature, Component - Plugins

#1826 refactor: no optional covariance in GSF
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/include/Acts/Utilities/detail/gaussian_mixture_helpers.hpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Labels: Component - Core, automerge

#1878 chore: ACTSVG version 0.4.29
  thirdparty/actsvg/CMakeLists.txt
Labels: Component - Examples, automerge

#1881 refactor: EigenStepper overstep limit is configurable
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Python/src/Propagation.cpp
Labels: automerge

#1879 feat: Add script for a parallel Geant4 simulation based on Python's `multiprocessing`
  Examples/Scripts/Python/geant4_parallel.py
Labels: Component - Examples, Feature, automerge

#1865 refactor: update itk_seeding.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Scripts/Python/itk_seeding.py
Labels: Component - Examples, automerge

#1889 chore: improve coloring for residuals and pulls script
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
Labels: Component - Examples, automerge

#1886 chore: improve some doc and prints
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoDetectorElement.hpp
Labels: automerge

#1891 refactor: improve G4 python bindings
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Scripts/Python/material_recording.py
Labels: Component - Examples, automerge

#1890 fix: RootMeasurementWriter std vs var
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge

#1887 fix: G4 detector for Fatras sim
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/Geant4/src/Geant4DetectorSurfaceFactory.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorElementTests.cpp
Labels: automerge

#1875 refactor: remove `operator==` from digitization config objects
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfigurator.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
Labels: Component - Examples, automerge

#1885 refactor: align Kalman fitter function with GSF fitter function
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/KalmanFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples, automerge

#1888 feat: enable geantino particle generation
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SimParticleTranslation.hpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Generators.cpp
  Examples/Run/Geant4/Common/src/Geant4Common.cpp
  Examples/Scripts/Python/material_recording.py
Labels: Component - Examples, automerge

#1883 fix: Really postselect particles in `addGeant4`
  Examples/Python/python/acts/examples/simulation.py
Labels: Component - Examples, automerge

#1893 feat: added python bindings for SurfaceTypes
  Examples/Python/src/Geometry.cpp
Labels: Component - Examples

#1892 refactor: residuals and pulls analysis
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
Labels: Component - Examples, automerge

#1896 feat: deltaPhiMax variable from orthogonal seeding configurable with python
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge

#1894 ci: Add hashcheck for Exa.TrkX
  .gitlab-ci.yml
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Infrastructure, Component - Examples, automerge

#1899 chore: new ACTSVG version for MS chambers
  thirdparty/actsvg/CMakeLists.txt
Labels: Infrastructure, automerge

#1884 perf: Use inline functions
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core

#1897 refactor: and fix truth seeding
  CI/physmon/physmon.py
  CI/physmon/reference/performance_seeding_hists_truth_estimated.root
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/SimSeed.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Reconstruction/Common/HoughExample.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Improvement, Component - Examples, automerge
