Repository acts-project/acts, pull requests merged in 2023-11, with the labels that each got.

#2605 fix: Direct Navigator: Set surface iterator to next surface in case start surface is in the list
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core, automerge

#2607 chore: Remove unused FpeMonitorTests from core
  Tests/UnitTests/Core/Utilities/FpeMonitorTests.cpp
Labels: Component - Core, automerge

#2613 docs: Fix broken TBB and lcginfo.cern.ch URLs
  docs/conf.py
  docs/getting_started.md
Labels: Component - Documentation, automerge

#2599 refactor: Intersection index for stepper surface update
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, automerge

#2615 fix: `Digitization::Digital` in `to_json()` was skipped
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Component - Examples, automerge

#2614 fix: pdg: eGamma for `<<` was incorrect
  Core/src/Definitions/ParticleData.cpp
Labels: Component - Core

#2616 refactor!: Move `Grid` out of `detail`
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridFwd.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/MagneticField.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/IntegrationTests/PropagationTestsAtlasField.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#2612 refactor: Put some helper types for Loop-Multistepper into separate file
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
Labels: Component - Core, automerge

#2626 refactor: Use `__cpp_concepts` directly
  Core/CMakeLists.txt
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/Geometry/SurfaceVisitorConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  cmake/ActsCompilerOptions.cmake
Labels: Component - Core, Infrastructure, automerge, Event Data Model

#2602 fix: `safeInverse(m)` for matrices larger than 4x4
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Labels: Component - Core, automerge

#2617 refactor: Remove separate default `DetectorElementBase` file
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/detail/DefaultDetectorElementBase.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2620 refactor!: Rename and rearrange propagator options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge, Vertexing, Track Finding, Track Fitting

#2592 refactor!: Make `BoundaryCheck` constructor from `bool` explicit
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateFillers.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Core/src/Digitization/PlanarModuleStepper.cpp
  Core/src/EventData/CorrectedTransformationFreeToBound.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Tests/Benchmarks/SurfaceIntersectionBenchmark.cpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/NavigationLayerTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Event Data Model, Vertexing, Track Finding, Track Fitting, Breaking change

#2628 feat: Wire `Geant4MaterialRecording` exclude material to python
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples, automerge

#2629 ci: Update to gcovr=6.0 and remove bundled-version support
  .github/workflows/analysis.yml
  CI/test_coverage
  CI/test_coverage.py
Labels: Infrastructure, automerge

#2574 feat: GX2F: use magnetic field to fit q/p
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2631 refactor: remove `using namespace std;`
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Scripts/compareRootFiles.hpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/PrimitivesFactory.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#2591 docs: Add white paper index to the documentation
  CI/release.py
  docs/.gitignore
  docs/conf.py
  docs/examples/python_bindings.rst
  docs/getting_started.md
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  docs/tracking.md
  docs/white_paper_index_template.md.j2
  docs/white_paper_template.md.j2
  docs/white_papers.py
  docs/white_papers.toml
  docs/white_papers/figures/overleaf_compiler.png
  docs/white_papers/figures/overleaf_import_github.png
  docs/white_papers/figures/whitepaper-template.png
  docs/white_papers/how_to_add.md
  docs/whitepaper-template.png
Labels: Infrastructure, Component - Documentation, automerge

#2509 refactor!: move AMVF and IVF config explicitly
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing, Breaks Athena build

#2635 fix: Missing path in setup script
  Examples/Python/setup.sh.in
Labels: Component - Examples, automerge

#2641 docs: fix path for white paper screen shots
  docs/white_papers.py
Labels: Component - Documentation, automerge

#2621 feat: Introduce propagator stage
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core, automerge

#2634 fix: check_format(_local) for selected directories
  CI/check_format
  CI/check_format_local
Labels: Infrastructure, automerge

#2639 docs: add white paper for AdaptiveGridTrackDensityTests
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  docs/white_papers.toml
  docs/white_papers/figures/gaussian-track-densities.png
Labels: Component - Core, Component - Documentation, automerge, Vertexing

#2642 docs: language and markdown brush-over
  docs/acts_project.md
  docs/authors.rst
  docs/codeguide.md
  docs/contribution/documentation_cheatsheet.md
  docs/contribution/physmon.md
  docs/contribution/profiling.md
  docs/core/core.rst
  docs/core/geometry/geometry_id.md
  docs/core/geometry/layerless/layerless.md
  docs/core/geometry/legacy/building.md
  docs/core/geometry/surfaces.md
  docs/core/magnetic_field.md
  docs/core/misc/grid_axis.md
  docs/core/misc/logging.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/seeding.md
  docs/core/reconstruction/track_fitting.md
  docs/core/visualization/3d.md
  docs/examples/full_chain_odd.md
  docs/examples/howto/add_new_algorithm.md
  docs/examples/howto/digitization_config.md
  docs/examples/howto/material_mapping.rst
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/formats/formats.rst
  docs/getting_started.md
  docs/index.rst
  docs/license.rst
  docs/plugins/MLAlgorithms.md
  docs/plugins/dd4hep.md
  docs/plugins/geant4.md
  docs/plugins/tgeo.rst
  docs/versioning.rst
  docs/white_papers.toml
Labels: Component - Documentation, automerge

#2609 feat: allow custom precision for volume grid building
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
Labels: Component - Core, automerge

#2530 refactor: unit test amvfitter
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2643 docs: Add white paper on the correction term in transport jacobian
  Core/src/Propagator/detail/JacobianEngine.cpp
  docs/white_papers.toml
  docs/white_papers/figures/correction-for-transport-jacobian.png
  docs/white_papers/figures/gaussian-track-densities.png
  docs/white_papers/figures/whitepaper-template.png
Labels: Component - Core, Component - Documentation, automerge

#2586 feat: GX2F: abort condition `relChi2changeCutOff`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2340 refactor!: Introduce regular surface intermediate class
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Digitization/DigitizationModule.hpp
  Core/include/Acts/Digitization/Segmentation.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/RegularSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Detector/Portal.cpp
  Core/src/EventData/CorrectedTransformationFreeToBound.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/PlaneLayer.cpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/RegularSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/ActSVG/src/PortalSvgConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Core/Digitization/CartesianSegmentationTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/TrackParametersDatasets.hpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Fatras, Component - Plugins, Component - Documentation, automerge, Event Data Model, Vertexing, Track Fitting, Breaks Athena build, Breaking change

#2630 fix: and refactor geometric digitization
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Labels: Component - Fatras, Component - Examples, automerge, Event Data Model, Changes Performance

#2648 refactor: Refactor `RootTrackStatesWriter`
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, :construction_worker_woman: User Action Needed, Changes Performance

#2658 refactor!: Consistent naming of GSF mixture reduction and component merging
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Track Fitting

#2660 fix: GSF early stopping now should really stop
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Track Fitting

#2651 fix: Duplicated comment in reconstruction.py
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#2656 feat: introduce typelist
  Core/include/Acts/Utilities/detail/TypeList.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core, automerge

#2659 feat: Add weight cut reduction to GSF
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
  docs/_extensions/lazy_autodoc.py
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Track Fitting

#2674 docs: Doc fix for Gx2FitterOptions and 1 link
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/contribution/profiling.md
Labels: Component - Core, Component - Documentation, automerge, automerge priority, Track Fitting

#2668 feat: Delegate construction with tag type
  Core/include/Acts/Utilities/Delegate.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
Labels: Component - Core, automerge

#2669 refactor: No error in GSF if start pars are out of bounds
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, automerge, Track Fitting

#2670 refactor: Disable FPE mask printing if FPEMON is disabled by envvar
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples, automerge

#2663 refactor: messages: fix missing and wrong closing ticks `'`
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2653 fix!: helixCut is renamed to helixCutTolerance and moved to SeedFinderOptions
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, automerge, Seeding

#2680 ci: Reduce number of LCG to three
  .gitlab-ci.yml
Labels: automerge

#2672 ci: Specify python version in a number of jobs
  .github/workflows/checks.yml
Labels: Infrastructure, automerge

#2562 refactor!: Unify floating point type for chi2 in Track(State)
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Podio/edm.yml
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Changes Performance, Fails Athena tests

#2593 feat: Add DD4hep field adapter
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/src/MagneticField/MagneticFieldError.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  docs/plugins/dd4hep.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge

#2608 feat: Update Json converters and enhance Detray version writing
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Examples/Python/src/Json.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Core/Utilities/TypeListTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2655 fix: newVertex not considered in AdaptiveMultiVertexFit
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2623 refactor: remove dead code, default switch-cases
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Core/src/Detector/detail/SupportHelper.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Fatras/src/EventData/ProcessType.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryCheckBenchmark.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding, Track Fitting

#2686 ci: Run clang-tidy on large VMs
  .gitlab-ci.yml
Labels: automerge

#2677 revert: "fix: enforce calculation of impact parameters wrt vertex position"
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, automerge, Vertexing, Fails Athena tests

#2688 fix: Fitters: connect void default accessors
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
Labels: Bug, Component - Core, automerge, Track Fitting

#2689 feat: improve DD4hep based detector building and add tests
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
Labels: Improvement, Component - Plugins, automerge

#2649 refactor!: error handling in the vertexing algorithms
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2683 test: Exa.TrkX link unit test `MetricHooks`
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Labels: Component - Plugins, automerge

#2679 refactor: Improve Bethe Heitler approximation constructors and logging
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#2693 feat: add more unit tests for Json writing
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins

#2603 refactor: Refactor `SurfaceReached` aborter
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance

#2694 test: Use deterministic RNG for tests
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Tests/Benchmarks/CovarianceTransportBenchmark.cpp
  Tests/Benchmarks/SolenoidFieldBenchmark.cpp
  Tests/Benchmarks/SurfaceIntersectionBenchmark.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBuilderTests.cpp
  Tests/UnitTests/Core/MagneticField/ConstantBFieldTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Utilities/BFieldMapUtilsTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  Tests/UnitTests/Examples/Io/Root/SimhitReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceMaskTests.cpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Clustering, Vertexing

#2691 refactor: Refactor `MaterialInteractor`
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Labels: Component - Core, automerge

#2702 fix: undocumented parameters
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
Labels: Component - Core, Component - Plugins, Vertexing

#2584 refactor: GX2F: add additional parameters to python bindings
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#2646 feat: Introduce concepts for (Regular)Surface
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Component - Core, automerge

#2596 refactor: Release step constraint after stepper in propagation
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Infrastructure, Component - Fatras, Component - Examples, automerge, Track Finding, Changes Performance

#2703 feat: small detector refinements
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
Labels: Component - Core, automerge

#2704 fix: SeedFinderConfig.hpp: add missing limits and vector includes
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Labels: Component - Core, automerge, Seeding

#2710 docs: adding myself to the list of contributors
  .zenodo.json
  AUTHORS
  CITATION.cff
Labels: automerge

#2707 refactor: set full vertex covariance after seeding
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2606 chore: update to newer podio versions
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepParticleReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
Labels: Component - Examples, automerge

#2695 feat: Collect and write material statistics in GSF
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Component - Core, Component - Examples, automerge, Track Fitting, Changes Performance

#2699 refactor: Easier computation for track params from seed
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#2647 refactor: Replace cuboid bounds with trapezoid bounds for multiwire builder
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core, automerge

#2665 refactor: add `nUpdatesGx2f` to RootTrackSummaryWriter
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#2692 refactor: Add tracking performance as function of DeltaR
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_orthogonal.root
  CI/physmon/reference/performance_seeding_seeded.root
  CI/physmon/reference/performance_seeding_truth_estimated.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/performance_truth_tracking.root
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2326 feat: Experiment cuts to dublets in seed finder
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, automerge, Seeding

#2719 fix: Change WARNING to DEBUG for CKF No tracks found
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2664 fix: Continue if number of top SPs is smaller than minimum required for filter in Orthogonal seeding
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge, Seeding

#2666 fix: remove possible wrong function in binUtility
  Core/include/Acts/Utilities/BinUtility.hpp
Labels: Component - Core, automerge

#2690 feat: Seed CSV Writing
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge, Track Finding, Ambiguity Resolution

#2723 refactor: Make `MaterialInteractor` noise mode independent from direction
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Labels: Component - Core, automerge

#2733 feat: Optional write out detailed matching infos in CKFPerformanceWriter
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#2731 feat: HitSelector algorithm
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/HitSelector.hpp
  Examples/Algorithms/Utilities/src/HitSelector.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#2734 perf: Improve edge classifier performance
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
Labels: Component - Plugins, automerge

#2713 refactor: KalmanVertexUpdater
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2735 feat: respect portal material when fusing portals
  Core/include/Acts/Detector/Portal.hpp
  Core/src/Detector/Portal.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
Labels: Component - Core, automerge

#2742 fix: generic_plotter.py: skip empty branches
  Examples/Scripts/generic_plotter.py
Labels: Component - Examples, automerge

#2743 fix: detray json writing fixes
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
Labels: Component - Plugins, automerge

#2746 refactor: Portal fusing and remove shared-from-this
  Core/include/Acts/Detector/Portal.hpp
  Core/src/Detector/Portal.cpp
  Core/src/Detector/PortalGenerators.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatersTests.cpp
  Tests/UnitTests/Plugins/Json/PortalJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2714 refactor!: Give CKF BranchStopper access to TrackState
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2749 build: Add target to build all unit tests
  Tests/UnitTests/CMakeLists.txt
Labels: automerge

#2756 revert: Give CKF BranchStopper access to TrackState
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2700 test: Surfaces: recreate and link unit test `PolyhedronSurfaces`
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
Labels: Component - Core, automerge
