Repository acts-project/acts, pull requests merged in 2023-03, with the labels that each got.

#1850 fix: Pass By Reference function and Extend object to binned group
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_hists_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_seeded.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Bug, automerge

#1907 fix: remove deleted track selector params in python
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples, automerge

#1903 refactor: correcting a typo on surfacetypes and add type binding for surfaces
  Examples/Python/src/Geometry.cpp
Labels: Component - Examples, automerge

#1905 refactor: make RNG independent of algorithm order
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_tracks_seeded.root
  CI/physmon/reference/performance_ckf_tracks_truth_estimated.root
  CI/physmon/reference/performance_ckf_tracks_truth_smeared.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_hists_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_seeded.root
  CI/physmon/reference/performance_seeding_hists_truth_estimated.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Framework/src/Framework/RandomNumbers.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Component - Examples, automerge

#1912 refactor: Reduce unconfigurable default loggers
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Labels: automerge

#1913 refactor: Seeding algo level bin finders
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: automerge

#1904 feat: GSF backward-pass misses as outliers
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/TrackFitting/GsfError.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, automerge

#1902 feat: raise RuntimeError if invalid inputSpacePointsType in ITk configuration
  Examples/Python/python/acts/examples/itk.py
Labels: Component - Examples, automerge

#1917 docs: Machine Learning based Ambiguity Solver
  docs/plugins/MLAlgorithms.md
  docs/plugins/plugins.rst
Labels: Impact - Minor, Component - Documentation, automerge

#1920 fix: Add default arguments to estimateTrackParamsfFromSeed
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
Labels: automerge

#1921 refactor: Remove missed components as early as possible & more
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core, Improvement, automerge

#1925 fix: Let `addSeeding` logger respect log level
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#1916 ci: Change particles in GSF script to electrons and enable interactions
  CI/physmon/reference/performance_gsf.root
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_gsf.py
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
Labels: Component - Examples, automerge

#1910 refactor: seeding always sorts SPs
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge

#1936 refactor: Change Variables Name in order not to start with _
  Core/include/Acts/MagneticField/detail/SmallObjectCache.hpp
Labels: automerge

#1937 chore: odd full chain - only root output by default
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#1908 refactor: Examples sequence elements gain Read/WriteDataHandles
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFittingChi2/include/ActsExamples/TrackFittingChi2/TrackFittingChi2Algorithm.hpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.hpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TracksToTrajectories.hpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/SequenceElement.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/IAlgorithm.cpp
  Examples/Framework/src/Framework/SequenceElement.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Io/Root/src/RootVertexPerformanceWriter.cpp
  Examples/Run/HelloWorld/HelloRandomAlgorithm.cpp
  Examples/Run/HelloWorld/HelloRandomAlgorithm.hpp
  Examples/Run/HelloWorld/HelloWhiteBoardAlgorithm.cpp
  Examples/Run/HelloWorld/HelloWhiteBoardAlgorithm.hpp
Labels: Component - Examples, automerge

#1909 refactor!: MTJ get/set SourceLink by value
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionMLAlgorithm.cpp
  Examples/Algorithms/Utilities/src/TrajectoriesToPrototracks.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvMultiTrajectoryWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: automerge

#1919 refactor!: Rewrite Binned SP Group
  Core/include/Acts/EventData/Track.hpp
  Core/include/Acts/EventData/Utils.hpp
  Core/include/Acts/Seeding/BinFinder.hpp
  Core/include/Acts/Seeding/BinFinder.ipp
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Utilities/Holders.hpp
  Core/include/Acts/Utilities/detail/Grid.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Component - Plugins, automerge

#1933 fix: Don't let the GSF remove all weights
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Labels: Bug, Component - Core, automerge

#1927 fix: Compute complete covariance for max weight reduction
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, automerge

#1911 refactor: Improve logging in the Examples Detectors
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Python/src/Geant4Component.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
Labels: automerge

#1926 feat: Iterate only on what we need while looking for compatible bottoms and tops
  Core/include/Acts/Seeding/Neighbour.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge

#1931 refactor: navigator interface
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Propagator/detail/VoidPropagatorComponents.hpp
  Core/include/Acts/Propagator/detail/abort_list_implementation.hpp
  Core/include/Acts/Propagator/detail/action_list_implementation.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, automerge

#1941 fix: Sequencer use-after-move in sequencer data flow check
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#1930 feat: minimum number of compatible top SPs to trigger filterSeeds_2SpFixed
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge

#1947 fix: itk_seeding script runs again
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/itk_seeding.py
Labels: Bug, automerge

#1929 refactor: avoid unnecessary calculations in triplet compatibility
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge

#1950 refactor: remove dead actor code
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Labels: Component - Core, automerge

#1949 refactor: align actor/aborter param order
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/abort_list_implementation.hpp
  Core/include/Acts/Propagator/detail/action_list_implementation.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge

#1954 feat: add (phi, z) cuts to middle SP in orthogonal seeding
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, Improvement, automerge

#1946 feat: Added a function that draws the detector volume with inner surfaces
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Improvement, Impact - Minor, automerge

#1922 feat: Move sort of vector outside of transformCoordinates
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core, automerge

#1955 ci: Switch main CI job to Ubuntu 22.04
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/docs.yml
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, automerge

#1961 fix: bug in ITk config
  Examples/Python/python/acts/examples/itk.py
Labels: Bug, Component - Examples, automerge

#1945 ci: Add workflow to trigger Athena build
  .github/workflows/trigger_athena.yml
Labels: automerge

#1965 feat: Sequencer prints every event start and finish in debug mode
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, Feature, automerge

#1948 refactor!: Seeding runs on const inputs
  Core/include/Acts/EventData/SpacePointData.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/IExperimentCuts.hpp
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/Neighbour.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  docs/core/seeding.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge

#1970 fix: GSF handles another case of empty components correctly
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Bug, Component - Core, automerge

#1973 perf: Reduce memory consumption
  Examples/Python/python/acts/examples/itk.py
Labels: automerge

#1966 refactor!: SSS Seeding: Store dynamic variables instead of constantly copying them
  Core/include/Acts/EventData/SpacePointData.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, automerge

#1952 chore: rename unused params
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/include/Acts/Navigation/NavigationStateUpdators.hpp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/VoidPropagatorComponents.hpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/GeometryIdentifier.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.cpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Python/src/DigitizationStub.cpp
  Examples/Python/src/EDM4hepStub.cpp
  Examples/Python/src/ExaTrkXTrackFindingStub.cpp
  Examples/Python/src/Geant4HepMC3Stub.cpp
  Examples/Python/src/HepMC3Stub.cpp
  Examples/Python/src/JsonStub.cpp
  Examples/Python/src/Pythia8Stub.cpp
  Examples/Python/src/SvgStub.cpp
  Examples/Run/Common/include/ActsExamples/Detector/EmptyDetector.hpp
  Examples/Run/Common/src/EmptyDetector.cpp
  Fatras/Geant4/include/ActsFatras/Geant4/Geant4Decay.hpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Fatras/include/ActsFatras/Selectors/ParticleSelectors.hpp
  Fatras/include/ActsFatras/Selectors/SurfaceSelectors.hpp
  Fatras/include/ActsFatras/Selectors/detail/combine_selectors.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/BenchmarkTools.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatorsTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Utilities/DelegateTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Fatras/Kernel/ContinuousProcessTests.cpp
  Tests/UnitTests/Fatras/Kernel/InteractionListTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, automerge

#1969 fix: precision of radLengthPerSeed in ITk configuration
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge

#1953 refactor: SP builder uses SourceLinks instead of Measurements
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderConfig.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
Labels: automerge

#1962 refactor: simplify volume drawing and lower case variables
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core, automerge

#1938 refactor: optimize examples ambiguity resolution
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AmbiguityResolutionAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge

#1976 fix: reduce verbosity of ITK module splitter.
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
Labels: Impact - Minor, Component - Examples, automerge

#1978 refactor: Use already retrieved variables
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: automerge

#1959 feat: MLSolver hashe test and compilation in the CI
  .github/workflows/builds.yml
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AmbiguityResolutionMLAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionMLAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  cmake/ActsConfig.cmake.in
  cmake/FindOnnxRuntime.cmake
Labels: Component - Core, Infrastructure, Impact - Minor, automerge

#1831 refactor: Change transformCoordinates to avoid recalculation of variables in Seedfinder
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core, automerge

#1979 refactor: make navigator state copyable
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#1944 fix: Alignment Contextual example binary smearing options
  Examples/Run/Alignment/Common/DetectorAlignment.cpp
Labels: Component - Examples, automerge

#1986 refactor: SSS xyzCoordinateCheck calculations
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core, automerge

#1974 refactor: Move check on phi outside z-loop
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
Labels: automerge

#1980 refactor!: Add ability to copy Tracks between containers
  Core/include/Acts/EventData/Track.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#1956 refactor: change in ITk seed confirmation for high pT muons efficiency
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Examples/Python/python/acts/examples/itk.py
Labels: Component - Core, Improvement, automerge

#1967 feat: Adding ITk scripts for material mapping and validation
  Examples/Python/python/acts/examples/itk.py
  Examples/Scripts/Python/material_mapping_itk.py
  Examples/Scripts/Python/material_validation_itk.py
Labels: Component - Examples, automerge

#1995 fix: Track state range is invalid if tip index is
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/Track.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#1795 feat: Example of integrating HoughTransform example algorithm with python
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge
