Repository acts-project/acts, pull requests merged in 2023-08, with the labels that each got.

#2335 feat: Really make patched python constructors accept pathlib Paths
  Examples/Python/python/acts/_adapter.py
Labels: Component - Examples, automerge

#2327 fix: Boundless Portal can be constructed from JSON
  Core/src/Detector/Portal.cpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/PortalJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2337 ci: Switch off forced-assertions in extra Ubuntu builds
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#2319 feat: Target surface for filtering phase of CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#2339 ci: Create job summaries in python
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/summary.py
Labels: Infrastructure, automerge

#2240 perf: Add option of stereo angle when building telescope detector
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/tests/test_detectors.py
  Examples/Run/Common/src/TelescopeDetectorOptions.cpp
  Examples/Run/Common/src/TelescopeDetectorWithOptions.cpp
  Examples/Scripts/Python/truth_tracking_telescope.py
Labels: Component - Examples, automerge

#2312 refactor: Remove direction from stepper
  Core/include/Acts/Material/MaterialCollector.hpp
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/LoopProtection.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#2282 ci: Add ttbar pu 200 job to physmon
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/vertexing_config.yml
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure, automerge, Changes Performance

#2342 ci: Physmon comment report pipes through summary
  .github/workflows/report.yml
  CI/physmon/comment_template.md
  CI/physmon/generate_comment.py
Labels: Infrastructure, automerge

#2166 feat: Add ability to skip grid bins in SP grouping and add ITk "fast" tracking config for seeding
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#2298 feat: minimum number of top SPs in orthogonal seeding confirmation
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge, Seeding

#2353 fix: Track parameter estimation might give inf time
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
Labels: Component - Core, automerge, Seeding

#2325 feat: configurable maximum number of bins in SP grid
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding

#2221 ci: Add reco, reco after vertex fit, and truth track momenta to physmon
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  Core/include/Acts/Utilities/UnitVectors.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#2345 refactor: Remove direction from `NavigationOptions` and drop constructor
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance

#2357 feat: Make SourceLink SBO size configurable via CMake
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/EventData/SourceLink.hpp
  docs/getting_started.md
Labels: Component - Core, Component - Documentation, automerge, Event Data Model

#2338 refactor: use map instead of two vectors in AdaptiveGridTrackDensity
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, automerge, Vertexing

#2323 docs: Improve documentation on surface classes
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  docs/conf.py
  docs/core/core.rst
  docs/core/experimental_geometry.md
  docs/core/geometry.md
  docs/index.rst
  docs/tracking.md
Labels: Component - Core, Component - Documentation, automerge

#2369 perf: `LineSurface` back to `col(2)` for local z axis
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/src/Surfaces/LineSurface.cpp
Labels: Component - Core, automerge

#2103 feat: Read CSV clusters and measurement-particles-map & refactor
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/tests/test_reader.py
  Tests/UnitTests/Examples/Io/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Csv/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Examples, automerge

#2238 perf: write unbiased residual for each track state
  Core/include/Acts/Utilities/GaussianMixtureReduction.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrajectoryStatesWriter.hpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Changes Performance

#2350 ci: Build physmon summary from explicit report information
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/summary.py
Labels: Infrastructure, automerge

#2360 feat: ExaTrkX edge building KDTree on CPU + fixes + refactor + tests
  .gitlab-ci.yml
  Examples/Python/tests/root_file_hashes.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/buildEdges.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/TensorVectorConversion.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/buildEdges.hpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
  Plugins/ExaTrkX/src/printCudaMemInfo.hpp
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXTensorConversionTests.cpp
Labels: Component - Examples, Component - Plugins, automerge, Changes Performance

#2375 refactor: Use `Particle::qOverP` in Fatras simulation
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GaussianMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GeneralMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/Highland.hpp
Labels: Component - Fatras, automerge

#2371 refactor: move some implementation from header to source
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonMaterialDecorator.cpp
Labels: Component - Plugins, automerge

#2374 fix: Fix AMVF finding with negative cov
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance

#2373 fix: Exa.TrkX edge duplicate removal
  Examples/Python/tests/root_file_hashes.txt
  Plugins/ExaTrkX/src/buildEdges.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
Labels: Bug, Component - Examples, Component - Plugins, automerge, Changes Performance

#2361 refactor: Exa.TrkX boost track building & unit test
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
Labels: Component - Plugins, automerge

#2377 revert: "perf: `LineSurface` back to `col(2)` for local z axis (#2369)"
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/src/Surfaces/LineSurface.cpp
Labels: Component - Core, automerge, automerge priority

#2378 refactor: Use logger of writer instead of local one in simhit averaging
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
Labels: Component - Examples, automerge, Event Data Model

#2343 refactor!: Consistent naming for `direction`
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/MultiComponentBoundTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/UnitVectors.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/EventData/TransformationBoundToFree.cpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/PlanarSteppingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/EventData/Hit.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/TransformBoundToFreeTests.cpp
  Tests/UnitTests/Core/EventData/TransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/Utilities/UnitVectorsTests.cpp
  Tests/UnitTests/Fatras/EventData/HitTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Event Data Model, Vertexing, Track Fitting

#2352 refactor!: SourceLink as explicit argument to calibrator
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/RefittingCalibrator.hpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/include/ActsExamples/EventData/NeuralCalibrator.hpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementCalibration.hpp
  Examples/Framework/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#2384 ci: Hotfix `test_exatrkx_python`
  .gitlab-ci.yml
Labels: automerge

#2382 perf: `LineSurface` back to `col(2)` for local z axis #2
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/src/Surfaces/LineSurface.cpp
Labels: Component - Core, automerge

#2355 ci: Monitor grid seeding
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#2383 feat: Stable AMVF KF fitting for examples
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Labels: Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#2381 fix: Fix AMVF KF update
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
Labels: Component - Core, automerge, Vertexing

#2372 refactor: Pre-calculated constant for `convertLandauFwhmToGaussianSigma`
  Core/src/Material/Interactions.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#2386 fix: grid seeder physmon not shown
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
Labels: Infrastructure, automerge, Changes Performance

#2366 refactor: Rework interactions interface - more explicit params and types
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Core/src/Material/Interactions.cpp
  Core/src/Propagator/detail/PointwiseMaterialInteraction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Misc/TabulateEnergyLoss.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheBloch.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GaussianMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GeneralMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/Highland.hpp
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  Tests/UnitTests/Core/Material/InteractionsTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, Changes Performance

#2359 refactor: fittedParams -> fittedMomentum in TrackAtVertex struct
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#2389 chore: Improve CKF logging in examples
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
Labels: Component - Examples, automerge, Track Finding

#2393 docs: Add html_theme unconditionally
  docs/conf.py
  readthedocs.yml
Labels: Component - Documentation

#2391 revert: "fittedParams -> fittedMomentum in TrackAtVertex struct (#2359)"
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Vertexing, Changes Performance

#2305 feat: GX2F (experimental) + unit test
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2388 refactor!: finalize consistent renaming of direction
  Core/include/Acts/Utilities/UnitVectors.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Utilities/UnitVectorsTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2362 feat: Exa.TrkX allow use of cluster information
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#2396 feat: Angle accessors for track params and easy position for curvilinear
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
Labels: Component - Core, automerge, Event Data Model

#2356 refactor!: Remove explicit geometry ID from source link
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderConfig.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/test_examples.py
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, SP formation, Seeding, Track Finding, Track Fitting

#2179 refactor: Adding time to HelicalTrackLinearizer
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance

#2398 refactor: Remove `ParticleStopped` aborter
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2354 refactor!: Add CalibrationContext to calibrator signature
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/TrackFitting/detail/VoidKalmanComponents.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/RefittingCalibrator.hpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/include/ActsExamples/EventData/NeuralCalibrator.hpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementCalibration.hpp
  Examples/Framework/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#2397 refactor: Align abs for particle hypothesis
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Labels: Component - Core, automerge, Event Data Model

#2400 feat: add obj drawing possibility as python function
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Obj.cpp
Labels: Component - Examples, automerge

#2404 feat: allow gdml for material recording
  Examples/Scripts/Python/material_recording.py
Labels: Component - Examples

#2272 refactor!: move useBeamSpotConstraint to vertexingOptions
  CI/physmon/fpe_masks.yml
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  docs/examples/howto/setup_and_run_vertexing.md
Labels: Component - Core, Infrastructure, Component - Examples, Component - Documentation, Vertexing, Breaking change

#2349 refactor: FPE masking updates & improvements
  CI/check_fpe_masks.py
  CI/physmon/fpe_masks.yml
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Core/include/Acts/Utilities/GaussianMixtureReduction.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_fpe.py
  Examples/Scripts/requirements.in
  Examples/Scripts/requirements.txt
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
Labels: Component - Core, Infrastructure, Component - Fatras, Component - Examples, automerge

#2379 feat: Configurable and more flexible binning for CKFPerformanceWriter
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/src/Utilities/Helpers.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#2408 fix: readthedocs removed configuration option `system_packages`
  readthedocs.yml
Labels: automerge

#2405 feat: TrackSelector supports eta-dependent cuts
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExampleAlgorithms.cpp
  Tests/UnitTests/Core/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#2376 fix: minor bugs in grid vertex seeder
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance

#2392 feat: Exa.TrkX abstract pipeline & metric hook
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchTruthGraphMetricsHook.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CantorEdge.hpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/TorchTruthGraphMetricsHook.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXEdgeBuildingTest.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#2407 fix: Stringop overread warning in GCC12
  .gitlab-ci.yml
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
Labels: Component - Core, automerge, Seeding

#2412 feat: add single lookup multi surfaces
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Labels: Component - Core, automerge

#2411 fix: add missing binning value cuboid bounds
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBoundsTests.cpp
Labels: Component - Core, automerge
