Repository acts-project/acts, pull requests merged in 2023-04, with the labels that each got.

#2006 refactor: LinCircle constructor and no use of fill function
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
Labels: Component - Core, automerge

#2011 ci: Patch geant4 config script to download datasets
  .github/workflows/builds.yml
  CI/geant4-config.patch
Labels: Infrastructure, automerge

#2010 refactor: move multipleScattering2 to seeding options
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge

#2015 ci: Bump actions/upload-artifact to v3
  .github/workflows/analysis.yml
  .github/workflows/docs.yml
Labels: Infrastructure, automerge

#2007 refactor: Split Track.hpp into TrackProxy.hpp and TrackContainer.hpp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/Track.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Track.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#1968 fix: Skipping un-physical steps in material mapping (#1882)
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
Labels: Bug, automerge

#2016 test: fixing error message for material recording tests
  Examples/Python/tests/conftest.py
Labels: Component - Examples, automerge

#2001 refactor: Update edm4hep IO code to use frame model
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMultiTrajectoryWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitWriter.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMultiTrajectoryWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitWriter.cpp
Labels: Component - Examples, automerge

#1990 test: Enable interaction in `truth_tracking_kalman.py`
  CI/physmon/reference/performance_truth_tracking.root
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples, automerge

#2009 fix: MultiTrajectory parameters and covariance constness
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
Labels: Component - Core, automerge

#2012 feat: Track level improvements
  Core/include/Acts/EventData/TrackHelpers.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#2018 feat: adding Indexed Surface infrastructure
  Core/include/Acts/Detector/GridAxisGenerators.hpp
  Core/include/Acts/Detector/IndexedGridFiller.hpp
  Core/include/Acts/Detector/IndexedSurfacesGenerator.hpp
  Core/include/Acts/Navigation/NavigationDelegates.hpp
  Core/include/Acts/Navigation/NavigationStateUpdators.hpp
  Core/include/Acts/Navigation/SurfaceCandidatesUpdators.hpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/PortalGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Detector/ProtoDetectorTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatorsTests.cpp
  Tests/UnitTests/Core/Navigation/NextNavigatorTests.cpp
Labels: Component - Core

#1998 refactor: move vertex performance writer
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Io/Performance/CMakeLists.txt
  Examples/Io/Root/CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_writer.py
  Examples/Run/Vertexing/CMakeLists.txt
  Examples/Run/Vertexing/TrackReaderVertexingPerformanceWriterExample.cpp
Labels: Component - Examples, automerge

#1395 docs: first brush over the geometry pages
  docs/core/geometry.md
Labels: Component - Documentation, automerge

#2019 feat: add python bindings for next navigator
  Examples/Python/python/acts/__init__.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/src/Propagation.cpp
Labels: Component - Examples, automerge

#1323 fix: Energy loss function
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_orthogonal.root
  CI/physmon/reference/performance_seeding_seeded.root
  CI/physmon/reference/performance_seeding_truth_estimated.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Core/include/Acts/Material/Interactions.hpp
  Core/src/Material/Interactions.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/IntegrationTests/Autodiff/PropagationAutodiffDenseConstant.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/UnitTests/Core/Material/InteractionsTests.cpp
Labels: Component - Core, Impact - Major, automerge

#1964 feat: Add logger to multi stepper
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core, Component - Examples, Feature, automerge

#2008 feat: Mockup builder class with a cpp script for test
  Examples/Detectors/Geant4Detector/CMakeLists.txt
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/MockupSectorBuilder.hpp
  Examples/Detectors/Geant4Detector/src/MockupSectorBuilder.cpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/mockupbuilder.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Run/Geant4/CMakeLists.txt
  Examples/Run/Geant4/MuonChamber.gdml
  Examples/Run/Geant4/TestMockupBuilder.cpp
  Examples/Run/Geant4/barrel_chambers00.png
Labels: Component - Examples, automerge

#1991 perf: Space Point Formation requires functions that accepts const reference to source links
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
Labels: Component - Core, automerge

#2025 refactor: Restructure the ONNX and mlpack plugins
  CMakeLists.txt
  Examples/Algorithms/TrackFindingML/CMakeLists.txt
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLDBScanAlgorithm.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/python/acts/examples/onnx/__init__.py
  Examples/Python/python/acts/examples/onnx/mlpack.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Onnx.cpp
  Examples/Python/src/OnnxMlpack.cpp
  Examples/Python/src/OnnxMlpackStub.cpp
  Examples/Python/src/OnnxStub.cpp
  Examples/Python/src/Pythia8.cpp
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/test_examples.py
  Plugins/CMakeLists.txt
  Plugins/ExaTrkX/src/ExaTrkXTrackFindingOnnx.cpp
  Plugins/Mlpack/CMakeLists.txt
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/AmbiguityDBScanClustering.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  cmake/FindOnnxRuntime.cmake
Labels: automerge

#1981 build: Take CMAKE_CXX_STANDARD into account
  .github/workflows/builds.yml
  Alignment/CMakeLists.txt
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/EventData/CorrectedTransformationFreeToBound.cpp
  Examples/Framework/CMakeLists.txt
  Fatras/CMakeLists.txt
  Fatras/Geant4/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeBuilder.hpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.hpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.ipp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  cmake/ActsCompilerOptions.cmake
  cmake/pythia8307-cpp20.patch
Labels: Infrastructure, automerge

#2004 refactor!: move SSS coordinate information to spacePointData
  Core/include/Acts/EventData/SpacePointData.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Improvement, automerge

#2013 refactor: Compile time get compatible doublets
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Improvement, automerge

#2032 ci: Fix skipped Geant4 tests, always enable all tests by default in CI
  .github/workflows/builds.yml
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
Labels: automerge

#1972 feat: remove middle SPs in last layer
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, Component - Examples, automerge

#2029 refactor: Mockup builder files location
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/Geant4Detector/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/MuonChamber.gdml
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/MockupSectorBuilder.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/mockupbuilder.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Run/Geant4/CMakeLists.txt
  Examples/Run/Geant4/TestMockupBuilder.cpp
Labels: Component - Examples, automerge

#2033 feat: add SVG visualization functionality for indexed surfaces
  CMakeLists.txt
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/GridSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SvgUtils.hpp
  Tests/UnitTests/Plugins/ActSVG/CMakeLists.txt
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
  thirdparty/actsvg/CMakeLists.txt
Labels: Component - Plugins, automerge

#1988 refactor: remove/rearrange includes in propagator
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Labels: Component - Core, automerge

#2035 feat: Add ConstRefHolder type, add support to TrackContainer
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/Utilities/Holders.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#2028 feat: Add method to return measurement indices
  Core/include/Acts/EventData/Measurement.hpp
Labels: Component - Core, Improvement, Feature, automerge

#2026 fix: Solve the CI issue with the ML solver
  Examples/Python/tests/test_examples.py
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
Labels: Bug, Component - Plugins, automerge

#2044 refactor: resurrect detector root volumes
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorVolume.cpp
  Examples/Run/Geant4/TestMockupBuilder.cpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Core/Navigation/NextNavigatorTests.cpp
Labels: Component - Core

#2047 refactor: navigator volume material handling
  Core/include/Acts/Navigation/NextNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
Labels: Component - Core

#2050 ci: Fix ccache usage in GitLab CI job
  .gitlab-ci.yml
Labels: automerge

#2051 refactor!: Remove Track.hpp
  Core/include/Acts/EventData/Track.hpp
Labels: automerge

#2039 fix: ParticleID collision in Geant4
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStoreRegistry.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge

#2042 feat: Extend list of PdgParticles particles to include Pb
  Core/include/Acts/Utilities/PdgParticle.hpp
  Examples/Python/src/Base.cpp
  Examples/Python/tests/test_base.py
Labels: Improvement, Feature, automerge

#2061 ci: Add CKF pull diagnostics to physics perf monitoring
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/tracksummary_ckf_config.yml
  Examples/Scripts/generic_plotter.py
  Examples/Scripts/requirements.txt
Labels: automerge

#1983 feat: cylindrical detector
  Core/include/Acts/Detector/PortalHelper.hpp
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Component - Core, Feature

#2059 refactor: Improve measurement errors
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Improvement, Component - Examples, automerge

#2064 fix: remove warning on MacOS build coming from DigitizationCell
  Core/include/Acts/Digitization/DigitizationCell.hpp
Labels: automerge

#2057 feat: particle killing 4 Geant4 and refactor user actions
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ActsSteppingActionList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Run/Geant4/Common/src/Geant4Common.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#2066 test: Add test for log levels in Logger clone
  Tests/UnitTests/Core/Utilities/LoggerTests.cpp
Labels: automerge

#2062 chore: update check_format_local to clang 14
  CI/check_format_local
Labels: Infrastructure, automerge

#2049 fix: enable G4 secondary hits
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#2070 fix: ambiguity resolution for 0 tracks
  Examples/Algorithms/TrackFinding/src/AmbiguityResolutionAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Index.hpp
Labels: Component - Examples, automerge

#2072 feat!: add non-cost access to Surface
  Core/include/Acts/Geometry/detail/DefaultDetectorElementBase.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoDetectorElement.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/DetectorElementStub.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Labels: Component - Core, Impact - Minor, automerge
