Repository acts-project/acts, pull requests merged in 2023-05, with the labels that each got.

#2079 fix: Add missing include and fix warning for GCC 13
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
Labels: Component - Core, automerge

#2080 ci: Fix git lfs installation
  .github/workflows/builds.yml
Labels: automerge

#2078 feat: Add support for passing clusters to calibrator
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementCalibration.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, Feature, automerge

#2082 fix: add missing proto track output for truth seeding algo
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
Labels: Component - Examples, automerge

#2092 feat: Move MultiTrajectory tests to common suite
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MultiTrajectoryTestsCommon.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestTrackState.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackStatePropMaskTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: automerge

#2090 refactor: Use uint64_t explicitly in MultiTrajectory
  Core/include/Acts/EventData/MultiTrajectory.hpp
Labels: Component - Core, automerge

#2095 fix: Dangling reference due to source link lifetime in fitters
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, Impact - Critical, automerge, backport develop/v25.x

#2065 feat: cylindrical detector component builder
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorComponents.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/include/Acts/Detector/GridAxisGenerators.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/detail/CylindricalDetectorHelper.hpp
  Core/include/Acts/Detector/detail/GridAxisGenerators.hpp
  Core/include/Acts/Detector/detail/IndexedGridFiller.hpp
  Core/include/Acts/Detector/detail/IndexedSurfacesGenerator.hpp
  Core/include/Acts/Detector/detail/KdtSurfacesProvider.hpp
  Core/include/Acts/Detector/detail/PortalHelper.hpp
  Core/include/Acts/Detector/detail/ReferenceGenerators.hpp
  Core/include/Acts/Detector/detail/SupportHelper.hpp
  Core/include/Acts/Detector/interface/IDetectorComponentBuilder.hpp
  Core/include/Acts/Detector/interface/IExternalStructureBuilder.hpp
  Core/include/Acts/Detector/interface/IInternalStructureBuilder.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Detector/detail/PortalHelper.cpp
  Core/src/Detector/detail/SupportHelper.cpp
  Examples/Detectors/DetectorInspectors/include/ActsExamples/DetectorInspectors/SurfaceIndexing.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Examples/Run/Geant4/TestMockupBuilder.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/ReferenceGeneratorsTests.cpp
  Tests/UnitTests/Core/Detector/SupportHelperTests.cpp
  Tests/UnitTests/Core/Navigation/NextNavigatorTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core

#2098 fix: Dangling reference due to source link lifetime in fitters [backport #2095 to develop/v25.x]
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: automerge, backport

#2048 refactor: geant4 converters
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/src/Detector/DetectorVolume.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Examples/Run/Geant4/TestMockupBuilder.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4Converters.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
Labels: Component - Plugins

#2091 refactor!: TrackContainer/MultiTrajectory surfaces, jacobians, meas access
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
Labels: automerge

#2101 fix: Read PDG, charge and mass in RootParticleReader
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/EventData/Particle.hpp
Labels: Component - Examples, automerge

#2102 chore: improve propagator doc
  Core/include/Acts/Propagator/Propagator.hpp
Labels: Component - Core, automerge

#2112 refactor: Add tolerance to transformFreeToBoundParameters
  Core/include/Acts/EventData/detail/TransformationFreeToBound.hpp
  Core/src/EventData/TransformationFreeToBound.cpp
Labels: Component - Core, automerge

#2104 refactor: Deduplicate some code in SingleBoundTrackParameters
  Core/include/Acts/EventData/SingleBoundTrackParameters.hpp
Labels: Component - Core, automerge

#2107 fix: SIGFPE in full_chain_odd example
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, Impact - Major, automerge

#2113 ci: Add basic cmd options to physmon
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
Labels: Infrastructure, automerge

#2120 refactor: throw_asserts in GSF to asserts and errors
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfError.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/src/TrackFitting/GsfError.cpp
Labels: Component - Core, automerge

#2115 feat: max-weight reduction for GSF trackstates, fill smoothed states
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/include/Acts/Utilities/GaussianMixtureReduction.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, Component - Examples, automerge

#2106 refactor: Make surface intersection tolerance configurable
  Core/include/Acts/Navigation/NextNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Component - Core, automerge

#2123 feat: total seed purity in SeedingPerformanceWriter
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples, automerge

#2125 ci: Summary for physmon
  CI/physmon/comment_template.md
  CI/physmon/phys_perf_mon.sh
  CI/physmon/summary.py
Labels: Infrastructure, automerge

#2119 feat: Add full cov and pulls to VertexPerformanceWriter
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Component - Examples, automerge

#2131 fix: Fix physmon comment template after #2130
  CI/physmon/comment_template.md
Labels: Impact - Minor, automerge

#2127 fix: Remove det(cov)<=0 check from HelicalTrackLinearizer
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Python/tests/test_examples.py
Labels: Component - Core, Impact - Minor, automerge

#2126 refactor: avoid divisions in getCompatibleDoublets
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge

#2109 refactor: Use hypot across codebase
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/src/Material/Interactions.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Run/Misc/TabulateEnergyLoss.cpp
  Examples/Scripts/MaterialMapping/materialComposition.C
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Examples/Scripts/momentumDistributions.C
  Examples/Scripts/printBField.C
  Examples/Scripts/printHits.C
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Plugins/Legacy/include/Acts/Seeding/SPForSeed.hpp
  Tests/IntegrationTests/Legacy/ATLSeedingIntegrationTest.cpp
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/Utilities/BinningDataTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/ReadSeedFile.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, automerge

#2138 fix: Fix physmon comment template after #2130
  CI/physmon/comment_template.md
Labels: Impact - Minor, automerge

#2133 feat: Option to keep only particles with hits in Geant4
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples, automerge, automerge priority

#2085 feat: Simple scaling calibrator
  Core/include/Acts/EventData/Measurement.hpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/MeasurementCalibration.hpp
  Examples/Framework/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, Feature, automerge

#2146 chore: Wire loggers in CKF correctly
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge

#2124 ci: Split up physmon script into multiple ones
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon.py
  CI/physmon/physmon_common.py
  CI/physmon/setup.sh
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  CI/physmon/workflows/physmon_vertexing.py
Labels: automerge

#2093 refactor: Add concepts for Track(State) backends
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Utilities/Concepts.hpp
Labels: automerge

#2116 refactor: Remove redundancy in HelicalTrackLinearizer
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
Labels: Component - Core, automerge

#2147 ci: Disable LCG jobs we expect to fail
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#2134 refactor: Remove some "code smells" in the clusterization code
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
Labels: Improvement, automerge

#2110 refactor: Min measurements for TrackSelector
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  docs/examples/full_chain_odd.md
Labels: Component - Examples, automerge

#2152 fix: Relative path of `MuonChamber.gdml` independend of working directory
  Examples/Python/python/acts/examples/mockupbuilder.py
Labels: Improvement, Impact - Minor, automerge

#2097 feat: Geant4 kill particle after configurable time
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Base.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge, automerge priority

#2129 fix: Protection against wrong configuration of Seed finder config
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Bug, Component - Core, automerge

#2144 refactor: Align IVF and AMVF in examples
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge

#2156 fix: different typos all over the visualization and other places
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/KDTreeTrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Run/Common/src/AlignedDetectorWithOptions.cpp
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesView3DBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesView3DTests.cpp
  Tests/UnitTests/Core/Visualization/SurfaceView3DBase.hpp
  Tests/UnitTests/Core/Visualization/SurfaceView3DTests.cpp
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DBase.hpp
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DTests.cpp
  Tests/UnitTests/Core/Visualization/Visualization3DTester.hpp
  Tests/UnitTests/Core/Visualization/VolumeView3DBase.hpp
  docs/core/geometry.md
  docs/core/visualization/visualization.rst
  docs/howto/run_material_mapping.rst
Labels: automerge

#2140 fix: Fix stepper charge hypothesis
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NextNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/PointwiseMaterialInteraction.cpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Impact - Critical, automerge

#2165 ci: Add actsvg to major builds
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Detectors/DetectorInspectors/src/SurfaceIndexing.cpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgDefaults.hpp
  Plugins/ActSVG/CMakeLists.txt
  Plugins/EDM4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/SurfaceSvgConverterTests.cpp
  cmake/ActsConfig.cmake.in
Labels: Infrastructure, automerge
