Repository acts-project/acts, pull requests merged in 2023-07, with the labels that each got.

#2256 docs: Ignore if `eigen.tuxfamily.org` is online
  docs/conf.py
Labels: Component - Documentation, automerge

#2255 chore: Improve CMake formatting
  CMakeLists.txt
Labels: automerge

#2257 ci: Add Folder with hashes to the labeler paths
  .github/labeler.yml
Labels: Infrastructure, automerge

#2259 fix: acts-logo rendered differently on different platforms
  docs/figures/acts_logo_colored.svg
  docs/figures/acts_logo_white.svg
Labels: Component - Documentation

#2266 refactor: Drop bool conversion in favor of `isAlive` method in `Fatras::Particle`
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Tests/UnitTests/Fatras/EventData/ParticleTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Fatras, automerge, Event Data Model

#2262 feat: `TrackingGeometry` gains `shared_ptr` world volume accessor
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/src/Geometry/TrackingGeometry.cpp
Labels: Component - Core, automerge

#2263 feat: Remove secondary particles in Geant4 simulation
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples, automerge

#2271 refactor: `RootTrajectorySummaryWriter` use `qOverP` from particle
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#2265 feat: Add ability to remove secondaries in `ParticleSelector`
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#2261 refactor: Add Concept for TrackStateProxy
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/Types.hpp
Labels: Component - Core, automerge, Event Data Model

#2260 fix: Remove potential FPE in `RootTrajectorySummaryWriter`
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Component - Examples, automerge

#2264 fix: Fix some Geant4<->Acts unit conversions
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#2252 build: Geant4 CMakeList fix
  CMakeLists.txt
Labels: automerge

#2232 ci: Physmon for event simulation
  CI/physmon/ckf_truth_smeared.yml
  CI/physmon/gsf.yml
  CI/physmon/particles_final_config.yml
  CI/physmon/particles_initial_config.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/particles_final_geant4_hist.root
  CI/physmon/reference/particles_initial_fatras_hist.root
  CI/physmon/reference/particles_initial_geant4_hist.root
  CI/physmon/tracksummary_ckf_config.yml
  CI/physmon/truth_tracking.yml
  CI/physmon/workflows/physmon_simulation.py
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geometry.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Impact - Minor, Component - Examples, automerge, Changes Performance

#2268 ci: Monitor memory in physmon jobs
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#2206 perf: Reduce memory consumption of track finding
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackSelector.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding

#2258 feat: Stepper interface gains momentum
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2281 ci: Physmon memory monitoring push fix
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure

#2277 feat: Add ability to mask FPEs from code comment
  .github/workflows/checks.yml
  CI/check_fpe_masks.py
  CI/requirements_fpe_masks.in
  CI/requirements_fpe_masks.txt
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/src/ModuleEntry.cpp
Labels: Infrastructure, Component - Examples, automerge

#2285 fix: Remove erroneously added print
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples, automerge

#2280 chore: Rearrange central CMake, plugins vs examples
  CMakeLists.txt
Labels: automerge

#2276 fix: Protection against division by zeros in orthogonal seeding
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Bug, Component - Core, automerge, Seeding

#2251 refactor: `direction` and `qOverP` for Fatras particle interface
  CI/physmon/fpe_masks.yml
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/ParticlesPrinter.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedSelector.cpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakeRatePlotTool.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/tests/test_examples.py
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/Scattering.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/include/ActsFatras/Selectors/KinematicCasts.hpp
  Fatras/src/Physics/BetheHeitler.cpp
  Tests/UnitTests/Fatras/EventData/ParticleTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Fatras/Physics/ScatteringTests.cpp
Labels: Infrastructure, Component - Fatras, Component - Examples, automerge, Event Data Model

#2142 fix: Remove unit C
  Core/include/Acts/Definitions/Units.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Examples/Python/src/Base.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Definitions/UnitsTests.cpp
Labels: Component - Core, Impact - Critical, Component - Examples, automerge

#2296 fix: Ignore all of http://eigen.tuxfamily.org
  docs/conf.py
Labels: Component - Documentation, automerge

#2290 feat: clear method for Track Container
  Core/include/Acts/EventData/TrackContainer.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding

#2293 chore: Accumulated small changes
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/src/Material/Interactions.cpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Examples/Framework/include/ActsExamples/EventData/SimHit.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Track Fitting

#2294 chore: Adopt physmon plotting ranges
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/tracksummary_ckf_config.yml
Labels: Infrastructure, automerge, Changes Performance

#2292 refactor: Consistent surface tolerance for propagation
  Core/include/Acts/Navigation/SurfaceCandidatesUpdators.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StepperTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance

#2301 fix: Quick fix docs by ignoring pythia.org
  docs/conf.py
Labels: Component - Documentation, automerge

#2300 feat: Filter for particles which originate from the beam pipe
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#2299 fix: Fix CKF finalization
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Impact - Major, automerge, Track Finding

#2302 refactor: (remove) surgical extraction of faulty Global Chi2 Fitter
  Core/include/Acts/TrackFitting/Chi2Fitter.hpp
  Core/include/Acts/TrackFitting/Chi2FitterError.hpp
  Core/include/Acts/TrackFitting/detail/VoidChi2Components.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/Chi2FitterError.cpp
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/TrackFittingChi2/CMakeLists.txt
  Examples/Algorithms/TrackFittingChi2/include/ActsExamples/TrackFittingChi2/TrackFittingChi2Algorithm.hpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2Algorithm.cpp
  Examples/Algorithms/TrackFittingChi2/src/TrackFittingChi2AlgorithmFunction.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/TrackFitting.cpp
  Examples/Run/Common/CMakeLists.txt
  Examples/Run/Common/include/ActsExamples/Options/TrackFittingChi2Options.hpp
  Examples/Run/Common/src/TrackFittingChi2Options.cpp
  Examples/Run/Reconstruction/CMakeLists.txt
  Examples/Run/Reconstruction/Common/CMakeLists.txt
  Examples/Run/Reconstruction/Common/RecChi2Tracks.cpp
  Examples/Run/Reconstruction/Common/RecChi2Tracks.hpp
  Examples/Run/Reconstruction/GenericRecChi2Tracks.cpp
  Examples/Run/Reconstruction/TelescopeRecChi2Tracks.cpp
  Examples/Scripts/Python/truth_tracking_chi2.py
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/Chi2FitterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#2304 fix: small bug when avoiding iterations while looking for dublets
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#2248 ci: Check and fix missing includes
  .github/workflows/checks.yml
  CI/missing_include_check.sh
  Core/include/Acts/EventData/SingleFreeTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/Utils.hpp
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Geometry/ITrackingVolumeHelper.hpp
  Core/include/Acts/Material/MaterialComposition.hpp
  Core/include/Acts/Navigation/NavigationStateFillers.hpp
  Core/include/Acts/Propagator/StepperExtensionList.hpp
  Core/include/Acts/Propagator/detail/Auctioneer.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/IExperimentCuts.hpp
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Utilities/Enumerate.hpp
  Core/include/Acts/Utilities/KDTree.hpp
  Core/include/Acts/Utilities/RangeXD.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/LinearizedTrack.hpp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
Labels: Component - Core, Infrastructure, automerge, Event Data Model, Vertexing, Seeding

#2283 feat: adding json writing, reading infrastructure
  Core/include/Acts/Detector/detail/PortalHelper.hpp
  Core/include/Acts/Navigation/NavigationStateUpdators.hpp
  Core/src/Detector/detail/PortalHelper.cpp
  Examples/Io/Json/src/JsonSurfacesReader.cpp
  Examples/Python/src/Json.cpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/PortalJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeBoundsJsonConverter.hpp
  Plugins/Json/src/AlgebraJsonConverter.cpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Plugins/Json/src/SurfaceBoundsJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Plugins/Json/src/VolumeBoundsJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/PortalJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/VolumeBoundsJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

#2228 feat: actsvg plugin for new detector infrastructure (cylindrical)
  CMakeLists.txt
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/CMakeLists.txt
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/DetectorSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/DetectorVolumeSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/EventDataSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/GridSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/LayerSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/PortalSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceArraySvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SvgUtils.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/ActSVG/src/DetectorSvgConverter.cpp
  Plugins/ActSVG/src/DetectorVolumeSvgConverter.cpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Plugins/ActSVG/src/PortalSvgConverter.cpp
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Plugins/ActSVG/src/SurfaceSvgConverter.cpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
  Tests/UnitTests/Plugins/ActSVG/CMakeLists.txt
  Tests/UnitTests/Plugins/ActSVG/DetectorSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/DetectorVolumeSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/LayerSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/PortalSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/SurfaceSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/TrackingGeometrySvgConverterTests.cpp
Labels: Component - Core, Improvement, Component - Examples, Component - Plugins, automerge

#2196 refactor: revisit FullBilloirVertexFitter
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
Labels: Component - Core, Impact - Minor, automerge, Vertexing

#2307 chore: Rearrange `res/err/pull` and use `std::sqrt` in `RootTrajectoryStatesWriter`
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
Labels: Component - Examples, automerge

#2234 refactor: Indexed surfaces generator
  Core/include/Acts/Detector/detail/IndexedGridFiller.hpp
  Core/include/Acts/Detector/detail/IndexedSurfacesGenerator.hpp
  Core/include/Acts/Navigation/SurfaceCandidatesUpdators.hpp
  Core/include/Acts/Utilities/detail/Grid.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/IndexedGridFiller.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2038 feat: Seed Vertex Finder
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/Vertexing.cpp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2073 refactor: Remove direction from constrained step
  Core/include/Acts/Navigation/NextNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance

#2309 refactor: Brush over new detector geometry part 1
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Navigation/DetectorVolumeFinders.hpp
  Core/include/Acts/Navigation/DetectorVolumeUpdators.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NextNavigator.hpp
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/Portal.cpp
  docs/core/experimental_geometry.md
Labels: Component - Core, Component - Documentation, automerge

#2311 chore: rename NextNavigator to DetectorNavigator
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Examples/Python/python/acts/__init__.py
  Examples/Python/src/Propagation.cpp
  Examples/Run/Geant4/TestMockupBuilder.cpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
Labels: Component - Core, Component - Examples, automerge

#2086 fix: Improve full chain pulls by enabling Fatras interactions
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2313 feat: Add compiled version info
  Core/ActsVersion.hpp.in
  Core/CMakeLists.txt
  Core/src/ActsVersion.cpp
  Tests/DownstreamProject/ShowActsVersion.cpp
Labels: Component - Core, automerge

#2314 build: Explicitly find python when DD4hep is ON
  CMakeLists.txt
Labels: automerge

#2318 fix: Use material towards target in CKF
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#2287 fix: Align `globalToLocal` and `intersection` in `LineSurface`
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/src/Surfaces/LineSurface.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
Labels: Component - Core, Infrastructure, Impact - Minor, Component - Examples, automerge, Changes Performance

#2329 fix: Update to Pythia 8.310 API for random engines
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
Labels: Component - Examples, automerge

#2315 docs: Improve `Units.hpp` doc
  Core/include/Acts/Definitions/Units.hpp
Labels: Component - Core, automerge

#2254 feat: Introduce particle hypothesis
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/ChargeTests.cpp
  Tests/UnitTests/Core/EventData/ParticleHypothesisTests.cpp
Labels: Component - Core, automerge, Event Data Model

#2324 feat: Make patched python constructors accept pathlib Paths
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples, automerge

#2333 fix: Fix `BinningValue` conversions
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
Labels: Component - Plugins, automerge

#2330 feat: Root SimHit Reader and unit test
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Python/src/Input.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/WhiteBoardUtilities.hpp
  Tests/UnitTests/Examples/Io/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Root/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Root/SimhitReaderWriterTests.cpp
Labels: Component - Examples, automerge
