Repository acts-project/acts, pull requests merged in 2023-12, with the labels that each got.

#2725 feat: TrackSelector can select on number of holes
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Labels: Component - Core, automerge, Track Finding

#2761 ci: monitor track weights after vertex fit
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2758 fix: TrackSelector cut printing adds new cuts
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Labels: Component - Core, automerge, Track Finding

#2762 ci: Switch herald URL to CERN hosted instance
  CI/physmon/summary.py
Labels: Infrastructure, automerge

#2759 chore: Remove `volumeSignature` from geometry building
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/SimpleGeometryTests.cpp
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2764 revert: Remove `volumeSignature` from geometry building
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/SimpleGeometryTests.cpp
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2726 feat: update to ATLAS-based FTF seeding
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#2765 fix: Document and fix IWYU
  .github/workflows/iwyu.yml
  CI/iwyu/README.md
  CI/iwyu/filter.yaml
Labels: Infrastructure, automerge

#2760 refactor: Remove `representation` from `ObjectIntersection`
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#2744 fix: Fix CKF pathlimit abort
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2652 refactor: Make seeding config more understandable
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Labels: Component - Core, automerge, Seeding

#2750 refactor: Centralize PODIO dynamic columns recovery and use typelist
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
Labels: Component - Plugins, automerge

#2772 fix: Fix IWYU mapping file
  .github/workflows/iwyu.yml
Labels: Infrastructure, automerge

#2645 refactor: Move common test helpers to core
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSourceLink.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/EventData/MeasurementTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Fatras, Component - Plugins, automerge, Event Data Model, SP formation, Seeding, Track Finding, Track Fitting

#2774 refactor: Factorize GX2F delta param calculation
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
Labels: Component - Core, automerge, Track Fitting

#2673 refactor: Shrink z range with deltaZMax in Orthogonal seeding
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
Labels: Component - Core, automerge, Seeding

#2739 fix: GX2F: Finish material-less fit by resetting the track container
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#2721 feat: add useTime to AMVFinder + python binding
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#2778 ci: check for unused files - add python checks and CI-dir
  CI/check_unused_files.py
Labels: Infrastructure, automerge

#2784 refactor: Set defaults for `GreedyAmbiguityResolution`
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Algorithms/AmbiguityResolution/include/ActsExamples/AmbiguityResolution/GreedyAmbiguityResolutionAlgorithm.hpp
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Component - Examples, automerge, Ambiguity Resolution, Changes Performance

#2790 docs: Bump doxygen, small doc comment fixes
  .github/workflows/docs.yml
  Core/include/Acts/Utilities/Intersection.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
Labels: Component - Core, Infrastructure, Component - Plugins, automerge, Vertexing

#2783 refactor!: Refactor `MaterialSlab` combination
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/src/Material/MaterialSlab.cpp
  Tests/UnitTests/Core/Material/MaterialSlabTests.cpp
Labels: Component - Core, automerge

#2745 refactor!: make trkGridSize non-template parameter in AdaptiveGridTrackDensity
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
  Core/src/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2766 feat: build open data detector from dd4hep in experimental detector schema
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/ProtoBinning.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Scripts/Python/detector_creation.py
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprintFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Tests/UnitTests/Core/Detector/ProtoBinningTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2741 refactor: Remove redundant default-constructor factory for Nav delegate
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Navigation/NavigationDelegates.hpp
Labels: Component - Core, automerge

#2770 chore: bump Python version to 3.12 and update requirements
  .github/workflows/checks.yml
  .github/workflows/report.yml
  .gitlab-ci.yml
  CI/clang_tidy/check_clang_tidy.py
  CI/clang_tidy/item.py
  CI/clang_tidy/parse_clang_tidy.py
  CI/clang_tidy/requirements.in
  CI/clang_tidy/requirements.txt
  CI/commands/requirements.txt
  CI/requirements_fpe_masks.txt
  Examples/Python/tests/requirements.in
  Examples/Python/tests/requirements.txt
  Examples/Python/tests/requirements_ubuntu2004.in
  Examples/Python/tests/requirements_ubuntu2004.txt
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/requirements.in
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge, Changes Performance

#2712 feat: Dyn col copying btw. different backend (Track+TrackState)
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/include/Acts/EventData/detail/DynamicKeyIterator.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/EventData/VectorTrackContainer.cpp
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Plugins/Podio/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/PodioTrackContainerTest.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#2804 refactor!: set different initial spatial and temporal vertex variances
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, :construction_worker_woman: User Action Needed, Vertexing, Changes Performance

#2801 docs: Add documentation for `ActsFatras`
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/Scattering.hpp
  docs/fatras/fatras.md
Labels: Component - Fatras, Component - Documentation, automerge

#2817 feat(edm): Add functions to create and return track(state) proxies
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, automerge, Event Data Model

#2757 refactor!: Give CKF BranchStopper access to TrackState
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2657 docs: Add a white paper for line surface jacobian
  Core/src/Surfaces/LineSurface.cpp
  docs/white_papers.toml
  docs/white_papers/figures/line-surface-jacobian.png
Labels: Component - Core, Component - Documentation, automerge

#2822 ci: Reduce expiry time for GitLab artifacts
  .gitlab-ci.yml
Labels: automerge

#2807 refactor!: Split TrackStateProxy into own header, public
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
Labels: Component - Core, automerge, Event Data Model

#2818 fix: Fix Geant4 `SensitiveSurfaceMapper`
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Python/python/acts/examples/simulation.py
Labels: Component - Examples, automerge

#2820 refactor: PODIO backends don't need to fill dynamic keys
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
Labels: Component - Plugins, automerge

#2799 docs: Add documentation for `ParticleHypothesis`
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  docs/core/core.rst
  docs/core/eventdata.md
  docs/core/eventdata/index.md
  docs/core/eventdata/measurements.md
  docs/core/eventdata/parametrization.md
  docs/core/eventdata/particle_hypothesis.md
  docs/core/eventdata/tracks.md
Labels: Component - Core, Component - Documentation, automerge, Event Data Model

#2834 fix: bump svg version (fix) and display bin centers
  CMakeLists.txt
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
Labels: Component - Plugins

#2718 feat: generic Grid iterator
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/GridIterator.ipp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridIterationTests.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
Labels: Component - Core, Component - Plugins, automerge, Seeding

#2832 chore: Reduce memory consumption of AMVF
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/Vertex.ipp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/KalmanVertexTrackUpdater.cpp
  Core/src/Vertexing/KalmanVertexUpdater.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2824 refactor: Remove redundant check in MultiWireStructureBuilder
  Core/src/Detector/MultiWireStructureBuilder.cpp
Labels: Component - Core, automerge

#2775 refactor: consider only tracks with non-zero weight in VertexPerfomanceWriter
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2752 feat: allow to set proto material to portals of volumes and containers
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/include/Acts/Detector/ProtoBinning.hpp
  Core/include/Acts/Detector/detail/ProtoMaterialHelper.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/detail/ProtoMaterialHelper.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/ProtoSurfaceMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/DD4hep/src/DD4hepMaterialHelpers.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  docs/core/geometry/material.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation

#2781 refactor!: Remove `CovarianceTransport`
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/CovarianceTransport.cpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/CovarianceTransportBenchmark.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/CovarianceTransportTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2808 refactor: Remove `resetState` from navigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance

#2681 refactor!: Remove implicit default layer from `CuboidVolumeBuilder`
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/LayerArrayCreator.cpp
Labels: Component - Core, automerge

#2830 refactor: Refactor `AdaptiveGridTrackDensity`
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#2816 docs: Track EDM doxygen comment updates
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#2825 test: Add bound to bound roundtrip covariance tests
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
Labels: Component - Core, automerge

#2768 refactor: Refactor navigation
  Core/include/Acts/Geometry/ApproachDescriptor.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/GenericApproachDescriptor.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2819 feat!: Generalize Accessors for Tracks and TrackStates
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackContainerComplianceTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#2845 feat: adding features for traccc data production
  Core/include/Acts/Detector/GeometryIdGenerator.hpp
  Core/include/Acts/Detector/GeometryIdMapper.hpp
  Core/include/Acts/Detector/interface/IGeometryIdGenerator.hpp
  Core/src/Geometry/Extent.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Scripts/Python/detector_creation.py
  Examples/Scripts/Python/geometry.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepIdentifierMapper.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Core/Detector/GeometryIdGeneratorTests.cpp
  docs/core/geometry/layerless/layerless.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation

#2803 docs: GX2F: write documentation
  docs/core/reconstruction/track_fitting.md
Labels: Component - Documentation, automerge

#2848 fix: Move objects instead of copying
  Core/include/Acts/Seeding/SpacePointGrid.ipp
Labels: Bug, Component - Core, automerge, Seeding

#2851 refactor!: Remove navigator layer bounds check option
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
Labels: Component - Core, automerge
