Repository acts-project/acts, pull requests merged in 2023-10, with the labels that each got.

#2493 feat: Add angles of incidence in RootMeasurementWriter
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#2495 refactor: rename maximumChi2CutForSeeding
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
Labels: Component - Core, automerge, Vertexing

#2496 feat: add material conversion + test for TGeo
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/particles_final_geant4_hist.root
  CI/physmon/reference/particles_initial_fatras_hist.root
  CI/physmon/reference/particles_initial_geant4_hist.root
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/performance_seeding_orthogonal.root
  CI/physmon/reference/performance_seeding_seeded.root
  CI/physmon/reference/performance_seeding_truth_estimated.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  Plugins/TGeo/CMakeLists.txt
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoMaterialConverter.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoSurfaceConverter.hpp
  Plugins/TGeo/src/TGeoDetectorElement.cpp
  Plugins/TGeo/src/TGeoMaterialConverter.cpp
  Plugins/TGeo/src/TGeoSurfaceConverter.cpp
  Tests/UnitTests/Plugins/TGeo/CMakeLists.txt
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoMaterialConverterTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
Labels: Infrastructure, Component - Plugins, Changes Performance

#2497 chore: move nested Support to ProtoSupport
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/ProtoSupport.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Plugins/TGeo/src/TGeoMaterialConverter.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
Labels: Component - Core, Component - Plugins

#2502 fix: root hashes after tgeo thickness gap bug
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge priority, Changes Performance

#2492 fix: Fix Geant4 initial particle translation
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, :construction_worker_woman: User Action Needed, Changes Performance

#2504 refactor: Rename ambi output in Python examples
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#2503 fix: Initialize output in `RefittingAlgorithm`
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
Labels: Component - Examples, automerge, Track Fitting

#2501 feat: dd4hep surface factory
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepConversionHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/DD4hep/src/DD4hepMaterialConverter.cpp
  Plugins/DD4hep/src/DD4hepMaterialHelpers.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepTestsHelper.hpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/PrimitivesFactory.cpp
  Tests/UnitTests/Plugins/DD4hep/XMLFragments.hpp
Labels: Component - Plugins

#2500 feat: Python bindings for Geant4 manager and handle
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Manager.hpp
  Examples/Algorithms/Geant4/src/Geant4Manager.cpp
  Examples/Python/src/Geant4Component.cpp
Labels: Component - Examples, automerge

#2514 fix: (Layer-based) Geometry construction handles layerless volumes
  Core/src/Geometry/CylinderVolumeBuilder.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
Labels: Component - Core, automerge

#2490 ci: Include ttbar track summary in physmon
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
Labels: Infrastructure, automerge, Changes Performance

#2508 feat: Python bindings for geantino hypothesis
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Examples/Python/src/EventData.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#2510 feat: Python bindings for particle hypothesis in `PropagationAlgorithm`
  Examples/Python/src/Propagation.cpp
Labels: Component - Examples, automerge

#2516 ci: Drop GitHub Actions LCG builds
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#2506 perf: use analytical solution for straight tracks during impact point estimation
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, automerge, Vertexing

#2505 feat: introduce DD4hep Layer and Volume structure
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepConversionHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeStructure.hpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Plugins/DD4hep/src/DD4hepVolumeStructure.cpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoSurfaceConverter.hpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderVolumeStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
Labels: Component - Plugins, automerge

#2488 fix: Update RootTrajectorySummaryWriter.cpp - writing the correct vector to branch (outlierChi2)
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2526 fix: MaterialComposition analysis
  Examples/Scripts/MaterialMapping/materialComposition.C
Labels: Component - Examples, automerge

#2528 fix: Remove TProfile max in material composition altogether
  Examples/Scripts/MaterialMapping/materialComposition.C
Labels: Component - Examples, automerge

#2536 fix: Fix and refactor `PathLimitReached`
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: Component - Core, automerge

#2533 feat: Add maximum propagation steps to CKF Examples algorithm
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge, Track Finding

#2531 feat: MaterialComposition plots with python config
  Examples/Scripts/MaterialMapping/CMakeLists.txt
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/MaterialMapping/materialComposition.C
Labels: Component - Examples, automerge

#2541 fix: DiscTrapezoidBounds vertices
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
Labels: Component - Core, automerge

#2542 fix: Add envelope to `CuboidVolumeBuilder`
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/LayerCreator.cpp
Labels: Component - Core, automerge

#2507 refactor: check for 0 charge in track linearization
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, automerge, Event Data Model, Vertexing

#2545 test: Refactor GX2F test
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2522 refactor: remove division of vertex covariance with weight
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, automerge, Vertexing

#2547 fix: Fix vertexing for physmon ckf tracking
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure, automerge, Changes Performance

#2540 refactor: Refactor CKF error handling and introduce path limit
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2555 refactor: Const access for `Acts::Result`
  Core/include/Acts/Utilities/Result.hpp
Labels: Component - Core, automerge

#2554 feat: Add option for double-matching in CKF performance writer
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
Labels: Component - Examples, automerge

#2515 ci: Update Exa.TrkX images
  .gitlab-ci.yml
Labels: automerge

#2553 feat: Add timing, device hint and mutex to ExaTrkX plugin
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#2539 refactor: Refactor target direction logic in KF/CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting

#2494 feat: Angles of incidence in neural calibrator
  Examples/Framework/ML/src/NeuralCalibrator.cpp
Labels: Component - Examples, automerge

#2556 refactor: remove `effectiveProjector()` from `collector()` in GX2F
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#2558 feat: Add infrastructure for GNN+CKF
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, automerge, Track Finding

#2532 refactor: Refactor and fix `accuracy` property in `ConstrainedStep`
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#2550 feat: introduce blueprint
  .gitlab-ci.yml
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintHelper.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
Labels: Component - Core, automerge

#2561 perf: Improve `ConstrainedStep` footprint after #2532
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Labels: Component - Core, automerge

#2511 feat: Fill track in GX2F
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2413 refactor: Propagator deduce parameter type from stepper
  CI/physmon/reference/performance_gsf.root
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/ParameterTraits.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Track Fitting, Changes Performance

#2227 feat: Initial version of ATLAS-based FTF seeding
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingFTFAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_FTF.py
Labels: Component - Core, Component - Examples, Seeding, Track Finding

#2565 fix: Fixes after 2227
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/GNN_Geometry.hpp
  Core/include/Acts/Seeding/GNN_TrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.hpp
  Core/include/Acts/Seeding/SeedFinderFTF.ipp
  Core/include/Acts/Seeding/SeedFinderFTFConfig.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/FasTrackConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/src/SeedingFTFAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#2566 chore: Remove semicolon after function definition
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/GNN_DataStorage.hpp
  Core/include/Acts/Seeding/TrigBase.hpp
  Core/include/Acts/TrackFinding/FasTrackConnector.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Tests/UnitTests/Core/Utilities/FiniteStateMachineTests.cpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#2567 fix: fix bugs and improve docs for prototracks-to-parameters algorithm
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/PrototracksToParameters.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, automerge, Track Finding

#2512 feat: python bindings and truth tracking example for GX2F
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Component - Examples, automerge, Track Fitting

#2094 feat: Add PODIO plugin, Track EDM backend
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Plugins/CMakeLists.txt
  Plugins/Podio/.gitignore
  Plugins/Podio/CMakeLists.txt
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Plugins/Podio/src/PodioUtil.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/CMakeLists.txt
  Tests/UnitTests/Plugins/Podio/ConvertTrackPodioTest.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
  cmake/ActsConfig.cmake.in
  docs/getting_started.md
Labels: Component - Core, Infrastructure, Component - Plugins, Component - Documentation, automerge

#2572 feat: Add measurement map selector with geometry selection
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge

#2570 feat: Allow particle selection with measurment count
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#2573 refactor: improve and clean-up GX2F unitTest
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2563 feat: Wire tolerance to bound parameter factory
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
Labels: Component - Core, automerge, Event Data Model

#2546 refactor: Make Fatras `Particle` and simulation surface aware
  CI/physmon/fpe_masks.yml
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/src/Physics/BetheHeitler.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Infrastructure, Component - Fatras, Component - Examples, automerge, Event Data Model, Changes Performance

#2534 fix: Fix boundaries navigation
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#2571 feat: Add (optional) Jacobian reversal to Track
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, automerge, Event Data Model

#2557 feat: use blueprint to generate cylindrical detector
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
Labels: Component - Core, automerge

#2521 feat: add boolean useTime to AMVFitter
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2499 refactor: comment and unify the creation and filling of trackStateProxy (KF)
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
Labels: Component - Core, automerge, Event Data Model, Track Fitting

#2551 refactor!: remove division of vertex covariance with weight
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Labels: Component - Core, automerge, Vertexing, Fails Athena tests

#2524 fix: enforce calculation of impact parameters wrt vertex position
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
Labels: Component - Core, automerge, Vertexing, Fails Athena tests

#2579 ci: Remove `docker` tag, restrict ExaTrkX build to big VMs
  .gitlab-ci.yml
Labels: automerge

#2577 refactor: Replace magic seeding field in Examples
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/seeding.py
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge, Seeding, Changes Performance

#2585 fix: GeoVisualization - Fix compiler warning that's appearing in Athena
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core, automerge

#2578 fix: Use track selection in GSF physmon
  CI/physmon/reference/performance_gsf.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2580 fix: Fix Fatras end of world
  CI/physmon/reference/particles_final_fatras_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Infrastructure, Component - Fatras, Component - Examples, automerge, Changes Performance

#2587 refactor: Improve CKF error message if target surface is not reached
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2581 refactor: Refactor FPE masks in Examples
  CI/physmon/fpe_masks.yml
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_truth_tracking_gsf.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Track Fitting

#2568 fix: CKF does an extra copy on the fitted state
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#2594 chore: Support macOS in setup script (ODD)
  Examples/Python/setup.sh.in
Labels: Component - Examples, automerge

#2582 feat: cylindrical detector from DD4hep
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprint.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepVolumeStructure.hpp
  Plugins/DD4hep/src/DD4hepBlueprint.cpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepVolumeStructure.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderVolumeStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Labels: Component - Core, Component - Plugins, automerge

#2597 fix: Protection against nullptr in material interactor of KF
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#2600 fix: Set Current Surface as first surface for direct navigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core, automerge
