Repository acts-project/acts, pull requests merged in 2023-01, with the labels that each got.

#1770 fix: missing includes
  Core/include/Acts/Utilities/RangeXD.hpp
  Tests/UnitTests/Core/Propagator/AuctioneerTests.cpp
Labels: Bug, automerge

#1758 feat: Geant4 detector plugin, part 1
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/KDTreeTrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/ProtoDetector.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/Extent.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/ProtoDetector.cpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
  Tests/UnitTests/Core/Geometry/KDTreeTrackingGeometryBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoDetectorTests.cpp
  docs/core/geometry.md
Labels: Component - Core, Component - Documentation

#1777 fix: Linkage errors in BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Core/src/TrackFitting/CMakeLists.txt
Labels: Bug, Component - Core, automerge

#1741 feat: track 2d/z and track 3d signed lifetimes
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: automerge

#1759 feat: Geant4 detector plugin, part 2
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/ExtentJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/ProtoDetectorJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/src/ExtentJsonConverter.cpp
  Plugins/Json/src/ProtoDetectorJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/EqualityHelpers.hpp
  Tests/UnitTests/Plugins/Json/ExtentJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/ProtoDetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
Labels: Component - Plugins

#1718 refactor: python reconstruction trajectory writing
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#1634 feat: Make Clusterization.hpp aware of grid dimensionality
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
Labels: Component - Core, Improvement, automerge

#1733 feat: Add BoundingBox to DetectorVolume
  Core/include/Acts/Geometry/DetectorVolume.hpp
  Core/src/Geometry/DetectorVolume.cpp
Labels: automerge

#1775 fix: Orthogonal seeding beamspot and function
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk.py
Labels: Bug, Component - Core, automerge

#1754 refactor: Make Examples binaries optional
  .github/workflows/builds.yml
  CMakeLists.txt
  Examples/CMakeLists.txt
  Examples/Run/CMakeLists.txt
  docs/getting_started.md
Labels: Impact - Minor, Component - Examples, automerge

#1780 fix: maybe-uninitialized warning in DetectorVolume.cpp
  Core/src/Geometry/DetectorVolume.cpp
Labels: Component - Core, Impact - Minor, automerge

#1715 fix: Make `Range1D` a proper half-open interval
  Core/include/Acts/Utilities/Range1D.hpp
  Tests/UnitTests/Core/Utilities/Range1DTests.cpp
Labels: Bug, Component - Core, Impact - Minor, automerge

#1760 feat: Geat4 detector plugin, part 3 (final)
  CMakeLists.txt
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/Geant4Detector/CMakeLists.txt
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Json.cpp
  Plugins/CMakeLists.txt
  Plugins/Geant4/CMakeLists.txt
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4Converters.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/Geant4/src/Geant4DetectorSurfaceFactory.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Geant4/CMakeLists.txt
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorElementTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4PhysicalVolumeSelectorsTests.cpp
  docs/getting_started.md
Labels: Component - Examples, automerge

#1673 fix: remove double to bool conversion in vertexing
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
Labels: Component - Core, automerge

#1781 docs: Add new CERN students to `CITATION.cff`
  .zenodo.json
  AUTHORS
  CITATION.cff
Labels: Component - Documentation, automerge

#1774 refactor!: Separate Config and Options for SpacePointGrid
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Run/Reconstruction/Common/RecCKFTracks.cpp
  Examples/Run/Reconstruction/Common/SeedingExample.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Improvement, Feature, automerge

#1768 refactor: make addSeeding python function smaller
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#1783 docs: update AUTHORS file
  AUTHORS
Labels: Component - Documentation, automerge

#1782 feat: throw runtime_error in seed finder if deltaR values were not initialised
  Core/include/Acts/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
Labels: Component - Core, Component - Plugins, automerge

#1714 perf: Improve performance of k-d tree
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_hists_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_seeded.root
  CI/physmon/reference/performance_seeding_hists_truth_estimated.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  Core/include/Acts/Utilities/KDTree.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Improvement, Impact - Minor, automerge

#1676 build: Add -Wfloat-conversion to clang warnings
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Material/MaterialComposition.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Core/include/Acts/Surfaces/detail/FacesHelper.hpp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/include/Acts/TrackFitting/detail/KLMixtureReduction.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Utilities/detail/Axis.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.ipp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.ipp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfigurator.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/AlignedDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetectorHelper.cpp
  Examples/Detectors/DD4hepDetector/src/DetUtils.cpp
  Examples/Io/NuclearInteractions/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrajectoryStatesWriter.cpp
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.ipp
  Tests/UnitTests/Core/Digitization/PlanarModuleStepperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
  cmake/ActsCompilerOptions.cmake
Labels: Infrastructure, automerge

#1771 fix: fix enum to test presence of inner tube cover surface.
  Core/src/Geometry/CylinderLayer.cpp
Labels: Component - Core, Impact - Minor, automerge

#1786 fix: Missing Include in CuboidVolumeBuilder
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
Labels: Bug, automerge

#1787 ci: Fix plot ranges in physmon vertexing plots
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  CI/physmon/reference/performance_vertexing_seeded_hist.root
  CI/physmon/reference/performance_vertexing_truth_estimated_hist.root
  CI/physmon/reference/performance_vertexing_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
Labels: Infrastructure, automerge

#1764 refactor: Managing Seed Candidates with ad-hoc container
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.ipp
  Core/include/Acts/Seeding/IExperimentCuts.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/TestHostCuts.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/ATLASCuts.hpp
  docs/core/seeding.md
Labels: Component - Core, Improvement, Component - Plugins, Component - Documentation, automerge

#1779 feat: GeoID hook from python & ODD hook
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/src/Geometry/GeometryIdentifier.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/Base.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_detectors.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
Labels: Component - Core, Impact - Minor, Component - Examples, Feature, automerge

#1762 feat: Visualization for DetectorVolume and Portal
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Visualization/GeometryView3D.cpp
Labels: Component - Core, Feature, automerge

#1757 refactor!: Changes to SeedFinderOrthogonal to allow reuse of the object
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_seeding_hists_orthogonal.root
  CI/physmon/reference/performance_vertexing_orthogonal_hist.root
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Improvement, automerge

#1656 refactor: modernize & add checks to `Acts::TrackingGeometryBuilder`
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
Labels: Component - Core, Impact - Minor, automerge

#1732 feat: Optionally decorate geometry dumps to json.
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/ITrackingGeometryJsonDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/IVolumeMaterialJsonDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/GeometryHierarchyMapJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
Labels: Component - Examples, Component - Plugins, automerge

#1397 docs: polish tgeo plugin doc
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp
  Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoParser.hpp
  docs/plugins/tgeo.rst
Labels: Component - Documentation, automerge

#1784 docs: Adding script and documentation for geometry and material handling
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  docs/examples/examples.rst
  docs/examples/geo_selection.md
  docs/figures/materialMapping/approach_layers.png
  docs/figures/materialMapping/boundaries.png
  docs/figures/materialMapping/layers_for_volume_17.png
  docs/figures/materialMapping/volumes_and_layers.png
  docs/howto/howto.md
  docs/howto/produce_geometry_selection.md
  docs/howto/run_material_mapping.rst
Labels: Component - Examples, Component - Documentation, automerge

#1788 fix: Linkage errors in BetheHeitlerApprox.hpp [backport #1777 to develop/v20.x]
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Core/src/TrackFitting/CMakeLists.txt
Labels: automerge, backport

#1789 fix: Don't write empty trajectories in RootTrajectorySummaryWriter
  Examples/Io/Root/src/RootTrajectorySummaryWriter.cpp
Labels: Impact - Minor, Component - Examples, automerge

#1790 feat: Enable Geant4 logging in VERBOSE mode
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
Labels: Improvement, Impact - Minor, Component - Examples, automerge

#1792 fix: Let addGeant4 respect particle selection
  Examples/Python/python/acts/examples/simulation.py
Labels: Bug, Impact - Minor, Component - Examples, automerge

#1688 refactor: physmon vertexing
  CI/physmon/physmon.py
Labels: Infrastructure, Component - Examples, automerge

#1793 fix: sequencer timing output
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#1794 feat: Add option to use odd with G4
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Impact - Minor, Component - Examples, Feature, automerge

#1799 ci: Change how we run python based check jobs
  .github/workflows/checks.yml
Labels: Infrastructure, automerge, automerge priority

#1620 feat: port RootNTupleReader
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaNTupleReader.hpp
  Examples/Io/Root/src/RootAthenaNTupleReader.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge

#1800 fix: Linkage errors in BetheHeitlerApprox.hpp [backport #1777 to develop/v21.1.x]
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Core/src/TrackFitting/CMakeLists.txt
Labels: automerge, backport

#1803 fix: G4 material converter
  Plugins/Geant4/src/Geant4Converters.cpp
Labels: Impact - Major, Component - Plugins, automerge

#1804 refactor: move material composition code to the left
  Examples/Scripts/MaterialMapping/materialComposition.C
Labels: Impact - Minor, Component - Examples, automerge

#1773 feat: Add INFO printouts about the layers & volumes
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, Improvement, Impact - Minor, Feature, automerge

#1807 ci: Fix llvm installation for clang-tidy job
  .gitlab-ci.yml
Labels: automerge

#1806 build: Fix build with external nlohmann_json
  Examples/Scripts/TrackingPerformance/CMakeLists.txt
Labels: automerge

#1811 feat: Geant4 line/straw tube conversion capability
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4Converters.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
Labels: automerge

#1805 feat: G4 plugin material mixing
  Plugins/Geant4/src/Geant4Converters.cpp
Labels: Impact - Minor, Component - Plugins, automerge
