Repository acts-project/acts, pull requests merged in 2024-04, with the labels that each got.

#3051 fix: Geant4 transformation conversion
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4SurfaceProvider.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/Geant4/src/Geant4DetectorSurfaceFactory.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorSurfaceFactoryTests.cpp
Labels: Component - Plugins, automerge

#3072 fix: Wrong network size written to onnx
  Examples/Scripts/Python/MLAmbiguityResolution/train_ambiguity_solver.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
Labels: Component - Examples, automerge, Ambiguity Resolution

#2933 refactor!: Replace `Surface` `FreeVector` input with position and direction
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core, automerge, Event Data Model, Track Fitting

#3076 fix: Fix `make_error_code(TrackExtrapolationErrorCategory)`
  Core/src/Utilities/TrackHelpers.cpp
Labels: Component - Core, automerge

#3077 chore: Improved debugging outputs for `GainMatrixSmoother`
  Core/src/TrackFitting/GainMatrixSmoother.cpp
Labels: Component - Core, automerge, Track Fitting

#3044 feat: Vertex classification for `VertexPerformanceWriter` in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3075 feat: Method to add components to an existing track state
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3078 feat: Allow extrapolation from filtered states in TrackHelpers
  Core/include/Acts/Utilities/TrackHelpers.hpp
Labels: Component - Core, automerge

#3048 feat: Pythia8 label secondary vertices based on proximity in Examples
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3073 refactor: Remove `constexpr` from `MultiTrajectory` functions
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
Labels: Component - Core, automerge, Event Data Model

#3020 feat: introduce material accumulation interface (MM3)
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulater.hpp
  Core/include/Acts/Material/MaterialInteractionAssignment.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulater.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/src/Material/BinnedSurfaceMaterialAccumulater.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialInteractionAssignment.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulaterTests.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialInteractionAssignmentTests.cpp
Labels: Component - Core

#3086 refactor: Do not allocate smoothed track state components in CKF
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
Labels: Component - Core, automerge, Event Data Model, Track Finding, Track Fitting

#3090 perf: Avoid creation of unused string in CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3083 refactor: rewrite measurement selector
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/src/TrackFinding/MeasurementSelector.cpp
Labels: Component - Core, automerge, Track Finding

#2814 refactor: Introduce `CurvilinearSurface`
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Surfaces/CurvilinearSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/CurvilinearSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/CurvilinearSurfaceTests.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model, Vertexing, Track Finding

#3093 refactor: Improve CKF MeasurementSelector construction
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
Labels: Component - Core, automerge, Track Finding

#3092 refactor(DD4hep): change logger level for conversion fail
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
Labels: Component - Plugins, automerge

#3087 feat: material mapper in core (MM4)
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialMapper.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialMapperTests.cpp
Labels: Component - Core, automerge

#3066 feat: Two-way CKF example
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3095 refactor: faster computation for binary search
  Core/include/Acts/Seeding/Neighbour.hpp
Labels: Component - Core, automerge, Seeding

#2908 chore: Update ParticleDataTable.hpp
  Core/src/Definitions/ParticleDataTable.hpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_event_data.py
  Fatras/scripts/generate_particle_data_table.py
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Changes Performance

#3088 feat: Deduplicate seeds during track finding in Examples
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Index.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Component - Examples, automerge, Event Data Model, Track Finding, Changes Performance

#3094 feat: example material mapping using new core mapper (MM5)
  Core/include/Acts/Material/IntersectionMaterialAssigner.hpp
  Core/src/Material/IntersectionMaterialAssigner.cpp
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/CoreMaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Material.cpp
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation.py
Labels: Component - Core, Component - Examples, automerge

#3089 feat: "Stay on seed" for track finding in Examples
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3104 refactor: Refactor how the bound state covariance is handled without transport
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#3110 feat: Bind version info to Python
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/test_base.py
Labels: Component - Examples, automerge

#3113 fix(ci): conventionalcommits.org SSL_ERROR_BAD_CERT_DOMAIN
  docs/conf.py
Labels: Component - Documentation

#3098 feat: Branch aborter for track finding in Examples
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3100 fix(gx2f): add measurements as external surfaces to navigator
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3109 feat: allow to created BinnedMaterialMaps from configured ProtoGridMaterialMaps
  Core/include/Acts/Detector/ProtoBinning.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Detector/detail/ProtoMaterialHelper.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulater.cpp
  Tests/UnitTests/Core/Detector/ProtoBinningTests.cpp
Labels: Component - Core, automerge

#3115 refactor: Make pile-up configurable for `full_chain_odd.py` and change default to 200
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#3119 feat(gx2f): add counter `processedStates`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3111 feat: Initial sigma `qop` coefficients for Examples `TrackParamsEstimationAlgorithm`
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3118 feat(gx2f): stop propagation after all measurements are found
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3108 fix: codecov coverage badge
  README.md
Labels: automerge

#3116 feat: Stop branches based on number of outliers in Examples track finding
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_track_finding_ttbar.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3121 refactor: Accumulated vertexing changes in Examples
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Vertex.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Io/Root/src/RootVertexWriter.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Vertexing

#3068 feat: Add ability to store particle outcome and do it for Geant4
  CI/physmon/reference/particles_fatras_hist.root
  CI/physmon/reference/particles_geant4_hist.root
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStore.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/EventData/ParticleOutcome.hpp
  Fatras/src/EventData/ParticleOutcome.cpp
Labels: Infrastructure, Component - Fatras, Component - Examples, automerge, Event Data Model, Changes Performance

#3132 fix: add schema_version to podio edm.yml
  Plugins/Podio/edm.yml
Labels: Component - Plugins, automerge

#3134 perf: Benchmark `StraightLineStepper`
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/StraightLineStepperBenchmark.cpp
Labels: automerge

#3133 refactor: Align stepper benchmarks
  Tests/Benchmarks/AtlasStepperBenchmark.cpp
  Tests/Benchmarks/EigenStepperBenchmark.cpp
Labels: automerge

#3130 refactor: Accumulated `EigenStepper` brush-over
  Core/include/Acts/Propagator/DefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3140 fix(ci): exclude unreachable cds.cern.ch from docs check
  docs/conf.py
Labels: Component - Documentation, automerge, automerge priority

#3126 feat: Add root seed writer
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedWriter.hpp
  Examples/Io/Root/src/RootSeedWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#3127 refactor: Remove `blockMult` from `boundToCurvilinearTransportJacobian`
  Core/src/Propagator/detail/JacobianEngine.cpp
Labels: Component - Core, automerge

#3138 refactor: set track state prop masks inclusively
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#3131 refactor: brush over python: remove unused imports and variables
  CI/check_fpe_masks.py
  CI/check_include_guards.py
  CI/clang_tidy/run_clang_tidy.py
  CI/fix_pragma.py
  CI/perf_headwind.py
  CI/physmon/summary.py
  CI/release.py
  CI/util.py
  Examples/Algorithms/Digitization/scripts/smearing-config.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/detector.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/odd_light.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/conftest.py
  Examples/Python/tests/helpers/hash_root.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/Orion_tuning.py
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_network.py
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_perf.py
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_filter_full_chain.py
  Examples/Scripts/Python/MLAmbiguityResolution/seed_solver_network.py
  Examples/Scripts/Python/digitization_config.py
  Examples/Scripts/Python/exatrkx.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Examples/Scripts/Python/muon_hough.py
  Examples/Scripts/Python/pythia8.py
  Examples/Scripts/Python/volume_association_test.py
  Examples/Scripts/vertex_mu_scan.py
  docs/conf.py
  docs/examples/howto/material_mapping.rst
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge, Ambiguity Resolution

#3061 feat: Add basic regions support to G4 example
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/DDG4/DDG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GdmlDetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/RegionCreator.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/TelescopeDetector/TelescopeG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/GdmlDetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/RegionCreator.cpp
  Examples/Algorithms/Geant4/src/TelescopeG4DetectorConstruction.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geant4DD4hepComponent.cpp
Labels: Component - Examples, automerge

#3112 feat(gx2f): process and count holes + unit test
  CI/physmon/reference/performance_gx2f.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Infrastructure, automerge, Track Fitting, Changes Performance

#3122 refactor: remove unreachable code
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Plugins/Json/src/VolumeBoundsJsonConverter.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3123 docs: Fix parameter name in RootSpacepointWriter
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSpacepointWriter.hpp
Labels: Component - Examples, automerge

#3064 refactor: TrackingVolume and Volume interface + functionality
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Utilities/TransformRange.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/Volume.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
  Tests/UnitTests/Core/Material/PropagatorMaterialAssignerTests.cpp
Labels: Component - Core, automerge

#3129 perf: Share first smoothed state from filtered in smoothing
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
Labels: Component - Core, automerge, Track Fitting

#3125 perf: Use curvilinear for material states in CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, Track Finding, Changes Performance

#3142 fix: Attempt fix for `BinningValue` deserialization
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
Labels: Component - Plugins, automerge

#3143 refactor: remove zero width unicode characters
  Tests/UnitTests/Core/Utilities/GridTests.cpp
Labels: Component - Core, automerge

#3141 refactor: remove obsolete `__future__` imports in python
  CI/check_include_guards.py
  CI/fix_pragma.py
  Examples/Scripts/Detectors/TGeoDetector/tgeo-response2json.py
Labels: Infrastructure, Component - Examples, automerge

#3144 refactor: Force custom enum conversion in Json Plugin
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeBoundsJsonConverter.hpp
  Plugins/Json/src/ProtoDetectorJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/ProtoDetectorJsonConverterTests.cpp
Labels: Component - Plugins

#3149 ci: Add clang-tidy check for C-style casts
  .clang-tidy
  CI/clang_tidy/limits.yml
  cmake/ActsStaticAnalysis.cmake
Labels: Infrastructure, automerge

#3155 feat: allow for container geoID generator in DD4hep Plugin
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
Labels: Component - Plugins, automerge

#3151 perf: Cache particle hypothesis
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Labels: Component - Core, automerge, Event Data Model

#3153 perf: Try fast pow for `EigenStepper` step size scaling
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Utilities/QuickMath.hpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/QuickMathBenchmark.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/QuickMathTests.cpp
Labels: Component - Core, automerge

#3156 fix: updated detray json surface grid conversion
  Examples/Scripts/Python/detector_creation.py
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3103 refactor: Accumulated minor changes and for track finding
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3160 refactor: Remove step trial count from `ConstrainedStep`
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/Benchmarks/AtlasStepperBenchmark.cpp
  Tests/Benchmarks/EigenStepperBenchmark.cpp
  Tests/Benchmarks/StraightLineStepperBenchmark.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3128 perf: Remove positive definite check from smoothing
  Core/include/Acts/EventData/detail/CovarianceHelper.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
Labels: Component - Core, automerge, Event Data Model, Track Fitting
