Repository acts-project/acts, pull requests merged in 2024-02, with the labels that each got.

#2918 chore: Make pre-commit clang-format also run on .ipp files
  .pre-commit-config.yaml
Labels: automerge

#2920 fix: Python dump_args_calls crash
  Examples/Python/python/acts/examples/__init__.py
Labels: Component - Examples, automerge

#2911 build: Add cvmfs setup for LCG105 on centos7/8 and RHEL9 lxplus
  CI/setup_cvmfs_lcg105.sh
Labels: Infrastructure, automerge

#2915 fix: remove outdated vertexing tutorial (from #223)
  CI/run_examples.sh
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/TutorialVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/TutorialVertexFinderAlgorithm.cpp
  Examples/Python/src/Vertexing.cpp
  Examples/Python/tests/test_algorithms.py
  Examples/Run/Vertexing/Pythia8/CMakeLists.txt
  Examples/Run/Vertexing/Pythia8/TutorialVertexFinderExample.cpp
Labels: Infrastructure, Component - Examples, automerge, Vertexing

#2876 refactor!: Vertex InputTrack becomes concrete type
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/Vertex.ipp
  Core/include/Acts/Vertexing/VertexFinderConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexingHelpers.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2877 refactor!: Untemplate `Vertex`
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/DummyVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/Vertex.ipp
  Core/include/Acts/Vertexing/VertexFinderConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/SingleSeedVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/SingleSeedVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexingHelpers.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaNTupleReader.hpp
  Examples/Io/Root/src/RootAthenaNTupleReader.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/VertexingDataHelper.hpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2923 feat: Closest forward intersection
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Digitization/PlanarModuleStepper.cpp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, Component - Fatras, automerge

#2654 feat: writeFloat for seeding performance in SeedingPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.cpp
Labels: Component - Examples, automerge

#2662 feat: Use seeding performance in score for Optuna and Orion automatic tuning
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/Orion_tuning.py
Labels: Component - Examples, automerge

#2793 refactor: Remove `autodiff`
  .gitlab-ci.yml
  CMakeLists.txt
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/Propagator/DefaultExtension.hpp
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDefaultExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
  Plugins/Autodiff/CMakeLists.txt
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffExtensionWrapper.hpp
  Plugins/Autodiff/include/Acts/Plugins/Autodiff/AutodiffHelper.hpp
  Plugins/CMakeLists.txt
  Tests/IntegrationTests/Autodiff/CMakeLists.txt
  Tests/IntegrationTests/Autodiff/PropagationAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationAutodiffDenseConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareAtlasAutodiffConstant.cpp
  Tests/IntegrationTests/Autodiff/PropagationCompareEigenAutodiff.cpp
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  cmake/ActsConfig.cmake.in
  docs/Doxyfile
  docs/core/propagation.md
  docs/getting_started.md
  docs/plugins/autodiff.md
  docs/plugins/plugins.rst
  thirdparty/README.md
  thirdparty/autodiff/CMakeLists.txt
Labels: Component - Core, Infrastructure, Component - Plugins, Component - Documentation, automerge, Event Data Model

#2878 refactor!: Untemplate `VertexInfo` and `VertexingOptions`
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/DummyVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/VertexFinderConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2906 feat: Geant4 Gdml surface provider + Unit Test
  Core/include/Acts/Detector/KdtSurfacesProvider.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4SurfaceProvider.hpp
  Tests/UnitTests/Plugins/Geant4/CMakeLists.txt
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge

#2912 refactor: Remove target reached from standard aborters
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Component - Fatras, automerge

#2931 fix: Fix AMVF find single track vertices
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
Labels: Component - Core, automerge, Vertexing

#2938 chore: update pytest-check version
  Examples/Python/tests/requirements.in
  Examples/Python/tests/requirements.txt
  Examples/Python/tests/requirements_ubuntu2004.in
  Examples/Python/tests/requirements_ubuntu2004.txt
Labels: Component - Examples, automerge

#2934 feat: full_chain_itk.py uses eta-dependent cuts
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExampleAlgorithms.cpp
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples, automerge, Track Finding

#2932 refactor: Assert to be `on surface` for surface functions with free param input
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, automerge, Event Data Model

#2921 ci: Add LCG105 CI jobs on gitlab
  .gitlab-ci.yml
Labels: automerge

#2881 refactor!: Use `Delegate` for parameter extraction
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2936 fix: Propagate initial vertex time variance for AMVF w/o time
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  Core/src/Vertexing/KalmanVertexUpdater.cpp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance

#2805 docs: A tiny bit of documentation for the Combinatorial Kalman Filter
  docs/core/reconstruction/pattern_recognition/track_finding.md
Labels: Component - Documentation, automerge

#2916 refactor: Consistently use `mm` for time in examples IO
  CI/physmon/reference/particles_fatras_hist.root
  CI/physmon/reference/particles_geant4_hist.root
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvPlanarClusterReader.cpp
  Examples/Io/Csv/src/CsvPlanarClusterWriter.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Io/Root/src/RootPlanarClusterWriter.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2797 docs: Document Track EDM
  .github/workflows/docs.yml
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  docs/Doxyfile
  docs/_extensions/lazy_autodoc.py
  docs/conf.py
  docs/core/eventdata/figures/ckf_tree.svg
  docs/core/eventdata/figures/edm_chain.svg
  docs/core/eventdata/figures/edm_diagram.svg
  docs/core/eventdata/figures/proxy.svg
  docs/core/eventdata/index.md
  docs/core/eventdata/measurements.md
  docs/core/eventdata/tracks.md
  docs/core/reconstruction/pattern_recognition/track_finding.md
  docs/glossary.md
  docs/index.rst
  docs/tracking.md
Labels: Component - Core, Infrastructure, Component - Plugins, Component - Documentation, automerge, Event Data Model

#2922 test: Test KF direct navigation
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Component - Examples, automerge, Changes Performance

#2886 refactor!: Use BasePropagator interface in vertexing
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.ipp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/LinearizedTrackFactoryTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2947 refactor: Set common initial covariance for vertex fitting
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
Labels: Component - Examples, automerge, Vertexing

#2950 fix: TrackStateType printout in wrong order
  Core/include/Acts/EventData/TrackStateType.hpp
Labels: Component - Core, automerge, Event Data Model

#2946 refactor!: Use `Delegate` for track linearizers
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackLinearizer.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2944 fix: inline HoughTransformUtils member functions
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
Labels: Component - Core, automerge, Seeding

#2954 ci: Reduce build job count to 2
  .gitlab-ci.yml
Labels: automerge

#2956 fix: Geant4SurfaceProvider gdml schema validation fix
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4SurfaceProvider.hpp
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
Labels: Component - Plugins, automerge

#2948 feat!: Add `IVertexFinder` interface, use in vertexing
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/VertexFinderConcept.hpp
  Core/include/Acts/Vertexing/VertexFitterConcept.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/FullBilloirVertexFitterTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/ZScanVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2961 ci: Bump histcmp to v0.6.5
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#2962 fix(ci): default arguments definition in physmon
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#2955 refactor: `KalmanVertex(Track)Updater` interface change
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.ipp
  Core/include/Acts/Vertexing/KalmanVertexTrackUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.hpp
  Core/include/Acts/Vertexing/KalmanVertexUpdater.ipp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/KalmanVertexTrackUpdater.cpp
  Core/src/Vertexing/KalmanVertexUpdater.cpp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/KalmanVertexTrackUpdaterTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2937 fix: Fix truth matching in `TruthVertexFinder` in Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#2924 chore: adding GeoModel as possible thirdparty
  CMakeLists.txt
  docs/getting_started.md
  thirdparty/GeoModel/CMakeLists.txt
  thirdparty/GeoModel/README.md
Labels: Component - Documentation, automerge

#2964 refactor: Remove `duplicatedPredictor` from `CKFPerformanceWriter`
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#2958 fix: Downgrade RootParticleWriter log message
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#2952 refactor!: Hard-code vertex fitter, finder + density combinations
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/IterativeVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2917 fix!: Fix vertex finding for seeds with `z=0`
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.ipp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.ipp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.ipp
  Core/include/Acts/Vertexing/ZScanVertexFinder.ipp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance

#2972 fix(gx2f): improved actor and navigation break
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#2981 feat(gx2f): Add new error `NotEnoughMeasurements`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2966 ci(gx2f): add physmon truth tracking for the GX2F
  CI/physmon/gx2f.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/performance_gx2f.root
  CI/physmon/workflows/physmon_truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2949 fix(gx2f): propagate final covariance for trackstates
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#2977 feat: Add particle ID to track states in `RootTrackStatesWriter`
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#2984 docs: fix formatting and spelling
  docs/contribution/profiling.md
  docs/core/definitions/algebra.rst
  docs/core/geometry/layerless/building.md
  docs/core/geometry/layerless/layerless.md
  docs/core/propagation.md
  docs/core/reconstruction/pattern_recognition/track_finding.md
  docs/examples/howto/add_new_algorithm.md
  docs/getting_started.md
  docs/plugins/MLAlgorithms.md
  docs/plugins/geant4.md
Labels: Component - Documentation, automerge

#2979 fix: Fix `TruthVertexFinder` for not reconstructed particles
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.cpp
Labels: Component - Examples, automerge

#2989 fix: Flag for secondary vertex labeling in `Pythia8ProcessGenerator`
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2971 refactor!: `ImpactPointEstimator` moves to cpp file
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Core/src/Vertexing/VertexingError.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Core/Vertexing/KalmanVertexUpdaterTests.cpp
Labels: Component - Core, automerge, Vertexing

#2939 feat: Add uber EDM4hep reader
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/EDM4hep/CMakeLists.txt
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMultiTrajectoryWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMultiTrajectoryWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Python/src/EDM4hep.cpp
  Examples/Python/tests/test_reader.py
  Examples/Scripts/Python/full_chain_odd.py
  Fatras/include/ActsFatras/EventData/Barcode.hpp
Labels: Component - Fatras, Component - Examples, Event Data Model

#2926 feat: Add setup script which also handles dependencies
  .github/workflows/builds.yml
  .gitlab-ci.yml
  Examples/Python/CMakeLists.txt
  cmake/ActsCreateSetup.cmake
  cmake/setup_withdeps.sh.in
Labels: Infrastructure, Component - Examples, automerge

#2973 refactor!: Move and Grid Density finders to cpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/GaussianGridTrackDensity.cpp
  Core/src/Vertexing/GridDensityVertexFinder.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/GaussianGridTrackDensityTests.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
Labels: Component - Core, automerge, Vertexing

#2970 feat: Use `Barcode` for vertex ID in `VertexPerformanceWriter`
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
Labels: Component - Examples, automerge

#3003 fix(gx2f): add error message to `NotEnoughMeasurements`
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
Labels: Component - Core, automerge, Track Fitting
