Repository acts-project/acts, pull requests merged in 2024-08, with the labels that each got.

#3463 fix: select binning dimension in cuboid volume builder
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
Labels: Component - Core, automerge

#3411 fix(gx2f): constrain update to initial volume
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3465 feat: splitting fill and update function
  Core/include/Acts/Navigation/InternalNavigation.hpp
  Core/include/Acts/Navigation/MultiLayerNavigation.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
Labels: Component - Core, automerge

#3135 feat: Add CMake presets
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Core/include/Acts/Utilities/BoundingBox.ipp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Tests/DownstreamProject/CMakeLists.txt
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/getting_started.md
Labels: Component - Core, Infrastructure, Component - Examples, Component - Documentation, automerge

#3412 refactor: physmon: enlarge etaRange for GX2F to match KF settings
  CI/physmon/reference/performance_gx2f.root
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3422 refactor: Rework initial `qOverP` sigma in Examples
  .gitlab-ci.yml
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_vertexing.py
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3472 fix: Avoid segfaults in bin adjustments
  Core/include/Acts/Utilities/BinAdjustment.hpp
Labels: Component - Core, automerge

#3477 ci: Disable clang-tidy for external dependencies
  .gitlab-ci.yml
Labels: automerge

#3452 fix: Skip outliers in `GreedyAmbiguityResolution`
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/GreedyAmbiguityResolution.cpp
Labels: Component - Core, Infrastructure, automerge, Ambiguity Resolution, Changes Performance

#3478 build: Improve traccc dependency loading
  CMakeLists.txt
  cmake/ActsConfig.cmake.in
  cmake/ActsExternSources.cmake
  docs/getting_started.md
  thirdparty/README.md
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/detray/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
Labels: Infrastructure, Component - Documentation, automerge

#3445 feat: Decouple SurfaceAccessor from source link implementations
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/src/Detector/Detector.cpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3474 fix: Really handle holes after measurement selection in Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Finding, Changes Performance

#3486 refactor: Split `GainMatrixUpdater` compilation
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Labels: Component - Core, automerge, Event Data Model, Track Fitting

#3487 ci: Fix `build_performance` GitHub CI job after #3135
  .github/workflows/analysis.yml
Labels: Infrastructure

#3469 feat(util): Grid type-erased output and comparisons
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/IAxis.hpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatersTests.cpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
Labels: Component - Core, automerge

#3466 perf: Optimize SourceLink creation, track state assignment
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/Utilities/Any.hpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/SourceLinkBenchmark.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3468 refactor(geometry): Surface merging returns ordering
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/detail/MergeHelper.hpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/detail/MergeHelper.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
Labels: Component - Core, automerge

#3489 refactor: Remove dfelibs from dependencies
  CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/Csv/src/CsvBFieldWriter.cpp
  Examples/Io/Csv/src/CsvDriftCircleReader.cpp
  Examples/Io/Csv/src/CsvExaTrkXGraphReader.cpp
  Examples/Io/Csv/src/CsvExaTrkXGraphWriter.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvMuonSimHitReader.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterReader.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  cmake/ActsExternSources.cmake
  docs/getting_started.md
  thirdparty/README.md
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/dfelibs/README.md
  thirdparty/traccc/CMakeLists.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge

#3107 feat: Variable size measurement for Examples
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/Utilities/detail/Subspace.hpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Tests/UnitTests/Core/Utilities/SubspaceTests.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding

#3462 feat: change propagation algorithm to particle gun input
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Examples/Algorithms/Propagation/src/PropagationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Python/src/Propagation.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_propagation.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Examples/Scripts/Python/propagation.py
Labels: Component - Examples, automerge, Changes Performance

#3496 chore: Bump clang-format to v18.1.8
  .pre-commit-config.yaml
  Core/include/Acts/Detector/DetectorVolumeVisitorConcept.hpp
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/TrackingVolumeVisitorConcept.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/detail/UtilityFunctions.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/Surfaces/SurfaceVisitorConcept.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/AxisFwd.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/KDTree.hpp
  Core/include/Acts/Utilities/detail/MPL/type_collector.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Manager.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/src/RootBFieldWriter.cpp
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/src/Generators.cpp
  Examples/Python/src/Json.cpp
  Examples/Python/src/TrackFinding.cpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/LineSurfaceStub.hpp
  Tests/UnitTests/Core/Detector/CuboidalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Seeding, Track Finding, Track Fitting

#3483 fix: Minor fixes to detray and traccc plugins
  CMakeLists.txt
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionHelper.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/src/DetrayConverter.cpp
  thirdparty/detray/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
Labels: Component - Plugins, automerge

#2021 refactor: change the definition of the rotation parameters
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Definitions/Alignment.hpp
  Core/include/Acts/Surfaces/detail/AlignmentHelper.hpp
  Core/src/Surfaces/detail/AlignmentHelper.cpp
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core, automerge

#3500 feat(geometry): `RegularSurface` gets direction-less `isOnSurface`
  Core/include/Acts/Surfaces/RegularSurface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/src/Surfaces/RegularSurface.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core, automerge

#3504 ci: bump histcmp to 0.6.7 to try to fix yerr issue
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3503 refactor: Split `KalmanVertexUpdater` by dimension
  Core/include/Acts/Vertexing/detail/KalmanVertexUpdaterImpl.hpp
  Core/src/Vertexing/CMakeLists.txt
  Core/src/Vertexing/KalmanVertexUpdater.cpp
  Core/src/Vertexing/KalmanVertexUpdaterImpl3.cpp
  Core/src/Vertexing/KalmanVertexUpdaterImpl4.cpp
Labels: Component - Core, automerge, Vertexing

#3476 chore: Bump minimum GeoModel version to 6.3.0
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/GeoModelG4/GeoModelDetectorConstruction.hpp
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdConverterTests.cpp
  cmake/ActsExternSources.cmake
  thirdparty/GeoModel/0001-Add-option-to-skip-setting-up-json-completely.patch
  thirdparty/GeoModel/CMakeLists.txt
  thirdparty/GeoModel/README.md
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#3471 fix: Ensure ODD cleanup if sequencer stops in Examples Python tests
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  CI/physmon/workflows/physmon_trackfitting_gsf.py
  CI/physmon/workflows/physmon_trackfitting_gx2f.py
  CI/physmon/workflows/physmon_trackfitting_kf.py
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Python/python/acts/_adapter.py
  Examples/Python/python/acts/examples/dd4hep.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Geant4DD4hepComponent.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_propagation.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/MLAmbiguityResolution/train_seed_solver.py
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/geant4_parallel.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, automerge, Ambiguity Resolution

#3508 fix: Add missing newline for `Sequencer` `timing.csv` in Examples
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#3511 build: Bump minimum Eigen version to v3.4.0
  CMakeLists.txt
Labels: automerge

#3509 build: Cleanup cmake options, fix detray plugin
  .clang-tidy
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Python/CMakeLists.txt
  Examples/Python/src/GeoModel.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/CMakeLists.txt
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionHelper.hpp
  Plugins/Detray/src/DetrayConverter.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoBoxConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Plugins/GeoModel/src/GeoModelDetectorSurfaceFactory.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoTubeConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/src/DetrayJsonHelper.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  cmake/ActsConfig.cmake.in
  cmake/ActsExternSources.cmake
  docs/getting_started.md
  thirdparty/boost/CMakeLists.txt
  thirdparty/detray/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
Labels: Infrastructure, Component - Fatras, Component - Examples, Component - Plugins, Component - Documentation, automerge

#3510 refactor: remove FPE mask #2284 (marked as #2348)
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Labels: Component - Examples, automerge

#3458 perf: Drop `stateBuffer` from Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3516 fix: add inline keyword to function PhotonConversion::generateChildren in PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
Labels: Component - Fatras, automerge

#3512 ci: Drop LCG 104 job (DD4hep too old for current ODD)
  .gitlab-ci.yml
  CMakeLists.txt
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
Labels: Component - Plugins, automerge

#3453 refactor: Rework projector
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/include/Acts/Utilities/detail/Subspace.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/SubspaceTests.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding, Track Fitting, Changes Performance

#3515 fix: make boost version checks work and use optimized range insertion
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Framework/include/ActsExamples/EventData/Index.hpp
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
Labels: Component - Examples, automerge, Event Data Model

#3518 refactor: Conditional import & refactor in python scripts related to material mapping
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  Examples/Scripts/MaterialMapping/material_comparison.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation_core.py
Labels: Component - Examples, automerge

#3524 docs: Remove link to clang-format image from docs
  CONTRIBUTING.rst
  docs/contribution/run_formatting.md
Labels: Component - Documentation

#3525 fix: Handle missing field in `SympyStepper`
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/codegen/sympy_stepper_math.hpp
  codegen/generate_sympy_stepper.py
Labels: Component - Core, automerge

#3527 revert: "refactor: Rework projector (#3453)"
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/include/Acts/Utilities/detail/Subspace.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Podio/edm.yml
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/SubspaceTests.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding, Track Fitting, Changes Performance

#3521 fix: Change the component reducer for the GSF (to fix navigation issues)
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Track Fitting, Changes Performance

#3530 feat: Add GeoModel to G4 detector construction helper
  Examples/Python/python/acts/examples/simulation.py
Labels: Component - Examples, automerge

#3448 feat: Bind some Gen1 geometry building functionality to python
  Core/include/Acts/Geometry/CylinderVolumeHelper.hpp
  Core/include/Acts/Geometry/TrackingVolumeArrayCreator.hpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/GeometryBuildingGen1.cpp
  Examples/Python/src/ModuleEntry.cpp
Labels: Component - Core, Component - Examples

#3300 feat: Telescope style seeding
  Core/include/Acts/Seeding/PathSeeder.hpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
Labels: Component - Core, automerge, Seeding

#3499 feat: GeoModelDetectorObjectFactory for flexible conversion of GeoModel objects to Acts Surfaces and Volumes
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Python/src/Obj.cpp
  Examples/Scripts/Python/geomodel.py
  Examples/Scripts/Python/geomodel_vol.py
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelConverters.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorSurfaceFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelMaterialConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/IGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoBoxConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTrdConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelDetectorSurfaceFactory.cpp
  Plugins/GeoModel/src/GeoModelMaterialConverter.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Plugins/GeoModel/src/detail/GeoBoxConverter.cpp
  Plugins/GeoModel/src/detail/GeoIntersectionAnnulusConverter.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoTrdConverter.cpp
  Plugins/GeoModel/src/detail/GeoTubeConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Tests/UnitTests/Plugins/GeoModel/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdConverterTests.cpp
Labels: Component - Core, Component - Examples, Feature, Component - Plugins, automerge

#3544 feat(geo): `Surface::isOnSurface` gets tolerance parameter
  Core/include/Acts/Surfaces/RegularSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/RegularSurface.cpp
  Core/src/Surfaces/Surface.cpp
Labels: Component - Core, automerge

#3475 feat: Max chi2 for outliers in Core `MeasurementSelector`
  CI/physmon/reference/trackfinding_1muon/seeded/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExampleAlgorithms.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3536 refactor: Remove `calculateTrackQuantities` from Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3542 feat(geo): Add name setter and move constructor to `TrackingVolume`
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3543 refactor(geo): Use hidden friend for SourfaceBounds operators
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
Labels: Component - Core, automerge

#3446 feat: Add displaced vertex generator
  Examples/Algorithms/Generators/ActsExamples/Generators/VertexGenerators.hpp
  Examples/Python/src/Generators.cpp
  Examples/Scripts/Python/full_chain_odd_LRT.py
Labels: Component - Examples

#3484 refactor: Remove uses of `std::enable_if`
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  Core/include/Acts/Utilities/Concepts.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/Frustum.hpp
  Core/include/Acts/Utilities/Frustum.ipp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Core/include/Acts/Utilities/Interpolation.hpp
  Core/include/Acts/Utilities/RangeXD.hpp
  Core/include/Acts/Utilities/Ray.hpp
  Core/include/Acts/Utilities/Ray.ipp
  Core/include/Acts/Utilities/Result.hpp
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Core/include/Acts/Utilities/detail/interpolation_impl.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/FloatComparisons.hpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Fitting

#3541 refactor: Remove unnecessary `activeBranches.empty()` condition from Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3533 test: Assert `onSurface` in `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge

#3437 feat: Renavigation for Gen1
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/test_examples.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#3551 refactor(gx2f): logic for multipleScattering option (no effect yet)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3552 refactor(gx2f): remove outdated navigation abort conditions
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3553 fix: remove outdated full chain
  Examples/Scripts/run_full_chain.sh
Labels: Component - Examples, automerge

#3555 fix: Handle if all branches are stopped after filtering in Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3531 feat(geo): Gen3 portal links
  Core/include/Acts/Geometry/CompositePortalLink.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/PortalError.hpp
  Core/include/Acts/Geometry/PortalLinkBase.hpp
  Core/include/Acts/Geometry/TrivialPortalLink.hpp
  Core/include/Acts/Utilities/IAxis.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CompositePortalLink.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/Geometry/PortalError.cpp
  Core/src/Geometry/PortalLinkBase.cpp
  Core/src/Geometry/TrivialPortalLink.cpp
  Core/src/Surfaces/SurfaceError.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
Labels: Component - Core, automerge

#3556 fix(gx2f): correct trackstates for material surfaces
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Infrastructure, automerge, Track Fitting, Changes Performance

#3554 feat: Add B-field accessors to Python bindings
  Examples/Python/src/Base.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/test_magnetic_field.py
Labels: Component - Examples, automerge

#3565 revert: "refactor: Remove `calculateTrackQuantities` from Core CKF (#3536)"
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, Track Finding

#3560 ci: Add pre-commit hooks for most of our linting
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CI/check_boost_test_macro.sh
  CI/check_include_guards.py
  CI/check_license.py
  CI/check_pragma_once.sh
  CI/check_type_t.py
  CI/codespell_ignore.txt
  CITATION.cff
  CMakeLists.txt
  CONTRIBUTING.rst
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/include/ActsFatras/Kernel/ContinuousProcess.hpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Selectors/SelectorHelpers.hpp
  Fatras/src/Digitization/DigitizationError.cpp
  Fatras/src/Digitization/PlanarSurfaceDrift.cpp
Labels: Infrastructure, Component - Fatras, Component - Documentation, automerge

#3492 refactor: Add C++20 track parameter, navigator, and stepper concepts
  Core/include/Acts/Detector/GeometryCompatibilityConcept.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  Core/src/EventData/TrackParameters.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3550 docs: Add documentation on Spack builds
  docs/getting_started.md
  docs/index.rst
  docs/misc/misc.rst
  docs/misc/spack.md
Labels: Component - Documentation, automerge

#3532 refactor: Some refactorings around the G4 simulation
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples, automerge

#3558 refactor: Remove far limit hack from `Layer::compatibleSurfaces`
  Core/src/Geometry/Layer.cpp
Labels: Component - Core, automerge, Fails Athena tests

#3559 fix: Make `RootTrackStatesWriter` FPE safe
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3546 feat: detray material conversion
  Core/include/Acts/Utilities/BinningData.hpp
  Examples/Python/src/Detray.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayMaterialConverter.hpp
  Plugins/Detray/src/DetrayConversionUtils.cpp
  Plugins/Detray/src/DetrayConverter.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

#3569 chore: Make license check work with single files
  CI/check_license.py
Labels: Infrastructure, automerge

#3568 refactor(gx2f): early exit for `addToGx2fSums`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3566 refactor(gx2f): early exit for the Actor
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3562 refactor: Rework G4 surface mapping to make it more robust
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Geant4Component.cpp
  Examples/Scripts/Python/geant4.py
Labels: Component - Examples, automerge

#3479 feat: Add covfie magnetic field plugin
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/CovfieStub.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/test_covfie.py
  Plugins/CMakeLists.txt
  Plugins/Covfie/CMakeLists.txt
  Plugins/Covfie/include/Acts/Plugins/Covfie/FieldConversion.hpp
  Plugins/Covfie/src/FieldConversion.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CMakeLists.txt
  Tests/UnitTests/Plugins/Covfie/CovfieFieldConversionTest.cpp
  cmake/ActsConfig.cmake.in
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#3567 refactor: Remove `calculateTrackQuantities` from Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding, Fails Athena tests

#3501 feat: Gen3 geometry Portals
  Core/include/Acts/Definitions/Algebra.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/Portal.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
Labels: Component - Core, automerge

#3570 fix: Add G4 log level tweaking on algorithm initialization
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Manager.hpp
  Examples/Algorithms/Geant4/src/Geant4Manager.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
Labels: Component - Examples, automerge

#3242 refactor: Remove target volume estimation from `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3547 refactor: Remove remaining detection idiom usage
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/src/Geant4GeoModelComponent.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/src/Vertexing.cpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/BenchmarkTools.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/FloatComparisons.hpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Core/Utilities/InterpolationTests.cpp
  Tests/UnitTests/Core/Utilities/TypeTraitsTest.cpp
  Tests/UnitTests/Fatras/Kernel/InteractionListTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#3572 feat: adding unit tests for `DetrayGeometryConverter` and `DetrayMaterialConverter`
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayMaterialConverter.hpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayGeometryConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConverterTests.cpp
Labels: Component - Plugins, automerge

#3461 perf: Improve Hough Transform performance
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
  Core/include/Acts/Seeding/HoughVectors.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3538 feat: introduce navigation stream
  Core/CMakeLists.txt
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/NavigationStream.cpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Labels: Component - Core, automerge

#3577 fix: correct a typo in a printout in the BinningData.hpp
  Core/include/Acts/Utilities/BinningData.hpp
Labels: Component - Core, automerge

#3529 refactor: Rework projector
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/SubspaceHelpersTests.cpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting, Changes Performance

#3148 feat: Hashing seeding algorithm
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointsBucketWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacePointsBucketWriter.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/hashing.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Hashing.cpp
  Examples/Python/src/HashingStub.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/hashing_seeding.py
  Plugins/CMakeLists.txt
  Plugins/Hashing/CMakeLists.txt
  Plugins/Hashing/include/Acts/Plugins/Hashing/AnnoyForwardDeclarations.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAlgorithm.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAlgorithm.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAlgorithmConfig.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAnnoy.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAnnoy.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTrainingConfig.hpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Hashing/AnnoyTest.cpp
  Tests/UnitTests/Plugins/Hashing/CMakeLists.txt
  Tests/UnitTests/Plugins/Hashing/HashingSeedingTest.cpp
  Tests/UnitTests/Plugins/Hashing/SpacePoint.hpp
  cmake/ActsConfig.cmake.in
  cmake/ActsExternSources.cmake
  docs/getting_started.md
  thirdparty/Annoy/0001-Modify-annoy.patch
  thirdparty/Annoy/CMakeLists.txt
  thirdparty/README.md
Labels: Infrastructure, Component - Examples, Component - Plugins, Component - Documentation, automerge, Track Finding, Changes Performance

#3292 feat(gx2f): material effects - multiple scattering
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Fitting, Changes Performance

#3535 feat: Allow Core CKF to skip the start surface
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3540 feat: GeoModel conversion for TGC, sTGC and MicroMega
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelConverters.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoPolygonConverter.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Plugins/GeoModel/src/detail/GeoPolygonConverter.cpp
  Plugins/GeoModel/src/detail/GeoTrdConverter.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
Labels: Component - Plugins, automerge

#3580 refactor: remove input source links from fitting algorithm
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
Labels: Component - Examples, automerge, Track Fitting

#3581 refactor: Remove GX2F start volume checks
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3571 ci(physmon): fix weird numbers at end of log file
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#3481 fix: Return `nullptr` if outside tracking geometry in `TrackingGeometry::lowestTrackingVolume`
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
Labels: Component - Core, Infrastructure, automerge, Changes Performance, Fails Athena tests
