Repository acts-project/acts, pull requests merged in 2024-12, with the labels that each got.

#3615 refactor: modernise map utils
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialMapUtils.cpp
Labels: Component - Core, automerge

#3930 refactor: replace `long unsigned int` with `std::size_t`
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoPolyConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#3928 fix: Explicitly disable paging in pre-commit hook
  .pre-commit-config.yaml
Labels: automerge

#3925 chore: clean up a few includes and imports
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Scripts/GsfDebugger/src/processors.py
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding

#3926 fix: Remove BoundCylinderToZPhi final, add exception
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
  Plugins/Json/src/GridJsonConverter.cpp
Labels: Component - Core, Component - Plugins, automerge

#3937 fix: Test and fix broken `TrackHelpers` for chi2 and unbiased track state
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Labels: Component - Core, automerge

#3933 fix: consistent `std::int32_t` in AdaptiveGridTrackDensity
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
Labels: Component - Core, automerge, Vertexing

#3938 fix: oneAPI 2025 Fixes, main branch (2024.12.04.)
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, automerge, Event Data Model

#3180 feat: introduction obj simhit writer
  Examples/Io/Obj/CMakeLists.txt
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjPropagationStepsWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjSimHitWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjTrackingGeometryWriter.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjWriterOptions.hpp
  Examples/Io/Obj/src/ObjPropagationStepsWriter.cpp
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/geant4.py
Labels: Component - Examples, automerge

#3941 docs: Change to 6x6 track parameter covariance to include time
  docs/tracking.md
Labels: Component - Documentation, automerge

#3927 feat: Add a multi-region constant B-field provider
  Core/include/Acts/MagneticField/MultiRangeBField.hpp
  Core/src/MagneticField/CMakeLists.txt
  Core/src/MagneticField/MultiRangeBField.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/MagneticField.cpp
  Examples/Python/tests/test_magnetic_field.py
  Tests/UnitTests/Core/MagneticField/CMakeLists.txt
  Tests/UnitTests/Core/MagneticField/MultiRangeBFieldTests.cpp
  docs/core/magnetic_field.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge

#3945 feat: safe inverse for dynamic matrices
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core, automerge

#3932 fix: remove narrowing conversion from `std::size_t` to `int`
  Core/src/Detector/detail/IndexedGridFiller.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Track Fitting

#3931 refactor: brace-enclosed initializers for pair/tuple returns
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Core/src/Surfaces/detail/AlignmentHelper.cpp
  Core/src/Surfaces/detail/AnnulusBoundsHelper.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Core/src/Vertexing/Vertex.cpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Framework/src/Utilities/Paths.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Scripts/compareRootFiles.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/detail/GeoModelExtentHelper.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/Vertexing/VertexingDataHelper.hpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, SP formation, Vertexing, Seeding, Track Fitting

#3944 refactor: Create particle/simhit to measurement maps in `DigitizationAlgorithm` in Examples
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/SurfaceSortingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.hpp
  Examples/Framework/include/ActsExamples/EventData/Index.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/SimHit.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/SeedingPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderNTupleWriter.hpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/TrackFinderNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge, Event Data Model, Track Fitting

#3950 feat: move spline to helper in Visualization
  Core/include/Acts/Visualization/Interpolation3D.hpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjSimHitWriter.hpp
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
  Examples/Python/src/Output.cpp
  Tests/UnitTests/Core/Visualization/CMakeLists.txt
  Tests/UnitTests/Core/Visualization/Interpolation3DTests.cpp
Labels: Component - Core, Component - Examples, automerge

#3272 refactor: Move MLAmbiguitySolver to Core
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Core/include/Acts/AmbiguityResolution/AmbiguityNetworkConcept.hpp
  Core/include/Acts/AmbiguityResolution/AmbiguityResolutionML.hpp
  Core/include/Acts/TrackFinding/detail/AmbiguityTrackClustering.hpp
  Core/src/TrackFinding/AmbiguityTrackClustering.cpp
  Examples/Algorithms/TrackFindingML/CMakeLists.txt
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityDBScanClustering.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityResolutionML.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityResolutionMLAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityResolutionMLDBScanAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/SeedFilterMLAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionML.cpp
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLDBScanAlgorithm.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointWriter.hpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Onnx.cpp
  Examples/Python/src/Output.cpp
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_network.py
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge, Track Finding, Ambiguity Resolution, Changes Performance

#3946 refactor(gx2f): put parts into separate compile units
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
Labels: Component - Core, automerge, Track Fitting

#3885 feat: TGeo python binding
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/TGeo.cpp
  Examples/Python/src/TGeoStub.cpp
Labels: Component - Examples, automerge

#3958 ci: Lint updates
  .github/workflows/checks.yml
  .pre-commit-config.yaml
Labels: Infrastructure, automerge

#3395 ci: Reenable some ExaTrkX tests
  .gitlab-ci.yml
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/exatrkx.py
Labels: Component - Examples, automerge, Track Finding, Changes Performance

#3947 fix: Distinguish between hits and measurements in `ParticleSelector` in Examples
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/hashing_seeding.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, automerge

#3952 refactor: Remove `SurfaceSortingAlgorithm` from Examples
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/SurfaceSortingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Component - Examples, automerge, Track Fitting, Changes Performance

#3959 fix: typo in variable in vertex muon scan script
  CI/codespell_ignore.txt
  Examples/Scripts/vertex_mu_scan.py
Labels: Infrastructure, Component - Examples, automerge

#3967 fix: Checkout branch in ExaTrk CI
  .gitlab-ci.yml
Labels: automerge

#3957 feat: Add monadic functions to `Result`
  Core/include/Acts/Utilities/Result.hpp
  Tests/UnitTests/Core/Utilities/ResultTests.cpp
Labels: Component - Core, automerge

#3968 chore: Sonar fixes after detector refactor
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/AlignedDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
Labels: Component - Examples, automerge

#3964 chore: Clean event generator includes in Examples
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
Labels: Component - Examples, automerge

#3965 fix: Workaround Pythia8 race condition in ttbar physmon
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
Labels: Infrastructure, automerge

#3960 fix: typo in json digitization config
  CI/codespell_ignore.txt
  Examples/Algorithms/Digitization/scripts/smearing-config.py
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Infrastructure, Component - Examples, automerge

#3971 feat: Make TransformRange fulfill range concept
  Core/include/Acts/Utilities/TransformRange.hpp
  Tests/UnitTests/Core/Utilities/TransformRangeTests.cpp
Labels: Component - Core, automerge

#3869 feat: Gen3 blueprint geometry construction
  Core/include/Acts/Geometry/Blueprint.hpp
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Core/include/Acts/Geometry/BlueprintOptions.hpp
  Core/include/Acts/Geometry/CompositePortalLink.hpp
  Core/include/Acts/Geometry/CylinderContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Seeding/PathSeeder.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/BlueprintNode.cpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CylinderContainerBlueprintNode.cpp
  Core/src/Geometry/LayerBlueprintNode.cpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/PortalLinkBase.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Blueprint.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/tests/test_blueprint.py
  Examples/Scripts/Python/blueprint.py
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  docs/core/geometry/concepts.md
  docs/core/geometry/construction.md
  docs/core/geometry/index.md
  docs/core/geometry/layerless/layerless.md
  docs/known-warnings.txt
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Seeding

#3976 fix: Ensure correct order of uniform distribution limits
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBuilderTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3956 fix: update full_chain_test.py to follow full_chain_odd.py
  Examples/Scripts/Python/full_chain_test.py
Labels: Component - Examples, automerge

#3759 ci: Enable standard library assertions in debug builds
  Core/src/Visualization/ObjVisualization3D.cpp
  Plugins/Json/src/DetrayJsonHelper.cpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  cmake/ActsCompilerOptions.cmake
Labels: Component - Core, Infrastructure, Component - Plugins, automerge

#3979 chore: Update .gitignore
  .gitignore
Labels: automerge

#3984 refactor: Combine GSF actor and aborter
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, automerge, Track Fitting

#3961 chore: clean codespell ignore list
  CI/codespell_ignore.txt
Labels: Infrastructure, automerge

#3935 refactor(fatras): remove nuclear interaction
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Python/src/ExampleAlgorithms.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteractionParameters.hpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
Labels: Component - Fatras, Component - Examples, automerge

#3992 fix: user-defined literal operator syntax (to make clang20 happy)
  Core/include/Acts/Definitions/Units.hpp
  Core/include/Acts/Utilities/HashedString.hpp
Labels: Component - Core, automerge

#3998 chore: Make use of algebra shorthands
  Core/include/Acts/Definitions/Algebra.hpp
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldProvider.hpp
  Core/include/Acts/MagneticField/MultiRangeBField.hpp
  Core/include/Acts/MagneticField/NullBField.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Core/src/MagneticField/MultiRangeBField.cpp
  Core/src/MagneticField/SolenoidBField.cpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBField.hpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Track Fitting

#4000 feat: Support negative tolerance for euclidean + chi2 tests
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Surfaces/detail/BoundaryCheckHelper.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
Labels: Component - Core, automerge

#4001 test: Bounds regression tests
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Tests/UnitTests/Core/Surfaces/BoundsRegressionTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
Labels: Component - Core, automerge

#3966 refactor: Add new concepts for Eigen types
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Utilities/EigenConcepts.hpp
Labels: Component - Core, automerge, Event Data Model
