Repository acts-project/acts, pull requests merged in 2024-01, with the labels that each got.

#2853 refactor: name change of FTF -> GBTS seeding
  Core/include/Acts/Seeding/GbtsBase.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/TrackFinding/CMakeLists.txt
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#2823 fix: EDM4hep track covariance conversion
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Labels: Component - Plugins, automerge

#2857 feat: grid based surface material
  Core/include/Acts/Detector/detail/IndexedGridFiller.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
  Core/include/Acts/Utilities/GridAxisGenerators.hpp
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeFinderJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/KdtSurfacesProviderTests.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStateUpdatersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridAccessHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/GridAxisGeneratorsTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeFinderJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
  docs/core/geometry/layerless/layerless.md
  docs/known-warnings.txt
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge

#2839 docs: Add comments grid iterator
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/GridIterator.ipp
  Tests/UnitTests/Core/Utilities/GridIterationTests.cpp
Labels: Component - Core, automerge, Seeding

#2835 refactor!: Remove now-obsolete property `skipZMiddleBinSearch`
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding

#2867 chore: Fix typo in the word gradient
  Core/include/Acts/Propagator/DenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/detail/GenericDenseEnvironmentExtension.hpp
Labels: Component - Core, automerge

#2863 feat!: Implement a DBScan clustering algorithm directly in ACTS
  CMakeLists.txt
  Core/include/Acts/Utilities/DBScan.hpp
  Examples/Algorithms/TrackFindingML/CMakeLists.txt
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityDBScanClustering.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/SeedFilterDBScanClustering.hpp
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLDBScanAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/src/SeedFilterMLAlgorithm.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/onnx/mlpack.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Onnx.cpp
  Examples/Python/src/OnnxMlpack.cpp
  Examples/Python/src/OnnxMlpackStub.cpp
  Plugins/CMakeLists.txt
  Plugins/Mlpack/CMakeLists.txt
  Plugins/Mlpack/include/Acts/Plugins/Mlpack/SeedFilterDBScanClustering.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/DBScanTests.cpp
  cmake/Findmlpack.cmake
  docs/getting_started.md
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, Component - Documentation, automerge, Track Finding

#2754 feat: add helper and fusing infrastructure for cuboidal detectors
  Core/include/Acts/Detector/detail/CuboidalDetectorHelper.hpp
  Core/include/Acts/Detector/detail/DetectorVolumeConsistency.hpp
  Core/include/Acts/Detector/detail/PortalHelper.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/Portal.cpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Detector/detail/DetectorVolumeConsistency.cpp
  Core/src/Detector/detail/PortalHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CuboidalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeConsistencyTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
Labels: Component - Core, automerge

#2860 refactor: Remove `BoundaryCheck` to bool conversion
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
Labels: Component - Core, automerge

#2829 feat!: Wire time to spacepoints and seeds
  CI/codespell_ignore.txt
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/Seeding/InternalSpacePoint.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/SpacePointFormation/detail/SpacePointBuilder.ipp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Seeding/SpacePoint.hpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge, Event Data Model, SP formation, Seeding, Track Finding, Changes Performance

#2838 feat!: Generic grid bin finder
  Core/include/Acts/Seeding/BinFinder.hpp
  Core/include/Acts/Seeding/BinFinder.ipp
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Core/include/Acts/Utilities/GridIterator.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridBinFinderTests.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Bug, Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#2767 chore!: Remove volumeSignature from geometry building
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/SimpleGeometryTests.cpp
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2847 refactor!: Use Acts::Any for magnetic field cache
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldProvider.hpp
  Core/include/Acts/MagneticField/NullBField.hpp
  Core/include/Acts/MagneticField/detail/SmallObjectCache.hpp
  Core/src/MagneticField/SolenoidBField.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBField.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/MagneticField/MagneticFieldProviderTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Utilities/BFieldMapUtilsTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Breaks Athena build

#2706 feat: Preliminary work for grouped alignment
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Tests/UnitTests/Examples/Algorithms/Alignment/AlignmentGroupingTests.cpp
  Tests/UnitTests/Examples/Algorithms/Alignment/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/CMakeLists.txt
Labels: Component - Examples, automerge

#2854 refactor!: General binned group for seeding
  Core/include/Acts/Seeding/BinnedGroup.hpp
  Core/include/Acts/Seeding/BinnedGroup.ipp
  Core/include/Acts/Seeding/BinnedGroupIterator.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Seeding/BinnedSPGroup.hpp
  Core/include/Acts/Seeding/BinnedSPGroup.ipp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/SpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Tests/UnitTests/Core/Seeding/BinnedGroupTest.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#2872 feat: Proton hypothesis
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Examples/Python/src/EventData.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#2875 chore: Improve pre-commit config and add black formatting
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CI/check_include_guards.py
  CI/check_license.py
  CI/check_smearing_config.py
  CI/clang_tidy/check_clang_tidy.py
  CI/clang_tidy/parse_clang_tidy.py
  Examples/Algorithms/Digitization/scripts/smearing-config.py
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/python/acts/examples/odd_light.py
  Examples/Python/tests/helpers/hash_root.py
  Examples/Python/tests/test_reader.py
  Examples/Scripts/Detectors/TGeoDetector/tgeo-response2json.py
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  Examples/Scripts/MaterialMapping/configureMap.py
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/Orion_tuning.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/volume_association_test.py
  Examples/Scripts/vertex_mu_scan.py
Labels: Infrastructure, Component - Examples, automerge

#2871 feat: Add ability for grouped hit requirements to track selector
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExampleAlgorithms.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#2870 feat: GeometryId check for Acts::Experimental::Detector
  Core/src/Detector/Detector.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorHelperTests.cpp
  Tests/UnitTests/Core/Detector/DetectorBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/IndexedRootVolumeFinderBuilderTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorVolumeFindersTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#2873 feat: GridBinFinder also allows a single pair of ints
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Tests/UnitTests/Core/Utilities/GridBinFinderTests.cpp
Labels: Component - Core, automerge

#2789 refactor: Reuse `JacobianEngine`
  Core/include/Acts/Propagator/CovarianceTransport.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
Labels: Component - Core, automerge

#2552 refactor: Move actor state into propagator state
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/detail/abort_list_implementation.hpp
  Core/include/Acts/Propagator/detail/action_list_implementation.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#2858 refactor!: Grid specialization for Cylindrical geometry
  Core/include/Acts/Seeding/BinnedGroup.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.hpp
  Core/include/Acts/Seeding/Neighbour.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding/SeedFinder.ipp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.hpp
  Plugins/Cuda/include/Acts/Plugins/Cuda/Seeding2/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  docs/core/reconstruction/pattern_recognition/seeding.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge, Seeding, Track Finding

#2882 feat: CuboidalContainerBuilder + UnitTest
  Core/include/Acts/Detector/CuboidalContainerBuilder.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/CuboidalContainerBuilder.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CuboidalContainerBuilderTests.cpp
Labels: Component - Core, automerge

#2874 feat: Propagator optionally inherits from BasePropagator
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorTraits.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Labels: Component - Core, automerge

#2883 feat: Safety checks for CylindricalContainerBuilder BluePrint constructor
  Core/src/Detector/CylindricalContainerBuilder.cpp
Labels: Component - Core, automerge

#2887 feat: Cuboidal detector builder from blueprint
  CI/codespell_ignore.txt
  Core/include/Acts/Detector/detail/BlueprintHelper.hpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CuboidalDetectorFromBlueprintTests.cpp
Labels: Component - Core, Infrastructure, automerge

#2888 fix: typo fixes and name change
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylinderLayerStructureTests.cpp
  docs/known-warnings.txt
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge

#2884 feat: create SVG python bindings for new detector
  Core/include/Acts/Geometry/Extent.hpp
  Core/src/Geometry/Extent.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Svg.cpp
  Examples/Scripts/Python/detector_creation.py
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
Labels: Component - Core, Component - Examples, automerge

#2836 feat: Add common hough transform components to core
  CI/check_unused_files.py
  CMakeLists.txt
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
  Core/include/Acts/Seeding/HoughVectors.hpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughVectors.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Framework/include/ActsExamples/EventData/DriftCircle.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSimHit.hpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvDriftCircleReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSimHitReader.hpp
  Examples/Io/Csv/src/CsvDriftCircleReader.cpp
  Examples/Io/Csv/src/CsvMuonSimHitReader.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/muon_hough.py
  Tests/Data/event000000001-MuonDriftCircle.csv
  Tests/Data/event000000001-MuonSimHit.csv
Labels: Component - Core, Infrastructure, Component - Examples, Event Data Model, Seeding, Track Finding

#2771 fix: cross-covariance matrix in FullBilloirVertexFitter
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.ipp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance, Breaks Athena build

#2295 fix: Initial track param covariance inflation
  CI/physmon/reference/performance_ambi_orthogonal.root
  CI/physmon/reference/performance_ambi_seeded.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_orthogonal.root
  CI/physmon/reference/performance_ckf_seeded.root
  CI/physmon/reference/performance_ckf_truth_estimated.root
  CI/physmon/reference/performance_ckf_truth_smeared.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/performance_truth_tracking.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/workflows/physmon_ckf_tracking.py
  CI/physmon/workflows/physmon_vertexing.py
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.hpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Seeding, Track Finding, Changes Performance

#2893 feat: adding drawing selections and decorations
  CMakeLists.txt
  Examples/Python/src/Svg.cpp
  Examples/Scripts/Python/detector_creation.py
  Plugins/ActSVG/src/PortalSvgConverter.cpp
  Plugins/ActSVG/src/SurfaceSvgConverter.cpp
Labels: Component - Examples, Component - Plugins

#2879 feat: update support surface building
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/ProtoBinning.hpp
  Core/include/Acts/Detector/ProtoSupport.hpp
  Core/include/Acts/Detector/detail/SupportHelper.hpp
  Core/include/Acts/Detector/detail/SupportSurfacesHelper.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/ProtoMaterialHelper.cpp
  Core/src/Detector/detail/SupportHelper.cpp
  Core/src/Detector/detail/SupportSurfacesHelper.cpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/SupportHelperTests.cpp
  Tests/UnitTests/Core/Detector/SupportSurfacesHelperTests.cpp
Labels: Component - Core

#2769 refactor: correct phi and theta for periodicity changes in KalmanVertexUpdater
  Core/src/Vertexing/KalmanVertexUpdater.cpp
Labels: Component - Core, automerge, Vertexing

#2894 feat: add grid conversion option
  Core/include/Acts/Utilities/Grid.hpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
Labels: Component - Core, automerge

#2891 feat: Add proper python bindings for `ParticleHypothesis`
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Examples/Python/src/EventData.cpp
  Examples/Python/tests/test_event_data.py
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#2802 docs: update vertexing documentation
  docs/figures/tracking/vertexing_flowchart.svg
  docs/tracking.md
Labels: Component - Documentation, automerge

#2902 fix: some rotten links to read the docs
  Core/include/Acts/Utilities/Logger.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Utilities/Logger.cpp
Labels: Component - Core, automerge

#2903 ci: Disable python-xdist
  .gitlab-ci.yml
Labels: automerge

#2898 feat(gx2f): Add new error `DidNotConverge`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#2901 feat: adapt visitor concept
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/DetectorVolumeVisitorConcept.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/TrackingVolumeVisitorConcept.hpp
  Core/include/Acts/Surfaces/SurfaceVisitorConcept.hpp
  Tests/UnitTests/Core/Detector/DetectorTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
Labels: Component - Core, automerge

#2889 feat: dd4hep allow proto material
  Examples/Scripts/Python/detector_creation.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprintFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#2907 revert: Use common direction transform Jacobian (#2782)
  Core/include/Acts/Utilities/JacobianHelpers.hpp
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core

#2914 chore: Change policy for regular reviews to include develop branches
  .policy.yml
Labels: automerge
