Repository acts-project/acts, pull requests merged in 2024-11, with the labels that each got.

#3765 feat: Add standalone digitization coordinates converter
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationCoordinatesConverter.hpp
  Examples/Algorithms/Digitization/src/DigitizationCoordinatesConverter.cpp
  Examples/Python/src/Digitization.cpp
  Examples/Python/tests/test_detectors.py
Labels: Component - Examples, automerge

#3798 refactor: Remove `pythia8` prefix from root files in Examples
  CI/physmon/workflows/physmon_simulation.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Optimization/ckf.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3808 refactor: Remove `TruthSeedSelector` from Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedSelector.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/test_algorithms.py
Labels: Component - Examples, automerge

#3790 feat: Log-uniform p/pt distributions for Examples
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Generators.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3809 fix: addAmbiguityResolution writeTrackSummary/writeTrackStates
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#3807 feat: Logger passed to Gbts and Orthogonal seeders
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding, coderabbit

#3757 feat: ProxyAccessor constructor can now be constexpr
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Tests/UnitTests/Core/EventData/TrackContainerComplianceTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3827 fix: Restore Orthogonal seedfinder default constructor
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
Labels: Component - Core, automerge, Seeding

#3788 refactor: FPE safe eta/theta conversion
  Core/include/Acts/Utilities/AngleHelpers.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  Tests/UnitTests/Core/Utilities/AngleHelpersTests.cpp
Labels: Component - Core, automerge, Track Finding, coderabbit

#3820 refactor: rename PortalShell connect outer to fill
  Core/include/Acts/Geometry/PortalShell.hpp
  Core/src/Geometry/PortalShell.cpp
  Tests/UnitTests/Core/Geometry/PortalShellTests.cpp
Labels: Component - Core, automerge

#3821 fix: Default label for GraphViz::Node
  Core/include/Acts/Utilities/GraphViz.hpp
Labels: Component - Core, automerge

#3831 fix: DummyLogger can now be cloned
  Core/src/Utilities/Logger.cpp
Labels: Component - Core, automerge

#3806 refactor(gx2f): container to represent the mathematical gx2f-system
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
Labels: Component - Core, automerge, Track Fitting

#3830 fix: Drop `removeNeutral` from particle pre-selection in Examples
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/hashing_seeding.py
Labels: Component - Examples, automerge, Changes Performance

#3837 refactor: Remove `CalculateResiduals.hpp`
  Core/include/Acts/EventData/detail/CalculateResiduals.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3774 ci: Add check for mathematical constants (no macros)
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CI/check_math_macros.py
Labels: Infrastructure, automerge

#3839 refactor(gx2f): pull out material counting
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3845 chore: remove `M_PI` relics
  docs/codeguide.md
  docs/conf.py
Labels: Component - Documentation, automerge

#3842 chore: remove redundant cmake flags
  .gitlab-ci.yml
Labels: automerge

#3829 test: enable commented checks in bounding box tests
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
Labels: Component - Core, automerge

#3815 fix: Track selector printouts to be in line with actual cuts
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Labels: Component - Core, automerge, Track Finding, coderabbit

#3844 build: LC_ALL=C for DD4hep in setup
  cmake/setup_withdeps.sh.in
Labels: Infrastructure, automerge

#3817 fix: Remove false-positive warning in GCC14
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
Labels: Component - Core, automerge

#3846 fix: oneAPI 2025 Fixes, main branch (2024.11.11.)
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, automerge, Event Data Model, Track Fitting

#3834 feat: Add a benchmark executable for Track EDM
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/TrackEdmBenchmark.cpp
Labels: automerge

#3850 fix: Make `SeedingPerformanceWriter` thread-safe
  Examples/Io/Root/src/SeedingPerformanceWriter.cpp
Labels: Component - Examples, automerge

#3848 chore: remove obsolete requirements file for exatrkx tests
  .gitlab-ci.yml
  Examples/Python/tests/requirements_ubuntu2004.in
  Examples/Python/tests/requirements_ubuntu2004.txt
Labels: Component - Examples, automerge

#3824 fix: silence compiler warning in tbb header about old-style casts.
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
Labels: Component - Examples, automerge, Track Finding

#3802 refactor!: Remove free parameter estimation function
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Labels: Component - Core, automerge, Seeding

#3822 fix: TryAllNavigationPolicy config exposed to python
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Examples/Python/src/Navigation.cpp
  Examples/Python/tests/test_navigation.py
Labels: Component - Core, Component - Examples, automerge, coderabbit

#3853 feat: Add optional context type getter
  Core/include/Acts/Utilities/detail/ContextType.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/ContextTypeTests.cpp
Labels: Component - Core, automerge

#3858 chore: Update PR template
  .github/pull_request_template.md
Labels: Infrastructure, automerge

#3726 refactor(gx2f): make material work for |eta| > 2
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Infrastructure, automerge, Track Fitting, Changes Performance

#3860 fix: `RandomSeed` with 32 bit in Examples
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
  Examples/Framework/src/Framework/RandomNumbers.cpp
Labels: Component - Examples, automerge

#3833 refactor!: Use `consteval` on `hashString`
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/Utilities/HashedString.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/src/PodioUtil.cpp
  Tests/UnitTests/Core/Utilities/HashedStringTests.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3818 feat(geo): Add Gen3 hierarchy search to `lowestTrackingVolume`
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3870 fix: Potential Out of Bounds in Root file reading
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
Labels: Component - Examples, automerge

#3832 feat: Free parameter estimation from seed
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Labels: Component - Core, automerge, Seeding

#3871 fix: Estimate entry size before sorting in ROOT readers
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
Labels: Component - Examples, automerge

#3872 fix: User `localtime_r` instead of `localtime`
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core, automerge

#3805 refactor!: Rewrote the ambiguity solver for clarity and added Optional Hits Selector
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
Labels: Component - Core, Component - Examples, automerge, Ambiguity Resolution

#3863 refactor!: Remove `bFieldMin` from `estimateTrackParamsFromSeed`
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3865 refactor: Digitization cleanup in Examples
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfigurator.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationCoordinatesConverter.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/GeometricConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfig.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/Digitization/src/DigitizationCoordinatesConverter.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonDigitizationConfig.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/digitization_config.py
Labels: Component - Examples, automerge, Event Data Model

#3811 feat: full_chain_test.py config with command-line options
  Examples/Scripts/Python/full_chain_test.py
Labels: Component - Examples, automerge

#3875 chore: bump Python requirements
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.in
  docs/requirements.txt
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge

#3887 ci: Add milestone workflow
  .github/workflows/milestone.yml
Labels: Infrastructure, automerge

#3888 refactor: Reduce abort output in GX2F to DEBUG
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3823 feat: Track parameters lookup estimation examples
  Core/include/Acts/EventData/detail/TrackParametersUtils.hpp
  Core/include/Acts/TrackFinding/TrackParamsLookupAccumulator.hpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/ITrackParamsLookupReader.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/ITrackParamsLookupWriter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsLookupEstimation.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsLookupTable.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsLookupEstimation.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonTrackParamsLookupReader.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonTrackParamsLookupWriter.hpp
  Examples/Python/src/Json.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/telescope_track_params_lookup_generation.py
  Plugins/Json/include/Acts/Plugins/Json/TrackParametersJsonConverter.hpp
  Tests/UnitTests/Core/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinding/TrackParamsLookupAccumulatorTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding

#3866 refactor!: Deduplicate `estimateTrackParamsFromSeed` code
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding, Changes Performance

#3878 docs(sphinx): remove outdated warnings from ignore list
  docs/known-warnings.txt
Labels: Component - Documentation, automerge

#3828 refactor: Avoid `new`/`delete` in a number of places.
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Detectors/MagneticField/src/FieldMapRootIo.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaNTupleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/src/RootAthenaNTupleReader.cpp
  Examples/Io/Root/src/RootBFieldWriter.cpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Io/Root/src/detail/NuclearInteractionParametrisation.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3816 feat(util): Add `overloaded` helper
  Core/include/Acts/Utilities/Helpers.hpp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Component - Core, automerge

#3892 fix: Add check on expected measurements on surface before marking as hole
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3450 feat: Add statistics to propagation
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorStatistics.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorResult.hpp
  Core/include/Acts/Propagator/PropagatorState.hpp
  Core/include/Acts/Propagator/PropagatorStatistics.hpp
  Core/include/Acts/Propagator/StepperStatistics.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/src/Propagator/SympyStepper.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Examples/Framework/include/ActsExamples/EventData/PropagationSummary.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationSummaryWriter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Io/Root/src/RootPropagationSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Changes Performance

#3796 refactor!: explicit `isPresent()` in cylinder volume builder
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/src/Geometry/CylinderVolumeBuilder.cpp
Labels: Component - Core, automerge

#3895 chore: Cleanup some Geant4 Examples code
  Examples/Algorithms/Geant4/include/ActsExamples/DDG4/DDG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/DetectorConstructionFactory.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStore.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/GdmlDetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Manager.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MagneticFieldWrapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialPhysicsList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/PhysicsListFactory.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/RegionCreator.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SimParticleTranslation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SteppingActionList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/GeoModelG4/GeoModelDetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/TelescopeDetector/TelescopeG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/GdmlDetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/Geant4Manager.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/GeoModelDetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/MagneticFieldWrapper.cpp
  Examples/Algorithms/Geant4/src/MaterialPhysicsList.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/PhysicsListFactory.cpp
  Examples/Algorithms/Geant4/src/RegionCreator.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
  Examples/Algorithms/Geant4/src/TelescopeG4DetectorConstruction.cpp
  Examples/Algorithms/Geant4HepMC/include/ActsExamples/Geant4HepMC/EventRecording.hpp
  Examples/Algorithms/Geant4HepMC/src/EventRecording.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geant4DD4hepComponent.cpp
  Examples/Python/src/Geant4GeoModelComponent.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElementITk.hpp
  Plugins/GeoModel/src/GeoModelDetectorElementITk.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3898 refactor!: Single type/alias for intersection status
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/IntersectionHelper2D.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Utilities/Intersection.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, automerge, Track Fitting, Fails Athena tests

#3896 fix: boost progress include fails on next boost major release
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
Labels: Component - Examples, automerge

#3903 ci: wrong directory formating in update-pip bot
  .github/workflows/update-pip-requirements.yml
Labels: Infrastructure, automerge

#3902 docs: remove http-relics for license
  Examples/Detectors/ITkModuleSplitting/include/ActsExamples/ITkModuleSplitting/ITkModuleSplitting.hpp
  README.md
  docs/license.rst
Labels: Component - Examples, Component - Documentation, automerge

#3894 refactor: remove custom scalar in classes
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Framework/include/ActsExamples/EventData/DriftCircle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSpacePoint.hpp
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Io/Csv/src/CsvDriftCircleReader.cpp
  Examples/Io/Csv/src/CsvMuonSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Fatras/Geant4/include/ActsFatras/Geant4/Geant4Decay.hpp
  Fatras/Geant4/src/Geant4Decay.cpp
  Fatras/include/ActsFatras/Digitization/DigitizationData.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/EventData/Hit.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/SimulationResult.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Fatras/include/ActsFatras/Physics/Decay/NoDecay.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Fatras/include/ActsFatras/Selectors/ParticleSelectors.hpp
  Fatras/src/Physics/BetheHeitler.cpp
  Fatras/src/Physics/NuclearInteraction/NuclearInteraction.cpp
  Fatras/src/Physics/PhotonConversion.cpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAnnoy.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.ipp
  Tests/UnitTests/Core/Seeding/HoughTransformTest.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Fatras/EventData/HitTests.cpp
  Tests/UnitTests/Fatras/EventData/ParticleTests.cpp
  Tests/UnitTests/Fatras/Kernel/InteractionListTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Fatras/Physics/PhotonConversionTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding

#3897 chore!: Clean some Material code
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/HomogeneousSurfaceMaterial.cpp
  Core/src/Material/HomogeneousVolumeMaterial.cpp
  Core/src/Material/Material.cpp
  Core/src/Material/MaterialSlab.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3899 refactor!: Remove alias `IntersectionStatus::missed`
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, automerge, Track Fitting, Fails Athena tests

#3876 feat: Update GNN plugin
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/createFeatures.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/createFeatures.hpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/Utils.hpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchTruthGraphMetricsHook.cpp
  Plugins/ExaTrkX/src/printCudaMemInfo.hpp
Labels: Component - Examples, :construction: WIP, Component - Plugins, automerge, Track Finding

#3907 refactor: Allow TrackState measurement setting without extra initialization
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/EventData/VectorTrackContainer.cpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/Benchmarks/TrackEdmBenchmark.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding, Track Fitting, coderabbit

#3855 refactor: convert to bound state also on empty sensitive surfaces.
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Finding, Changes Performance

#3886 feat: Use RootTracksummaryWriter without truth information
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, automerge

#3908 refactor: Cleanup some more detector code in Examples
  Examples/Algorithms/Geant4/include/ActsExamples/DDG4/DDG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/TelescopeDetector/TelescopeG4DetectorConstruction.hpp
  Examples/Algorithms/Geant4/src/DDG4DetectorConstruction.cpp
  Examples/Algorithms/Geant4/src/TelescopeG4DetectorConstruction.cpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/AlignedDetector.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/AlignmentDecorator.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/ExternalAlignmentDecorator.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/ExternallyAlignedDetectorElement.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/InternalAlignmentDecorator.hpp
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/InternallyAlignedDetectorElement.hpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/ContextualDetector/src/ExternalAlignmentDecorator.cpp
  Examples/Detectors/ContextualDetector/src/InternalAlignmentDecorator.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Detectors/Geant4Detector/include/ActsExamples/Geant4Detector/Geant4Detector.hpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/LayerBuilderT.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/ITkModuleSplitting/include/ActsExamples/ITkModuleSplitting/ITkModuleSplitting.hpp
  Examples/Detectors/MagneticField/src/ScalableBFieldService.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MockupSectorBuilder.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/JsonTGeoDetectorConfig.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepReader.hpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geant4DD4hepComponent.cpp
Labels: Component - Examples, automerge

#3877 feat: Helpers to calculate residuals, chi2 and unbiased states
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Core, Component - Examples, automerge

#3836 refactor: Reworked `HitSelector` in Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/HitSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/HitSelector.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/HitSelector.hpp
  Examples/Algorithms/Utilities/src/HitSelector.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#3911 feat: Allow copy of measurements in Examples
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementConcept.hpp
Labels: Component - Examples, automerge, Event Data Model

#3912 chore: replace some couts with logger
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
Labels: Component - Examples, automerge, Track Finding

#3851 feat: Add JSON detector element
  Examples/Io/Json/CMakeLists.txt
  Examples/Python/src/Detector.cpp
  Examples/Python/src/Json.cpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/JsonDetectorElement.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonSurfacesReader.hpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Json/src/JsonSurfacesReader.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/JsonSurfacesReaderTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Examples, Component - Plugins, Component - Documentation, automerge

#3791 refactor: Allow track selection without reference surface
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExampleAlgorithms.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#3914 fix: Change MTJ test dynamic column names
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
Labels: Component - Core, automerge, Event Data Model

#3916 chore(physmon): make configuration of all the fitters the same
  CI/physmon/workflows/physmon_trackfitting_gsf.py
Labels: Infrastructure, automerge

#3605 refactor!: Clean track EDM projector
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Core/src/TrackFitting/MbfSmoother.cpp
  Examples/Algorithms/TrackFitting/src/RefittingCalibrator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Tests/Benchmarks/TrackEdmBenchmark.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting, Fails Athena tests

#3784 refactor: Replace `ParticleSmearing` with `TrackParameterSmearing` in Examples
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleTrackParamExtractor.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleTrackParamExtractor.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSmearing.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Generators.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_propagation.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Examples/Scripts/Python/propagation.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3921 feat: compatibility for EDM4hep < `0.99` & >= `0.99`
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/TrackerHitCompatibility.hpp
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3923 fix: Remove `final` on template derived classes
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
Labels: Component - Core, automerge
