Repository acts-project/acts, pull requests merged in 2024-03, with the labels that each got.

#2996 build: EDM4hep python bindings go to separate shared lib
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/edm4hep.py
  Examples/Python/src/EDM4hepComponent.cpp
  Examples/Python/src/EDM4hepStub.cpp
  Examples/Python/src/ModuleEntry.cpp
Labels: Component - Examples, automerge

#2997 chore: Remove LinearizerConcept
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/LinearizerConcept.hpp
Labels: Component - Core, automerge, Vertexing

#2995 build: Fix potential interaction with GeoModel's bundled json
  CMakeLists.txt
  thirdparty/GeoModel/0001-Add-option-to-skip-setting-up-json-completely.patch
  thirdparty/GeoModel/CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
Labels: automerge

#3002 fix: Wire optional seed result in `TrackDensityVertexFinder` after #2917
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/src/Vertexing/GaussianTrackDensity.cpp
  Core/src/Vertexing/TrackDensityVertexFinder.cpp
Labels: Component - Core, Infrastructure, automerge, Vertexing, Changes Performance, Fails Athena tests

#2957 refactor!: template the seed finder on the grid type
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding/SeedFinderCudaTest.cpp
  Tests/UnitTests/Plugins/Cuda/Seeding2/main.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#2980 refactor: Safety check for spherical coordinates poles
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Labels: Component - Core, automerge

#1181 perf: Tile 8×8 covariance matrix multiplication
  Core/include/Acts/Propagator/EigenStepper.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Improvement, Impact - Minor, Component - Examples, automerge, Changes Performance

#3001 refactor: Refactor wiring for number of hits in simulation
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Output.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
Labels: Component - Fatras, Component - Examples, automerge, Event Data Model

#2999 feat: unbiased trackstates for fitters that do not smooth
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3000 feat: ROOT LinkDef `vector<vector<int>>` and co in Examples
  .github/workflows/builds.yml
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/LinkDef.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2828 refactor: AMVF error handling and `zt` splitting
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/VertexingError.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#2974 feat: Add a mask to the grid for iterating on bins with middle sp candidates
  Core/include/Acts/Seeding/BinnedGroup.hpp
  Core/include/Acts/Seeding/BinnedGroup.ipp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#2988 refactor: New DetectorNavigator tests and some fixes
  AUTHORS
  Core/include/Acts/Detector/GeometryCompatibilityConcept.hpp
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
Labels: Component - Core

#2885 feat: save vertex seed
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  CI/physmon/vertexing_ttbar_config.yml
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/src/Vertexing/Vertex.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#3009 refactor: Unconditionally use blocked mult in EigenStepper
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Component - Core, automerge

#3007 ci: Switch to `/usr/bin/time` for measuring time + memory in physmon
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#2993 ci: Bump macOS dependency version package
  .github/workflows/builds.yml
  CMakeLists.txt
Labels: Infrastructure, automerge

#3008 build: Change DD4hep library detection for unit tests
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
Labels: Component - Plugins, automerge

#3011 chore: Avoid double listing breaking changes
  CI/release.py
Labels: Infrastructure, automerge

#3013 ci: More build job count reductions
  .gitlab-ci.yml
Labels: automerge

#2969 feat: Write truth matching in `VertexPerformanceWriter`
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#2930 fix: Robust perigee propagation in `HelicalTrackLinearizer`
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
Labels: Component - Core, Infrastructure, automerge, Changes Performance

#3017 revert: Switch to /usr/bin/time for measuring time + memory in physmon
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#3022 ci: Bump to macOS 13
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#2982 fix: More precise track parameter estimation for high curvature tracks
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#2583 feat: Add possibility to rotate the trapezoid bounds
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core, automerge

#3029 refactor: Remove BVH navigation remnants (to be reimplemented)
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CubicBVHTrackingGeometry.hpp
  Tests/IntegrationTests/BVHNavigationTest.cpp
  Tests/IntegrationTests/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/BVHDataTestCase.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#2895 fix: DetectorVolume containment check
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CutoutCylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/GenericCuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Detector/DetectorVolume.cpp
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Tests/UnitTests/Core/Detector/DetectorVolumeTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#3035 refactor: Tweak `full_chain_odd.py`
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge

#2985 fix: Tweak AMVF config with time in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Vertexing, Changes Performance

#3032 refactor: Remove VolumeBoundsPtr typedef
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/CylinderVolumeHelper.hpp
  Core/include/Acts/Geometry/ITrackingVolumeBuilder.hpp
  Core/include/Acts/Geometry/ITrackingVolumeHelper.hpp
  Core/include/Acts/Geometry/TrackingGeometryBuilder.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3031 refactor: TrackingVolume/Volume cleanup
  Core/include/Acts/Geometry/ConeVolumeBounds.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/ConeVolumeBounds.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Geometry/Volume.cpp
Labels: Component - Core, automerge

#3023 refactor: Range1D becomes special case of RangeXD
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Utilities/DBScan.hpp
  Core/include/Acts/Utilities/KDTree.hpp
  Core/include/Acts/Utilities/Range1D.hpp
  Core/include/Acts/Utilities/RangeXD.hpp
  Core/src/Geometry/Extent.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Geometry/Polyhedron.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/ExaTrkX/src/buildEdges.cpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/src/ExtentJsonConverter.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Utilities/KDTreeTests.cpp
  Tests/UnitTests/Core/Utilities/Range1DTests.cpp
  Tests/UnitTests/Core/Utilities/RangeXDTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#3034 test: Use time for AMVF gridseeder in ttbar physmon
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/vertexing_config.yml
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure, automerge, Changes Performance

#3036 refactor: Refactor OpenDataDetector path discovery in Examples
  CI/physmon/physmon_common.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/setup.sh.in
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/common.py
  Examples/Scripts/Python/detector_creation.py
  Examples/Scripts/Python/event_recording.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/geant4.py
  Examples/Scripts/Python/geant4_parallel.py
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_itk.py
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/propagation.py
  Examples/Scripts/Python/seeding.py
  cmake/setup_withdeps.sh.in
  docs/examples/full_chain_odd.md
  docs/examples/howto/material_mapping.rst
  docs/getting_started.md
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge

#3026 refactor: OrientedSurface improvements
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Geometry/ConeVolumeBounds.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CutoutCylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/GenericCuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Detector/PortalGenerators.cpp
  Core/src/Geometry/AbstractVolume.cpp
  Core/src/Geometry/ConeVolumeBounds.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Plugins/Json/include/Acts/Plugins/Json/PortalJsonConverter.hpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Core/Geometry/ConeVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CutoutCylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidVolumeBoundsTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge

#3033 docs: Restore doxygen warnings as errors
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/MagneticField/MagneticFieldProvider.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Utilities/Logger.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/FullBilloirVertexFitter.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4SurfaceProvider.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeJsonConverter.hpp
  Plugins/Json/src/VolumeJsonConverter.cpp
  docs/conf.py
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge, Vertexing

#3028 chore: Remove explicit (bin0/bin1) access to MaterialSlab
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3024 refactor: Use track weight for vertex truth matching in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/vertexing_config.yml
  CI/physmon/vertexing_ttbar_config.yml
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3038 fix: geant4 transform conversion
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/Geant4/src/Geant4DetectorSurfaceFactory.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
Labels: Component - Plugins, automerge

#3027 fix: Gap translations in Blueprint Helper
  Core/src/Detector/detail/BlueprintHelper.cpp
Labels: Component - Core, automerge

#3018 ci: Switch to /usr/bin/time for measuring time + memory in physmon
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#2904 refactor: Central truth matching for tracks in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Examples/Algorithms/Printers/ActsExamples/Printers/HitsPrinter.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/SurfaceSortingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ProtoTrackTruthMatcher.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ProtoTrackTruthMatcher.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackModifier.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedSelector.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/SimHit.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/Track.hpp
  Examples/Framework/include/ActsExamples/EventData/TruthMatching.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSeedWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackWriter.hpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/CKFPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/SeedingPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, automerge, Event Data Model, Track Fitting, Changes Performance

#3040 fix: Correct install RPATH in Python example bindings
  Examples/Python/CMakeLists.txt
Labels: Component - Examples, automerge

#3030 refactor: Remove AbstractVolume
  Core/include/Acts/Geometry/AbstractVolume.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Geometry/AbstractVolume.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderLayer.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/DiscLayer.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Visualization/VolumeView3DBase.hpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge

#3025 feat: Geant4SurfaceProvider optimization
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4SurfaceProvider.hpp
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
Labels: Component - Plugins, automerge

#2910 fix: use correct path length derivatives when computing the curvilinear covariance for a zero step propagation
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
Labels: Component - Core, automerge

#3039 feat: new global / bound to grid local access schema
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Utilities/GridAccessHelpersTests.cpp
Labels: Component - Core, automerge

#3043 feat: Write track classification in `TrackSummaryWriter` in Examples
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/tracksummary_ckf_config.yml
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3045 revert: "refactor: Remove AbstractVolume (#3030)"
  Core/include/Acts/Geometry/AbstractVolume.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/detail/Layer.ipp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Geometry/AbstractVolume.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/CylinderLayer.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/DiscLayer.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Visualization/VolumeView3DBase.hpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge

#3049 docs: remove empty style guide and fix gender neutral language
  CONTRIBUTING.rst
  docs/contribution/contribution.md
  docs/contribution/style_guide.md
Labels: Component - Documentation, automerge

#3047 feat: add json IO for GridAccess delegates
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/src/GridJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
Labels: Component - Plugins, automerge

#3054 fix: Maybe unitialized values in EDM4hep plugin
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/EDM4hepUtil.hpp
Labels: Component - Examples, Component - Plugins, automerge

#3057 fix: Remove obsolete forward declaration AbstractVolume
  Core/include/Acts/Visualization/GeometryView3D.hpp
Labels: Component - Core, automerge

#3046 refactor: Always order by event number for ROOT input in Examples
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaNTupleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootUtility.hpp
  Examples/Io/Root/src/RootAthenaNTupleReader.cpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_reader.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_itk.py
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: Component - Examples, automerge

#3059 feat: json I/O for GridMaterial
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Utilities/GridAccessHelpersTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#3019 ci: Bump actions versions used in CI
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .github/workflows/iwyu.yml
  .github/workflows/labels.yml
  .github/workflows/pr_commands.yml
  .github/workflows/release.yml
  .github/workflows/release_pr.yml
  .github/workflows/report.yml
  CI/commands/pr_commands.py
  CI/commands/requirements.in
  CI/commands/requirements.txt
  CI/release.py
Labels: Infrastructure, automerge

#3056 refactor: Remove some bound value access from CylindricalDetectorHelper
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
Labels: Component - Core, automerge

#3060 feat: Add TransformRange helper
  Core/include/Acts/Utilities/TransformRange.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TransformRangeTests.cpp
Labels: Component - Core, automerge

#3015 feat: encapsulate assignment of material interactions to material surfaces (MM1)
  Core/include/Acts/Material/MaterialInteractionAssignment.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialInteractionAssignment.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialInteractionAssignmentTests.cpp
Labels: Component - Core, automerge

#3067 docs: missing white papers section in RTD
  docs/conf.py
Labels: Component - Documentation, automerge

#2722 refactor!: Remove smoothing and extrapolation from core CKF
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_orthogonal_hist.root
  CI/physmon/reference/tracksummary_ckf_seeded_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_estimated_hist.root
  CI/physmon/reference/tracksummary_ckf_truth_smeared_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/TrackHelpers.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Track Finding, Changes Performance

#3016 feat: allow different assignment candidate methods (MM2)
  Core/include/Acts/Material/IntersectionMaterialAssigner.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/IntersectionMaterialAssigner.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/IntersectionMaterialAssignerTests.cpp
  Tests/UnitTests/Core/Material/PropagatorMaterialAssignerTests.cpp
Labels: Component - Core

#3055 refactor: avoid double-static cast in HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
Labels: Component - Examples, automerge

#2811 refactor!: Refactor `Surface::boundToFreeJacobian` to use free instead of bound vector
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Fitting, Changes Performance, Breaks Athena build

#3063 fix: telescope missing stereo angle
  Examples/Scripts/Python/telescope_simulation.py
Labels: Component - Examples, automerge
