Repository acts-project/acts, pull requests merged in 2024-06, with the labels that each got.

#3071 refactor: add output format option in material_mapping.py
  Examples/Scripts/Python/material_mapping.py
Labels: Component - Examples, automerge

#3244 fix: correct first, then draw for SVG portals
  Plugins/ActSVG/src/PortalSvgConverter.cpp
Labels: Component - Plugins, automerge

#3245 refactor: Use unique_ptr for GlueVolumeDescriptor
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3251 fix: remove examples binaries relics
  .github/workflows/iwyu.yml
  .gitlab-ci.yml
  CMakeLists.txt
Labels: Infrastructure, automerge

#3252 fix: correct name string for some writers
  Examples/Io/EDM4hep/src/EDM4hepSimHitWriter.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjPropagationStepsWriter.hpp
Labels: Component - Examples, automerge

#3246 fix: applying patch at the right time
  cmake/ActsExternSources.cmake
  thirdparty/GeoModel/CMakeLists.txt
Labels: Infrastructure, automerge

#3258 fix: Put geomodel-G4 python bindings to correct place
  Examples/Python/CMakeLists.txt
Labels: Bug, Component - Examples, automerge

#3260 test: remove missed unused boost includes
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Tests/UnitTests/Benchmarks/BenchmarkTools.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3263 feat: Silence DD4HEP if requested
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
Labels: Component - Examples, automerge

#3261 test: add for `safeExp()`
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
Labels: Component - Core, automerge

#3259 fix: Add some missing headers for GCC 14
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
Labels: Bug, Component - Plugins, automerge

#3262 fix: setup with dependencies: robust python bindings
  cmake/setup_withdeps.sh.in
Labels: Infrastructure, automerge

#2849 feat: Add `TryAllNavigator`
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3248 refactor: physmon: *almost* same settings for GX2F and KF
  CI/physmon/reference/performance_gx2f.root
  CI/physmon/workflows/physmon_truth_tracking_gx2f.py
  CI/physmon/workflows/physmon_truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3247 fix(gx2f): use temporary track container
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3270 refactor: truth tracking examples: fix ODD setup and make default
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Labels: Improvement, Component - Examples, automerge

#3065 feat: `CylinderVolumeStack`
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Infrastructure, Component - Documentation

#3240 feat(gx2f): support non-diagonal covariances
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Documentation, automerge, Track Fitting

#2850 feat: Add `TryAllOverstepNavigator`
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3256 feat: geo model detector elements, converters
  Core/include/Acts/Surfaces/detail/AnnulusBoundsHelper.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/detail/AnnulusBoundsHelper.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Python/src/Obj.cpp
  Examples/Scripts/Python/geomodel.py
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelConversionError.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelConverters.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorSurfaceFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelReader.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/IGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoBoxConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTrdConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Plugins/GeoModel/src/GeoModelConversionError.cpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/GeoModel/src/GeoModelDetectorSurfaceFactory.cpp
  Plugins/GeoModel/src/detail/GeoBoxConverter.cpp
  Plugins/GeoModel/src/detail/GeoIntersectionAnnulusConverter.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoTrdConverter.cpp
  Plugins/GeoModel/src/detail/GeoTubeConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdConverterTests.cpp
  docs/plugins/geant4.md
  thirdparty/GeoModel/CMakeLists.txt
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge, Needs Discussion

#3275 refactor: physmon: full pT range for GX2F
  CI/physmon/reference/performance_gx2f.root
  Examples/Scripts/Python/truth_tracking_gx2f.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3276 refactor!: (gx2f) remove `zeroField` option and make implicit
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Track Fitting

#3264 feat(gx2f): support n-dimensional measurements
  CI/physmon/reference/performance_gx2f.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, Infrastructure, automerge, Track Fitting, Changes Performance

#3271 docs: Update navigators documentation
  docs/_extensions/lazy_autodoc.py
  docs/core/propagation.md
Labels: Component - Documentation, automerge

#3277 feat: change to detector json converter for detray
  Plugins/Json/include/Acts/Plugins/Json/DetectorVolumeJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/PortalJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Labels: Component - Plugins, automerge

#3266 feat: adding some functionality to material mapping checks
  Core/src/Material/BinnedSurfaceMaterialAccumulater.cpp
  Core/src/Material/MaterialInteractionAssignment.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/MaterialMapping/material_comparison.py
  Examples/Scripts/MaterialMapping/material_mapping_check.py
Labels: Component - Core, Component - Examples, Changes Performance

#3284 fix: Early exit in the seeding if there are no space points for top/bottom…
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Bug, Component - Core, automerge, Seeding

#3279 build: Exclude Examples tests from Core tests, phony target
  CMakeLists.txt
  Tests/UnitTests/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/Digitization/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  docs/getting_started.md
  docs/parse_cmake_options.py
Labels: Component - Fatras, Component - Examples, Component - Documentation, automerge

#3290 feat: Introduce scope failure threshold helper
  Core/include/Acts/Utilities/Logger.hpp
Labels: Component - Core, automerge

#3265 ci: Add dependabot configuration
  .github/dependabot.yml
Labels: Infrastructure, automerge

#3287 perf: Avoid two divisions in parameter estimation from seeds
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#3289 feat: establishing Detector from GeoModel with db blueprint (Gen2)
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/src/Geometry/Extent.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/MaterialMapping/material_comparison.py
  Examples/Scripts/Python/geomodel.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation_core.py
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoModelBinningHelper.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoModelExtentHelper.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/detail/GeoModelBinningHelper.cpp
  Plugins/GeoModel/src/detail/GeoModelExtentHelper.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3286 feat: middle SP z selection as result of grid binning
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3293 refactor(gx2f): make constant TrackStatePropMask
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3288 feat: Cylinder and Disc surface merging
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/detail/MergeHelper.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/detail/MergeHelper.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  docs/core/geometry/surfaces.md
  docs/figures/doxygen/Cylinder_Merging.svg
  docs/figures/doxygen/Disc_Merging.svg
Labels: Component - Core, Component - Documentation, automerge

#3294 refactor(gx2f): clean up logging before material PR
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3296 fix(gx2f): forward propagation error
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3297 docs: update links to avoid redirects
  CONTRIBUTING.rst
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  README.md
  docs/acts_project.md
  docs/conf.py
  docs/contribution/profiling.md
  docs/getting_started.md
  docs/white_papers.toml
  docs/white_papers/how_to_add.md
Labels: Component - Core, Component - Documentation, automerge

#3307 docs: update linkcheck
  docs/conf.py
Labels: Component - Documentation, automerge

#3305 ci: update black-version and pre-commit mirror
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CI/physmon/workflows/physmon_ckf_tracking.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/MLAmbiguityResolution/match_good_track-seed.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/material_mapping.py
Labels: Infrastructure, Component - Examples, automerge, Ambiguity Resolution

#3224 refactor!: Remove `overstepLimit` from `EigenStepper`
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Component - Core, automerge

#3311 test: reduce navigator tests with TryAll as reference
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3316 docs: update linkcheck again
  docs/conf.py
Labels: Component - Documentation, automerge

#3315 test: Move `Navigator` consistency checks to integration tests
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/NavigatorConsistency.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3314 ci: Bump cmakeperf version to work around numpy issue
  .github/workflows/analysis.yml
Labels: Infrastructure, automerge

#3250 refactor!: Update TrackingVolume constructors
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge, Breaking change

#3317 feat: `Any` (and `SourceLink`) gain ability to assign different types
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3282 refactor!: Remove `Measurement` from Core
  Core/include/Acts/EventData/Measurement.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacepointWriter.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Event Data Model, SP formation, Track Finding, Track Fitting, Ambiguity Resolution

#2925 refactor: unify the GPU device selection ExaTrkX; local variables declaration in FRNN lib
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  cmake/ActsExternSources.cmake
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge, Track Finding

#3321 ci: Add SonarQube / SonarCloud configuration
  .github/workflows/analysis.yml
  .github/workflows/sonarcloud.yml
  CI/get_next_milestone.py
  CI/test_coverage.py
  Tests/UnitTests/CMakeLists.txt
  sonar-project.properties
Labels: Infrastructure, automerge

#3280 fix: Switch to layer targeting in any case, remove condition to skip to boundaries
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge

#3295 fix: Configuration of highOccupancyConfig for itk Seeding example
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
Labels: Component - Examples, automerge, Track Finding

#3304 ci: extend black formatting to jupyter notebooks
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  Tests/IntegrationTests/Magfield.ipynb
  docs/SolenoidField.ipynb
Labels: Infrastructure, Component - Documentation, automerge

#3310 feat: Add reader for Athena dumps used by GNN4ITk
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/LinkDef.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge

#3324 fix: GeoModelHelper update to remove of detail namespace
  Plugins/GeoModel/src/detail/GeoModelBinningHelper.cpp
Labels: Component - Plugins, automerge

#3325 ci: Fix sonarqube workflow
  .github/workflows/sonarcloud.yml
Labels: Infrastructure

#3326 ci: Remove sonar workflow skip condition
  .github/workflows/sonarcloud.yml
Labels: Infrastructure

#3204 refactor!: Remove `CylinderBounds::inside3D`
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/src/Surfaces/CylinderBounds.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
Labels: Component - Core, automerge

#3329 feat: Wire grid size for `AMVF` and `AdaptiveGridSeeder` to Python in Examples
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
Labels: Component - Examples, automerge, Vertexing

#3312 test: use ACTS logging for Navigator tests
  Tests/IntegrationTests/NavigatorConsistency.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#3318 build: Change the way coverage is enabled
  .github/workflows/analysis.yml
  cmake/ActsCompilerOptions.cmake
Labels: Infrastructure, automerge

#3334 refactor(geometry): Surface merging uses custom exception
  Core/include/Acts/Surfaces/SurfaceMergingException.hpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
Labels: Component - Core, automerge

#3333 fix(gx2f): compatible with non-Vector-TrackContainer (e.g. in Athena)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3336 refactor(gx2f): change type of Gx2fnUpdateColumn to uint32_t (athena compatability)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting
