Repository acts-project/acts, pull requests merged in 2024-05, with the labels that each got.

#3163 chore: Use recent track finding improvements in `full_chain_itk.py`
  Examples/Scripts/Python/full_chain_itk.py
Labels: Component - Examples, automerge

#3096 feat: material validation using core components (MM6)
  Core/include/Acts/Detector/DetectorBuilder.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Material/MaterialValidater.hpp
  Core/src/Detector/DetectorBuilder.cpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialValidater.cpp
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialValidation.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialValidation.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_core.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialValidaterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3169 feat: Robust surface matching for Geant4
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/sim_digi_odd.py
Labels: Component - Examples, automerge, Changes Performance

#3167 refactor: Rework Core `CKF` material interactions a bit
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Finding, Changes Performance

#3102 refactor!: Refactor CKF branch stopper to allow stop and keep tracks
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3168 test: Test Highland MSC RMS
  Tests/UnitTests/Fatras/Physics/BetheBlochTests.cpp
  Tests/UnitTests/Fatras/Physics/BetheHeitlerTests.cpp
  Tests/UnitTests/Fatras/Physics/Dataset.hpp
  Tests/UnitTests/Fatras/Physics/PhotonConversionTests.cpp
  Tests/UnitTests/Fatras/Physics/ScatteringTests.cpp
Labels: Component - Fatras, automerge

#3171 refactor: Remove `SourceLinkAccessorConcept`
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/SourceLinkAccessorConcept.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#3174 feat: binned surface material detray
  Examples/Scripts/Python/geometry.py
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
Labels: Component - Examples, Component - Plugins, automerge

#2815 feat: error parameterisation (and assignment) for geometric digitisation
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfig.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Scripts/Digitization/error_parameterisation.py
Labels: Component - Examples, automerge

#3172 feat: Reintroduce branch stopping on measurement in Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3139 feat: Athena Ambiguity Resolution Algorithm
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/CMakeLists.txt
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Examples/Algorithms/AmbiguityResolution/CMakeLists.txt
  Examples/Algorithms/AmbiguityResolution/include/ActsExamples/AmbiguityResolution/ScoreBasedAmbiguityResolutionAlgorithm.hpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/AmbiguityResolution.cpp
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/MLAmbiguityResolution/seedDuplicateClassifier.onnx
  Examples/Scripts/Python/full_chain_odd.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/AmbiguityConfigJsonConverter.hpp
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
  Tests/UnitTests/Core/AmbiguityResolution/CMakeLists.txt
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
  Tests/UnitTests/Core/CMakeLists.txt
Labels: Component - Core, Component - Examples, Component - Plugins, Ambiguity Resolution

#3176 fix: Order of geometry Id/material assignment in the DetectorBuilder
  Core/src/Detector/DetectorBuilder.cpp
Labels: Component - Core, automerge

#3178 fix: Fix my local build after #3139
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Plugins/Json/include/Acts/Plugins/Json/AmbiguityConfigJsonConverter.hpp
Labels: Component - Examples, Component - Plugins, automerge, Ambiguity Resolution

#3175 feat: Examples can run sim/digi on ODD with Gen1 and Gen2 geometry
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/sim_digi_odd.py
Labels: Component - Core, Component - Examples, automerge

#3186 feat: removing SYCL Plugin
  .github/workflows/builds.yml
  CMakeLists.txt
  Plugins/CMakeLists.txt
  Plugins/Sycl/CMakeLists.txt
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/CreateSeedsForGroupSycl.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/DeviceExperimentCuts.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/SeedFinder.ipp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Seeding/detail/Types.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/CalculateNdRange.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/DeviceSelector.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/ListPlatforms.hpp
  Plugins/Sycl/include/Acts/Plugins/Sycl/Utilities/QueueWrapper.hpp
  Plugins/Sycl/src/Seeding/CreateSeedsForGroupSycl.cpp
  Plugins/Sycl/src/Seeding/DupletSearch.hpp
  Plugins/Sycl/src/Seeding/LinearTransform.hpp
  Plugins/Sycl/src/Seeding/SpacePointType.hpp
  Plugins/Sycl/src/Seeding/TripletFilter.hpp
  Plugins/Sycl/src/Seeding/TripletSearch.hpp
  Plugins/Sycl/src/Utilities/Arrays.hpp
  Plugins/Sycl/src/Utilities/CalculateNdRange.cpp
  Plugins/Sycl/src/Utilities/DeviceSelector.cpp
  Plugins/Sycl/src/Utilities/ListPlatforms.cpp
  Plugins/Sycl/src/Utilities/QueueWrapper.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/Seeding/ATLASCuts.hpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CMakeLists.txt
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/CommandLineArguments.h
  Tests/UnitTests/Plugins/Sycl/Seeding/SeedFinderSyclTest.cpp
  Tests/UnitTests/Plugins/Sycl/Seeding/SpacePoint.hpp
  cmake/ActsConfig.cmake.in
  cmake/ActsCreatePackageConfig.cmake
  cmake/FindSYCL.cmake
  docs/getting_started.md
Labels: Infrastructure, Component - Plugins, Component - Documentation, Seeding

#3191 chore: Use Fatras log level for propagation
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
Labels: Component - Examples, automerge

#3187 refactor!: Use `std::string_view` for `addColumn` in track EDM
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3190 refactor: Simplify layer handling in `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core

#3188 refactor: Refactor Core CKF finalization
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3203 fix: Fix Core CKF segfault with fitted params
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3197 feat: Smearing for straw surfaces
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingConfig.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Tests/UnitTests/Fatras/Digitization/CMakeLists.txt
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Fatras, Component - Examples, automerge

#3205 refactor: Move boundary check implementations to `VerticesHelper`
  Core/include/Acts/Surfaces/BoundaryCheck.hpp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
Labels: Component - Core, automerge

#3206 refactor: Early exit for `AnnulusBounds::inside`
  Core/src/Surfaces/AnnulusBounds.cpp
Labels: Component - Core, automerge

#3202 feat: enable simulation from GeoModel
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/GeoModelG4/GeoModelDetectorConstruction.hpp
  Examples/Algorithms/Geant4/src/GeoModelDetectorConstruction.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/geant4/geomodel.py
  Examples/Python/src/Geant4GeoModelComponent.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Python/src/GeoModelStub.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Scripts/Python/material_recording.py
  Plugins/CMakeLists.txt
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelReader.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelReader.cpp
  thirdparty/GeoModel/CMakeLists.txt
Labels: Component - Examples, Component - Plugins, automerge

#3209 test(gx2f): generalise unit test
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3207 refactor: Early exit for `CylinderBounds::inside`
  Core/src/Surfaces/CylinderBounds.cpp
Labels: Component - Core, automerge

#3179 feat: adding some more options to the odd_full_chain
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/sim_digi_odd.py
Labels: Component - Examples, automerge

#3211 fix: clang-format Regex
  .clang-format
Labels: automerge

#3210 refactor: Use `double` for `CylinderBounds::inside`
  Core/src/Surfaces/CylinderBounds.cpp
Labels: Component - Core, automerge

#3215 ci: bump codecov-action to v4
  .github/workflows/analysis.yml
Labels: Infrastructure

#3216 fix: Adding another parameter in the json configuration
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Fatras, Component - Examples, automerge

#2846 refactor: Backport navigation rewrite changes
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_gsf.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Python/src/Propagation.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#3150 feat: `SympyStepper`
  .github/workflows/checks.yml
  CI/check_codegen
  CI/check_format
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.ipp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/SympyJacobianEngine.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/codegen/sympy_stepper_math.hpp
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Core/src/Propagator/detail/SympyJacobianEngine.cpp
  Core/src/Propagator/detail/codegen/sympy_cov_math.hpp
  Core/src/Propagator/detail/codegen/sympy_jac_math.hpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/StepperBenchmark.cpp
  Tests/Benchmarks/SympyStepperBenchmark.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  codegen/generate_sympy_cov.py
  codegen/generate_sympy_jac.py
  codegen/generate_sympy_stepper.py
  codegen/requirements.txt
  codegen/sympy_common.py
Labels: Component - Core, Infrastructure, automerge

#3218 refactor: Explicit `nullptr` checks in `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge

#3219 fix: correctly pass calibrationContext to calibrator
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3223 fix: Fix breaking `EigenStepper` change
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
Labels: Component - Core, automerge

#3220 ci: version bump github actions
  .github/workflows/analysis.yml
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/report.yml
  .github/workflows/stale.yml
Labels: Infrastructure, automerge

#3152 fix: Fix `EigenStepper` step upscaling
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/codegen/sympy_stepper_math.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  codegen/generate_sympy_stepper.py
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3225 ci(coverage): reset threshold after #3222
  codecov.yml
Labels: automerge

#3226 fix: material loading to portals, forwarding of volumes in detector building
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorBuilder.cpp
Labels: Component - Core, automerge

#3221 ci: Update to gcovr=7.2
  .github/workflows/analysis.yml
Labels: Infrastructure, automerge

#3214 test(visualization): exception check for `drawMeasurement()`
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Core/Visualization/EventDataView3DTests.cpp
Labels: Component - Core, automerge

#3217 refactor: Remove target volume estimation from `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge

#3147 refactor: Add more comparison types for root files
  Examples/Scripts/compareRootFiles.C
Labels: Component - Examples, automerge

#3208 feat: Manual `Propagator` initialization and `AnySurfaceReached` aborter
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3239 ci: Disable metric tracking for now
  .github/workflows/analysis.yml
Labels: Infrastructure, automerge

#3232 fix: codecov coverage badge - correct branch
  README.md
Labels: automerge

#3198 feat: introduce delegate for the sourcelink creation and the measurement selection
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3241 revert: Remove target volume estimation from `Navigator` #3217
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge
