Repository acts-project/acts, pull requests merged in 2024-10, with the labels that each got.

#3667 build: Use `patch` to apply patch for Annoy
  thirdparty/Annoy/CMakeLists.txt
Labels: automerge

#3669 test(gx2f): remove ToyDetectorYdirection relic
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3663 ci: Require Sonar Analysis
  .merge-sentinel.yml
Labels: automerge

#3655 refactor: modernise type traits
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Core/include/Acts/Utilities/TransformRange.hpp
  Core/include/Acts/Utilities/detail/interpolation_impl.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Tests/UnitTests/Core/EventData/TrackStatePropMaskTests.cpp
  Tests/UnitTests/Core/Utilities/ExtendableTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding, Track Finding, Track Fitting

#3671 refactor!: Remove mean reduction from `MultiEigenStepperLoop`
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Documentation, automerge

#3672 build: Use tarball download for Annoy
  cmake/ActsExternSources.cmake
Labels: Infrastructure, automerge

#3666 refactor: Enhance `RootTrackParameterWriter` with residuals and pulls
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3673 feat(geo): TrackingVolume gets portal storage
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3676 refactor: Removed maxHits condition from ScoreBasedAmbiguitySolver
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
Labels: Component - Core, automerge, Ambiguity Resolution

#3677 ci: GitLab `-j6`
  .gitlab-ci.yml
Labels: automerge

#3653 fix(gx2f): new error `UsedUnreachableMeasurements`
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
Labels: Component - Core, automerge, Track Fitting

#3675 feat(geo): TrackingVolume gets surface storage
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3679 fix: Fix Warning messages
  CI/test_coverage.py
Labels: Infrastructure, automerge

#3614 refactor: use `std::ranges:find`, `find_if`, `find_if_not`
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Geometry/CylinderVolumeBuilder.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Surfaces/VerticesHelper.cpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/Utilities/BinningType.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/IterativeVertexFinder.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/Vertexing/src/VertexingHelpers.hpp
  Examples/Framework/src/Utilities/EventDataTransforms.cpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Vertexing, Track Finding, Track Fitting

#3470 feat: Allow volume constrain for propagation
  Core/include/Acts/Propagator/PropagatorOptions.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Track Finding

#3680 feat(geo): Extent designated initialization
  Core/include/Acts/Geometry/Extent.hpp
  Tests/UnitTests/Core/Geometry/ExtentTests.cpp
Labels: Component - Core, automerge

#3664 refactor: Unify proxy iterator types
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/EventData/SpacePointContainer.ipp
  Core/include/Acts/EventData/SpacePointProxyIterator.hpp
  Core/include/Acts/EventData/SpacePointProxyIterator.ipp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Utilities/Iterator.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/Measurement.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding

#3593 refactor: use `std::ranges::all_of`, `any_of`, `none_of`
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/src/Geometry/Extent.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/src/Utilities/EventDataTransforms.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Tests/Benchmarks/RayFrustumBenchmark.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/Assertions.hpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Track Finding

#3665 fix: Correct initial `q/p` covariance term in `TrackParamsEstimationAlgorithm` in Examples
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3689 fix: Fit iterator traits for ContainerIndexIterator
  Core/include/Acts/Utilities/Iterator.hpp
Labels: Bug, Component - Core, automerge

#3686 feat: Allow Style setting for IndexedSurfaceGrid in Svg
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/DetectorVolumeSvgConverter.hpp
  Plugins/ActSVG/src/DetectorVolumeSvgConverter.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3690 feat: Add test for space point edm
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/SpacePointContainerEdmTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3691 fix: BinUtility was auto-convertible from Transform3
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/src/Utilities/BinUtility.cpp
  Core/src/Utilities/CMakeLists.txt
Labels: Component - Core, automerge

#3688 refactor!: Do not use geometry extent during seeding
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3564 feat: Gen 3 portal shells
  Core/include/Acts/Geometry/PortalShell.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/PortalShell.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/PortalShellTests.cpp
Labels: Component - Core, automerge

#3654 feat: Add support for Timed Clusterization
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Core/include/Acts/Clusterization/TimedClusterization.hpp
  Core/include/Acts/Clusterization/TimedClusterization.ipp
  Tests/UnitTests/Core/Clusterization/CMakeLists.txt
  Tests/UnitTests/Core/Clusterization/TimedClusterizationTests.cpp
Labels: Component - Core, automerge, Clustering

#3678 refactor(geo): Add portals + surfaces to closeGeometry and visitSurfaces
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3695 refactor: use std::atan2 instead of atan2f
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/EventData/SpacePointContainer.ipp
Labels: Component - Core, automerge, Event Data Model

#3604 refactor: set convertMaterial as configurable
  Examples/Python/src/Geant4Component.cpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
Labels: Component - Examples, Component - Plugins, automerge

#3681 refactor(geo): Geometry visualization update
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/include/Acts/Visualization/IVisualization3D.hpp
  Core/include/Acts/Visualization/ObjVisualization3D.hpp
  Core/include/Acts/Visualization/PlyVisualization3D.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/GeometryView3D.cpp
  Core/src/Visualization/ObjVisualization3D.cpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Obj.cpp
  Examples/Python/src/Output.cpp
  Tests/UnitTests/Core/Visualization/Visualization3DTests.cpp
Labels: Component - Core, Component - Examples, automerge

#3697 refactor(geo): Teach ProtoLayer to respect local coordinate system
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
Labels: Component - Core, automerge

#3699 build: Use correct GM variables in cmake config
  cmake/ActsConfig.cmake.in
Labels: Infrastructure, automerge

#3685 feat: GeoModel changes for Gen1 ITk
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/ITkModuleSplitting/CMakeLists.txt
  Examples/Detectors/ITkModuleSplitting/include/ActsExamples/ITkModuleSplitting/ITkModuleSplitting.hpp
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Examples/Python/src/GeoModel.cpp
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElementITk.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/GeoModel/src/GeoModelDetectorElementITk.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Tests/UnitTests/Plugins/GeoModel/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3692 feat: add some SVG glue code to help displaying proto material
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgPointWriter.hpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SvgUtils.hpp
  Plugins/ActSVG/src/SurfaceSvgConverter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3701 refactor: Remove quick math helpers
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Utilities/QuickMath.hpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/QuickMathBenchmark.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/QuickMathTests.cpp
Labels: Component - Core, automerge

#3698 refactor: Do not insert space points if not inside grid boundaries
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3704 test: Add GeoModel plugin to Downstream project test
  Tests/DownstreamProject/CMakeLists.txt
Labels: automerge

#3703 fix: `material_recoding.py` conditional loading of GeoModel
  Examples/Scripts/Python/material_recording.py
Labels: Component - Examples, automerge

#3700 chore: remove some unnecessary includes
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepGeometryService.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementCalibration.hpp
  Examples/Framework/include/ActsExamples/EventData/SimSeed.hpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#3693 fix: Copy whole trackstate did not copy calibrated
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, automerge, Event Data Model

#3706 fix: 3ul instead of 3 for size_t
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
Labels: Component - Core, automerge, Event Data Model

#3707 fix: fix name BranchState
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Examples, automerge, Track Finding

#3696 feat(util): Add builder class for "chain" delegates
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/DelegateChainBuilder.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/DelegateChainBuilderTests.cpp
Labels: Component - Core, automerge

#3705 perf: Avoid allocations in `TrapezoidBounds::inside`
  Core/include/Acts/Surfaces/detail/BoundaryCheckHelper.hpp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Labels: Component - Core, automerge

#3708 ci: Add pre-commit check for leftover git conflict markers
  .pre-commit-config.yaml
Labels: automerge

#3694 perf: `std::sqrt` over `std::hypot` in Core
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Core/src/Material/Interactions.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Core/src/Vertexing/HelicalTrackLinearizer.cpp
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Vertexing, Seeding, Track Finding, Changes Performance

#3711 fix: adapt scripts to GeoModel updates
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation_core.py
Labels: Component - Examples, automerge

#3709 feat: Update AthenaDumpReader, allow reading only SPs
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge, Event Data Model

#3713 feat: Add GeoSimplePolygonBrep to GeoModelToDetectorVolume
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
Labels: Component - Plugins, automerge

#3712 refactor: z and r axis in grid for seeding are Open instead of Bound
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
Labels: Component - Core, automerge, Seeding

#3714 refactor: Only compute middle range once per bin
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#3718 feat: Delayed Grid construction for Portals
  Core/include/Acts/Geometry/CompositePortalLink.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/TrivialPortalLink.hpp
  Core/src/Geometry/CompositePortalLink.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/PortalLinkBase.cpp
  Core/src/Geometry/TrivialPortalLink.cpp
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
Labels: Component - Core, automerge

#3716 fix(geo): CylVolStack reuses gaps if exist
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core

#3717 refactor: Python binding bits and pieces
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/PortalShell.hpp
  Core/src/Geometry/PortalShell.cpp
  Examples/Python/src/Base.cpp
  Examples/Python/src/Geometry.cpp
  Tests/UnitTests/Core/Geometry/PortalShellTests.cpp
Labels: Component - Core, Component - Examples, automerge

#3730 feat: adding dot graph possibility
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Examples/Python/src/GeoModel.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

#3723 refactor: Combine material, measurement and hole handling in Core CKF `filter`
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
Labels: Component - Core, automerge, Track Finding

#3720 refactor: Add some requirements
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Seeding/detail/UtilityFunctions.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3732 refactor: Integrate source link container into measurements container in Examples
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MeasurementCreation.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/MeasurementMapSelector.hpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Algorithms/Utilities/src/TrajectoriesToPrototracks.cpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementConcept.hpp
  Examples/Framework/src/EventData/Measurement.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementReader.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Examples/Python/src/EDM4hepComponent.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/Utilities.cpp
  Examples/Python/tests/test_reader.py
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/WhiteBoardUtilities.hpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#3734 fix: Incorrect sanity check in TrackingVolume removed
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#3736 build: Pick up GeoModel v6 or v7
  CMakeLists.txt
  docs/getting_started.md
Labels: Component - Documentation, automerge

#3728 docs: Add comment on computation of impact parameter from the doublet
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#3702 fix: Implement `DirectNavigator` direction handling
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3747 fix: FPE monitoring boost discovery, addr2line fallback
  CMakePresets.json
  Examples/Framework/src/Framework/Sequencer.cpp
  Plugins/FpeMonitoring/CMakeLists.txt
  Plugins/FpeMonitoring/include/Acts/Plugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3682 feat: Allow reflection of track parameters
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/TransformationHelpers.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3683 feat: Add `estimateTrackParamCovariance` to Core
  Core/CMakeLists.txt
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding, Changes Performance

#3744 fix: Handle Fatras immediate abort edge case
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Fatras, automerge

#3740 fix: fix nMeasurements() comment
  Core/include/Acts/EventData/TrackProxy.hpp
Labels: Component - Core, automerge, Event Data Model

#3640 fix: TrackSelector remove broken m_noEtaCuts
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Labels: Component - Core, automerge, Track Finding

#3727 refactor: explicit `hasStackTraces()` in FPE
  Examples/Framework/src/Framework/Sequencer.cpp
  Plugins/FpeMonitoring/include/Acts/Plugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3724 feat: Track parameters json converter
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Plugins/Json/include/Acts/Plugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/TrackParametersJsonConverter.hpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/TrackParametersJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3739 feat: Make it possible to turn off warnings in GSF
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
Labels: Component - Core, Component - Examples, automerge, Track Fitting, Changes Performance

#3753 fix: Don't use `mp.get_context("spawn")` in test
  Examples/Python/tests/test_reader.py
Labels: Component - Examples, automerge

#3752 fix: Move `default` constructor impl in CPP file
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
Labels: Component - Core, automerge

#3758 fix: `#include <algorithm>` in HoughTransformUtils for `std::sort`
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
Labels: Component - Core, automerge, Seeding

#3746 refactor: Group all ROOT writers together
  Examples/Io/CMakeLists.txt
  Examples/Io/NuclearInteractions/CMakeLists.txt
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/CKFPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/SeedingPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFitterPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/detail/NuclearInteractionParametrisation.hpp
  Examples/Io/Root/src/CKFPerformanceWriter.cpp
  Examples/Io/Root/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/SeedingPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/VertexPerformanceWriter.cpp
  Examples/Io/Root/src/detail/NuclearInteractionParametrisation.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#3742 refactor: Rework particle selection in Examples
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/hashing_seeding.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3751 fix: TrackFinding: skip second pass if out of bounds
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Track Finding, Changes Performance

#3748 fix: DetrayMaterialConversion for Gen2
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayMaterialConverter.hpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayGeometryConverterTests.cpp
Labels: Component - Plugins, automerge

#3721 fix: Potential segfault in AthenaDumpReader
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Labels: Component - Examples, automerge

#3684 fix: Guarantee angle periodicity after KF filtering and smoothing
  Core/include/Acts/EventData/TrackParameterHelpers.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/MbfSmoother.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Fitting, Changes Performance

#3735 ci: Use `TrackFitterPerformance` writer for CKF
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderPerformanceWriter.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/seeding.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3745 refactor: Rename `VertexPerformanceWriter` to `VertexNTupleWriter`
  Examples/Io/Performance/CMakeLists.txt
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexNTupleWriter.hpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, automerge

#3737 refactor: Rename `TrackFinderPerformanceWriter` in Examples
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderNTupleWriter.hpp
  Examples/Io/Root/src/TrackFinderNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_writer.py
  Examples/Scripts/TrackingPerformance/TreeReader.h
Labels: Component - Examples, automerge

#3763 refactor: Rename `CKFPerformanceWriter` in Examples
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderPerformanceWriter.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3761 refactor: explicit constructors (non-core)
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialPhysicsList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/PhysicsListFactory.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SteppingActionList.hpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.hpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/MultiplicityGenerators.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepGeometryService.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBField.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/MockupSectorBuilder.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Framework/include/ActsExamples/EventData/SpacePointContainer.hpp
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/include/ActsExamples/Utilities/tbbWrap.hpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/HelloWorld/HelloLoggerAlgorithm.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/detail/NuclearInteractionParametrisation.hpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioDynamicColumns.hpp
Labels: Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Track Finding

#3725 refactor: Generalizing telescope seeding interface
  Core/include/Acts/Seeding/PathSeeder.hpp
  Core/include/Acts/Seeding/detail/UtilityFunctions.hpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
Labels: Component - Core, automerge, Seeding

#3520 ci: Download dependencies as tarball
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies.sh
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackfitting_kf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/reference/trackrefitting_kf/performance_trackrefitting.root
  CMakeLists.txt
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3771 ci: Reset `ccache` caches
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3772 test: Reduce logging amount in fitter unit tests
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
Labels: Component - Core, automerge, Track Fitting

#3773 chore: Fix license header in pre commit hooks
  .pre-commit-config.yaml
Labels: automerge

#3764 feat: Add tracking efficiency vs z0
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  CI/physmon/reference/trackfitting_kf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/reference/trackrefitting_kf/performance_trackrefitting.root
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3767 feat: Add `AngleHelpers.hpp` to help with eta/theta conversions
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/include/Acts/Utilities/AngleHelpers.hpp
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSelector.cpp
  Examples/Python/src/Generators.cpp
  Examples/Scripts/fullMaterial.C
  Examples/Scripts/momentumDistributions.C
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.ipp
  Tests/UnitTests/Core/Utilities/AngleHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/VectorHelpersTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Vertexing, Track Finding

#3776 chore: update exclude list for unused files
  CI/check_unused_files.py
Labels: Infrastructure, automerge

#3766 fix: Improve `TrackParameterHelpers.hpp`
  Core/include/Acts/EventData/TrackParameterHelpers.hpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/TrackParameterHelpersTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3760 feat(nav): Gen3 Navigation policies and factory
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Navigation.cpp
  Examples/Python/tests/test_navigation.py
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Labels: Component - Core, Component - Examples, automerge

#3777 refactor: Rework random parameter and covariance generation
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Event Data Model

#3779 build: Unconditionally load Boost in CMake config
  cmake/ActsConfig.cmake.in
  thirdparty/README.md
Labels: Infrastructure, automerge

#3782 ci: Bump dependency tarball version to v5
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3786 ci: dependency URL not set correctly
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#3783 chore(tests): brush over surface tests
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTestsRefs.hpp
  Tests/UnitTests/Core/Surfaces/ConeBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiamondBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscTrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/EllipseBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/InfiniteBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PerigeeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/RadialBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RectangleBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/StrawSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/VerticesHelperTests.cpp
Labels: Component - Core, automerge

#3787 refactor: replace `fabs(` and `sqrtf(` with `std::abs` and `std::sqrt(`
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/MaterialMapUtils.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Scripts/MaterialMapping/Mat_map.C
  Fatras/include/ActsFatras/Physics/NuclearInteraction/NuclearInteraction.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/GeoModel/src/detail/GeoPolygonConverter.cpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.hpp
  Plugins/Legacy/include/Acts/Seeding/AtlasSeedFinder.ipp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Vertexing, Seeding, Track Fitting

#3789 fix: Make callable args universal references
  Core/include/Acts/Utilities/DelegateChainBuilder.hpp
Labels: Component - Core, automerge

#3780 fix: Remove a number of Sonar issues
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Examples/Python/src/Navigation.cpp
Labels: Component - Core, Component - Examples, automerge

#3756 feat: Validate track parameters
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/TrackParameterHelpers.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/TrackParameterHelpers.cpp
  Tests/UnitTests/Core/EventData/TrackParameterHelpersTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
  Tests/UnitTests/Plugins/Json/TrackParametersJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model, Vertexing

#3731 fix: Do not use requires in class EDM definition
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
Labels: Bug, Component - Core, automerge, Event Data Model

#3785 fix: protect TrackSelector against eta=nan
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
Labels: Component - Core, automerge, Track Finding

#3741 chore: Update PR template, add cut-off marker
  .github/pull_request_template.md
  .kodiak.toml
Labels: Infrastructure, automerge

#3792 refactor: Improve log in seeding
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3507 fix: Require TBB to be found by cmake
  CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Utilities/tbbWrap.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  docs/getting_started.md
Labels: Component - Examples, Component - Documentation, automerge

#3797 chore: change coverage badge from codecov to sonarcloud
  README.md
Labels: automerge

#3799 refactor(gx2f): analyse temporary track in an extra function
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3803 fix: Wrong definition of the constraint
  Core/include/Acts/Seeding/SeedFinder.hpp
Labels: Component - Core, automerge, Seeding

#3801 refactor(gx2f): improve logging
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#3793 refactor: Tweak `Sequencer` alias handling and logging in Examples
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge
