Repository acts-project/acts, pull requests merged in 2024-09, with the labels that each got.

#3442 test: Check if we end up in the expected volume in Gen1 `Navigator`
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, Infrastructure, automerge, Changes Performance

#3583 fix: clear the m_r vector
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3584 refactor: Write smoothed states in GX2F
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/TrackFitting/GlobalChiSquareFitter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#3589 refactor!: Remove `Utilities/detail/Subspace.hpp`
  Core/include/Acts/Utilities/detail/Subspace.hpp
Labels: Component - Core, automerge

#3586 fix: Allow resetting reference surface in Track EDM
  Core/include/Acts/EventData/TrackProxy.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3587 refactor: Rework tracklet handling in Examples track finding
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Examples, automerge, Track Finding

#3528 feat: Memory dense `MeasurementContainer` for Examples
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MeasurementCreation.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/src/EventData/Measurement.cpp
  Examples/Framework/src/EventData/MeasurementCalibration.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
  Tests/UnitTests/Examples/Io/Csv/MeasurementReaderWriterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Track Finding, Track Fitting

#3590 ci(sonarcloud): fix shallow clone
  .github/workflows/sonarcloud.yml
Labels: Infrastructure, automerge

#3579 feat: detray geometry/material conversion in examples
  .gitlab-ci.yml
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationAlgorithm.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayStore.hpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Detray.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Traccc.cpp
  Examples/Python/src/TracccStub.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayMaterialConverter.hpp
  Plugins/Detray/src/DetrayConverter.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalDetector.cpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/CylindricalDetector.hpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Plugins/ActSVG/DetectorSvgConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayGeometryConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3193 refactor!: Template algorithms on track container frontend `TrackContainer`
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/EventData/TrackContainerFrontendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyConcept.hpp
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityDBScanClustering.hpp
  Plugins/EDM4hep/include/Acts/Plugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  docs/core/eventdata/tracks.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge, Event Data Model, Track Finding, Track Fitting, Ambiguity Resolution

#3588 refactor!: Remove `EventData/TrackHelpers.hpp`
  Core/include/Acts/EventData/TrackHelpers.hpp
Labels: Component - Core, automerge, Event Data Model

#3494 fix!: make material validity checks and construction explicit
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Core/src/Material/AverageMaterials.cpp
  Core/src/Material/Interactions.cpp
  Core/src/Material/Material.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Material/AccumulatedMaterialSlabTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/AverageMaterialsTests.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge

#3561 refactor: Write unbiased states only for smoothed in `RootTrackStatesWriter`
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3591 refactor!: Remove deprecated API
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Vertexing/Vertex.cpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/TrackParametersDatasets.hpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/IntersectionHelper2DTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceLocalToGlobalRoundtripTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceDriftTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
  Tests/UnitTests/Plugins/Json/PortalJsonConverterTests.cpp
Labels: Component - Core, Component - Fatras, Component - Plugins, automerge, Event Data Model, Vertexing, Track Finding, Track Fitting, Breaks Athena build, Fails Athena tests

#3534 feat: Allow user to supply root branch to Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#3599 fix: remove pre-C++20 `std::identity` implementation
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/Utilities/Identity.hpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3595 refactor: Volume holds bounds as mutable
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/Volume.cpp
  Examples/Python/src/Base.cpp
  Examples/Python/src/Geometry.cpp
Labels: Component - Core, Component - Examples, automerge

#3308 refactor!: path handling to use `std::filesystem`
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/include/Acts/Visualization/IVisualization3D.hpp
  Core/include/Acts/Visualization/ObjVisualization3D.hpp
  Core/include/Acts/Visualization/PlyVisualization3D.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/include/Acts/Visualization/detail/PlyVisualization3D.ipp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/GeometryView3D.cpp
  Core/src/Visualization/IVisualization3D.cpp
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
Labels: Component - Core, Component - Examples, automerge

#2865 refactor!: Replace `EigenStepper` extension list with single extension
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseEnvironmentExtension.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/StepperExtensionList.hpp
  Core/include/Acts/Propagator/detail/Auctioneer.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/UnitTests/Core/Propagator/AuctioneerTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  docs/core/propagation.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Track Fitting, Breaks Athena build

#3597 fix: Stitch tracks correctly after second pass in Examples Track Finding
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Labels: Component - Examples, automerge, Track Finding

#3601 refactor: replace `Acts::min_max` with `std::ranges::minmax_element`
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Labels: Component - Core, automerge

#3603 refactor!: Rename `EigenStepper` dense extension
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  docs/core/propagation.md
Labels: Component - Core, Component - Documentation, automerge

#3600 refactor: update `to_array`
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Detector/VolumeStructureBuilder.cpp
  Tests/UnitTests/Core/Geometry/GenericCuboidVolumeBoundsTests.cpp
Labels: Component - Core, automerge

#3594 refactor: modernise GeometryHierarchyMap
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
Labels: Component - Core, automerge

#3598 refactor: add C++23 `std::ranges::contains` place holder
  Core/include/Acts/Detector/detail/IndexedGridFiller.hpp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/Svg.cpp
  Examples/Scripts/MaterialMapping/Mat_map_detector_plot.C
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/Json/src/DetectorJsonConverter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Utilities/KDTreeTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Clustering, Vertexing, Track Finding, Track Fitting

#3606 fix: adding GeomentryId to detray portals
  Plugins/Detray/src/DetrayGeometryConverter.cpp
Labels: Component - Plugins

#3576 refactor: Changed the GeoModelToDetectorVolume to be able to return Acts::Volumes
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Plugins/GeoModel/src/detail/GeoPolygonConverter.cpp
  Tests/UnitTests/Plugins/GeoModel/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoPolyConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Plugins, automerge

#3602 feat: add counters to propagation summary
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationSummaryWriter.hpp
  Examples/Io/Root/src/RootPropagationSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/geomodel.py
Labels: Component - Examples, automerge, Changes Performance

#3585 feat: generalized conversion of FullPhysicalVolume
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Plugins, automerge

#3513 refactor!: `VolumeBounds` becomes a scoped enum
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Geometry/VolumeBounds.cpp
Labels: Component - Core, automerge, Fails Athena tests

#3613 refactor: Make `ViewConfig` usable with designated initializers
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Io/Obj/include/ActsExamples/Plugins/Obj/ObjTrackingGeometryWriter.hpp
  Examples/Python/src/Obj.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Core/Visualization/PrimitivesView3DBase.hpp
  Tests/UnitTests/Core/Visualization/TrackingGeometryView3DBase.hpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorSurfaceFactoryTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Track Fitting

#3616 fix: Remove `using namespace` in Detray plugin header
  Examples/Python/src/Geometry.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
Labels: Component - Examples, Component - Plugins, automerge

#3621 chore: Fix doc commment flavor in BoundingBox
  Core/include/Acts/Utilities/BoundingBox.hpp
Labels: Component - Core, automerge

#3624 feat: broadcast dataflow check to python
  Examples/Python/src/Framework.cpp
Labels: Component - Examples, automerge

#3612 refactor: TrackingGeometry interface cleanup
  CI/physmon/workflows/physmon_simulation.py
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge

#3611 refactor: Improved Python bindings for algebra types
  Examples/Python/src/Base.cpp
Labels: Component - Examples, automerge

#3619 feat: Improvements to multitrajectory iterators
  Core/include/Acts/EventData/MultiTrajectory.hpp
Labels: Component - Core, automerge, Event Data Model

#3628 refactor: Modified from_json in AmbiguityConfigJson for easier implementation in Athena
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
Labels: Component - Core, Component - Plugins, automerge, Ambiguity Resolution

#3631 chore: synchronize versions
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Labels: Infrastructure, automerge

#3622 refactor: Visualization3D location and API
  Core/include/Acts/Geometry/Polyhedron.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  Core/include/Acts/Visualization/IVisualization3D.hpp
  Core/include/Acts/Visualization/ObjVisualization3D.hpp
  Core/include/Acts/Visualization/PlyVisualization3D.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/include/Acts/Visualization/detail/PlyVisualization3D.ipp
  Core/src/Geometry/Polyhedron.cpp
  Core/src/Geometry/Volume.cpp
  Core/src/Surfaces/Surface.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
  Examples/Python/src/Obj.cpp
  Examples/Python/src/Output.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
  Tests/UnitTests/Core/Visualization/Visualization3DTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorSurfaceFactoryTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3636 refactor(geo): Portal(Link)+Surface verbosity reduction
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/PortalLinkBase.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
Labels: Component - Core, automerge

#3635 feat(util): Add GraphViz helper types
  Core/include/Acts/Utilities/GraphViz.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/GraphViz.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GraphVizTests.cpp
Labels: Component - Core, automerge

#3626 feat: Allow digitization to save cells
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Python/src/Digitization.cpp
Labels: Component - Examples, automerge

#3630 refactor: Reduce abuse of auto in mbf smoother
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/src/TrackFitting/MbfSmoother.cpp
Labels: Component - Core, automerge, Track Fitting

#3488 refactor!: SourceLink setting only via rvalue reference
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
Labels: Component - Core, automerge, Event Data Model

#3638 docs: Add minimal Spack spec for ACTS core
  docs/misc/spack.md
Labels: Component - Documentation, automerge

#3634 build: Update traccc to v0.16.0
  CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  Examples/Python/src/Traccc.cpp
  Plugins/Detray/CMakeLists.txt
  cmake/ActsConfig.cmake.in
  cmake/ActsExternSources.cmake
  thirdparty/detray/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
  thirdparty/traccc/warnings.diff
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#3625 refactor: Remove Sequencer dataflow override
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/Framework.cpp
Labels: Component - Examples, automerge

#3573 refactor!: Fuse `Actor` and `Aborter`
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Propagator/AbortList.hpp
  Core/include/Acts/Propagator/ActionList.hpp
  Core/include/Acts/Propagator/ActorConcepts.hpp
  Core/include/Acts/Propagator/ActorList.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorOptions.hpp
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Propagator/detail/abort_list_implementation.hpp
  Core/include/Acts/Propagator/detail/action_list_implementation.hpp
  Core/include/Acts/Propagator/detail/actor_list_implementation.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/Utilities/detail/MPL/type_collector.hpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/CommonHelpers/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/IntegrationTests/NavigatorConsistency.cpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  docs/core/propagation.md
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Documentation, automerge, Track Finding, Track Fitting

#3646 chore: update to detray version v0.75.3
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/detray/CMakeLists.txt
Labels: Infrastructure

#3608 feat: add Detray surface grid converter
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetraySurfaceGridsConverter.hpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetraySurfaceGridsConverter.cpp
Labels: Component - Plugins

#3642 refactor: Remove MPL library
  Core/include/Acts/Propagator/ActorConcepts.hpp
  Core/include/Acts/Propagator/ActorList.hpp
  Core/include/Acts/Propagator/detail/actor_list_implementation.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Core/include/Acts/Utilities/detail/Extendable.hpp
  Core/include/Acts/Utilities/detail/MPL/all_of.hpp
  Core/include/Acts/Utilities/detail/MPL/any_of.hpp
  Core/include/Acts/Utilities/detail/MPL/are_sorted.hpp
  Core/include/Acts/Utilities/detail/MPL/are_within.hpp
  Core/include/Acts/Utilities/detail/MPL/at_index.hpp
  Core/include/Acts/Utilities/detail/MPL/has_duplicates.hpp
  Core/include/Acts/Utilities/detail/MPL/type_collector.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/MPLTests.cpp
Labels: Component - Core, automerge

#3644 fix: Reject outliers while trimming track states in Core CKF
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#3627 feat: Add measurement emplace functions
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/MeasurementConcept.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Tests/UnitTests/Examples/EventData/MeasurementTests.cpp
Labels: Component - Examples, automerge, Event Data Model

#3648 fix: Reject material states when no measurements are found yet in Core CKF
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/tracksummary_ckf_hist.root
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, Track Finding, Changes Performance

#3649 feat: added new SVG functionality
  Examples/Python/src/Svg.cpp
  Examples/Scripts/Python/detector_creation.py
  Examples/Scripts/Python/geomodel.py
Labels: Component - Examples, automerge

#3650 perf: Use sympy generated transport jacobians for sympy covariance transport
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3651 ci: Bump core count in GitLab CI to 8
  .gitlab-ci.yml
Labels: automerge

#3637 fix: kf+gsf: correct hole-tagging for edge case
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Track Fitting, Changes Performance

#3652 feat: allow detray sterile/non-sterile propagation
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Traccc.cpp
Labels: Component - Examples, automerge

#3391 refactor!: Return all track states from Core CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Changes Performance, Breaks Athena build, Fails Athena tests

#3660 refactor: remove redundant `operator!=`, introduce `operator<=>`
  Core/ActsVersion.hpp.in
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/SpacePointProxyIterator.hpp
  Core/include/Acts/EventData/SpacePointProxyIterator.ipp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/detail/DynamicKeyIterator.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/Geometry/Extent.hpp
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/GridIterator.ipp
  Core/include/Acts/Utilities/MultiIndex.hpp
  Core/include/Acts/Utilities/TransformRange.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/include/Acts/Vertexing/TrackAtVertex.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Framework/include/ActsExamples/EventData/IndexSourceLink.hpp
  Examples/Framework/include/ActsExamples/EventData/Measurement.hpp
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Framework/include/ActsExamples/Utilities/GroupBy.hpp
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CantorEdge.hpp
  Tests/Benchmarks/SourceLinkBenchmark.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Seeding, Track Finding

#3659 refactor: remove `inline` from `constexpr` functions for clarity
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Utilities/TypeList.hpp
  Core/src/Definitions/ParticleData.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
Labels: Component - Core, automerge

#3658 fix: replace asctime with `strftime` for safer date formatting
  Plugins/Json/src/DetectorJsonConverter.cpp
Labels: Component - Plugins, automerge

#3645 feat: Support seed from N space points
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/SeedEdmTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3670 refactor: use `contains` for maps and sets
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Visualization/detail/ObjVisualization3D.ipp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/Detector.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/EventData/VectorTrackContainer.cpp
  Core/src/Material/MaterialInteractionAssignment.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Core/src/Vertexing/AdaptiveGridTrackDensity.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfig.cpp
  Examples/Algorithms/Geant4/src/Geant4Manager.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.cpp
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Python/src/Base.cpp
  Examples/Python/src/Svg.cpp
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/MaterialMapping/materialPlotHelper.cpp
  Examples/Scripts/TrackingPerformance/ResidualsAndPulls.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/Benchmarks/BinUtilityBenchmark.cpp
  Tests/Benchmarks/StepperBenchmarkCommons.hpp
  Tests/UnitTests/Core/Seeding/UtilityFunctionsTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/Utilities/GridIterationTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Seeding, Track Finding, Track Fitting

#3668 feat: adding possibility to read flat surface container
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonSurfacesReader.hpp
  Examples/Io/Json/src/JsonSurfacesReader.cpp
  Examples/Python/src/Json.cpp
Labels: Component - Examples, automerge
