Repository acts-project/acts, pull requests merged in 2024-07, with the labels that each got.

#3328 chore: Fix a number of SonarQube reliability issues
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Core/include/Acts/Utilities/Logger.hpp
  Core/include/Acts/Utilities/ThrowAssert.hpp
  Core/include/Acts/Utilities/detail/ContextType.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Utilities/Logger.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Core/src/Vertexing/IterativeVertexFinder.cpp
  Core/src/Vertexing/NumericalTrackLinearizer.cpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Printers/ActsExamples/Printers/ParticlesPrinter.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/src/DD4hepDetectorStructure.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Seeding, Track Finding, Track Fitting, Ambiguity Resolution

#3335 feat: `Surface::toStream` overload without stream argument
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/src/Surfaces/PerigeeSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PerigeeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/StrawSurfaceTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#3331 feat: `VariableSizeSubspace`
  Core/include/Acts/Utilities/detail/Subspace.hpp
  Tests/UnitTests/Core/Utilities/SubspaceTests.cpp
Labels: Component - Core, automerge, Fails Athena tests

#3341 fix(vertexing): IterativeVertexFinder config takes const field
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
Labels: Component - Core, automerge, Vertexing

#2682 feat: GSF Debugger
  Examples/Python/tests/test_misc.py
  Examples/Scripts/GsfDebugger/README.md
  Examples/Scripts/GsfDebugger/make_gsf_verbose_log.py
  Examples/Scripts/GsfDebugger/requirements.txt
  Examples/Scripts/GsfDebugger/src/drawers.py
  Examples/Scripts/GsfDebugger/src/main.py
  Examples/Scripts/GsfDebugger/src/processors.py
  Examples/Scripts/GsfDebugger/src/widgets.py
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_0.jpg
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_1.jpg
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_2.jpg
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_4.jpg
  docs/examples/howto/figures/gsf_debugger/gsf_debugger_5.jpg
  docs/examples/howto/gsf_debugger.md
  docs/examples/howto/howto.md
Labels: Component - Examples, Component - Documentation, automerge

#3347 ci: Bump histcmp to v0.6.6
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3069 refactor: Do not allocate memory if the surface is connected with a detector el…
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/CylinderLayer.cpp
  Core/src/Geometry/DiscLayer.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
Labels: Component - Core, automerge

#3303 build: Public Header Relocatability, main branch (2024.06.18.)
  Alignment/CMakeLists.txt
  Fatras/CMakeLists.txt
  Fatras/Geant4/CMakeLists.txt
  Plugins/FpeMonitoring/CMakeLists.txt
  Plugins/Json/CMakeLists.txt
  thirdparty/FRNN/CMakeLists.txt.in
Labels: Component - Fatras, Component - Plugins, automerge

#3344 refactor: cleaning the code for filling cylindrical grid
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
Labels: Component - Core, automerge, Seeding

#3343 feat: Silence excessive verbosity of the IVF Algorithm in Examples
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
Labels: Component - Examples, automerge, Vertexing

#3299 feat: Detray plugin geometry
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Detray.cpp
  Examples/Python/src/DetrayStub.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Scripts/Python/detector_creation.py
  Plugins/CMakeLists.txt
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionHelper.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  Plugins/Detray/src/DetrayConverter.cpp
Labels: Component - Examples, Component - Plugins

#3227 ci: Update CI job to newer OS (drop ubuntu 20.04, centos7/8)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulater.cpp
  Core/src/Material/MaterialValidater.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/TrackingPerformance/boundParamResolution.C
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  docs/getting_started.md
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, Component - Documentation, automerge, Track Finding, Changes Performance

#3351 fix: GeoModel plugin
  Examples/Scripts/Python/geomodel.py
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoModelBinningHelper.hpp
  Plugins/GeoModel/src/detail/GeoModelExtentHelper.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3353 fix: Re-enable Exa.TrkX build without CUDA, make configuration explicit
  .gitlab-ci.yml
  CMakeLists.txt
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  docs/getting_started.md
Labels: Component - Plugins, Component - Documentation, automerge

#3346 ci: Switch macOS build to use CMake-based dependencies
  .github/workflows/builds.yml
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Plugins/Geant4/CMakeLists.txt
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4Converters.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/Geant4/src/Geant4DetectorSurfaceFactory.cpp
  Plugins/Geant4/src/Geant4PhysicalVolumeSelectors.cpp
  Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/Geant4/Geant4SurfaceProviderTests.cpp
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#3352 feat: Add `nCleanVtx` to `VertexPerformanceWriter` in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.hpp
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3342 feat: Select space points used to fill the seeding grid via delegate function. Add experimentCuts support
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, Seeding, Track Finding

#3327 ci: Add GeoModel Plugin to CI
  .github/workflows/builds.yml
  CMakeLists.txt
  Plugins/GeoModel/CMakeLists.txt
  cmake/ActsConfig.cmake.in
Labels: Infrastructure, Component - Plugins, automerge

#3355 ci: Re-enable the Examples unit tests in the CI
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3362 fix: Clean includes in `Geant4Manager`
  Examples/Algorithms/Geant4/src/Geant4Manager.cpp
Labels: Component - Examples, automerge

#3161 refactor!: Use track container in Core `CKF` and pass track proxies to delegates
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Track Finding, Changes Performance

#3192 refactor!: Track EDM brush over
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.ipp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model, Track Finding, Track Fitting

#3356 refactor: Cluster features for GNN pipeline
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Labels: Component - Examples, automerge, Event Data Model, Track Finding

#3354 refactor: Truth graph metrics for Exa.TrkX with separate algorithm
  Examples/Algorithms/TrackFindingExaTrkX/CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TruthGraphBuilder.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TruthGraphBuilder.cpp
  Examples/Framework/include/ActsExamples/EventData/Graph.hpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvExaTrkXGraphReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvExaTrkXGraphWriter.hpp
  Examples/Io/Csv/src/CsvExaTrkXGraphReader.cpp
  Examples/Io/Csv/src/CsvExaTrkXGraphWriter.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge, Event Data Model, Track Finding

#3360 feat: Add compatibility for PODIO 1.x
  CMakeLists.txt
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMultiTrajectoryWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitWriter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackWriter.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackReader.cpp
  Plugins/CMakeLists.txt
  Plugins/EDM4hep/CMakeLists.txt
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioUtil.hpp
  Tests/UnitTests/Plugins/Podio/PodioTrackContainerTest.cpp
  Tests/UnitTests/Plugins/Podio/PodioTrackStateContainerTest.cpp
Labels: Component - Examples, Component - Plugins, automerge

#3358 feat: Improve Athena Dump reader
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Labels: Component - Examples

#3369 ci: Correct variables name ACTS_BUILD_EXAMPLES_UNIT_TESTS to ACTS_BUILD_EXAMPLES_UNITTESTS
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#3365 feat: gen2 navigation debugged
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagationOptions.hpp
  Examples/Python/python/acts/__init__.py
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/src/Propagation.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core, Component - Examples, automerge

#3371 docs: Update link to format dockerfile
  CONTRIBUTING.rst
Labels: automerge

#3370 test: Reduce number of combinations in TrackParametersDatasets
  Tests/UnitTests/Core/EventData/TrackParametersDatasets.hpp
Labels: Component - Core, automerge, Event Data Model

#3373 docs: Label as docs changes to rst files
  .github/labeler.yml
Labels: Infrastructure, automerge

#3339 fix: SonarQube fixes as follow up to #3337
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3345 build: Bump minimum required C++ standard to 20
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  cmake/ActsCompilerOptions.cmake
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Fitting, Changes Performance

#3376 chore: Fix two issues raised by sonar
  Core/include/Acts/EventData/ChargeConcept.hpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model

#3377 ci: Move missing include test from c++17 to c++20
  CI/missing_include_check.sh
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
Labels: Component - Core, Infrastructure, automerge, Event Data Model

#3375 ci: Add pythia8 particles and vertices to physmon output
  .github/workflows/builds.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/pythia8_ttbar_config.yml
  CI/physmon/reference/particles_ttbar_hist.root
  CI/physmon/reference/vertices_ttbar_hist.root
  CI/physmon/workflows/physmon_track_finding_ttbar.py
Labels: Infrastructure, Changes Performance

#3384 fix: Downgrade Pythia8 to v10 from v12
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/iwyu.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  CI/physmon/reference/particles_ttbar_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/reference/vertices_ttbar_hist.root
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, Changes Performance

#3182 refactor!: Refactor navigator options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#3386 fix: Fix and refactor digitization parametrization in Examples
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
Labels: Component - Examples, automerge

#3367 refactor!: use c++20 concept to define insert function for different types of seed collections
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/detail/UtilityFunctions.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Seeding/UtilityFunctionsTests.cpp
  docs/core/reconstruction/pattern_recognition/seeding.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Seeding, Track Finding

#3390 chore: Drop `IWYU`
  .github/workflows/iwyu.yml
  CI/iwyu/README.md
  CI/iwyu/filter.py
  CI/iwyu/filter.yaml
  CI/iwyu/mapping-boost.imp
  CI/iwyu/mapping-eigen.imp
  CI/iwyu/mapping-pythia.imp
  CI/iwyu/mapping.imp
Labels: Infrastructure, automerge

#3368 fix: Use 70% truth matching threshold for `VertexPerformanceWriter` in Examples
  CI/physmon/reference/performance_amvf_gridseeder_seeded_hist.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_orthogonal_hist.root
  CI/physmon/reference/performance_amvf_seeded_hist.root
  CI/physmon/reference/performance_amvf_truth_estimated_hist.root
  CI/physmon/reference/performance_amvf_truth_smeared_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ivf_orthogonal_hist.root
  CI/physmon/reference/performance_ivf_seeded_hist.root
  CI/physmon/reference/performance_ivf_truth_estimated_hist.root
  CI/physmon/reference/performance_ivf_truth_smeared_hist.root
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3387 refactor!: Clean up `GainMatrixUpdater` a bit
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitterError.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/TrackFitting/detail/VoidFitterComponents.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/KalmanFitterError.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Labels: Component - Core, automerge, Track Finding, Track Fitting

#3385 chore: Use C++20 concepts unconditionally
  Core/include/Acts/Detector/Detector.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/DetectorVolumeVisitorConcept.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/ChargeConcept.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackContainerBackendConcept.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicKeyIterator.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/TrackingVolumeVisitorConcept.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/Surfaces/SurfaceVisitorConcept.hpp
  Core/include/Acts/Utilities/Concepts.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/TensorVectorConversion.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#3183 refactor!: Refactor direct navigator initialization
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  docs/core/propagation.md
Labels: Component - Core, Component - Documentation, automerge, Track Fitting

#3374 refactor: Refactor `RootTrackStateWriter` in Examples
  Examples/Framework/include/ActsExamples/EventData/Track.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Event Data Model, Changes Performance

#3392 fix: Poke at Pythia8 to make it reproducible
  CI/physmon/reference/particles_ttbar_hist.root
  CI/physmon/reference/performance_ambi_ttbar.root
  CI/physmon/reference/performance_amvf_gridseeder_ttbar_hist.root
  CI/physmon/reference/performance_amvf_ttbar_hist.root
  CI/physmon/reference/performance_ckf_ttbar.root
  CI/physmon/reference/performance_seeding_ttbar.root
  CI/physmon/reference/tracksummary_ckf_ttbar_hist.root
  CI/physmon/reference/vertices_ttbar_hist.root
  CMakeLists.txt
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
  Examples/Python/src/Pythia8.cpp
  Examples/Python/tests/root_file_hashes.txt
  cmake/FindPythia8.cmake
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#3189 refactor!: Move `Navigator` external surfaces into options
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge, Track Fitting

#3349 refactor: Make the MagneticFieldContext & GeometryContext to be hard types
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/MagneticField/MagneticFieldContext.hpp
  Core/include/Acts/Utilities/CalibrationContext.hpp
  Examples/Python/src/Base.cpp
  Examples/Python/src/Framework.cpp
  Examples/Python/src/ModuleEntry.cpp
  docs/_extensions/lazy_autodoc.py
  docs/core/magnetic_field.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge

#3400 docs: Load linkcheck ignore patterns from URL
  docs/conf.py
Labels: Component - Documentation, automerge

#3394 feat: Allow exclusion of pdg ids in ParticleSelector
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#3397 fix: fixing division that was causing FPE
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
Labels: Component - Core, automerge, Seeding

#3399 chore: Bump pybind11 to v2.13.1
  Examples/Python/src/Base.cpp
  cmake/ActsExternSources.cmake
Labels: Infrastructure, Component - Examples, automerge

#3388 refactor: Use `requires` in Track EDM
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
Labels: Component - Core, automerge, Event Data Model, Breaks Athena build

#3393 refactor!: Remove redundant variables from Seed filter state
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.ipp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  docs/core/reconstruction/pattern_recognition/seeding.md
Labels: Component - Core, Component - Documentation, Seeding

#3405 chore: Clean LCG setup
  CI/setup_cvmfs_lcg.sh
  CI/setup_cvmfs_lcg100.sh
  CI/setup_cvmfs_lcg101.sh
  CI/setup_cvmfs_lcg105.sh
Labels: Infrastructure, automerge

#3401 fix: setting current surface fix for DetectorNavigator
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
Labels: Component - Core, automerge

#3404 fix: Fix and enable testing for RefittingAlgorithm
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/RefittingCalibrator.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
Labels: Component - Examples, automerge, Track Fitting

#3389 feat: new material comparison script
  Examples/Scripts/MaterialMapping/material_comparison.py
Labels: Component - Examples, automerge

#3408 fix: Fix try all navigators after running with track finding
  Core/include/Acts/Propagator/TryAllNavigator.hpp
Labels: Component - Core, automerge

#3406 feat: Make vertexing in Examples more configurable
  Core/include/Acts/Utilities/AnnealingUtility.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Core, Component - Examples, automerge, Vertexing

#3415 refactor: RootMaterialDecorator as default for the ODD
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/tests/test_examples.py
Labels: Component - Examples, automerge, Needs Discussion

#3423 refactor: Rework `particles_selected` handling in Python Examples
  Examples/Python/python/acts/examples/simulation.py
Labels: Component - Examples, automerge

#3420 feat: Implement modified Bryson–Frazier (mBF) smoother as alternative to `GainMatrixSmoother`
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/MbfSmoother.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Tests/UnitTests/Core/TrackFitting/CMakeLists.txt
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting

#3421 fix: `Vertex::setPosition(Vector3)` should only set position
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/src/Vertexing/Vertex.cpp
Labels: Component - Core, automerge, Vertexing

#3416 refactor: Explicit `checkPathLength` and `isValid` intersection check
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/Geometry/GenericApproachDescriptor.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/Intersection.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/IntersectionHelper2DTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, Component - Fatras, automerge

#3424 fix: Comparison error in DirectNavigator
  Core/include/Acts/Propagator/DirectNavigator.hpp
Labels: Component - Core, automerge

#3398 build: Remove extra minimum cmake versions, set policies
  CMakeLists.txt
  cmake/FindFilesystem.cmake
  thirdparty/FRNN/CMakeLists.txt
  thirdparty/GeoModel/CMakeLists.txt
  thirdparty/actsvg/CMakeLists.txt
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/covfie/CMakeLists.txt
  thirdparty/detray/CMakeLists.txt
  thirdparty/dfelibs/CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
  thirdparty/pybind11/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Labels: Infrastructure, automerge

#3427 fix: `VectorTrackContainer::removeTrack_impl`
  Core/src/EventData/VectorTrackContainer.cpp
Labels: Component - Core, automerge, Event Data Model

#3417 refactor: Single tree for `RootMeasurementWriter`
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Labels: Component - Examples, automerge, Changes Performance

#3396 fix(sonar): move/forward, avoid slicing, noexcept destructors
  Core/include/Acts/Utilities/detail/ContextType.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/src/DetUtils.cpp
  Examples/Detectors/DD4hepDetector/src/DetUtils.h
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/Json/src/DetectorVolumeFinderJsonConverter.cpp
  Plugins/Json/src/IndexedSurfacesJsonConverter.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge

#3428 feat: Add `TrackProxy::shallowCopy`
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Labels: Component - Core, automerge, Event Data Model

#3402 ci: Add unit test seed filter objects -- part 1
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.ipp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/CandidatesForMiddleSpTests.cpp
Labels: Component - Core, automerge, Seeding

#3364 feat: `TruthVertexSeeder` for Examples
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TruthVertexSeeder.cpp
  Examples/Algorithms/Vertexing/src/TruthVertexSeeder.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#3433 feat: adding sympy stepper to python bindings
  Examples/Python/src/Propagation.cpp
  Examples/Scripts/Python/propagation.py
Labels: Component - Examples, automerge

#3431 ci: Re-enable Exa.TrkX builds
  .gitlab-ci.yml
Labels: automerge

#3436 fix: Improve CKF error handling and fix path limit abortion
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Labels: Component - Core, automerge, Track Finding

#3200 feat: Reverse track finding for Examples
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge, Track Finding

#3237 refactor: Remove `lastHierarchySurfaceReached` from `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
Labels: Component - Core, automerge

#3283 refactor: Resolve surfaces on initialization in `Navigator`
  Core/include/Acts/Propagator/Navigator.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3447 ci: Update MacOS dependencies
  .github/workflows/builds.yml
Labels: Infrastructure

#3438 fix: Correct handling of outliers and holes for track statistics
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/TrackHelpers.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/MultiTrajectoryHelpersTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Track Finding, Track Fitting, Ambiguity Resolution, Changes Performance

#3357 feat: Prototracks-to-Tracks converter & refactor
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/ProtoTracksToTracks.hpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/Utilities.cpp
Labels: Component - Examples, automerge

#3443 fix: fix proto layer range for straw surfaces
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Geometry/ProtoLayerHelper.cpp
Labels: Component - Core, automerge

#3410 refactor: Remove `ProtoTrackTruthMatcher` in Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ProtoTrackTruthMatcher.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ProtoTrackTruthMatcher.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/TruthMatching.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFinderPerformanceWriter.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge, Event Data Model

#3430 fix: Next round of RefittingAlgorithm fixes and hash checks
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
Labels: Component - Core, Component - Examples, automerge, Track Fitting, Changes Performance

#3451 refactor: Disable copy&move for `TrackStateType`
  Core/include/Acts/EventData/TrackStateType.hpp
Labels: Component - Core, automerge, Event Data Model

#3455 fix: Remove residual mentions of C++17
  README.md
  cmake/FindFilesystem.cmake
  docs/acts_project.md
  docs/getting_started.md
Labels: Infrastructure, Component - Documentation, automerge

#3409 feat: Use track particle double matching by default in Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.hpp
  Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerformanceWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#3456 chore: Use `ParticleHypothesis` for q/p handling in a few more cases
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSmearing.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
Labels: Component - Core, Component - Examples, automerge, Track Fitting

#3459 perf: Use `SympyStepper` over `EigenStepper` in Examples
  Core/src/Propagator/SympyStepper.cpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingFromPrototrackAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/IterativeVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/VertexFitterAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/VertexFitterAlgorithm.cpp
  Examples/Io/Performance/ActsExamples/Io/Performance/VertexPerformanceWriter.cpp
  Examples/Python/src/Propagation.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Vertexing, Track Finding, Track Fitting, Changes Performance
