Repository acts-project/acts, pull requests merged in 2025-08, with the labels that each got.

#4247 feat: Adaptive Hough Transform example
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge, Track Finding

#4500 docs: Fix typos in Csv and Root IO files
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationSummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexNTupleWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#4485 feat: Introduce the StationSpacePoint concept & add first batch of line residual calculators
  Core/include/Acts/EventData/CompositeSpacePoint.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
  Tests/UnitTests/Core/Utilities/LineWithPartialTests.cpp
Labels: Component - Core, automerge, Event Data Model, Seeding

#4502 fix: propagate transform to ProtoLayer in DD4hep builder; use in SurfaceArrayCreator
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
Labels: Component - Core, Component - Plugins, automerge

#4505 fix: Use `reserve` over `resize` in `BroadTripletSeedFinder`
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
Labels: Component - Core, automerge, Seeding

#4510 refactor: Avoid spin lock in TensorRT inference
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Labels: Component - Plugins, automerge

#4519 build: Set GeoModel minimum version to 6.8.0
  CMakeLists.txt
Labels: automerge

#4508 feat: Add `subrange` to `ContainerRange` and `ContainerSubrange`
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/Utilities/ContainerRange.hpp
  Core/include/Acts/Utilities/ContainerSubset.hpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
Labels: Component - Core, automerge, Event Data Model, Seeding

#4504 fix: Fix build of the GeoModelPlugin without building G4
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Labels: Component - Examples, automerge

#4529 ci: Add synchronize trigger for milestone check
  .github/workflows/milestone.yml
  .merge-sentinel.yml
Labels: Infrastructure

#4520 refactor: Use `std::ranges::iota_view` over custom index range
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Labels: Component - Core, automerge, Event Data Model

#4516 feat: Enable MultiStepper based on SympyStepper
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/MultiEigenStepperLoopTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/Propagator/MultiSympyStepperLoopTests.cpp
  docs/core/propagation.md
  docs/core/reconstruction/track_fitting.md
Labels: Component - Core, Component - Documentation, automerge

#4509 feat: Generalized `TripletSeedFinder`
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding2/ITripletSeedCuts.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/CMakeLists.txt
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Plugins/Json/include/Acts/Plugins/Json/Seeding2ConfigJsonConverter.hpp
  Plugins/Json/src/Seeding2ConfigJsonConverter.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Seeding, Track Finding

#4525 fix: MuonRun4Mockup assign correct geoIds in mockup for children volumes
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Labels: Component - Examples, automerge

#4474 refactor: Rationalize MultiNavigationPolicy
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Utilities/DelegateChainBuilder.hpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Python/src/Navigation.cpp
  Examples/Python/tests/test_navigation.py
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/DelegateChainBuilderTests.cpp
  docs/core/geometry/concepts.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge

#4540 perf: Recover `CylinderSurface::intersect` performance
  Core/src/Surfaces/CylinderSurface.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4522 feat: Generalized `TripletSeedFilter`
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding2/ITripletSeedFilter.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/include/Acts/Seeding2/TripletSeeder.hpp
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/CMakeLists.txt
  Core/src/Seeding2/TripletSeedFinder.cpp
  Core/src/Seeding2/TripletSeeder.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#4536 chore: Cleanup numerical constants and brackets in `SeedFinder`
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#4541 ci: Update release workflow
  .github/workflows/release.yml
  CI/cliff.toml
  CI/release.sh
Labels: Infrastructure, automerge

#4549 chore: Remove stable sorting from `CandidatesForMiddleSp2`
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Labels: Component - Core, automerge, Seeding

#4552 chore: Cleanup `CommonHelpers` in `Tests`
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TemporaryDirectory.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, automerge

#4553 test: Use `maxSeedsPerSpMConf` by default with `GridTripletSeedingAlgorithm`
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding, Changes Performance

#4550 feat: Add `visit` method to `INavigationPolicy` interface
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
Labels: Component - Core, automerge

#4545 feat: Add a center method for surface bounds
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/LineBounds.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/RectangleBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConvexPolygonBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/DiamondBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RadialBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RectangleBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core, automerge

#4556 fix: Include missing PortalShell.hpp header
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
Labels: Component - Core

#4561 refactor: Convex polygon bounds: use span and share methods
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Tests/UnitTests/Core/Surfaces/ConvexPolygonBoundsTests.cpp
Labels: Component - Core, automerge

#4564 perf: Cleanup and optimize strip triplet formation in `Seeding2`
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
Labels: Component - Core, automerge, Seeding

#4566 refactor: `std::array` over `Eigen::Vector` for `SpacePointContainer2`
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/src/Seeding2/TripletSeedFinder.cpp
Labels: Component - Core, automerge, Event Data Model, Seeding

#4575 fix: GNN change CUDA optimization flag
  Plugins/Gnn/CMakeLists.txt
Labels: Component - Plugins, automerge

#4578 feat: CompSpacePointAuxiliaries - Add functions to calculate chi2 directly
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Labels: Component - Core, automerge, Seeding

#4581 fix: Decrease debug output level to DEBUG for event frequency
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
Labels: Component - Examples, automerge, Track Finding

#4547 feat: Fast line fitter for straws
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Labels: Component - Core, automerge, Seeding

#4583 fix: CompStrawLineAux found sign typo & update test in logging
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Labels: Component - Core, automerge, Seeding

#4582 chore: Use `const` where possible in `Seeding2`
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Core/src/Seeding2/TripletSeeder.cpp
Labels: Component - Core, automerge, Seeding

#4580 docs: Add some missing docs to `Seeding2`
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding2/ITripletSeedCuts.hpp
  Core/include/Acts/Seeding2/ITripletSeedFilter.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/include/Acts/Seeding2/TripletSeeder.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
Labels: Component - Core, automerge, Seeding

#4569 feat: Add a type dispatcher utility
  Core/include/Acts/Utilities/TypeDispatcher.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TypeDispatcherTests.cpp
Labels: Component - Core, automerge

#4537 perf: Remove `cotThetaAvg2` check in `SeedFinder`
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#4563 refactor: Less allocs during clustering
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Clusterization/TimedClusterizationTests.cpp
Labels: Component - Core, Component - Examples, automerge, Clustering

#4589 docs: ACTS all caps
  CODE_OF_CONDUCT.md
  README.md
  Tests/DownstreamProject/README.md
  Tests/DownstreamProjectNodeps/README.md
  docs/examples/full_chain_odd.md
  docs/getting_started.md
Labels: Component - Documentation, automerge

#4193 feat: SurfaceArray to Svg conversion for Gen1 and Gen3
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/GridSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceArraySvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SurfaceSvgConverter.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/SvgUtils.hpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TemporaryDirectory.hpp
  Tests/UnitTests/Plugins/ActSVG/TrackingGeometrySvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#4533 perf: Remove `maxPtScattering` from `SeedFinder`
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#4595 refactor: constexpr s_surfaceTypeNames
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
Labels: Component - Core, automerge
