Repository acts-project/acts, pull requests merged in 2025-02, with the labels that each got.

#4033 refactor: remove redundant logical in covariance helper
  Core/include/Acts/EventData/detail/CovarianceHelper.hpp
Labels: Component - Core, automerge, Event Data Model

#3934 refactor: simplify track selection logic in AlignmentAlgorithm
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
Labels: Component - Examples, automerge

#4066 fix: GeoModel recording again
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/material_recording.py
Labels: Component - Examples, automerge

#4067 feat: make layer envelope configurable in Gen1 geometry building
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/src/Geometry/LayerCreator.cpp
  Examples/Python/src/GeometryBuildingGen1.cpp
Labels: Component - Core, Component - Examples, automerge

#4069 refactor: Disentangle stepper state creation and initialization
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Labels: Component - Core, Track Finding, Track Fitting

#4071 fix: Centre from confex face in Annulus
  Core/src/Surfaces/DiscSurface.cpp
Labels: Component - Core, automerge

#4073 refactor: Add back DD4hep field access
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/src/DD4hepComponent.cpp
Labels: Component - Examples, automerge

#4072 feat: introduce G4Trap converter
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4Converters.hpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
Labels: Component - Plugins

#4036 feat: Allow propagator initialization to fail
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorError.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/Result.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/NavigatorError.cpp
  Examples/Algorithms/Propagation/include/ActsExamples/Propagation/PropagatorInterface.hpp
  Tests/Benchmarks/StepperBenchmarkCommons.hpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding, Track Fitting

#4030 refactor: `ProtoLayer` can (optionally) hold mutable surfaces
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
Labels: Component - Core, automerge

#4064 chore: readability-redundant-smartptr-get
  .clang-tidy
  CI/clang_tidy/limits.yml
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/src/Detector/DetectorVolume.cpp
  Core/src/Detector/Portal.cpp
  Core/src/Material/MaterialMapper.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Detectors/ContextualDetector/src/ExternalAlignmentDecorator.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Json/src/JsonSurfacesWriter.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/src/GeoModelDetectorElementITk.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Plugins/Geant4/Geant4DetectorElementTests.cpp
  Tests/UnitTests/Plugins/TGeo/TGeoParserTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge, Track Fitting

#4081 chore: Update particle data script
  Core/src/Definitions/ParticleDataTable.hpp
  Fatras/scripts/generate_particle_data_table.py
Labels: Component - Core, Component - Fatras, automerge

#4088 test: Python test fixes: GSF + EDM4hep
  Examples/Python/tests/test_misc.py
  Examples/Python/tests/test_reader.py
  Examples/Scripts/GsfDebugger/make_gsf_verbose_log.py
  Examples/Scripts/GsfDebugger/src/main.py
Labels: Component - Examples, automerge

#4083 build: Add cmake helper function for header compilation
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/Propagation/CMakeLists.txt
  Examples/Algorithms/Propagation/src/SimHitToSummaryConversion.cpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughVectors.hpp
  Examples/Algorithms/TrackFindingML/CMakeLists.txt
  Examples/Algorithms/TrackFitting/CMakeLists.txt
  Examples/Detectors/ContextualDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Obj/CMakeLists.txt
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjWriterOptions.hpp
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackContainer.hpp
  Tests/CommonHelpers/CMakeLists.txt
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/Assertions.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/BenchmarkTools.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalDetector.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/DataDirectory.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/DetectorElementStub.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/FloatComparisons.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/PredefinedMaterials.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/WhiteBoardUtilities.hpp
  Tests/CommonHelpers/src/CylindricalDetector.cpp
  Tests/CommonHelpers/src/DataDirectory.cpp
  cmake/ActsFunctions.cmake
  docs/getting_started.md
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, Component - Documentation, automerge, Track Finding, Track Fitting

#4086 build: Use CONFIG mode for onnxruntime
  CMakeLists.txt
  Plugins/Onnx/CMakeLists.txt
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
  cmake/ActsCreatePackageConfig.cmake
  cmake/FindOnnxRuntime.cmake
Labels: Infrastructure, Component - Plugins, automerge

#4085 refactor: Improved GeometryIdentifier python bindings
  Core/include/Acts/Geometry/GeometryObject.hpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/Geometry.cpp
  Examples/Python/tests/test_detectors.py
  Examples/Scripts/Python/detector_creation.py
  Examples/Scripts/Python/telescope_track_params_lookup_generation.py
Labels: Component - Core, Component - Examples, automerge

#4093 ci: Use repo slug instead of git url for cache key
  .gitlab-ci.yml
Labels: automerge

#4092 build: Remove `ACTS_BUILD_NONCOMPILE_TESTS`
  CMakePresets.json
Labels: automerge

#4091 ci: Add LCG 107a builds
  .gitlab-ci.yml
  CMakePresets.json
  Plugins/Json/src/DetrayJsonHelper.cpp
  Tests/UnitTests/Core/MagneticField/MultiRangeBFieldTests.cpp
Labels: Component - Core, Component - Plugins, automerge

#4094 refactor: GeometryIdentifier checks value range
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Tests/UnitTests/Core/Geometry/GeometryIdentifierTests.cpp
Labels: Component - Core, automerge

#4089 feat: Generic TrackingGeometry visitor + closure
  Core/include/Acts/Geometry/Blueprint.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryVisitor.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingGeometryBuilder.cpp
  Core/src/Geometry/TrackingGeometryVisitor.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Python/src/Blueprint.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/tests/test_examples.py
Labels: Component - Core, Component - Examples, automerge

#4099 feat: TrackingGeometry visitor gets additional lambda support.
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryVisitor.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Examples/Python/src/Geometry.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
Labels: Component - Core, Component - Examples, automerge

#4097 refactor: Expose max component values for geometry ids
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Tests/UnitTests/Core/Geometry/GeometryIdentifierTests.cpp
Labels: Component - Core, automerge

#4100 fix: Add missing TrackingVolume symbol
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#4102 feat: Adaptive step size for the `AtlasStepper`
  Core/include/Acts/Propagator/AtlasStepper.hpp
Labels: Component - Core, automerge

#4103 refactor: Drop `SympyStepper::stepImpl`
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/src/Propagator/SympyStepper.cpp
Labels: Component - Core, automerge

#4106 refactor!: Clean up CuboidVolumeStack
  Core/include/Acts/Geometry/CuboidVolumeStack.hpp
  Core/src/Geometry/CuboidVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
Labels: Component - Core, automerge

#4104 feat: Codegen as sources from CMake
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  CI/check_codegen
  CI/check_codegen_dependencies.sh
  CI/check_unused_files.py
  CI/requirements.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Definitions/ParticleDataTable.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/codegen/sympy_stepper_math.hpp
  Core/src/Propagator/detail/codegen/sympy_cov_math.hpp
  Core/src/Propagator/detail/codegen/sympy_jac_math.hpp
  Core/src/Propagator/detail/generate_sympy_cov.py
  Core/src/Propagator/detail/generate_sympy_jac.py
  Core/src/Propagator/generate_sympy_stepper.py
  Fatras/scripts/generate_particle_data_table.py
  cmake/ActsCodegen.cmake
  codegen/pyproject.toml
  codegen/requirements.txt
  codegen/src/codegen/__init__.py
  codegen/src/codegen/sympy_common.py
Labels: Component - Core, Infrastructure, Component - Fatras, automerge

#4046 refactor!: remove `ProtoBinning` in favour of `ProtoAxis`
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorVolumeBuilder.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/MultiWireStructureBuilder.hpp
  Core/include/Acts/Detector/ProtoBinning.hpp
  Core/include/Acts/Detector/ProtoSupport.hpp
  Core/include/Acts/Detector/detail/IndexedSurfacesGenerator.hpp
  Core/include/Acts/Detector/detail/ProtoMaterialHelper.hpp
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/DetectorVolumeBuilder.cpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Core/src/Detector/detail/ProtoMaterialHelper.cpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulater.cpp
  Core/src/Utilities/ProtoAxis.cpp
  Examples/Python/python/acts/examples/detector.py
  Examples/Python/python/acts/examples/odd_light.py
  Examples/Python/src/Geometry.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerStructure.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoModelBinningHelper.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/detail/GeoModelBinningHelper.cpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Tests/UnitTests/Core/Detector/CMakeLists.txt
  Tests/UnitTests/Core/Detector/CuboidalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/MultiWireStructureBuilderTests.cpp
  Tests/UnitTests/Core/Detector/ProtoBinningTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Utilities/BinUtilityTests.cpp
  Tests/UnitTests/Core/Utilities/BinningDataTests.cpp
  Tests/UnitTests/Core/Utilities/ProtoAxisTests.cpp
  Tests/UnitTests/Plugins/ActSVG/DetectorVolumeSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#4077 refactor!: Accumulated material changes
  Core/include/Acts/Material/AccumulatedMaterialSlab.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialInteraction.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/Propagator/detail/VolumeMaterialInteraction.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridIterator.ipp
  Core/src/Geometry/PortalShell.cpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/AverageMaterials.cpp
  Core/src/Material/Interactions.cpp
  Core/src/Material/Material.cpp
  Core/src/Material/MaterialSlab.cpp
  Core/src/Material/ProtoVolumeMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedMaterialSlabTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/AverageMaterialsTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulaterTests.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/InteractionsTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/Material/MaterialSlabTests.cpp
  Tests/UnitTests/Core/Material/MaterialTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialJsonConverterTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, Component - Plugins, automerge

#4110 fix: Fix material decorator wiring in Python Examples
  Examples/Python/python/acts/examples/itk.py
  Examples/Python/src/Detector.cpp
  Examples/Scripts/Python/propagation.py
Labels: Component - Examples, automerge

#4047 feat: Adding cuboid portal shell
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Geometry/PortalShell.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CuboidVolumeStack.cpp
  Core/src/Geometry/CylinderContainerBlueprintNode.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Core/src/Geometry/TrivialPortalLink.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderPortalShellTests.cpp
  docs/core/geometry/concepts.md
Labels: Component - Core, Component - Documentation, automerge

#4111 refactor!: Move Gen3 Blueprint API to Experimental for now
  Core/include/Acts/Detector/Blueprint.hpp
  Core/include/Acts/Detector/CuboidalContainerBuilder.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/detail/BlueprintDrawer.hpp
  Core/include/Acts/Detector/detail/BlueprintHelper.hpp
  Core/include/Acts/Geometry/Blueprint.hpp
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Core/include/Acts/Geometry/BlueprintOptions.hpp
  Core/include/Acts/Geometry/CylinderContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/src/Detector/CuboidalContainerBuilder.cpp
  Core/src/Detector/CylindricalContainerBuilder.cpp
  Core/src/Detector/detail/BlueprintDrawer.cpp
  Core/src/Detector/detail/BlueprintHelper.cpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/BlueprintNode.cpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Geometry/CylinderContainerBlueprintNode.cpp
  Core/src/Geometry/LayerBlueprintNode.cpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Examples/Python/src/Blueprint.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprintFactory.hpp
  Plugins/DD4hep/src/DD4hepBlueprintFactory.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Tests/UnitTests/Core/Detector/BlueprintHelperTests.cpp
  Tests/UnitTests/Core/Detector/BlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CuboidalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalDetectorFromBlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  docs/core/geometry/construction.md
Labels: Component - Core, Component - Examples, Component - Plugins, Component - Documentation, automerge

#4114 fix: correctly removing absEtaMax from kwargs of TrackSelector
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge
