Repository acts-project/acts, pull requests merged in 2025-10, with the labels that each got.

#4679 fix: Fix `NavigationStream` after #4390
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/NavigationStream.cpp
  Python/Core/python/__init__.py
Labels: Component - Core, automerge

#4548 feat!: Handle multiple seeds at a time in `AMVF`
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Core/src/Vertexing/VertexingError.cpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/TruthVertexSeeder.cpp
  Examples/Algorithms/Vertexing/src/TruthVertexSeeder.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing, Breaks Athena build, Fails Athena tests

#4691 feat: Add env variable pointing to acts main folder in the setup
  cmake/setup.sh.in
Labels: Infrastructure, automerge

#4689 docs: Fix doxygen warnings in FATRAS
  Fatras/include/ActsFatras/Digitization/DigitizationData.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Fatras/include/ActsFatras/EventData/Hit.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/SimulationResult.hpp
  Fatras/include/ActsFatras/Physics/Decay/NoDecay.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Selectors/KinematicCasts.hpp
  Fatras/include/ActsFatras/Selectors/ParticleSelectors.hpp
  Fatras/include/ActsFatras/Selectors/SelectorHelpers.hpp
  Fatras/include/ActsFatras/Selectors/SurfaceSelectors.hpp
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Labels: Component - Fatras, automerge, Event Data Model

#4695 feat: enable reading of detray detector from files
  Examples/Python/src/Traccc.cpp
Labels: Component - Examples, automerge

#4687 docs: Fix doxygen warnings in the DD4hep plugin
  Plugins/DD4hep/include/ActsPlugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepBlueprintFactory.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepIdentifierMapper.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
Labels: Component - Plugins, automerge

#4685 docs: Fix doxygen warning in ONNX plugin
  Plugins/Onnx/include/ActsPlugins/Onnx/OnnxRuntimeBase.hpp
Labels: Component - Plugins, automerge

#4688 docs: Fix doxygen warnings in the GNN plugin
  Plugins/Gnn/include/ActsPlugins/Gnn/Stages.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/Tensor.hpp
Labels: Component - Plugins, automerge

#4673 build: Git commit hash is retrieved at install time
  Core/ActsVersion.hpp.in
  Core/CMakeLists.txt
  Core/src/ActsVersion.cpp
  Python/Core/src/CoreModuleEntry.cpp
  Tests/DownstreamProject/ShowActsVersion.cpp
  Tests/DownstreamProjectNodeps/ShowActsVersion.cpp
  Tests/UnitTests/Core/VersionTests.cpp
  cmake/ActsRetrieveVersion.cmake
  cmake/GetGitRevisionDescription.cmake
  cmake/GetGitRevisionDescription.cmake.in
Labels: Component - Core, Infrastructure, automerge

#4684 docs: Fix doxygen warnings in the ROOT plugin
  Plugins/Root/include/ActsPlugins/Root/ITGeoIdentifierProvider.hpp
  Plugins/Root/include/ActsPlugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoLayerBuilder.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoParser.hpp
Labels: Component - Plugins, automerge

#4699 feat: ActsExample - Complete the endcap wheel in the mockup muon detector
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/geomodel_G4.py
Labels: Component - Examples, automerge
