Repository acts-project/acts, pull requests merged in 2025-03, with the labels that each got.

#4119 fix: Reserve Memory of cluster collection
  Core/include/Acts/Clusterization/Clusterization.ipp
Labels: Component - Core, automerge, Clustering, coderabbit

#4113 chore: Fix a few sonar issues in Cuboid portal shell
  Core/src/Geometry/CuboidPortalShell.cpp
Labels: Component - Core, automerge

#4096 refactor!: Deprecate GeometryIdentifier setXXX methods
  Core/include/Acts/Geometry/GeometryIdentifier.hpp
  Core/src/Detector/GeometryIdGenerator.cpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Io/Json/src/JsonGeometryList.cpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/src/Geometry.cpp
  Plugins/Json/src/DetectorVolumeJsonConverter.cpp
  Tests/Benchmarks/SourceLinkBenchmark.cpp
  Tests/Benchmarks/TrackEdmBenchmark.cpp
  Tests/UnitTests/Core/Detector/CuboidalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/CylindricalContainerBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorBuilderTests.cpp
  Tests/UnitTests/Core/Detector/DetectorVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Detector/GeometryIdGeneratorTests.cpp
  Tests/UnitTests/Core/EventData/SourceLinkTests.cpp
  Tests/UnitTests/Core/Geometry/GeometryIdentifierTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Examples/Algorithms/Alignment/AlignmentGroupingTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding

#4115 fix: Correct handling of buildITkGeometry return value
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/itk_seeding.py
  Examples/Scripts/Python/material_mapping_itk.py
  Examples/Scripts/Python/material_validation_itk.py
Labels: Component - Examples, automerge

#4101 feat: Add option for initial step size
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StepperOptions.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4003 fix: compilation without geant4
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
Labels: Component - Examples, automerge

#4079 fix: Fix combination of material for `molar electron density` and `mean excitation energy`
  Core/include/Acts/Material/Material.hpp
  Core/src/Material/AverageMaterials.cpp
  Core/src/Material/Material.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4117 refactor: Type-erased Grid access
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/src/Geometry/CompositePortalLink.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Tests/UnitTests/Core/Utilities/AnyGridViewTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridAxisGeneratorsTests.cpp
Labels: Component - Core, automerge

#4105 refactor: Migrate Material node to overload based API
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CuboidVolumeBounds.hpp
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Examples/Python/src/Blueprint.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Labels: Component - Core, Component - Examples, automerge

#4116 feat: Introduce trapezoid portal shells for Gen3
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/TrapezoidPortalShell.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/TrapezoidPortalShellTests.cpp
  docs/core/geometry/concepts.md
Labels: Component - Core, Component - Documentation, automerge

#4124 feat: Gen3 geometry identifier assignment
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Core/include/Acts/Geometry/GeometryIdentifierBlueprintNode.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/BlueprintNode.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/GeometryIdentifierBlueprintNode.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Python/src/Blueprint.cpp
  docs/core/geometry/construction.md
Labels: Component - Core, Component - Examples, Component - Documentation, automerge

#4120 feat: add recoverable CKF error for surfaces without expected measurements.
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
Labels: Component - Core, automerge, Event Data Model, Track Finding

#4129 feat: Enable TransformRange to work with C++20 views
  Core/include/Acts/Utilities/TransformRange.hpp
  Tests/UnitTests/Core/Utilities/TransformRangeTests.cpp
Labels: Component - Core, automerge

#4136 fix: Suppress warnings in odd construction in pytest
  Examples/Python/python/acts/examples/odd.py
Labels: Component - Examples, automerge

#4145 fix: Improve ODD seeding efficiency
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_seeding.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/hashing_seeding.py
  Examples/Scripts/Python/seeding.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#4149 fix: Mixed up TrackingGeometry lambda visitor usage
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryClosureTests.cpp
Labels: Component - Core

#4135 refactor: Add a *consuming* data handle that removes a key
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/IReader.hpp
  Examples/Framework/include/ActsExamples/Framework/IWriter.hpp
  Examples/Framework/include/ActsExamples/Framework/SequenceElement.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/DataHandle.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/Framework.cpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/WhiteBoardUtilities.hpp
  Tests/UnitTests/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/Framework/CMakeLists.txt
  Tests/UnitTests/Examples/Framework/DataHandleTest.cpp
Labels: Component - Examples, automerge

#4133 fix: Improve and fix some interaction code
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Core/src/Material/Interactions.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#4134 fix: Increase the surfaceCandidateIndex in the Detector Navigator an re initialize navigation state in case of unreachable portal
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
Labels: Component - Core, automerge

#4144 fix: Fix link to spack guide
  docs/getting_started.md
Labels: Component - Documentation, automerge

#4146 refactor: Optionally write track info in `VertexNTupleWriter` in Examples
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexNTupleWriter.hpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
Labels: Infrastructure, Component - Examples, automerge

#4151 chore: Make codegen check install python
  CI/check_codegen_dependencies.sh
Labels: Infrastructure, automerge

#4147 refactor: Deduplicate seeds after track selection in `TrackFindingAlgorithm` in Examples
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Track Finding, Changes Performance

#4125 chore: Update traccc to v0.20.0
  CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  Examples/Python/src/Covfie.cpp
  Examples/Python/src/Detray.cpp
  Examples/Python/tests/test_covfie.py
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  cmake/ActsExternSources.cmake
  thirdparty/traccc/CMakeLists.txt
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#4137 refactor: Whiteboard improvements
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/IAlgorithm.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Python/src/Framework.cpp
  Examples/Python/tests/helpers/__init__.py
Labels: Component - Examples, automerge

#4142 feat: component wise digital clustering
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/GeometricConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
Labels: Component - Examples, automerge

#4161 fix: Move Pythia8 gen to full-on PIMPL
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
Labels: Component - Examples, automerge

#4158 feat: Regional measurement counts for `ParticleSelector` in Examples
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ParticleSelector.hpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#4163 fix: component wise digitisation (now for real)
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
Labels: Component - Examples

#4122 chore: GBTS Seeding changing names of mapping files
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Labels: Component - Examples, automerge

#4165 fix: typo in physmon modes for refit
  CI/physmon/phys_perf_mon.sh
Labels: Infrastructure, automerge

#4162 refactor: Add variadic python POD helper macro
  Examples/Python/include/Acts/Plugins/Python/Utilities.hpp
  Examples/Python/src/Blueprint.cpp
  Examples/Python/src/DD4hepComponent.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/src/Detray.cpp
  Examples/Python/src/Digitization.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/src/ExampleAlgorithms.cpp
  Examples/Python/src/Framework.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Python/src/Geometry.cpp
  Examples/Python/src/GeometryBuildingGen1.cpp
  Examples/Python/src/Hashing.cpp
  Examples/Python/src/Json.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/Navigation.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/Propagation.cpp
  Examples/Python/src/Svg.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#4167 fix(gx2f): ignore unreached measurements
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitterError.hpp
  Core/src/TrackFitting/GlobalChiSquareFitterError.cpp
Labels: Component - Core, Infrastructure, automerge, Track Fitting, Changes Performance

#4157 feat: using new ProtoAxis based grid construction and AnyGridView for GridSurfaceMaterial
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/GridSurfaceMaterialFactory.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialJsonConverterTests.cpp
  docs/known-warnings.txt
Labels: Component - Core, Component - Plugins, Component - Documentation, automerge

#4174 fix: Add except statement for podio ImportError
  Examples/Python/tests/helpers/__init__.py
Labels: Component - Examples, automerge
