Repository acts-project/acts, pull requests merged in 2025-04, with the labels that each got.

#4170 refactor: Particle Data lookup uses map
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  Core/src/Definitions/ParticleData.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/scripts/generate_particle_data_table.py
Labels: Component - Core, Infrastructure, Component - Fatras, Component - Examples, automerge, Changes Performance

#4107 ci: Add and use CMake preset for tensorrt job
  .gitlab-ci.yml
  CMakePresets.json
Labels: automerge

#4178 chore: Zoom in on vertex position in ttbar physmon
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
Labels: Infrastructure, automerge, Changes Performance

#4176 refactor(Examples): Untemplate Generic Detector construction
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/InternalAlignmentDecorator.hpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/ContextualDetector/src/InternalAlignmentDecorator.cpp
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/LayerBuilder.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreator.hpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/GenericDetector/src/LayerBuilder.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
Labels: Component - Examples, automerge

#4172 feat: Scoped timer utility
  Core/include/Acts/Utilities/ScopedTimer.hpp
Labels: Component - Core, automerge

#4173 refactor: DataHandle output and API optimization
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Framework/src/Framework/DataHandle.cpp
Labels: Component - Examples, automerge

#4183 fix(gx2f): catch empty trajectory after repropagation
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#4186 feat: Add an averaging timer
  Core/include/Acts/Utilities/ScopedTimer.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/ScopedTimer.cpp
Labels: Component - Core, automerge

#4189 docs: Fix typo in the RKN method
  docs/tracking.md
Labels: Component - Documentation, automerge

#4192 refactor(gx2f): fall back when calling binding with direct navigator
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
Labels: Component - Examples, automerge, Track Fitting

#4011 feat: Update athena dump reader
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Python/src/Input.cpp
Labels: Component - Examples, automerge

#4191 fix: Out of bounds access in PrototracksToParameter computation
  Examples/Algorithms/TrackFindingExaTrkX/src/PrototracksToParameters.cpp
Labels: Component - Examples, automerge, Track Finding

#4195 fix: strip endcap measurement reading in RootAthenaDumpReader
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Labels: Component - Examples, automerge

#3970 feat: External surfaces for GSF
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Fitting, Changes Performance

#4164 fix: Make ONNX GNN module work again
  .gitlab-ci.yml
  CMakePresets.json
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/OnnxMetricLearning.cpp
Labels: Component - Examples, Component - Plugins, automerge, Changes Performance

#4190 refactor: Remove EventRecording code
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Geant4HepMC/CMakeLists.txt
  Examples/Algorithms/Geant4HepMC/include/ActsExamples/Geant4HepMC/EventRecording.hpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.cpp
  Examples/Algorithms/Geant4HepMC/src/EventAction.hpp
  Examples/Algorithms/Geant4HepMC/src/EventRecording.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.cpp
  Examples/Algorithms/Geant4HepMC/src/PrimaryGeneratorAction.hpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.cpp
  Examples/Algorithms/Geant4HepMC/src/RunAction.hpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.cpp
  Examples/Algorithms/Geant4HepMC/src/SteppingAction.hpp
  Examples/Algorithms/HepMC/CMakeLists.txt
  Examples/Algorithms/HepMC/include/ActsExamples/HepMC/HepMCProcessExtractor.hpp
  Examples/Algorithms/HepMC/src/HepMCProcessExtractor.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/Geant4HepMC3.cpp
  Examples/Python/src/Geant4HepMC3Stub.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_algorithms.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/event_recording.py
Labels: Component - Examples, automerge

#4197 feat: Good default cuts for edge classifiers
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
Labels: Component - Plugins, automerge

#4090 feat: Allow compiling examples without ROOT
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Io/CMakeLists.txt
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Input.cpp
  Examples/Python/src/Material.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Output.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/src/RootStub.cpp
  Tests/UnitTests/Examples/Io/CMakeLists.txt
  docs/getting_started.md
Labels: Infrastructure, Component - Examples, Component - Documentation, automerge

#2697 refactor: Some internal GSF refactorings
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Labels: Component - Core, automerge, Track Fitting

#4200 feat(Examples): Sequencer prints sequence element on failure
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#3980 ci: Spack
  .github/actions/dependencies/action.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies.sh
  CI/dependencies/opengl.sh
  CI/dependencies/parallel.sh
  CI/dependencies/select_lockfile.py
  CI/dependencies/setup.sh
  CI/dependencies/setup_spack.sh
  CMakePresets.json
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Utilities/EigenConcepts.hpp
  Core/include/Acts/Visualization/Interpolation3D.hpp
  Examples/Python/tests/root_file_hashes.txt
  cmake/setup_withdeps.sh.in
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Event Data Model, Changes Performance

#4201 feat: TrackingGeometry exposes Generation
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingGeometryCreationTests.cpp
Labels: Component - Core, automerge

#4171 refactor(Examples): Evt gen. exchanges data via HepMC3 types
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CMakeLists.txt
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.hpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/ParametricParticleGenerator.hpp
  Examples/Algorithms/Generators/CMakeLists.txt
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
  Examples/Algorithms/GeneratorsPythia8/CMakeLists.txt
  Examples/Framework/src/EventData/SimParticle.cpp
  Examples/Io/CMakeLists.txt
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Event.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3OutputConverter.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Particle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Vertex.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3OutputConverter.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Vertex.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Generators.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_hepmc3.py
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  docs/getting_started.md
  pytest.ini
Labels: Infrastructure, Component - Fatras, Component - Examples, Component - Documentation, automerge, Event Data Model, Changes Performance

#4202 feat: Gen3 geometry SVG visualization support
  Examples/Python/src/Svg.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
Labels: Component - Examples, Component - Plugins, automerge

#4187 ci: Bump dependency version
  .github/actions/dependencies/action.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Labels: Infrastructure, automerge

#4199 refactor: (Cylinder)VolumeBounds can have asym resize strats
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/include/Acts/Geometry/VolumeStack.hpp
  Core/src/Geometry/ContainerBlueprintNode.cpp
  Core/src/Geometry/CuboidVolumeStack.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Core/src/Geometry/VolumeStack.cpp
  Examples/Python/src/Blueprint.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Labels: Component - Core, Component - Examples, automerge

#4210 build: Conditionally enable ROOT for Examples only
  CMakeLists.txt
Labels: automerge

#4177 feat: Add Error message in SurfaceArrayNavigationPolicy
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Labels: Component - Core, automerge

#4208 feat: Expose ScopedLoggingThreshold to python + test
  Examples/Python/src/Base.cpp
  Examples/Python/tests/test_logging.py
Labels: Component - Examples, automerge

#4215 refactor(Examples): Sequencer runs events more in order
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#4205 refactor: Remove unused HepMC3 helper functions
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Event.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Particle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Vertex.hpp
  Examples/Io/HepMC3/src/HepMC3Event.cpp
  Examples/Io/HepMC3/src/HepMC3Particle.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Io/HepMC3/src/HepMC3Vertex.cpp
Labels: Component - Examples, automerge

#4127 feat: Add Hough vertex finder
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.hpp
  Core/include/Acts/Vertexing/SingleSeedVertexFinder.ipp
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/HoughVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/HoughVertexFinderAlgorithm.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Vertexing.cpp
  Examples/Python/tests/test_algorithms.py
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/SingleSeedVertexFinderTests.cpp
Labels: Component - Core, Component - Examples, automerge, Vertexing

#4206 refactor: Decouple EvtGen from HepMC3 conversion
  CI/physmon/workflows/physmon_simulation.py
  CMakePresets.json
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.hpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/CMakeLists.txt
  Examples/Framework/src/Utilities/Paths.cpp
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Generators.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/src/HepMC3Stub.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_hepmc3.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/material_recording.py
Labels: Infrastructure, Component - Examples, automerge

#4222 refactor: Improve implementation of CUDA connected components
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.hpp
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Labels: Component - Plugins, automerge

#4207 feat: Add compression support to HepMC3 IO
  CI/check_unused_files.py
  Examples/Framework/include/ActsExamples/Utilities/OptionsFwd.hpp
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/CompressedIO.h
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_hepmc3.py
  cmake/FindZSTD.cmake
Labels: Infrastructure, Component - Examples, automerge

#4198 refactor: Material blueprint node: homogenous material support
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/detail/MaterialDesignator.hpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Labels: Component - Core, automerge

#4227 feat: Create curvilinear OR bound parameters at the end of propagation
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/ParameterTraits.hpp
  Tests/UnitTests/Core/Propagator/ExtrapolatorTests.cpp
Labels: Component - Core, automerge

#4220 fix: Add missing DirectedProtoAxis python bindings
  Examples/Python/src/Geometry.cpp
Labels: Component - Examples, automerge

#4221 fix: Unbreak setting resize strategies from python
  Examples/Python/src/Blueprint.cpp
Labels: Component - Examples, automerge

#4228 ci: Bump dependency versions + tag
  .github/actions/dependencies/action.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/reference/simulation/particles_geant4_hist.root
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_hepmc3.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#4217 refactor: LayerBlueprintNode can have external proto layer
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/src/Geometry/LayerBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Labels: Component - Core, automerge

#4138 refactor: Improved EDM4hep reading and writing
  CMakeLists.txt
  CMakePresets.json
  Examples/Io/CMakeLists.txt
  Examples/Io/EDM4hep/CMakeLists.txt
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMultiTrajectoryOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackOutputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMultiTrajectoryOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepParticleOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimHitOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackWriter.cpp
  Examples/Io/Podio/CMakeLists.txt
  Examples/Io/Podio/include/ActsExamples/Io/Podio/CollectionBaseWriteHandle.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioReader.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioWriter.hpp
  Examples/Io/Podio/src/CollectionBaseWriteHandle.cpp
  Examples/Io/Podio/src/PodioReader.cpp
  Examples/Io/Podio/src/PodioWriter.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/podio.py
  Examples/Python/src/EDM4hepComponent.cpp
  Examples/Python/src/PodioComponent.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_edm4hep.py
  Examples/Python/tests/test_reader.py
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/full_chain_odd.py
  docs/getting_started.md
Labels: Component - Examples, Component - Documentation, automerge

#4233 chore: remove CVFMS setup scripts and update docs
  CI/setup_cvmfs_lcg.sh
  CI/setup_cvmfs_lcg105.sh
  docs/getting_started.md
Labels: Infrastructure, Component - Documentation, automerge

#3881 docs: Add troubleshooting section for Spack
  CI/codespell_ignore.txt
  docs/misc/spack.md
Labels: Infrastructure, Component - Documentation, automerge

#4231 refactor: Allow (const) ProtoLayer to construct from MutableProtoLayer
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/ProtoLayer.cpp
Labels: Component - Core, automerge

#4234 test: Run pythia physmon in single-threaded
  CI/physmon/workflows/physmon_simulation.py
Labels: Infrastructure, automerge

#4241 refactor: Reduce verbosity on a number of Algorithms
  Examples/Algorithms/AmbiguityResolution/src/GreedyAmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/Utilities/src/TracksToParameters.cpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Algorithms/Vertexing/src/IterativeVertexFinderAlgorithm.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
Labels: Component - Examples, Vertexing, Ambiguity Resolution
