Repository acts-project/acts, pull requests merged in 2025-06, with the labels that each got.

#4290 feat: Introduce BoundFactory class & use it in the GeoModel detector factory
  Core/include/Acts/Utilities/BoundFactory.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelDetector.hpp
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelGeant4DetectorConstruction.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelDetectorGeant4.cpp
  Examples/Python/src/GeoModel.cpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/IGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoBoxConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoPolygonConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoSubtractionConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTrdConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Plugins/GeoModel/src/detail/GeoBoxConverter.cpp
  Plugins/GeoModel/src/detail/GeoIntersectionAnnulusConverter.cpp
  Plugins/GeoModel/src/detail/GeoPolygonConverter.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoSubtractionConverter.cpp
  Plugins/GeoModel/src/detail/GeoTrdConverter.cpp
  Plugins/GeoModel/src/detail/GeoTubeConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#4278 refactor: Use the Acts::Tensor to replace torch::Tensor
  CMakeLists.txt
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/GraphStoreHook.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ModuleMapCuda.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TruthGraphMetricsHook.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/TensorVectorConversion.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/Utils.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/GraphStoreHook.cpp
  Plugins/ExaTrkX/src/ModuleMapCuda.cu
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchGraphStoreHook.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Plugins/ExaTrkX/src/TruthGraphMetricsHook.cpp
  Plugins/ExaTrkX/src/printCudaMemInfo.hpp
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXMetricHookTests.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#4298 chore: Bump versions of traccc & friends
  CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayConverter.hpp
  cmake/ActsExternSources.cmake
Labels: Infrastructure, Component - Plugins, automerge

#4318 perf: Optimize sort and value range checks in `SeedFinder`
  Core/include/Acts/Seeding/SeedFinder.ipp
Labels: Component - Core, automerge, Seeding

#4331 docs: Align variable names with full_chain_odd.py
  docs/examples/full_chain_odd.md
Labels: Component - Documentation

#4328 refactor: determine PR number/sha using GitHub API in report.yml
  .github/workflows/builds.yml
  .github/workflows/report.yml
Labels: Infrastructure, automerge

#4338 chore: Try to use Bearer in GH Auth
  CI/dependencies/select_lockfile.py
Labels: Infrastructure

#4342 chore: Set version_number to 999.999.999
  version_number
Labels: automerge

#4336 chore: Cleanup seeding namespaces
  Core/include/Acts/EventData/SpacePointContainer.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#4326 refactor: Remove internal units from seeding
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/src/Material/Interactions.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#4346 fix: Make geo context ref in multiwire volume builder const
  Core/include/Acts/Geometry/MultiWireVolumeBuilder.hpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
Labels: Component - Core, automerge

#4204 chore: Turn `compareRootFile.C` into an executable
  Examples/Scripts/CMakeLists.txt
  Examples/Scripts/compareRootFiles.C
  Examples/Scripts/compareRootFiles.hpp
Labels: Component - Examples, automerge

#3633 refactor: reduce complexity of highly nested blocks
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Tests/UnitTests/Plugins/ActSVG/LayerSvgConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Track Finding

#4348 ci: Add retry logic to the spack lockfile lookup, try without auth as last attempt
  CI/dependencies/select_lockfile.py
Labels: Infrastructure, automerge

#4355 ci: Switch macOS build to 15 + Xcode 16.3 / AppleClang 17
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#4352 chore!: rename `TGeo` to `Root` plugin
  CMakeLists.txt
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/JsonTGeoDetectorConfig.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoITkModuleSplitter.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TGeoDetector/src/TGeoITkModuleSplitter.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/TGeo.cpp
  Plugins/CMakeLists.txt
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/DD4hep/src/DD4hepVolumeBuilder.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/ITGeoDetectorElementSplitter.hpp
  Plugins/Root/include/Acts/Plugins/Root/ITGeoIdentifierProvider.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoCylinderDiscSplitter.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoLayerBuilder.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoMaterialConverter.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoParser.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoPrimitivesHelper.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoCylinderDiscSplitter.cpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Plugins/Root/src/TGeoLayerBuilder.cpp
  Plugins/Root/src/TGeoMaterialConverter.cpp
  Plugins/Root/src/TGeoParser.cpp
  Plugins/Root/src/TGeoPrimitivesHelper.cpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoMaterialConverterTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoPrimitivesHelperTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTubeConversionTests.cpp
  cmake/ActsConfig.cmake.in
  docs/Doxyfile
  docs/examples/howto/material_mapping.rst
  docs/examples/howto/run_ckf_auto_tuning.rst
  docs/getting_started.md
  docs/plugins/dd4hep.md
  docs/plugins/plugins.rst
  docs/plugins/root.rst
  docs/versioning.rst
Labels: Infrastructure, Component - Examples, Component - Plugins, Component - Documentation

#4351 refactor: Make BoundaryTolerance, (Object-)Intersection trivially movable and copyable
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
Labels: Component - Core, automerge

#4305 feat: Common Alignment infrastructure & `DD4hep` contextual detector
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentContext.hpp
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/AlignedDD4hepDetectorElement.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/AlignedDD4hepDetectorElement.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/src/TGeoDetectorElement.cpp
Labels: Component - Examples, Component - Plugins, automerge

#4347 fix: Use chi2 only for same measurement count in `GreedyAmbiguityResolution`
  Core/src/AmbiguityResolution/GreedyAmbiguityResolution.cpp
Labels: Component - Core, automerge, Ambiguity Resolution

#4366 fix: Make std::filesystem a private link in Exatrkx plugin
  Plugins/ExaTrkX/CMakeLists.txt
Labels: Component - Plugins, automerge

#4365 docs: Fix documentation typos
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/PortalShell.hpp
Labels: Component - Core
