Repository acts-project/acts, pull requests merged in 2025-09, with the labels that each got.

#4585 chore: Cleanup Kalman Fitter in Examples
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Track Fitting, Changes Performance

#4597 refactor: Graphviz helper uses std::format
  Core/include/Acts/Utilities/GraphViz.hpp
  Core/include/Acts/Utilities/JoinStrings.hpp
  Core/include/Acts/Utilities/OstreamFormatter.hpp
  Core/src/Utilities/GraphViz.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GraphVizTests.cpp
  Tests/UnitTests/Core/Utilities/JoinStringsTests.cpp
Labels: Component - Core, automerge

#4592 fix: Improve layer surface array lookup with representative intersection
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Core/src/Geometry/Layer.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#4616 fix: Performance improvements for AdaptiveHoughTransformSeeder
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
Labels: Component - Examples, automerge, Track Finding

#4621 fix: Do not apply portal shell in the tracking volume of the multiwire builder
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
Labels: Component - Core, automerge

#4626 chore: encapsulate ROOT measurement IO to make it usable outside `Examples`
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMeasurementIo.hpp
  Plugins/Root/src/RootMeasurementIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMeasurementIoTests.cpp
Labels: Component - Examples, Component - Plugins

#4586 fix: Correct the grid access for the Multi Layer Navigation
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
Labels: Component - Core, automerge

#4521 chore!: Remove `IndexRange` after replacement with `std::ranges::iota_view`
  Core/include/Acts/Utilities/IndexRange.hpp
Labels: Component - Core, automerge

#4630 fix: Use correct cmake option to trigger podio plugin
  Plugins/CMakeLists.txt
Labels: Component - Plugins, automerge

#4632 refactor: CompSpacePointAuxiliaries - reshuffle residual calculation & improve tests
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Labels: Component - Core, automerge, Seeding

#3920 refactor!: material: `double` for pathCorrection
  Core/include/Acts/Material/AccumulatedMaterialSlab.hpp
  Core/src/Material/AccumulatedMaterialSlab.cpp
Labels: Component - Core, automerge

#4598 refactor!: `SurfaceArray` representative surface and double mapping
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, Component - Plugins, automerge, Changes Performance, Fails Athena tests

#4316 test: New unit test for building Gen3 geometry of a cylindrical detector from DD4Hep
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Labels: Component - Plugins, automerge

#4648 docs: Fix doxygen warnings in Definitions
  Core/include/Acts/Definitions/Algebra.hpp
  Core/include/Acts/Definitions/Alignment.hpp
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/TrackParametrization.hpp
  Core/include/Acts/Definitions/Units.hpp
Labels: Component - Core, automerge

#4654 docs: Fix doxygen warnings in Navigation
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/InternalNavigation.hpp
  Core/include/Acts/Navigation/MultiLayerNavigation.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateUpdaters.hpp
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Navigation/PortalNavigation.hpp
Labels: Component - Core, automerge

#4653 docs: Fix doxygen warnings in magnetic field
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/include/Acts/MagneticField/MultiRangeBField.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
Labels: Component - Core, automerge

#4309 refactor: Make missing include script parallel
  .github/workflows/checks.yml
  CI/missing_include_check.sh
Labels: Infrastructure, automerge

#4652 docs: Fix doxygen warnings in Material
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulater.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/IVolumeMaterial.hpp
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Material/InterpolatedMaterialMap.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialComposition.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialInteraction.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Material/MaterialValidater.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulater.hpp
Labels: Component - Core, automerge

#4642 fix: Correct wrong CMake variable in presets
  CMakePresets.json
Labels: automerge

#4650 docs: Fix doxygen warnings in EventData
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointData.hpp
  Core/include/Acts/EventData/SpacePointMutableData.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackParameters.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/Types.hpp
Labels: Component - Core, automerge, Event Data Model

#4666 docs: Fix doxygen warnings in Ambiguity resolution
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
Labels: Component - Core, automerge, Ambiguity Resolution

#4643 refactor: Remove experimental namespace from `Seeding2`
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.ipp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding2/ITripletSeedFilter.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/include/Acts/Seeding2/TripletSeeder.hpp
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Core/src/Seeding2/TripletSeeder.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePointIo.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
  Tests/UnitTests/Core/EventData/SeedContainer2Tests.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding, Track Finding

#4672 docs: Fix doxygen warnings in Vertexing
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/DummyVertexFitter.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/LinearizedTrack.hpp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackLinearizer.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
Labels: Component - Core, automerge, Vertexing

#4669 docs: Fix doxygen warnings in Surfaces
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/CurvilinearSurface.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscBounds.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/RegularSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/SurfaceError.hpp
  Core/include/Acts/Surfaces/SurfaceMergingException.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
Labels: Component - Core, automerge
