Repository acts-project/acts, pull requests merged in 2025-05, with the labels that each got.

#4239 refactor(python): Geometry binding fix and improvement
  Examples/Python/src/Base.cpp
  Examples/Python/src/Blueprint.cpp
  Examples/Python/src/Geometry.cpp
Labels: Component - Examples, automerge

#4236 feat(Examples): Add thread id to AlgorithmContext
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
  Examples/Framework/include/ActsExamples/Framework/IWriter.hpp
  Examples/Framework/src/Framework/BufferedReader.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/Framework.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/material_mapping.py
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/WhiteBoardUtilities.hpp
Labels: Component - Examples, automerge

#4180 refactor(Examples): Replace the drift circle & simHit EDM by the MuonSpacePoint & MuonSegmentEDM
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/DriftCircle.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSegment.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSimHit.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Framework/src/EventData/MuonSpacePoint.cpp
  Examples/Io/Csv/CMakeLists.txt
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSegmentReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSpacePointReader.hpp
  Examples/Io/Csv/src/CsvDriftCircleReader.cpp
  Examples/Io/Csv/src/CsvMuonSegmentReader.cpp
  Examples/Io/Csv/src/CsvMuonSimHitReader.cpp
  Examples/Io/Csv/src/CsvMuonSpacePointReader.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/Input.cpp
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/muon_hough.py
Labels: Component - Examples, automerge, Event Data Model, Track Finding

#4243 fix: Retry smeared digitization if measurement is outside bounds in Examples
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_seeding.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/SmearingConfig.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Examples/Python/src/Digitization.cpp
  Examples/Python/tests/root_file_hashes.txt
  Fatras/include/ActsFatras/Digitization/DigitizationError.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/src/Digitization/DigitizationError.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
Labels: Infrastructure, Component - Fatras, Component - Examples, automerge, Changes Performance

#4223 feat: Add junction removal for GNN track building
  .gitlab-ci.yml
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/JunctionRemoval.hpp
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Plugins/ExaTrkX/src/JunctionRemoval.cu
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/JunctionRemovalTests.cu
Labels: Component - Plugins, automerge

#4211 refactor: Use central truth matching for `TruthVertexFinder` in Examples
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthVertexFinder.hpp
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge, Event Data Model, Vertexing

#4246 refactor: Use truncated gaussian for ODD smeared digitization in Examples
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackfitting_gx2f/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Examples/Configs/odd-digi-smearing-config-notime.json
  Examples/Configs/odd-digi-smearing-config.json
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#4216 feat: Add `initialSigmaQoverPt` to `estimateTrackParamCovariance`
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSmearing.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSmearing.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Seeding, Track Finding, Changes Performance

#4249 fix: Remove ROOT exposure from `MuonHoughSeeder` in Examples
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
Labels: Component - Examples, automerge, Track Finding

#4250 chore: update actsvg, harmonize python bindings
  CMakeLists.txt
  Examples/Python/src/Svg.cpp
  cmake/ActsExternSources.cmake
  thirdparty/actsvg/CMakeLists.txt
Labels: Infrastructure, Component - Examples, automerge

#3889 feat(physmon): compare GX2F vs KF truth tracking
  CI/physmon/config/info_only.yml
  CI/physmon/phys_perf_mon.sh
  CI/physmon/summary.py
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
Labels: Infrastructure, automerge

#4253 fix: Add missing CMake flag for TensorRT
  CMakeLists.txt
  docs/getting_started.md
Labels: Component - Documentation, automerge

#4254 refactor: Some GNN-related CMake refactorings
  .gitlab-ci.yml
  CMakePresets.json
  thirdparty/FRNN/CMakeLists.txt
Labels: automerge

#4257 feat: Add trapezoid portal shells to StaticBlueprintNode
  Core/src/Geometry/StaticBlueprintNode.cpp
Labels: Component - Core, automerge

#4260 refactor: Replace `torch::Device` with `Acts::Device`
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ExaTrkXPipeline.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Labels: Component - Examples, Component - Plugins, automerge, Track Finding

#4155 refactor: Improve naming of duplication/fake rate vs ratio in Examples
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/FakePlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderPerformanceWriter.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#4259 refactor: GNN python bindings
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Tests/UnitTests/Plugins/ExaTrkX/ExaTrkXBoostTrackBuildingTests.cpp
Labels: Component - Examples, Component - Plugins, automerge

#4252 feat: Add ModuleMap Stage for GNN graph construction
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/ModuleMapCuda.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ModuleMapUtils.cuh
  Plugins/ExaTrkX/src/ModuleMapCuda.cu
  docs/getting_started.md
  thirdparty/ModuleMapGraph/CMakeLists.txt
  thirdparty/ModuleMapGraph/README.md
Labels: Component - Examples, Component - Plugins, Component - Documentation, automerge

#4272 feat: Add examples script for GNN4ITk workflow
  Examples/Algorithms/TrackFindingExaTrkX/include/ActsExamples/TrackFindingExaTrkX/TrackFindingAlgorithmExaTrkX.hpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingAlgorithmExaTrkX.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/createFeatures.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/createFeatures.hpp
  Examples/Scripts/Python/gnn4itk_example.py
Labels: Component - Examples, automerge, Track Finding

#4270 fix: EDM4hep sim conv. allow separate vertices at same location
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Python/tests/test_edm4hep.py
Labels: Component - Examples, automerge

#4230 refactor: Generic Detector construction
  Examples/Detectors/ContextualDetector/include/ActsExamples/ContextualDetector/AlignedDetector.hpp
  Examples/Detectors/ContextualDetector/src/AlignedDetector.cpp
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/BuildGenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreator.hpp
  Examples/Detectors/GenericDetector/src/BuildGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.hpp
  Examples/Detectors/GenericDetector/src/LayerBuilder.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_geometry.py
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Labels: Component - Core, Component - Examples, automerge

#4274 feat: GridPortalLink keeps merged trivial links
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/src/Geometry/CompositePortalLink.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
Labels: Component - Core, automerge

#4268 refactor: Improved binding of LayerCreator
  Core/include/Acts/Geometry/LayerCreator.hpp
  Examples/Python/src/GeometryBuildingGen1.cpp
Labels: Component - Core, Component - Examples, automerge

#4281 build: Use stable MMG tag instead of custom branch
  thirdparty/ModuleMapGraph/CMakeLists.txt
Labels: automerge

#4286 ci: Bump dependency tag in Debug job
  .github/workflows/analysis.yml
Labels: Infrastructure, automerge

#4280 chore: small python cleanups
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/python/acts/examples/odd_light.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/hashing_seeding.py
  Examples/Scripts/Python/propagation.py
  docs/examples/full_chain_odd.md
Labels: Component - Examples, Component - Documentation, automerge

#4282 refactor: Add shared bound blueprint Tests
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Labels: Component - Core, automerge

#4288 fix: geomodel.py - Fix SVG dump
  Examples/Scripts/Python/geomodel_vol.py
Labels: Component - Examples, automerge

#4283 fix: Make sure CalibrationContext gets copied to actor.
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Labels: Component - Core, automerge, Track Fitting

#4285 feat: Introduction of alignment infrastructure
  Core/include/Acts/Geometry/TransformStore.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Scripts/Python/material_recording.py
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepGeometryContext.hpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/TransformStoreTests.cpp
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepGeometryContextTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#4292 ci: Bump cmakeperf to 0.6.1
  .github/workflows/analysis.yml
Labels: Infrastructure, automerge

#4289 chore: Use smart pointer mechanism to create GeoModelObjects
  Plugins/GeoModel/src/detail/GeoSubtractionConverter.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoPolyConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoSubConverterTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdConverterTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Plugins, automerge

#4287 refactor: Allow sensitive volumes to have children & improve documentation
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4ConstructionOptions.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Labels: Component - Examples, automerge

#4295 fix: Various cmake issues related to the GNN workflow
  CMakeLists.txt
  cmake/ActsConfig.cmake.in
  cmake/ActsCreatePackageConfig.cmake
  cmake/Findonnxruntime.cmake
Labels: Infrastructure, automerge

#4277 feat: Add ACTS Tensor class for GNN workflow
  .gitlab-ci.yml
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Tensor.hpp
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Plugins/ExaTrkX/src/ModuleMapCuda.cu
  Plugins/ExaTrkX/src/Tensor.cpp
  Plugins/ExaTrkX/src/Tensor.cu
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/TensorTests.cpp
Labels: Component - Plugins, automerge

#4218 feat: GenericDetector Gen3 geometry construction
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetector.hpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Io/Obj/include/ActsExamples/Io/Obj/ObjTrackingGeometryWriter.hpp
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
  Examples/Python/src/Detector.cpp
  Examples/Python/tests/test_geometry.py
  Examples/Scripts/Python/geometry.py
Labels: Component - Core, Component - Examples, automerge

#4256 feat: Gen3 Migration of MultiWireVolume Builder class and Navigation Policy for the Muons
  Core/include/Acts/Geometry/MultiWireVolumeBuilder.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  docs/core/geometry/concepts.md
Labels: Component - Core, Component - Documentation, automerge
