Repository acts-project/acts, pull requests merged in 2025-01, with the labels that each got.

#3978 fix: Optimize EDM4hep particle reading
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
Labels: Component - Examples, automerge

#3983 refactor!: Remove `MagneticFieldProvider::getFieldGradient`
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldProvider.hpp
  Core/include/Acts/MagneticField/MultiRangeBField.hpp
  Core/include/Acts/MagneticField/NullBField.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
  Core/src/MagneticField/MultiRangeBField.cpp
  Core/src/MagneticField/SolenoidBField.cpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ScalableBField.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#3987 refactor!: Revise stepper state creation
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorOptions.hpp
  Core/include/Acts/Propagator/StepperOptions.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  Tests/UnitTests/Core/SpacePointFormation/SpacePointBuilderTests.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Labels: Component - Core, automerge, SP formation, Vertexing, Track Fitting

#3993 feat!: Allow trimming other non measurement track states
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Labels: Component - Core, Component - Examples, automerge, Track Finding

#3986 refactor!: Revise stepper update functions and constrained step types
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Track Finding

#4007 feat: adding extra bit to measurment writer
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Labels: Component - Examples, automerge, Changes Performance

#4010 fix: Missing parameter of particle selector in python bindings
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#4009 fix: some blocker reported sonar-cloud issues
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/MultiIndex.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/Utilities/Range.hpp
  Plugins/FpeMonitoring/include/Acts/Plugins/FpeMonitoring/FpeMonitor.hpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding

#4008 ci: Use correct keys for the gitlab caches
  .gitlab-ci.yml
  .pre-commit-config.yaml
Labels: automerge

#3953 fix!: Make BinUtility constructor explicit
  Core/include/Acts/Utilities/BinUtility.hpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

#4019 ci: Use CERN registry cache in GitLab CI
  .gitlab-ci.yml
Labels: automerge

#4006 test: Add tests for return values from `IAxis::visit`
  Core/include/Acts/Utilities/IAxis.hpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
Labels: Component - Core, automerge

#4014 refactor: Remove cugraph, refactor GNN plugin cmake
  CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  docs/getting_started.md
Labels: Component - Examples, Component - Plugins, Component - Documentation, automerge

#4025 fix: Use forced approach for `MultiStepperSurfaceReached`
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Labels: Component - Core, Infrastructure, automerge, Changes Performance

#4012 feat: Add support for CUDA streams in GNN plugin
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Labels: Component - Plugins, automerge

#3449 refactor!: Decouple navigation and stepping
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorError.hpp
  Core/include/Acts/Propagator/PropagatorOptions.hpp
  Core/include/Acts/Propagator/PropagatorState.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperOptions.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Propagator/PropagatorError.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/hashing_seeding.py
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/IntegrationTests/NavigatorConsistency.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Labels: Component - Core, Infrastructure, Component - Fatras, Component - Examples, automerge, Track Finding, Track Fitting, Changes Performance, Fails Athena tests

#4029 fix: Add portal visualization to `TrackingVolume`
  Core/src/Geometry/TrackingVolume.cpp
Labels: Component - Core, automerge

#4023 ci: Use CERN registry cache in GitLab CI - round 2
  .gitlab-ci.yml
Labels: automerge

#4004 build: Only install python files for enabled components
  Examples/Python/CMakeLists.txt
Labels: Component - Examples, automerge

#4020 ci: Run unit test + downstream on main ubuntu build (gitlab)
  .gitlab-ci.yml
Labels: automerge

#4013 refactor!: Strongly typed enum for `ConstrainedStep::Type` and capital initial letter
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Labels: Component - Core, Component - Fatras, Component - Examples, automerge, Track Finding

#4026 build: CMake find directives, policy grouping
  CMakeLists.txt
  CMakePresets.json
Labels: automerge

#4032 fix: Off-by-one error in WhiteBoard levenshtein implementation
  Examples/Framework/src/Framework/WhiteBoard.cpp
Labels: Component - Examples, automerge

#3973 refactor!: Make Direction constructor explicit
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/EventData/detail/CorrectedTransformationFreeToBound.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/PropagatorOptions.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/ConeVolumeBounds.cpp
  Core/src/Geometry/CuboidVolumeBounds.cpp
  Core/src/Geometry/CutoutCylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Propagation/src/SimHitToSummaryConversion.cpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Plugins/Json/src/PortalJsonConverter.cpp
  Tests/IntegrationTests/NavigatorConsistency.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Definitions/DirectionTests.cpp
  Tests/UnitTests/Core/Detector/PortalTests.cpp
  Tests/UnitTests/Core/Geometry/PortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/MaterialCollectionTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  Tests/UnitTests/Core/Propagator/VolumeMaterialInteractionTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Plugins/Json/PortalJsonConverterTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Vertexing, Track Finding, Track Fitting

#3974 refactor!: Explicit BoundaryTolerance constructors
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core, Component - Examples, automerge

#4015 feat: Add CUDA connected components & track building
  .gitlab-ci.yml
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.cuh
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ConnectedComponentCudaTests.cu
Labels: Component - Examples, Component - Plugins, automerge

#4041 fix: Fix enum conversion error in Podio plugin
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Labels: Component - Plugins, automerge

#3969 refactor: Split particle selection in Examples
  CI/physmon/reference/simulation/particles_fatras_hist.root
  CI/physmon/reference/simulation/particles_geant4_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/tests/conftest.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_propagation.py
  Examples/Python/tests/test_reader.py
  Examples/Scripts/Optimization/ckf.py
  Examples/Scripts/Python/ckf_tracks.py
  Examples/Scripts/Python/digitization.py
  Examples/Scripts/Python/event_recording.py
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/hashing_seeding.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Examples/Scripts/Python/propagation.py
  Examples/Scripts/Python/seeding.py
  Examples/Scripts/Python/telescope_track_params_lookup_generation.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/vertex_fitting.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance

#4034 feat: introducing common ProtoAxis concept
  Core/include/Acts/Utilities/IAxis.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/IAxis.cpp
  Core/src/Utilities/ProtoAxis.cpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/ProtoAxisTests.cpp
Labels: Component - Core, automerge

#3949 build!: Make third-party libraries system dependencies
  .github/workflows/builds.yml
  .gitlab-ci.yml
  thirdparty/Annoy/CMakeLists.txt
  thirdparty/FRNN/CMakeLists.txt
  thirdparty/actsvg/CMakeLists.txt
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/covfie/CMakeLists.txt
  thirdparty/detray/CMakeLists.txt
  thirdparty/eigen3/CMakeLists.txt
  thirdparty/nlohmann_json/CMakeLists.txt
  thirdparty/pybind11/CMakeLists.txt
  thirdparty/traccc/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Labels: Infrastructure, automerge

#3882 feat!: Updates to GBTS for Athena Implementation
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#4045 feat: adding json conversion and unit test for `ProtoAxis`
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/ProtoAxisJsonConverter.hpp
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/ProtoAxisJsonConverterTests.cpp
Labels: Component - Plugins, automerge

#4044 feat: Adding planar portal link
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/src/Geometry/CompositePortalLink.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/Geometry/PortalLinkBase.cpp
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
Labels: Component - Core, automerge

#3825 refactor!: move source link creation, track state creation, measurement selection into a single unit outside of the CKF
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterExtensions.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  docs/_extensions/lazy_autodoc.py
Labels: Component - Core, Component - Examples, Component - Documentation, automerge, Track Finding

#4050 feat: Acts::Extent python binding improved
  Examples/Python/src/Geometry.cpp
Labels: Component - Examples

#4051 fix: Fix initialization bug for direct navigator backward mode
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4048 refactor!: Move GBTS to experimental namespace
  Core/include/Acts/Seeding/GbtsBase.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#4052 fix: ScoreBasedAmbiguityResolution to avoid very high score.
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
Labels: Component - Core, automerge, Ambiguity Resolution

#4057 refactor: Add hits range property to `ParticleSelector`
  Examples/Python/src/TruthTracking.cpp
Labels: Component - Examples, automerge

#4058 feat: Allow tracksummary plots on detector subparts
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.cpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/TrackFinderPerformanceWriter.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Python/src/Output.cpp
Labels: Component - Examples, automerge

#4053 fix: Sequencer run with 0 threads or 0 events
  Examples/Framework/src/Framework/Sequencer.cpp
Labels: Component - Examples, automerge

#4060 refactor: Cleanup and logging improvements in fitting algorithms
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
Labels: Component - Examples, automerge, Track Fitting

#3999 fix: Write correct tracks to file for refitting, prevent FPE
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/reference/trackrefitting_kf/performance_trackrefitting.root
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
Labels: Infrastructure, Component - Examples, automerge, Changes Performance, fpe

#4016 feat: Add TensorRT support for GNNs
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
  cmake/FindTensorRT.cmake
Labels: Infrastructure, Component - Examples, Component - Plugins, automerge

#4059 feat: Add chi2 cut option for outliers to KF fitter function
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
Labels: Component - Examples, automerge, Track Fitting

#4056 fix: EDM4hepReader sets number of hits on particles
  Examples/Io/EDM4hep/src/EDM4hepReader.cpp
Labels: Component - Examples, automerge

#4062 chore: Fix clang-tidy config file format
  .clang-tidy
  cmake/ActsStaticAnalysis.cmake
Labels: Infrastructure, automerge

#4063 fix: Remove unused SubspaceTests
  Tests/UnitTests/Core/Utilities/SubspaceTests.cpp
Labels: Component - Core, automerge
