Repository acts-project/acts, pull requests merged in 2025-07, with the labels that each got.

#4371 test: Remove dense propagation test
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
Labels: automerge

#4373 refactor!: Options for `RiddersPropagator`
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationTests.hpp
Labels: Component - Core, automerge

#4376 test: Clean propagation integration tests
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDatasets.hpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationTests.hpp
Labels: automerge

#4368 refactor: GeoModelTree gets its own list of published fullPhysVol
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelDetector.hpp
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelReader.cpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Labels: Component - Examples, Component - Plugins, automerge

#4132 feat: Implement volume material propagation with `SympyStepper`
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Material/detail/AverageMaterials.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
  Core/include/Acts/Propagator/StepperOptions.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Core/include/Acts/Propagator/detail/MaterialEffectsAccumulator.hpp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/SympyJacobianEngine.hpp
  Core/src/Material/AverageMaterials.cpp
  Core/src/Material/MaterialSlab.cpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Propagator/detail/MaterialEffectsAccumulator.cpp
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Core/src/Propagator/detail/SympyJacobianEngine.cpp
  Core/src/Propagator/generate_sympy_stepper.py
  Examples/Python/tests/root_file_hashes.txt
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/PredefinedMaterials.hpp
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationEigenDenseConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationSympyConstant.cpp
  Tests/IntegrationTests/PropagationSympyDenseConstant.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/JacobianEngineTests.cpp
  codegen/src/codegen/sympy_common.py
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#3989 fix: Prefer external surface candidates in Navigation
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackfitting_kf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/reference/trackrefitting_kf/performance_trackrefitting.root
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Labels: Component - Core, Infrastructure, Component - Examples, automerge, Changes Performance

#4392 perf: Couple of optimizations for `Seeding2`
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.ipp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#4391 refactor: restructure of clustering algorihtm
  Core/include/Acts/Clusterization/Clusterization.hpp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Clusterization/TimedClusterizationTests.cpp
Labels: Component - Core, Component - Examples, automerge, Clustering, coderabbit

#4394 refactor: Use `std::uint32_t` to index new space points and seeds
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Labels: Component - Core, automerge, Event Data Model, Seeding

#4402 refactor: PodioReader uses scoped timer
  Examples/Io/Podio/src/PodioReader.cpp
Labels: Component - Examples, automerge

#4405 refactor: Timer utility: use nanoseconds internally
  Core/include/Acts/Utilities/ScopedTimer.hpp
  Core/src/Utilities/ScopedTimer.cpp
Labels: Component - Core, automerge

#4401 refactor: MultiIndex checks and throws if values overflow
  Core/include/Acts/Utilities/MultiIndex.hpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/pythia8.py
  Tests/UnitTests/Core/Utilities/MultiIndexTests.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4399 feat: Allow dropping extra columns in `SpacePointContainer2`
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Labels: Component - Core, automerge, Event Data Model

#4412 chore: Add devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
  CI/check_unused_files.py
Labels: Infrastructure

#4378 ci: Remove Ubuntu22.04
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Python/tests/test_examples.py
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
  docs/getting_started.md
Labels: Infrastructure, Component - Examples, Component - Plugins, Component - Documentation, automerge

#4410 refactor: GeoModelObjectFactory - Don't use std::tuple to safe the assebmled objects
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Labels: Component - Plugins, automerge

#4297 feat: add eic-shell CI build
  .github/workflows/builds.yml
  .github/workflows/report.yml
Labels: Infrastructure, automerge

#4422 fix: Do not make a copy in SensitiveSurfaceMapper
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Labels: Component - Examples, automerge

#4396 fix: edm4hep reader with high complexity events
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimInputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Python/src/EDM4hepComponent.cpp
  Examples/Python/tests/test_edm4hep.py
  Examples/Scripts/Python/full_chain_odd.py
Labels: Component - Examples, automerge, Track Finding

#4414 ci: Add check for devcontainer configuration
  .github/workflows/devcontainer-ci.yml
Labels: Infrastructure, automerge

#4398 feat: Add ROOT space point I/O
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePoints2Accessor.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
Labels: Component - Core, Component - Plugins, automerge, Event Data Model

#4424 revert: feat: move ROOT surface material map I/O to plugins [originally #4400]
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins

#4427 chore: Update doxygen documentation format
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSegment.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/TrackFinding.cpp
Labels: Component - Examples, automerge, Event Data Model, Track Finding

#4425 fix: Add material typedefs back with deprecation
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge

#4404 refactor: Couple of improvements to `SpacePointContainer2`
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/src/EventData/SpacePointContainer2.cpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePointIo.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Labels: Component - Core, Component - Examples, Component - Plugins, automerge, Event Data Model, Seeding, Track Finding

#4432 refactor: Improve flexibility of `CylindricalSpacePointGrid2`
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#4429 chore: encapsulate GeometryIdentifer to JSON writing
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryIdentifierJsonConverter.hpp
  Plugins/Json/src/GeometryIdentifierJsonConverter.cpp
  Plugins/Json/src/JsonSurfacesReader.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/GeometryIdentifierJsonConverterTests.cpp
Labels: Component - Plugins, automerge

#4437 refactor: Use space point ranges in `BroadTripletSeedFinder`
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/EventData/SpacePointContainer2.cpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Event Data Model, Seeding, Track Finding

#4445 ci: Fix spack builds
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
  CI/dependencies/setup_spack.sh
Labels: Infrastructure, automerge

#4441 refactor(gen3): Material designator node takes arbitrary surface material
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/detail/MaterialDesignator.hpp
Labels: Component - Core, automerge

#4284 feat: Add few new math helper functions
  Core/include/Acts/Surfaces/detail/LineHelper.hpp
  Core/include/Acts/Surfaces/detail/PlanarHelper.hpp
  Core/include/Acts/Utilities/ArrayHelpers.hpp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/UnitVectors.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/LineIntersectionTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Labels: Component - Core, automerge, Event Data Model

#4451 build: VecMem Setup Fix
  CMakeLists.txt
Labels: automerge

#4447 refactor: Generalized template unrolling for `DoubletSeedFinder` implementation
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#4456 fix: take iterator distance within vector in AxisDefinitions
  Core/src/Utilities/AxisDefinitions.cpp
Labels: Component - Core, automerge

#4460 ci: Fetch spack repo before checkout
  CI/dependencies/setup.sh
Labels: Infrastructure

#4450 refactor: Generalize sorting requirement for `BroadTripletSeedFinder`
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#4458 chore: Lockfile selection script also retries on URLError
  CI/dependencies/select_lockfile.py
Labels: Infrastructure, automerge

#4459 build: Point gersemi (cmake formatter) at definitions
  .gersemirc
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Propagator/CMakeLists.txt
  Plugins/CMakeLists.txt
  Tests/UnitTests/CMakeLists.txt
Labels: Component - Core, Component - Plugins, automerge

#4462 docs: `Surface::center` returns a value
  Core/include/Acts/Surfaces/Surface.hpp
Labels: Component - Core, automerge

#4461 refactor: Make `SurfaceArray::getBinCenter` const
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Labels: Component - Core, automerge

#4468 ci: hotfix for eic-shell failures
  .github/workflows/builds.yml
Labels: Infrastructure, automerge

#4433 feat: ProxyAccessor gets function to check existence
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Labels: Component - Core, automerge, Event Data Model

#4466 fix: Handle phi grid correctly in `SurfaceArrayCreator`
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Labels: Component - Core, Component - Examples, automerge, Changes Performance

#4386 refactor!: Replace `ObjectIntersection<T>` with `SurfaceIntersection`
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Navigation/NavigationState.hpp
  Core/include/Acts/Navigation/NavigationStateFillers.hpp
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Material/IntersectionMaterialAssigner.cpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
  Tests/UnitTests/Core/Utilities/IntersectionTests.cpp
Labels: Component - Core, automerge, Seeding, Breaks Athena build

#4472 feat: Extend experiment cuts for doublet formation in `Seeding2`
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Track Finding

#3990 feat!: Add closest point and distance computation to `SurfaceBounds`
  Core/include/Acts/Geometry/TrapezoidVolumeBounds.hpp
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/PlanarBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/include/Acts/Surfaces/detail/BoundaryCheckHelper.hpp
  Core/include/Acts/Surfaces/detail/VerticesHelper.hpp
  Core/include/Acts/Utilities/detail/periodic.hpp
  Core/src/Detector/detail/CylindricalDetectorHelper.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/LineBounds.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/RectangleBounds.cpp
  Core/src/Surfaces/Surface.cpp
  Core/src/Surfaces/SurfaceBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Core/src/Surfaces/detail/VerticesHelper.cpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryToleranceBenchmark.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundsRegressionTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Labels: Component - Core, Component - Examples, automerge, Seeding, Changes Performance

#4482 fix: change implementation of the spaceship operator when using span
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Labels: Component - Core, automerge, Event Data Model

#4486 refactor: Consistent track indices in csv track writers
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Output.cpp
  Examples/Python/tests/test_writer.py
Labels: Component - Examples, automerge

#4490 fix: Allow ODD seeding to take strip detector geometry selection file, thus produce strip SPs
  Examples/Io/Json/src/JsonGeometryList.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Labels: Component - Examples, automerge

#4483 chore: remove unused m_segmentation member from DD4hepDetectorElement
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
Labels: Component - Plugins, automerge

#4495 feat: Add a TrackStateFlag for split hits
  Core/include/Acts/EventData/TrackStateType.hpp
Labels: Component - Core, automerge, Event Data Model
